### Description:
**REMOVE 1 patient visit = 131289492397 from the final cohort4**
- Read in the decile-binned values of labs and vitals
- Read in the data `coh4_order_code_counts` from sql order counts, combine Microbiology Culture with Microbiology 
- Combine this featurized data for full complex data modeling
- Create a smaller random sample for testing 
    
**Inputs**: 
- `6_10_coh4_binned_labs_vitals_train`: from feature_values, binned into deciles, 2015 - 03/2020
- `6_10_coh4_binned_labs_vitals_test`: 2015 - 03/2020 + 04/2020 - 2021
- `coh4_order_code_counts` and `coh4_order_code_counts_2021`: (from SQL) queried counts for different orders
    
**Outputs**: 
- have demo, vitals and labs in binned counts, order counts: long format, with year extracted
- `6_11_coh4_features_all_long_year`: will be input to 3_models, sparse_matrix.py
    - 2015 - 2018 as trained data for value distributions to bin validation data of 2018
        - used for training and select model hyperparameters based on validation data
    - test data 2019 - 03/2020 left unused
    - after training and selecting hyperparameters, re-do value distribution on 2015 - 03/2020 (train + val) data
    - test data (04/2020 - 2021) are now binned on based on this new train/val distribution
    - binned test data is used for the final prediction and evaluation of new model after THICK DESCRIPTION work

In [77]:
library(data.table)
library(tidyverse)
library(lubridate)
# library(Matrix)
# library(slam)
# library(bit64)
# library(mtools) for one hot coder, not available on Nero or use caret or tidyr
options(repr.matrix.max.rows=200, repr.matrix.max.cols=30)

In [78]:
# install.packages(c("dbplyr", "RSQLite"))

In [79]:
datadir = "../../DataTD/shc2021"
outdir = "../../OutputTD/shc2021"

In [80]:
cohort4 <- read.csv(file.path(outdir, '11_coh4_noOR_noDKA_edtime_notecount.csv'))
nrow(cohort4)

cohort <- cohort4 %>% select(anon_id, pat_enc_csn_id_coded, admit_time, first_label,
                             death_3hr_recent_label, death_6hr_recent_label, death_9hr_recent_label,
                             death_12hr_recent_label, death_24hr_recent_label)
nrow(cohort)

[1] 51846

[1] 51846

# Cold_Counts_val.sql under ../SQL/feature_counts -- OLD

# Sequence of codes assigned to patients 

WITH sequence as (
-- # Get (lab, procedure, imaging and microbiology orders from order_proc) within one year prior to current admission time
SELECT DISTINCT lab.order_proc_id_coded as order_id,
                lab.order_type as feature_type,
                lab.description as features,
                cohort.anon_id, cohort.pat_enc_csn_id_coded, cohort.admit_time, 
                cohort.first_label, cohort.death_24hr_recent_label
    
FROM triageTD.6_7_cohort4 as cohort
INNER JOIN shc_core_2021.order_proc as lab
USING (anon_id)
WHERE 
(lab.order_type in ('Imaging', 'Procedures', 'Lab')
AND lab.order_time_jittered_utc < cohort.admit_time
AND timestamp_add(lab.order_time_jittered_utc, INTERVAL 24*365 HOUR) >= cohort.admit_time)
OR
(lab.order_type in ('Microbiology', 'Microbiology Culture')
AND lab.order_time_jittered_utc < cohort.admit_time
AND lab.pat_enc_csn_id_coded = cohort.pat_enc_csn_id_coded)
UNION DISTINCT

-- # Get icd10 codes from full timeline, from all previous admissions
SELECT DISTINCT pat_enc_csn_id_coded as order_id, -- fill in because dx table doesn't have order_id
                'Diagnosis' as feature_type, dx.icd10 as features,
                cohort.anon_id, cohort.pat_enc_csn_id_coded, cohort.admit_time, 
                cohort.first_label, cohort.death_24hr_recent_label
    
FROM triageTD.6_7_cohort4 as cohort
INNER JOIN shc_core_2021.diagnosis as dx
USING (anon_id)
WHERE cohort.pat_enc_csn_id_coded <> dx.pat_enc_csn_id_jittered
AND dx.start_date_utc < cohort.admit_time 
AND dx.icd10 is not NULL
UNION DISTINCT

-- # Get med orders from order_med from within one year prior to current admission time
SELECT DISTINCT med.order_med_id_coded order_id,
                'Meds' as feature_type, med.med_description as features,
                cohort.anon_id, cohort.pat_enc_csn_id_coded, cohort.admit_time, 
                cohort.first_label, cohort.death_24hr_recent_label
    
FROM triageTD.6_7_cohort4 as cohort
INNER JOIN shc_core_2021.order_med as med
USING (anon_id)
WHERE med.order_start_time_utc < cohort.admit_time
AND timestamp_add(med.order_start_time_utc, INTERVAL 24*365 HOUR) >= cohort.admit_time
AND med.order_start_time_utc IS NOT NULL) -- maybe redundent but fine

-- # Group by feature and encounter, and count # distinct orders/assignemnts of the feature
SELECT anon_id, pat_enc_csn_id_coded, admit_time, feature_type, features, COUNT (DISTINCT order_id) as values
FROM sequence
GROUP BY anon_id, pat_enc_csn_id_coded, admit_time, feature_type, features
ORDER BY pat_enc_csn_id_coded

In [81]:
# this one used cohort noOR only to query orders
orders <- read.csv(file.path(datadir, 'coh4_noOR_order_code_counts_2021.csv'))
nrow(orders) #8333201

[1] 8333201

In [82]:
head(orders, 1)

  anon_id   pat_enc_csn_id_coded admit_time                feature_type
1 JC1170548 131062572931         2015-01-02 03:48:00+00:00 Diagnosis
  features values
1 E10.10   1

In [83]:
orders %>% group_by(feature_type) %>% count(sort=TRUE)

  feature_type         n
1 Diagnosis            4169163
2 Meds                 2388260
3 Lab                  1290428
4 Imaging               371008
5 Procedures             66677
6 Microbiology Culture   45617
7 Microbiology            2048

In [84]:
orders_micro <- orders %>% mutate(feature_type = ifelse(str_detect(feature_type, "Microbiology"), "Microbiology", feature_type))
orders_micro %>% group_by(feature_type) %>% count(sort=TRUE)

  feature_type n
1 Diagnosis    4169163
2 Meds         2388260
3 Lab          1290428
4 Imaging       371008
5 Procedures     66677
6 Microbiology   47665

In [85]:
orders_micro %>% group_by(feature_type) %>% summarise(avg = mean(values), sd = sd(values))

  feature_type avg      sd
1 Diagnosis    1.000000  0.0000000
2 Imaging      3.347750  5.5440964
3 Lab          7.429079 17.2114416
4 Meds         3.042515  6.4621015
5 Microbiology 2.286646  0.7761681
6 Procedures   2.103064  4.8880191

In [86]:
length(unique(orders_micro$pat_enc_csn_id_coded)) # 52525
length(setdiff(orders_micro$pat_enc_csn_id_coded, cohort$pat_enc_csn_id_coded)) # 686 # ok because this is from cohort noOR
length(setdiff(cohort$pat_enc_csn_id_coded, orders_micro$pat_enc_csn_id_coded)) # 7
# not everyone has orders
# for the new cohort, every has orders

[1] 52525

[1] 686

[1] 7

In [87]:
head(orders_micro, 1)
head(cohort, 1)

  anon_id   pat_enc_csn_id_coded admit_time                feature_type
1 JC1170548 131062572931         2015-01-02 03:48:00+00:00 Diagnosis
  features values
1 E10.10   1

  anon_id   pat_enc_csn_id_coded admit_time          first_label
1 JC1000116 131066472308         2015-01-28 00:46:00 0
  death_3hr_recent_label death_6hr_recent_label death_9hr_recent_label
1 0                      0                      0
  death_12hr_recent_label death_24hr_recent_label
1 0                       0

In [88]:
orders_micro <- orders_micro %>% filter(pat_enc_csn_id_coded %in% cohort$pat_enc_csn_id_coded)
length(unique(orders_micro$pat_enc_csn_id_coded)) # 51839 (7 missing)

[1] 51839

### Get the demographic features from each cohort, then combine

#### Run the old cohort

In [89]:
# check all features with values
values <- read.csv(file.path(outdir, '12_coh4_noOR_noDKA_feature_values.csv'))
nrow(values) # coh4 3867101 
length(unique(values$pat_enc_csn_id_coded)) # 51846 
values %>% group_by(feature_type) %>% count()

[1] 3867101

[1] 51846

  feature_type n
1 demo          881382
2 labs         1610383
3 time_count    207384
4 vitals       1167952

In [90]:
# get demographics features
demos <- values %>% filter(feature_type == 'demo') %>% select(anon_id, pat_enc_csn_id_coded, admit_time, 
                                                              feature_type, features, values)
nrow(demos) # coh4 881382 
length(unique(demos$pat_enc_csn_id_coded)) # 51846

[1] 881382

[1] 51846

In [91]:
demos %>% group_by(feature_type) %>% count()
demos %>% group_by(features) %>% count()

  feature_type n
1 demo         881382

   features              n
1  age                   51846
2  delta_ESI             51846
3  delta_H               51846
4  delta_W               51846
5  English               51846
6  ESI_i                 51846
7  gender                51846
8  Height_i              51846
9  insurance             51846
10 race.Asian            51846
11 race.Black            51846
12 race.Native.American  51846
13 race.Other            51846
14 race.Pacific.Islander 51846
15 race.Unknown          51846
16 race.White            51846
17 Weight_i              51846

### Check the featurized binned labs_vitals
- Keep them both (`..._train` and `..._test`) in the same dataframe
- Run `2_7_feature_values`, `2_8_binned_labs_vitals_train`, and `2_8_binned_labs_vitals_test` 
- Rerun the old cohort and new cohort separately, then combine the demos and order counts features
- The featurirzed labs and vitals are already combined in the previous notebook 6.10

In [125]:
# read in train_binned labs and vitals
# trainbinned_labs_vitals <- read.csv(file.path(outdir, '13_coh4_binned_labs_vitals_train.csv'))
trainbinned_labs_vitals <- read.csv(file.path(outdir, '13.2_coh4_binned_labs_vitals_train.csv'))

nrow(trainbinned_labs_vitals) #coh4: old 2185308
length(unique(trainbinned_labs_vitals$pat_enc_csn_id_coded)) # 51845
trainbinned_labs_vitals %>% group_by(feature_type) %>% count()

[1] 2178440

[1] 51845

  feature_type       n
1 labs_results_train 1535102
2 vitals_train        643338

In [126]:
# this patient has no vitals or labs within 24 hours? difftime in featurized didn't take this one!!!! removed 
setdiff(cohort$pat_enc_csn_id_coded, trainbinned_labs_vitals$pat_enc_csn_id_coded)

[1] 131289492397

In [127]:
# read in test_binned labs and vitals, new cohort
# testbinned_labs_vitals <- read.csv(file.path(outdir, '13_coh4_binned_labs_vitals_test.csv'))
testbinned_labs_vitals <- read.csv(file.path(outdir, '13.2_coh4_binned_labs_vitals_test.csv'))

nrow(testbinned_labs_vitals) #coh4 2184675 
length(unique(testbinned_labs_vitals$pat_enc_csn_id_coded)) # 51845
testbinned_labs_vitals %>% group_by(feature_type) %>% count()

[1] 2185293

[1] 51845

  feature_type      n
1 labs_results_test 1535266
2 vitals_test        650027

# read in test_binned labs and vitals, new cohort
testbinned_labs_vitals1 <- read.csv(file.path(outdir, '13_coh4_binned_labs_vitals_test.csv'))

nrow(testbinned_labs_vitals1) #coh4 2184675 

# read in test_binned labs and vitals, new cohort
testbinned_labs_vitals2 <- read.csv(file.path(outdir, '13_coh4_all_binned_labs_vitals_test.csv'))

nrow(testbinned_labs_vitals2) #coh4 2184675 
all.equal(testbinned_labs_vitals2, testbinned_labs_vitals1)

In [96]:
head(trainbinned_labs_vitals, 1)
head(testbinned_labs_vitals, 1)

  anon_id   pat_enc_csn_id_coded admit_time                feature_type
1 JC1000116 131066472308         2015-01-28 00:46:00+00:00 labs_results_train
  features values
1 ALB_2    1

  anon_id   pat_enc_csn_id_coded admit_time                feature_type
1 JC1000116 131066472308         2015-01-28 00:46:00+00:00 labs_results_test
  features values
1 ALB_1    1

### Combine all features

In [97]:
head(demos, 1)
head(orders_micro,1)
head(trainbinned_labs_vitals, 1)
head(testbinned_labs_vitals, 1)

  anon_id   pat_enc_csn_id_coded admit_time          feature_type features
1 JC1000116 131066472308         2015-01-28 00:46:00 demo         ESI_i
  values
1 3

  anon_id   pat_enc_csn_id_coded admit_time                feature_type
1 JC1170548 131062572931         2015-01-02 03:48:00+00:00 Diagnosis
  features values
1 E10.10   1

  anon_id   pat_enc_csn_id_coded admit_time                feature_type
1 JC1000116 131066472308         2015-01-28 00:46:00+00:00 labs_results_train
  features values
1 ALB_2    1

  anon_id   pat_enc_csn_id_coded admit_time                feature_type
1 JC1000116 131066472308         2015-01-28 00:46:00+00:00 labs_results_test
  features values
1 ALB_1    1

In [128]:
# combine all features for the complex data set, remove time column since demo doesn't have it
features_all <- bind_rows(demos, orders_micro, trainbinned_labs_vitals, testbinned_labs_vitals) %>%
                    filter(pat_enc_csn_id_coded != 131289492397) %>% mutate(admit_time = ymd_hms(admit_time))
nrow(features_all) # 14269242 
length(unique(features_all$pat_enc_csn_id_coded)) # 51845
length(unique(features_all$features)) # 49278
features_all %>% group_by(feature_type) %>% count(sort=TRUE)

[1] 13471900

[1] 51845

[1] 48087

   feature_type       n
1  Diagnosis          4117094
2  Meds               2354880
3  labs_results_test  1535266
4  labs_results_train 1535102
5  Lab                1274123
6  demo                881365
7  vitals_test         650027
8  vitals_train        643338
9  Imaging             367675
10 Procedures           65928
11 Microbiology         47102

In [99]:
head(features_all, 1)
tail(features_all, 1)

  anon_id   pat_enc_csn_id_coded admit_time          feature_type features
1 JC1000116 131066472308         2015-01-28 00:46:00 demo         ESI_i
  values
1 3

         anon_id  pat_enc_csn_id_coded admit_time          feature_type
13471900 JC999925 1.31274e+11          2019-07-29 01:55:00 labs_results_test
         features values
13471900 eGFR_2   1

In [100]:
features_all %>% filter(pat_enc_csn_id_coded == 131062572931) %>% distinct(admit_time)

  admit_time
1 2015-01-02 03:48:00

In [101]:
# sanity check 
n2 <- features_all %>% select(feature_type, features) %>% distinct() %>% 
        group_by(features) %>% count(sort=TRUE) %>% filter(n==2)
head(n2)
tail(n2)

  features n
1 ALB_0    2
2 ALB_1    2
3 ALB_10   2
4 ALB_2    2
5 ALB_3    2
6 ALB_4    2

  features n
1 WBC_4    2
2 WBC_5    2
3 WBC_6    2
4 WBC_7    2
5 WBC_8    2
6 WBC_9    2

In [102]:
features_all %>% filter(features %in% n2$features) %>% distinct(feature_type)# group_by(features, feature_type) %>% count()

  feature_type
1 Lab
2 Procedures
3 Microbiology
4 Imaging
5 Meds
6 labs_results_train
7 vitals_train
8 labs_results_test
9 vitals_test

In [103]:
features_all %>% group_by(feature_type, features) %>% count(sort=TRUE) %>% head(30)

   feature_type features                                n
1  demo         age                                     51845
2  demo         delta_ESI                               51845
3  demo         delta_H                                 51845
4  demo         delta_W                                 51845
5  demo         English                                 51845
6  demo         ESI_i                                   51845
7  demo         gender                                  51845
8  demo         Height_i                                51845
9  demo         insurance                               51845
10 demo         race.Asian                              51845
11 demo         race.Black                              51845
12 demo         race.Native.American                    51845
13 demo         race.Other                              51845
14 demo         race.Pacific.Islander                   51845
15 demo         race.Unknown                            51845
16 demo         race.White                              51845
17 demo         Weight_i                                51845
18 Lab          METABOLIC PANEL, COMPREHENSIVE          50353
19 Lab          CBC WITH DIFFERENTIAL                   49372
20 vitals_test  Temp_4                                  38494
21 vitals_train Temp_4                                  38494
22 Lab          URINALYSIS SCREEN, CULTURE IF POSITIVE  35958
23 Lab          PROTHROMBIN TIME                        34073
24 Meds         ONDANSETRON HCL (PF) 4 MG/2 ML INJ SOLN 30972
25 vitals_test  RR_3                                    30216
26 vitals_train RR_3                                    30216
27 Lab          PTT PARTIAL THROMBOPLASTIN TIME         29901
28 Lab          METABOLIC PANEL, BASIC                  28355
29 Lab          MAGNESIUM, SERUM/PLASMA                 27687
30 Diagnosis    Z79.899                                 27326

In [129]:
names(features_all)
nrow(features_all) # 13584533
summary(features_all$values)
sum(is.na(features_all$values))

[1] "anon_id"              "pat_enc_csn_id_coded" "admit_time"
[4] "feature_type"         "features"             "values"

[1] 13471900

    Min.  1st Qu.   Median     Mean  3rd Qu.     Max.
   0.000    1.000    1.000    3.245    2.000 1129.000

[1] 0

In [130]:
features_all_year <- features_all %>% mutate(year = year(admit_time)) #, month = month(admit_time))
features_all_year %>% group_by(year) %>% count()
# features_all_year %>% group_by(month) %>% count()

  year n
1 2015 1809832
2 2016 1504263
3 2017 1472043
4 2018 1987060
5 2019 2208136
6 2020 2342905
7 2021 2147661

In [107]:
cohort %>% mutate(year = year(admit_time)) %>% group_by(year) %>% count()

  year n
1 2015 7147
2 2016 6053
3 2017 5804
4 2018 8131
5 2019 8550
6 2020 8497
7 2021 7664

In [121]:
nrow(features_all_year)
length(unique(features_all_year$pat_enc_csn_id_coded)) # 60464
length(setdiff(features_all_year$pat_enc_csn_id_coded, cohort$pat_enc_csn_id_coded))
length(setdiff(cohort$pat_enc_csn_id_coded, features_all_year$pat_enc_csn_id_coded)) # has not remove the 1 ptvisit yet

[1] 13478150

[1] 51845

[1] 0

[1] 1

In [109]:
head(cohort,3)

  anon_id   pat_enc_csn_id_coded admit_time          first_label
1 JC1000116 131066472308         2015-01-28 00:46:00 0
2 JC1000116 131295313275         2020-09-29 22:45:00 0
3 JC1000296 131100574537         2015-07-03 04:51:00 0
  death_3hr_recent_label death_6hr_recent_label death_9hr_recent_label
1 0                      0                      0
2 0                      0                      0
3 0                      0                      0
  death_12hr_recent_label death_24hr_recent_label
1 0                       0
2 0                       0
3 0                       0

In [110]:
head(features_all_year, 1)

  anon_id   pat_enc_csn_id_coded admit_time          feature_type features
1 JC1000116 131066472308         2015-01-28 00:46:00 demo         ESI_i
  values year
1 3      2015

In [111]:
cohort_final <- cohort %>% filter(pat_enc_csn_id_coded != 131289492397)
nrow(cohort_final)
summary(cohort_final)

[1] 51845

   anon_id          pat_enc_csn_id_coded  admit_time         first_label
 Length:51845       Min.   :1.311e+11    Length:51845       Min.   :0.0000
 Class :character   1st Qu.:1.312e+11    Class :character   1st Qu.:0.0000
 Mode  :character   Median :1.313e+11    Mode  :character   Median :0.0000
                    Mean   :1.312e+11                       Mean   :0.1023
                    3rd Qu.:1.313e+11                       3rd Qu.:0.0000
                    Max.   :1.313e+11                       Max.   :1.0000
 death_3hr_recent_label death_6hr_recent_label death_9hr_recent_label
 Min.   :0.0000         Min.   :0.0000         Min.   :0.0000
 1st Qu.:0.0000         1st Qu.:0.0000         1st Qu.:0.0000
 Median :0.0000         Median :0.0000         Median :0.0000
 Mean   :0.1066         Mean   :0.1082         Mean   :0.1085
 3rd Qu.:0.0000         3rd Qu.:0.0000         3rd Qu.:0.0000
 Max.   :1.0000         Max.   :1.0000         Max.   :1.0000
 death_12hr_recent_label death_24hr_recent_label
 Min.   :0.000           Min.   :0.00000
 1st Qu.:0.000           1st Qu.:0.00000
 Median :0.000           Median :0.00000
 Mean   :0.107           Mean   :0.08643
 3rd Qu.:0.000           3rd Qu.:0.00000
 Max.   :1.000           Max.   :1.00000

In [131]:
length(setdiff(features_all_year$pat_enc_csn_id_coded, cohort_final$pat_enc_csn_id_coded)) # 686 # ok because this is from cohort noOR
length(setdiff(cohort_final$pat_enc_csn_id_coded, features_all_year$pat_enc_csn_id_coded)) # 7

[1] 0

[1] 0

# FINAL COHORT no OR no DKA, remove 1

In [123]:
# remove 1 single csn, noOR, noDKA
write.csv(cohort_final, file = file.path(outdir, "14_cohort_final.csv"), row.names=FALSE)

In [132]:
# write.csv(features_all_year, file = file.path(outdir, "14_coh_all_features_all_long_year.csv"), row.names=FALSE)
write.csv(features_all_year, file = file.path(outdir, "14_2_coh_all_features_all_long_year.csv"), row.names=FALSE)

In [114]:
summary(features_all_year)

   anon_id          pat_enc_csn_id_coded   admit_time
 Length:13471900    Min.   :1.311e+11    Min.   :2015-01-01 06:30:00
 Class :character   1st Qu.:1.312e+11    1st Qu.:2017-01-14 04:45:00
 Mode  :character   Median :1.313e+11    Median :2018-12-25 21:38:00
                    Mean   :1.312e+11    Mean   :2018-09-28 18:57:48
                    3rd Qu.:1.313e+11    3rd Qu.:2020-07-08 03:24:00
                    Max.   :1.313e+11    Max.   :2021-09-30 07:00:00
 feature_type         features             values              year
 Length:13471900    Length:13471900    Min.   :   0.000   Min.   :2015
 Class :character   Class :character   1st Qu.:   1.000   1st Qu.:2017
 Mode  :character   Mode  :character   Median :   1.000   Median :2018
                                       Mean   :   3.245   Mean   :2018
                                       3rd Qu.:   2.000   3rd Qu.:2020
                                       Max.   :1129.000   Max.   :2021