### Description:
Explore and clean lab variables

- First grab by lab_names (or base_names), then check their base_names (or lab_names), from all_labs file (labs that we went through to select)
- Then reverse to include lab_names with more than 1 base_names and base_names with more than 1 lab_names.
    - Based off Triage work of selecting lab_names, take those final lab_names and get their base_names
    - Add a few more base_names 
    - Use these base_names to run m6_labs.sql. This makes sure we have everything from Triage selection.
- Check the units and ranges of these labs to keep only valid ones.
- Combine lab_names/base_names and convert to same units as needed --> rename these groups
- Most urine related labs are all NA
- For ord_num_value = 9999999 of extreme cases on either end (hi/lo, panic hi/lo):
    - Remove those observations where no < > in ord_value: cancelled or N/A
    - Use ord_value to take bounds values. For example, if ord_value is <0.2 and ord_num_value is 9999999, then replace 9999999 with 0.2
    
**Changes:**
- Use shc_core_2021
- It would be shorter and better to use `base_name`, but still need to check because some same labs have different base_names.
- shc_core_2021 has lab_name `BUN, Arterial`, `BUN, Peripheral`, and `BUN, Venous` with base_name `BUN`. These lab_name weren't  in old data
- Added 'BUN, Arterial', 'BUN, Peripheral', and 'BUN, Venous' under lab_name list
- shc_core_2021/lab doesn't have any of the 9999999 values

**Input:**
- `labs_2021` (from SQL)
- `6_5_cohort3`

**Output:** 
- `6_coh3_labs`
- `6_cohort3_withlabs`: cohort information only from `6_coh3_labs`

### Importing R libraries

In [1]:
library(bigrquery)  # to query STARR-OMOP (stored in BigQuery) using SQL
library(tidyverse)
library(lubridate)
# library(mice)
# library(VIM) # for missing data plot

# library(data.table)
# library(Matrix)
# library(caret) # import this before glmnet to avoid rlang version problem
# library(glmnet)
# library(bit64)

# library(slam)
# library(mtools) for one hot coder, not available on Nero or use caret or tidyr
options(repr.matrix.max.rows=250, repr.matrix.max.cols=30)

── Attaching packages ─────────────────────────────────────── tidyverse 1.3.1 ──

✔ ggplot2 3.3.3     ✔ purrr   0.3.4
✔ tibble  3.1.2     ✔ dplyr   1.0.6
✔ tidyr   1.1.3     ✔ stringr 1.4.0
✔ readr   1.4.0     ✔ forcats 0.5.1

── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()


Attaching package: ‘lubridate’


The following objects are masked from ‘package:base’:

    date, intersect, setdiff, union

### Set up and run queries
Do this on Nero GCP as querying from a local computer takes much longer time

In [2]:
# CREDENTIALS depending on LOCATIONS:
# credential <- paste0("/home/", "minh084", "/.config/gcloud/application_default_credentials.json")

# local computer
# credential <- "C:/Users/User/AppData/Roaming/gcloud/application_default_credentials.json"

# Nero onprem
# credential <- "/home/minh084/.config/gcloud/application_default_credentials.json"

# Nero gcp notebook
credential <- "/home/jupyter/.config/gcloud/application_default_credentials.json"

project_id <- "som-nero-phi-jonc101"

Sys.setenv(GOOGLE_APPLICATION_CREDENTIALS = credential)
Sys.setenv(GCLOUD_PROJECT = project_id)
gargle::credentials_app_default()

NULL

In [3]:
library(DBI)
con <- dbConnect(
  bigrquery::bigquery(),
  project = project_id,
  dataset = "shc_core_2021" #, billing = project_id
)
con 
dbListTables(con)

<BigQueryConnection>
  Dataset: som-nero-phi-jonc101.shc_core_2021
  Billing: som-nero-phi-jonc101

 [1] "adt"                 "alert"               "alert_history"
 [4] "alerts_orders"       "allergy"             "alt_com_action"
 [7] "clinical_doc_meta"   "culture_sensitivity" "demographic"
[10] "dep_map"             "diagnosis"           "drg_code"
[13] "encounter"           "f_ip_hsp_admission"  "family_hx"
[16] "flowsheet"           "lab_result"          "lda"
[19] "med_orderset"        "myc_mesg"            "ndc_code"
[22] "order_comment"       "order_med"           "order_proc"
[25] "order_quest"         "pharmacy_mar"        "proc_note"
[28] "proc_orderset"       "procedure"           "prov_map"
[31] "social_hx"           "temp_table"          "treatment_team"
[34] "treatment_team_code" "yn_jon_chen_lpch"

# m6_labs.sql (if use cohort.patcsn --> all NA, need to use labs)

q= "
SELECT labs.anon_id, labs.pat_enc_csn_id_coded, cohort.admit_time, cohort.label,
        order_id_coded, lab_name, base_name, ord_value, ord_num_value, 
        reference_low, reference_high, reference_unit, result_in_range_yn, result_flag, 
        result_time_utc, order_time_utc , taken_time_utc
      
FROM `som-nero-phi-jonc101.shc_core_2021.lab_result` as labs
RIGHT JOIN `som-nero-phi-jonc101.triageTD.6_3_cohort3` as cohort 

ON labs.pat_enc_csn_id_coded = cohort.pat_enc_csn_id_coded
AND labs.anon_id = cohort.anon_id

WHERE admit_time >= result_time_utc  
AND extract(year from admit_time) > 2014  
AND base_name in 
    ('AG', 'AGAP', 'BASOAB', 'BUN', 'CL', 'CR', 'EGFR', 'EOSAB', 'GLU', 'HCO3', 'HCO3A', 'HCO3V', 
 'HCT', 'HGB', 'INR', 'K', 'LAC', 'LACWBL', 'LYMAB', 'MONOAB', 'NEUTAB', 'NEUTABS', 'O2SATA', 
 'O2SATV', 'PCAGP', 'PCBUN', 'PCCL', 'PCO2A', 'PCO2V', 'PH', 'PHA', 'PHV', 'PLT', 'PO2A', 'PO2V',
 'PT', 'TBIL', 'TCO2A', 'TNI', 'WBC', 'NA', 'ALB', 'ALKP', 'ALT', 'AST', 'BE', 'CA', 'CO2', 
 'GLOB', 'GLUURN', 'MCH', 'RDW', 'TP')

"

# submit the query:
update.packages('Rcpp')
df <- dbGetQuery(con, q)
dim(df)
colnames(df)

# (
#     lab_name in 
#     ('Neut, ABS (Seg+Band) (man diff)', 'Basophils, ABS (man diff)', 'Eosinophils, ABS (man diff)', 'Monocytes, ABS (man diff)', 'Lymphocytes, ABS (man diff)', 'Lymphocytes, Abs.', 'Neutrophils, Absolute (Manual Diff)', 'Mono, ABS (man diff)', 'Lym, ABS (man diff)', 'Baso, ABS (man diff)', 'Eos, ABS (man diff)')

#     OR base_name in 
#     ('AG', 'AGAP', 'BASOAB', 'BUN', 'CL', 'CR', 'EGFR', 'EOSAB', 'GLU', 'HCO3', 'HCO3A', 'HCO3V', 'HCT', 'HGB', 'INR', 'K', 'LAC', 'LACWBL', 'LYMAB', 'MONOAB', 'NEUTAB', 'NEUTABS', 'O2SATA', 'O2SATV', 'PCAGP', 'PCBUN', 'PCCL', 'PCO2A', 'PCO2V', 'PH', 'PHA', 'PHV', 'PLT', 'PO2A', 'PO2V', 'PT', 'TBIL', 'TCO2A', 'TNI', 'WBC', 'XLEUKEST', 'NA', 'ALB', 'ALKP', 'BE', 'CA', 'CO2', 'GLOB', 'MG', 'MCH', 'PHOS', 'TP')
# )

write.csv(df, file.path(datadir, "labs_2021.csv"), row.names=FALSE)

### LABS
1. Use lab results as is. no manually process as with vital signs. 
2. Some notes about labs:
- Cannot trust "result_in_range_yn" --> remove this
- There is 1 incident of Glucose by Meter = hi in ord_value
- ord_value has text, blanks and #
- ord_num_value has NA, 9999999, #. The blanks from ord_value are NA in ord_num_value
- result_flag: "Abnormal" for text in ord_value, usually correct. However, when ord_value is N/A or < or >, the ord_num_value is 9999999.
3. Use ord_num_value and result_flag are good
4. All the urine labs start with X seem to be NA. Remove mag and phos as these are low count 1K

In [4]:
# read inputs
datadir = "../../DataTD/shc2021"
outdir = "../../OutputTD/shc2021"

cohort <- read.csv(file.path(outdir, "5_cohort3.csv"))
labs0 <- read.csv(file.path(datadir, "labs_2021.csv")) # 1386585

# check for unique CSNs and MRNs
nrow(cohort) #44258
nrow(labs0) #depending on which cohort_demo used to query labs 1863768
nrow(labs0 %>% select(pat_enc_csn_id_coded) %>% distinct()) # 41724 vs 41627
colnames(labs0)

[1] 61176

[1] 1893963

[1] 57831

 [1] "anon_id"                 "pat_enc_csn_id_coded"
 [3] "inpatient_data_id_coded" "admit_time"
 [5] "label"                   "DBP"
 [7] "Pulse"                   "RR"
 [9] "SBP"                     "Temp"
[11] "order_id_coded"          "lab_name"
[13] "base_name"               "ord_value"
[15] "ord_num_value"           "reference_low"
[17] "reference_high"          "reference_unit"
[19] "result_in_range_yn"      "result_flag"
[21] "result_time_utc"         "order_time_utc"
[23] "taken_time_utc"

In [5]:
labs0 <- labs0 %>% mutate(reference_unit = factor(reference_unit),
                          reference_low = factor(reference_low),
                          reference_high = factor(reference_high),
                          result_in_range_yn = factor(result_in_range_yn),
                          result_flag = factor(result_flag)) #%>%

names %>% group_by(base_name) %>% count(sort=TRUE) %>% arrange(base_name)

In [6]:
options(repr.matrix.max.rows=200, repr.matrix.max.cols=20)
# labs0 %>% group_by(base_name, lab_name) %>% count() %>% arrange(base_name)
labs0 %>% group_by(base_name, lab_name) %>% count() %>% arrange(lab_name)

    base_name lab_name                                      n
1   ALB       Albumin, Ser/Plas                             53271
2   ALKP      Alk P'TASE, Total, Ser/Plas                   53129
3   ALT       ALT (SGPT), Ser/Plas                          53128
4   AG        Anion Gap                                     57701
5   AGAP      Anion Gap, ISTAT                               2607
6   PCAGP     Anion Gap, ISTAT                                146
7   PCO2A     Arterial pCO2 for POC                            13
8   PHA       Arterial pH for POC                              13
9   PO2A      Arterial pO2 for POC                             13
10  AST       AST (SGOT), Ser/Plas                          53127
11  BE        Base Excess (vt)                               1037
12  BE        Base Excess Arterial for POC                     13
13  BE        Base Excess, ISTAT                            27679
14  BASOAB    Baso, ABS (man diff)                             25
15  BASOAB    Basophil, Absolute                            48167
16  BASOAB    Basophils, ABS (man diff)                      1183
17  BASOAB    BASOS, ABS                                     1128
18  HCO3A     Bicarbonate, Art for POC                         13
19  BUN       BUN, Arterial                                     1
20  BUN       BUN, ISTAT                                     2607
21  PCBUN     BUN, ISTAT                                      146
22  BUN       BUN, Peripheral                                   1
23  BUN       BUN, Ser/Plas                                 56212
24  BUN       BUN, Venous                                       1
25  CA        Calcium, Ser/Plas                             57863
26  CL        Chloride, ISTAT                                2607
27  PCCL      Chloride, ISTAT                                 146
28  CL        Chloride, Ser/Plas                            57706
29  CL        Chloride, Whole Bld                             403
30  TCO2A     CO2 Arterial Total for POC                       13
31  CO2       CO2, Ser/Plas                                 57705
32  CR        Creatinine, Ser/Plas                          57693
33  CR        Creatinine,ISTAT                               3914
34  EGFR      eGFR                                          57294
35  EOSAB     EOS, ABS                                       1128
36  EOSAB     Eos, ABS (man diff)                              37
37  EOSAB     Eosinophil, Absolute                          48167
38  EOSAB     Eosinophils, ABS (man diff)                    1972
39  GLOB      Globulin                                      52598
40  GLU       Glucose                                           1
41  GLU       Glucose by Meter                               8937
42  GLU       Glucose, Non-fasting                             21
43  GLU       Glucose, Ser/Plas                             57676
44  GLU       Glucose, Whole Blood                            410
45  GLU       Glucose,ISTAT                                  4125
46  HCO3A     HCO3                                           1037
47  HCO3A     HCO3 (a), ISTAT                                1413
48  HCO3V     HCO3 (v), ISTAT                               26434
49  HCO3      HCO3, ISTAT                                     117
50  HCT       Hct (Est)                                       403
51  HCT       Hct, ISTAT                                     3981
52  HCT       HCT, POC                                         74
53  HCT       Hct(Calc), ISTAT                                146
54  HCT       Hematocrit                                    58168
55  HCT       Hematocrit (Manual Entry) See EMR for details     1
56  HGB       Hemoglobin                                    58168
57  HGB       HgB                                             380
58  HGB       Hgb, calculated, POC                             74
59  HGB       Hgb(Calc), ISTAT                               4127
60  INR       INR                                           25300
61  INR       INR, ISTAT                                     1443
62  LAC       Lactate, ISTAT                                27615
63  LACWBL    Lactate, Whole Bld                             1915
64  LAC       Lactic Acid                                    2350
65  LYMAB     LYM, ABS                                       1128
66  LYMAB     Lym, ABS (man diff)                              82
67  LYMAB     Lymphocyte, Absolute                          48168
68  LYMAB     Lymphocytes, ABS (man diff)                    4567
69  LYMAB     Lymphocytes, Abs.                                 9
70  MCH       MCH                                           58092
71  MONOAB    MONO, ABS                                      1128
72  MONOAB    Mono, ABS (man diff)                             80
73  MONOAB    Monocyte, Absolute                            48167
74  MONOAB    Monocytes, ABS (man diff)                      4412
75  NEUTAB    NEUT, ABS                                      1128
76  NEUTAB    Neut, ABS (man diff)                             81
77  NEUTAB    Neut, ABS (Seg+Band) (man diff)                2291
78  NEUTABS   Neut, ABS (Seg+Band) (man diff)                2178
79  NEUTAB    Neutrophil, Absolute                          48190
80  NEUTAB    Neutrophils, Absolute (Manual Diff)             182
81  O2SATA    O2 Saturation (a)                               401
82  O2SATV    O2 Saturation (v)                               618
83  O2SATA    O2 Saturation, ISTAT                           1413
84  O2SATV    O2 Saturation, ISTAT (Ven)                    26432
85  O2SATA    Oxygen Saturation for POC                        13
86  PCO2A     pCO2 (a)                                        417
87  PCO2A     pCO2 (a), ISTAT                                1413
88  PCO2V     pCO2 (v)                                        620
89  PCO2V     PCO2 (v), ISTAT                               26434
90  PCO2A     PCO2, ISTAT                                     117
91  PHA       pH (a)                                          417
92  PHA       PH (a), ISTAT                                  1413
93  PHV       pH (v)                                          620
94  PHV       PH (v), ISTAT                                 26433
95  PHA       pH by Meter                                      35
96  PH        PH, ISTAT                                       118
97  PLT       Platelet count                                58329
98  PLT       Platelets                                        24
99  PO2A      pO2 (a)                                         417
100 PO2A      PO2 (a), ISTAT                                 1413
101 PO2V      pO2 (v)                                         620
102 PO2V      PO2 (v), ISTAT                                26432
103 PO2A      PO2, ISTAT                                      117
104 K         Potassium                                         1
105 K         Potassium, ISTAT                               4127
106 K         Potassium, Ser/Plas                           57888
107 K         Potassium, Whole Bld                            415
108 K         Potassium, whole blood, ePOC                    106
109 TP        Protein, Total, Ser/Plas                      53146
110 PT        Prothrombin Time                              25300
111 PT        PT, ISTAT                                      1443
112 RDW       RDW                                           58092
113 NA        Sodium, ISTAT                                  4127
114 NA        Sodium, Ser/Plas                              57803
115 NA        Sodium, Whole Blood                             403
116 NA        Sodium, whole blood, ePOC                        89
117 TCO2A     tCO2                                           1037
118 TCO2A     TCO2 (a), ISTAT                                3966
119 TCO2A     TCO2, (ISTAT)                                    85
120 TCO2A     TCO2, ISTAT                                     232
121 TBIL      Total Bilirubin                                1195
122 TBIL      Total Bilirubin, Ser/Plas                     52235
123 TNI       TROPONIN I                                    17476
124 TNI       Troponin I, POCT                               6149
125 BUN       Urea Nitrogen,Ser/Plas                         1472
126 WBC       WBC                                           58095
127 WBC       WBC count                                         9

In [7]:
labs0 %>% group_by(base_name) %>% count(sort=TRUE)

   base_name n
1  GLU       71170
2  HCT       62773
3  HGB       62749
4  K         62537
5  NA        62422
6  CR        61607
7  CL        60716
8  BUN       60294
9  PLT       58353
10 WBC       58104
11 MCH       58092
12 RDW       58092
13 CA        57863
14 CO2       57705
15 AG        57701
16 EGFR      57294
17 LYMAB     53954
18 MONOAB    53787
19 TBIL      53430
20 ALB       53271
21 TP        53146
22 ALKP      53129
23 ALT       53128
24 AST       53127
25 GLOB      52598
26 NEUTAB    51872
27 EOSAB     51304
28 BASOAB    50503
29 LAC       29965
30 BE        28729
31 PCO2V     27054
32 PHV       27053
33 PO2V      27052
34 O2SATV    27050
35 INR       26743
36 PT        26743
37 HCO3V     26434
38 TNI       23625
39 TCO2A      5333
40 AGAP       2607
41 HCO3A      2463
42 NEUTABS    2178
43 PCO2A      1960
44 PO2A       1960
45 LACWBL     1915
46 PHA        1878
47 O2SATA     1827
48 PCAGP       146
49 PCBUN       146
50 PCCL        146
51 PH          118
52 HCO3        117

In [8]:
# from Triage
triage_labs <- c("Platelet count", "Total Bilirubin, Ser/Plas", "Total Bilirubin", 
"TROPONIN I", "Troponin I, POCT", "WBC", "WBC count", 
"Hematocrit", "Hct, ISTAT", "Hct(Calc), ISTAT", 
"Hct (Est)", "HCT, POC", 
"Hematocrit (Manual Entry) See EMR for details", 
"Hemoglobin", "Hgb(Calc), ISTAT", "Hgb, calculated, POC", "HgB", 
"Potassium, Ser/Plas", "Potassium, ISTAT",  "Potassium, Whole Bld", 
"Potassium, whole blood, ePOC", "Sodium, Ser/Plas", "Sodium, ISTAT",  
"Sodium, Whole Blood", "Chloride, Ser/Plas",  "Chloride, ISTAT",  
"Chloride, Whole Bld", "Creatinine, Ser/Plas", "Creatinine,ISTAT", 
"Anion Gap", "Anion Gap, ISTAT", "Glucose, Ser/Plas", "Glucose,ISTAT", 
"Glucose, Whole Blood", "Glucose by Meter", "Glucose, Non-fasting", 
"BUN, Ser/Plas", "BUN, ISTAT", "Urea Nitrogen,Ser/Plas", 'BUN, Arterial', 'BUN, Peripheral', 'BUN, Venous',
"Neutrophil, Absolute", "NEUT, ABS", "Neut, ABS (Seg+Band) (man diff)", 
"Neutrophils, Absolute (Manual Diff)", "Neut, ABS (Seg+Band) (man diff)", 
"Basophil, Absolute", "BASOS, ABS", "Basophils, ABS (man diff)", 
"Baso, ABS (man diff)", "Eosinophil, Absolute", "EOS, ABS", 
"Eosinophils, ABS (man diff)", "Eos, ABS (man diff)", 
"Lymphocyte, Absolute", "LYM, ABS", "Lymphocytes, ABS (man diff)", 
"Lym, ABS (man diff)", "Lymphocytes, Abs.", "Monocyte, Absolute", 
"MONO, ABS", "Monocytes, ABS (man diff)", "Mono, ABS (man diff)", 
"Lactate, ISTAT", "Lactate, Whole Bld", "Lactic Acid", "HCO3", 
"HCO3 (a), ISTAT", "Bicarbonate, Art for POC", "HCO3 (v), ISTAT", 
"HCO3, ISTAT", "O2 Saturation (a)", "O2 Saturation, ISTAT", 
"Oxygen Saturation for POC", "O2 Saturation (v)",  
"O2 Saturation, ISTAT (Ven)", "pCO2 (a)", "pCO2 (a), ISTAT",  
"PCO2, ISTAT", "Arterial pCO2 for POC", "pCO2 (v)", "PCO2 (v), ISTAT", 
"pH (a)", "PH (a), ISTAT", "pH by Meter", "Arterial pH for POC", 
"pH (v)", "PH (v), ISTAT", "PH, ISTAT", "pO2 (a)", "PO2 (a), ISTAT",  
"PO2, ISTAT", "Arterial pO2 for POC", "pO2 (v)", "PO2 (v), ISTAT", 
"tCO2", "TCO2 (a), ISTAT","TCO2, ISTAT", "TCO2, (ISTAT)", 
"CO2 Arterial Total for POC", "INR", "INR, ISTAT", 
"Prothrombin Time", "PT, ISTAT")
str_sort(triage_labs)

  [1] "Anion Gap"
  [2] "Anion Gap, ISTAT"
  [3] "Arterial pCO2 for POC"
  [4] "Arterial pH for POC"
  [5] "Arterial pO2 for POC"
  [6] "Baso, ABS (man diff)"
  [7] "Basophil, Absolute"
  [8] "Basophils, ABS (man diff)"
  [9] "BASOS, ABS"
 [10] "Bicarbonate, Art for POC"
 [11] "BUN, Arterial"
 [12] "BUN, ISTAT"
 [13] "BUN, Peripheral"
 [14] "BUN, Ser/Plas"
 [15] "BUN, Venous"
 [16] "Chloride, ISTAT"
 [17] "Chloride, Ser/Plas"
 [18] "Chloride, Whole Bld"
 [19] "CO2 Arterial Total for POC"
 [20] "Creatinine, Ser/Plas"
 [21] "Creatinine,ISTAT"
 [22] "EOS, ABS"
 [23] "Eos, ABS (man diff)"
 [24] "Eosinophil, Absolute"
 [25] "Eosinophils, ABS (man diff)"
 [26] "Glucose by Meter"
 [27] "Glucose, Non-fasting"
 [28] "Glucose, Ser/Plas"
 [29] "Glucose, Whole Blood"
 [30] "Glucose,ISTAT"
 [31] "HCO3"
 [32] "HCO3 (a), ISTAT"
 [33] "HCO3 (v), ISTAT"
 [34] "HCO3, ISTAT"
 [35] "Hct (Est)"
 [36] "Hct, ISTAT"
 [37] "HCT, POC"
 [38] "Hct(Calc), ISTAT"
 [39] "Hematocrit"
 [40] "Hematocrit (Manual Entry) See EMR for details"
 [41] "Hemoglobin"
 [42] "HgB"
 [43] "Hgb, calculated, POC"
 [44] "Hgb(Calc), ISTAT"
 [45] "INR"
 [46] "INR, ISTAT"
 [47] "Lactate, ISTAT"
 [48] "Lactate, Whole Bld"
 [49] "Lactic Acid"
 [50] "LYM, ABS"
 [51] "Lym, ABS (man diff)"
 [52] "Lymphocyte, Absolute"
 [53] "Lymphocytes, ABS (man diff)"
 [54] "Lymphocytes, Abs."
 [55] "MONO, ABS"
 [56] "Mono, ABS (man diff)"
 [57] "Monocyte, Absolute"
 [58] "Monocytes, ABS (man diff)"
 [59] "NEUT, ABS"
 [60] "Neut, ABS (Seg+Band) (man diff)"
 [61] "Neut, ABS (Seg+Band) (man diff)"
 [62] "Neutrophil, Absolute"
 [63] "Neutrophils, Absolute (Manual Diff)"
 [64] "O2 Saturation (a)"
 [65] "O2 Saturation (v)"
 [66] "O2 Saturation, ISTAT"
 [67] "O2 Saturation, ISTAT (Ven)"
 [68] "Oxygen Saturation for POC"
 [69] "pCO2 (a)"
 [70] "pCO2 (a), ISTAT"
 [71] "pCO2 (v)"
 [72] "PCO2 (v), ISTAT"
 [73] "PCO2, ISTAT"
 [74] "pH (a)"
 [75] "PH (a), ISTAT"
 [76] "pH (v)"
 [77] "PH (v), ISTAT"
 [78] "pH by Meter"
 [79] "PH, ISTAT"
 [80] "Platelet count"
 [81] "pO2 (a)"
 [82] "PO2 (a), ISTAT"
 [83] "pO2 (v)"
 [84] "PO2 (v), ISTAT"
 [85] "PO2, ISTAT"
 [86] "Potassium, ISTAT"
 [87] "Potassium, Ser/Plas"
 [88] "Potassium, Whole Bld"
 [89] "Potassium, whole blood, ePOC"
 [90] "Prothrombin Time"
 [91] "PT, ISTAT"
 [92] "Sodium, ISTAT"
 [93] "Sodium, Ser/Plas"
 [94] "Sodium, Whole Blood"
 [95] "tCO2"
 [96] "TCO2 (a), ISTAT"
 [97] "TCO2, (ISTAT)"
 [98] "TCO2, ISTAT"
 [99] "Total Bilirubin"
[100] "Total Bilirubin, Ser/Plas"
[101] "TROPONIN I"
[102] "Troponin I, POCT"
[103] "Urea Nitrogen,Ser/Plas"
[104] "WBC"
[105] "WBC count"

test <- c('Neut, ABS (Seg+Band) (man diff)', 'Basophils, ABS (man diff)', 'Eosinophils, ABS (man diff)', 'Monocytes, ABS (man diff)', 'Lymphocytes, ABS (man diff)', 'Lymphocytes, Abs.', 'Neutrophils, Absolute (Manual Diff)', 'Mono, ABS (man diff)', 'Lym, ABS (man diff)', 'Baso, ABS (man diff)', 'Eos, ABS (man diff)')
sum(!test %in% labs0$lab_name)
sum(!test %in% labs0$lab_name)

'AG', 'AGAP', 'BASOAB', 'BUN', 'CL', 'CR', 'EGFR', 'EOSAB', 'GLU', 'HCO3', 'HCO3A', 'HCO3V', 
'HCT', 'HGB', 'INR', 'K', 'LAC', 'LACWBL', 'LYMAB', 'MONOAB', 'NEUTAB', 'NEUTABS', 'O2SATA', 'O2SATV', 'PCAGP', 'PCBUN', 'PCCL', 
'PCO2A', 'PCO2V', 'PH', 'PHA', 'PHV', 'PLT', 'PO2A', 'PO2V', 'PT', 'TBIL', 'TCO2A', 'TNI', 'WBC', 'NA',
# added base_names - remove PHOS and MG -- too few
'ALB', 'ALKP', 'ALT', 'AST', 'BE', 'CA', 'CO2', 'EGRF', 'GLOB', 'GLUURN', 'MCH', 'RDW', 'TP'

In [9]:
# labs0[labs0$lab_name == "Platelets", ]$base_name
# labs0[labs0$lab_name %in% lab_names, ]$base_name   
# lapply(lab_names, function(x) labs0[labs0$lab_name == x, ]$basename)

In [9]:
# check overlapping of Triage labs and the new queried labs
# str_sort(unique(labs0$base_name))
# str_sort(intersect(labs0$lab_name, lab_names))

setdiff(triage_labs, labs0$lab_name) # NONE
str_sort(setdiff(labs0$lab_name, triage_labs)) # in A, not B

triage_labs0_names <- labs0 %>% filter(lab_name %in% triage_labs) %>% distinct(lab_name, base_name)
triage_labs0_base_names <- str_sort(unique(triage_labs0_names$base_name))
triage_labs0_lab_names <- str_sort(unique(triage_labs0_names$lab_name))

triage_labs0_base_names; # triage_labs0_lab_names

str_sort(setdiff(labs0$base_name, triage_labs0_base_names))

character(0)

 [1] "Albumin, Ser/Plas"            "Alk P'TASE, Total, Ser/Plas"
 [3] "ALT (SGPT), Ser/Plas"         "AST (SGOT), Ser/Plas"
 [5] "Base Excess (vt)"             "Base Excess Arterial for POC"
 [7] "Base Excess, ISTAT"           "Calcium, Ser/Plas"
 [9] "CO2, Ser/Plas"                "eGFR"
[11] "Globulin"                     "Glucose"
[13] "MCH"                          "Neut, ABS (man diff)"
[15] "Platelets"                    "Potassium"
[17] "Protein, Total, Ser/Plas"     "RDW"
[19] "Sodium, whole blood, ePOC"

 [1] "AG"      "AGAP"    "BASOAB"  "BUN"     "CL"      "CR"      "EOSAB"
 [8] "GLU"     "HCO3"    "HCO3A"   "HCO3V"   "HCT"     "HGB"     "INR"
[15] "K"       "LAC"     "LACWBL"  "LYMAB"   "MONOAB"  "NEUTAB"  "NEUTABS"
[22] "O2SATA"  "O2SATV"  "PCAGP"   "PCBUN"   "PCCL"    "PCO2A"   "PCO2V"
[29] "PH"      "PHA"     "PHV"     "PLT"     "PO2A"    "PO2V"    "PT"
[36] "TBIL"    "TCO2A"   "TNI"     "WBC"     NA

 [1] "ALB"  "ALKP" "ALT"  "AST"  "BE"   "CA"   "CO2"  "EGFR" "GLOB" "MCH"
[11] "RDW"  "TP"

In [10]:
# get lab_names and base_names from labs0
labs0_names <- labs0 %>% distinct(lab_name, base_name)
base_names <- str_sort(unique(labs0_names$base_name))
lab_names <- str_sort(unique(labs0_names$lab_name))

lab_names

  [1] "Albumin, Ser/Plas"
  [2] "Alk P'TASE, Total, Ser/Plas"
  [3] "ALT (SGPT), Ser/Plas"
  [4] "Anion Gap"
  [5] "Anion Gap, ISTAT"
  [6] "Arterial pCO2 for POC"
  [7] "Arterial pH for POC"
  [8] "Arterial pO2 for POC"
  [9] "AST (SGOT), Ser/Plas"
 [10] "Base Excess (vt)"
 [11] "Base Excess Arterial for POC"
 [12] "Base Excess, ISTAT"
 [13] "Baso, ABS (man diff)"
 [14] "Basophil, Absolute"
 [15] "Basophils, ABS (man diff)"
 [16] "BASOS, ABS"
 [17] "Bicarbonate, Art for POC"
 [18] "BUN, Arterial"
 [19] "BUN, ISTAT"
 [20] "BUN, Peripheral"
 [21] "BUN, Ser/Plas"
 [22] "BUN, Venous"
 [23] "Calcium, Ser/Plas"
 [24] "Chloride, ISTAT"
 [25] "Chloride, Ser/Plas"
 [26] "Chloride, Whole Bld"
 [27] "CO2 Arterial Total for POC"
 [28] "CO2, Ser/Plas"
 [29] "Creatinine, Ser/Plas"
 [30] "Creatinine,ISTAT"
 [31] "eGFR"
 [32] "EOS, ABS"
 [33] "Eos, ABS (man diff)"
 [34] "Eosinophil, Absolute"
 [35] "Eosinophils, ABS (man diff)"
 [36] "Globulin"
 [37] "Glucose"
 [38] "Glucose by Meter"
 [39] "Glucose, Non-fasting"
 [40] "Glucose, Ser/Plas"
 [41] "Glucose, Whole Blood"
 [42] "Glucose,ISTAT"
 [43] "HCO3"
 [44] "HCO3 (a), ISTAT"
 [45] "HCO3 (v), ISTAT"
 [46] "HCO3, ISTAT"
 [47] "Hct (Est)"
 [48] "Hct, ISTAT"
 [49] "HCT, POC"
 [50] "Hct(Calc), ISTAT"
 [51] "Hematocrit"
 [52] "Hematocrit (Manual Entry) See EMR for details"
 [53] "Hemoglobin"
 [54] "HgB"
 [55] "Hgb, calculated, POC"
 [56] "Hgb(Calc), ISTAT"
 [57] "INR"
 [58] "INR, ISTAT"
 [59] "Lactate, ISTAT"
 [60] "Lactate, Whole Bld"
 [61] "Lactic Acid"
 [62] "LYM, ABS"
 [63] "Lym, ABS (man diff)"
 [64] "Lymphocyte, Absolute"
 [65] "Lymphocytes, ABS (man diff)"
 [66] "Lymphocytes, Abs."
 [67] "MCH"
 [68] "MONO, ABS"
 [69] "Mono, ABS (man diff)"
 [70] "Monocyte, Absolute"
 [71] "Monocytes, ABS (man diff)"
 [72] "NEUT, ABS"
 [73] "Neut, ABS (man diff)"
 [74] "Neut, ABS (Seg+Band) (man diff)"
 [75] "Neutrophil, Absolute"
 [76] "Neutrophils, Absolute (Manual Diff)"
 [77] "O2 Saturation (a)"
 [78] "O2 Saturation (v)"
 [79] "O2 Saturation, ISTAT"
 [80] "O2 Saturation, ISTAT (Ven)"
 [81] "Oxygen Saturation for POC"
 [82] "pCO2 (a)"
 [83] "pCO2 (a), ISTAT"
 [84] "pCO2 (v)"
 [85] "PCO2 (v), ISTAT"
 [86] "PCO2, ISTAT"
 [87] "pH (a)"
 [88] "PH (a), ISTAT"
 [89] "pH (v)"
 [90] "PH (v), ISTAT"
 [91] "pH by Meter"
 [92] "PH, ISTAT"
 [93] "Platelet count"
 [94] "Platelets"
 [95] "pO2 (a)"
 [96] "PO2 (a), ISTAT"
 [97] "pO2 (v)"
 [98] "PO2 (v), ISTAT"
 [99] "PO2, ISTAT"
[100] "Potassium"
[101] "Potassium, ISTAT"
[102] "Potassium, Ser/Plas"
[103] "Potassium, Whole Bld"
[104] "Potassium, whole blood, ePOC"
[105] "Protein, Total, Ser/Plas"
[106] "Prothrombin Time"
[107] "PT, ISTAT"
[108] "RDW"
[109] "Sodium, ISTAT"
[110] "Sodium, Ser/Plas"
[111] "Sodium, Whole Blood"
[112] "Sodium, whole blood, ePOC"
[113] "tCO2"
[114] "TCO2 (a), ISTAT"
[115] "TCO2, (ISTAT)"
[116] "TCO2, ISTAT"
[117] "Total Bilirubin"
[118] "Total Bilirubin, Ser/Plas"
[119] "TROPONIN I"
[120] "Troponin I, POCT"
[121] "Urea Nitrogen,Ser/Plas"
[122] "WBC"
[123] "WBC count"

In [11]:
# check each lab in the list for reference units, low and high to see if consistent among similar lab names
lab_test <- labs0 %>% select(lab_name, ord_num_value, reference_unit, reference_low, reference_high, base_name)# %>%
#                         mutate(reference_unit = factor(reference_unit),
#                                reference_low = factor(reference_low),
#                                reference_high = factor(reference_high)) #%>% 
#                 drop_na(ord_num_value)
c=0
for (l in lab_names){
    c = c+1
    lab <- lab_test %>% filter(lab_name == l & ord_num_value != 9999999)
    print(l)
    print(lab %>% group_by(base_name) %>% count())
    print(summary(lab %>% select(ord_num_value, reference_unit, reference_low, reference_high)))
}

# options(repr.plot.width=7, repr.plot.height=7)
print(c)

# 'Albumin, Ser/Plas', 'Alk P\'TASE, Total, Ser/Plas', 'ALT (SGPT), Ser/Plas', 'AST (SGOT), Ser/Plas'
# 'Base Excess (vt)', 'Base Excess Arterial for POC', 'Base Excess, ISTAT'
# 'Calcium, Ser/Plas''CO2, Ser/Plas''eGFR''Globulin''Glucose'
# 'Glucose Urine''Glucose, urine''Glucose, Urine'
# 'MCH''Neut, ABS (man diff)''Platelets''Potassium''Protein, Total, Ser/Plas'
# 'RDW''Sodium, whole blood, ePOC'

[1] "Albumin, Ser/Plas"
# A tibble: 1 x 2
# Groups:   base_name [1]
  base_name     n
  <chr>     <int>
1 ALB       53211
 ord_num_value                               reference_unit  reference_low
 Min.   :0.900   g/dL                               :53211   3.5    :53201
 1st Qu.:3.100                                      :    0   3.2    :    5
 Median :3.600                                      :    0   3.9    :    4
 Mean   :3.571   /uL                                :    0   3.8    :    1
 3rd Qu.:4.100   %                                  :    0          :    0
 Max.   :6.700   % (See scan or EMR data for detail):    0   >60    :    0
                 (Other)                            :    0   (Other):    0
 reference_high
 5.0    :32215
 5.2    :20990
 4.5    :    5
 5.4    :    1
        :    0
 <0.055 :    0
 (Other):    0
[1] "Alk P'TASE, Total, Ser/Plas"
# A tibble: 1 x 2
# Groups:   base_name [1]
  base_name     n
  <chr>     <int>
1 ALKP      53023
 ord_num_value                              reference_unit  reference_low
 Min.   :   9   U/L                                :53023   40     :35171
 1st Qu.:  69                                      :    0   35     : 9779
 Median :  91                                      :    0          : 7967
 Mean   : 128   /uL                                :    0   45     :   54
 3rd Qu.: 128   %                                  :    0   55     :   51
 Max.   :4316   % (See scan or EMR data for detail):    0   122    :    1
                (Other)                            :    0   (Other):    0
 reference_high
 130    :35162
 105    : 9779
 <120   : 6776
        : 1190
 87     :   54
 149    :   51
 (Other):   11
[1] "ALT (SGPT), Ser/Plas"
# A tibble: 1 x 2
# Groups:   base_name [1]
  base_name     n
  <chr>     <int>
1 ALT       52347
 ord_num_value                                 reference_unit  reference_low
 Min.   :   5.00   U/L                                :52347          :31532
 1st Qu.:  18.00                                      :    0   10     :20815
 Median :  27.00                                      :    0   >60    :    0
 Mean   :  49.55   /uL                                :    0   >90    :    0
 3rd Qu.:  44.00   %                                  :    0   0      :    0
 Max.   :5253.00   % (See scan or EMR data for detail):    0   0.0    :    0
                   (Other)                            :    0   (Other):    0
 reference_high
 <60    :30374
 50     :11043
 35     : 9768
        : 1078
 <33    :   40
 <41    :   39
 (Other):    5
[1] "Anion Gap"
# A tibble: 1 x 2
# Groups:   base_name [1]
  base_name     n
  <chr>     <int>
1 AG        57478
 ord_num_value                              reference_unit  reference_low
 Min.   : 2.0   mmol/L                             :57478   5      :57478
 1st Qu.: 8.0                                      :    0          :    0
 Median :11.0                                      :    0   >60    :    0
 Mean   :11.4   /uL                                :    0   >90    :    0
 3rd Qu.:14.0   %                                  :    0   0      :    0
 Max.   :80.0   % (See scan or EMR data for detail):    0   0.0    :    0
                (Other)                            :    0   (Other):    0
 reference_high
 15     :57478
        :    0
 <0.055 :    0
 <0.1   :    0
 <0.100 :    0
 <0.4   :    0
 (Other):    0
[1] "Anion Gap, ISTAT"
# A tibble: 2 x 2
# Groups:   base_name [2]
  base_name     n
  <chr>     <int>
1 AGAP       2524
2 PCAGP       143
 ord_num_value                               reference_unit reference_low
 Min.   : 1.00   mmol/L                             :2667   5      :2667
 1st Qu.:16.00                                      :   0          :   0
 Median :18.00                                      :   0   >60    :   0
 Mean   :18.34   /uL                                :   0   >90    :   0
 3rd Qu.:20.00   %                                  :   0   0      :   0
 Max.   :47.00   % (See scan or EMR data for detail):   0   0.0    :   0
                 (Other)                            :   0   (Other):   0
 reference_high
 15     :2667
        :   0
 <0.055 :   0
 <0.1   :   0
 <0.100 :   0
 <0.4   :   0
 (Other):   0
[1] "Arterial pCO2 for POC"
# A tibble: 1 x 2
# Groups:   base_name [1]
  base_name     n
  <chr>     <int>
1 PCO2A        13
 ord_num_value                               reference_unit reference_low
 Min.   :  6.0   mmHg                               :13     35.0   :13
 1st Qu.: 37.1                                      : 0            : 0
 Median : 44.2                                      : 0     >60    : 0
 Mean   : 51.6   /uL                                : 0     >90    : 0
 3rd Qu.: 65.5   %                                  : 0     0      : 0
 Max.   :111.2   % (See scan or EMR data for detail): 0     0.0    : 0
                 (Other)                            : 0     (Other): 0
 reference_high
 45.0   :13
        : 0
 <0.055 : 0
 <0.1   : 0
 <0.100 : 0
 <0.4   : 0
 (Other): 0
[1] "Arterial pH for POC"
# A tibble: 1 x 2
# Groups:   base_name [1]
  base_name     n
  <chr>     <int>
1 PHA          13
 ord_num_value                               reference_unit reference_low
 Min.   :6.890                                      :13     7.350  :13
 1st Qu.:7.018                                      : 0            : 0
 Median :7.253   /uL                                : 0     >60    : 0
 Mean   :7.213   %                                  : 0     >90    : 0
 3rd Qu.:7.351   % (See scan or EMR data for detail): 0     0      : 0
 Max.   :7.452   g/dL                               : 0     0.0    : 0
                 (Other)                            : 0     (Other): 0
 reference_high
 7.450  :13
        : 0
 <0.055 : 0
 <0.1   : 0
 <0.100 : 0
 <0.4   : 0
 (Other): 0
[1] "Arterial pO2 for POC"
# A tibble: 1 x 2
# Groups:   base_name [1]
  base_name     n
  <chr>     <int>
1 PO2A         13
 ord_num_value                               reference_unit reference_low
 Min.   : 18.6   mmHg                               :13     70     :13
 1st Qu.: 76.2                                      : 0            : 0
 Median :151.6                                      : 0     >60    : 0
 Mean   :211.2   /uL                                : 0     >90    : 0
 3rd Qu.:304.8   %                                  : 0     0      : 0
 Max.   :554.2   % (See scan or EMR data for detail): 0     0.0    : 0
                 (Other)                            : 0     (Other): 0
 reference_high
 100    :13
        : 0
 <0.055 : 0
 <0.1   : 0
 <0.100 : 0
 <0.4   : 0
 (Other): 0
[1] "AST (SGOT), Ser/Plas"
# A tibble: 1 x 2
# Groups:   base_name [1]
  base_name     n
  <chr>     <int>
1 AST       52624
 ord_num_value                                 reference_unit  reference_low
 Min.   :   5.00   U/L                                :52624          :31781
 1st Qu.:  20.00                                      :    0   10     :20843
 Median :  28.00                                      :    0   >60    :    0
 Mean   :  56.05   /uL                                :    0   >90    :    0
 3rd Qu.:  46.00   %                                  :    0   0      :    0
 Max.   :9655.00   % (See scan or EMR data for detail):    0   0.0    :    0
                   (Other)                            :    0   (Other):    0
 reference_high
 <40    :30570
 50     :11048
 35     : 9790
        : 1165
 <32    :   40
 <44    :    5
 (Other):    6
[1] "Base Excess (vt)"
# A tibble: 1 x 2
# Groups:   base_name [1]
  base_name     n
  <chr>     <int>
1 BE         1016
 ord_num_value     reference_unit reference_low  reference_high
 Min.   :-31.200   mEq/L  :524    0.0    :1013   3.0    :1013
 1st Qu.: -6.700   mmol/L :492    0      :   3   3      :   3
 Median : -1.800          :  0           :   0          :   0
 Mean   : -2.784          :  0    >60    :   0   <0.055 :   0
 3rd Qu.:  1.900   /uL    :  0    >90    :   0   <0.1   :   0
 Max.   : 42.500   %      :  0    0.00   :   0   <0.100 :   0
                   (Other):  0    (Other):   0   (Other):   0
[1] "Base Excess Arterial for POC"
# A tibble: 1 x 2
# Groups:   base_name [1]
  base_name     n
  <chr>     <int>
1 BE           13
 ord_num_value                                 reference_unit reference_low
 Min.   :-24.400   mmol/L                             :13     0.0    :13
 1st Qu.:-15.700                                      : 0            : 0
 Median : -4.800                                      : 0     >60    : 0
 Mean   : -7.123   /uL                                : 0     >90    : 0
 3rd Qu.: -0.300   %                                  : 0     0      : 0
 Max.   : 10.400   % (See scan or EMR data for detail): 0     0.00   : 0
                   (Other)                            : 0     (Other): 0
 reference_high
 3.0    :13
        : 0
 <0.055 : 0
 <0.1   : 0
 <0.100 : 0
 <0.4   : 0
 (Other): 0
[1] "Base Excess, ISTAT"
# A tibble: 1 x 2
# Groups:   base_name [1]
  base_name     n
  <chr>     <int>
1 BE        27520
 ord_num_value                                   reference_unit
 Min.   :-30.00000   mmol/L                             :27519
 1st Qu.: -3.00000                                      :    1
 Median :  0.00000                                      :    0
 Mean   :  0.01573   /uL                                :    0
 3rd Qu.:  4.00000   %                                  :    0
 Max.   : 30.00000   % (See scan or EMR data for detail):    0
                     (Other)                            :    0
 reference_low   reference_high
        :27520          :27520
 >60    :    0   <0.055 :    0
 >90    :    0   <0.1   :    0
 0      :    0   <0.100 :    0
 0.0    :    0   <0.4   :    0
 0.00   :    0   <1.0   :    0
 (Other):    0   (Other):    0
[1] "Baso, ABS (man diff)"
# A tibble: 1 x 2
# Groups:   base_name [1]
  base_name     n
  <chr>     <int>
1 BASOAB       25
 ord_num_value                              reference_unit reference_low
 Min.   :0.00   K/uL                               :25     0      :25
 1st Qu.:0.00                                      : 0            : 0
 Median :0.10                                      : 0     >60    : 0
 Mean   :0.08   /uL                                : 0     >90    : 0
 3rd Qu.:0.10   %                                  : 0     0.0    : 0
 Max.   :0.30   % (See scan or EMR data for detail): 0     0.00   : 0
                (Other)                            : 0     (Other): 0
 reference_high
 0.25   :25
        : 0
 <0.055 : 0
 <0.1   : 0
 <0.100 : 0
 <0.4   : 0
 (Other): 0
[1] "Basophil, Absolute"
# A tibble: 1 x 2
# Groups:   base_name [1]
  base_name     n
  <chr>     <int>
1 BASOAB    47831
 ord_num_value                                 reference_unit  reference_low
 Min.   :0.00000   K/uL                               :47831   0.00   :47831
 1st Qu.:0.02000                                      :    0          :    0
 Median :0.04000                                      :    0   >60    :    0
 Mean   :0.04637   /uL                                :    0   >90    :    0
 3rd Qu.:0.06000   %                                  :    0   0      :    0
 Max.   :1.35000   % (See scan or EMR data for detail):    0   0.0    :    0
                   (Other)                            :    0   (Other):    0
 reference_high
 0.25   :41504
 0.20   : 6327
        :    0
 <0.055 :    0
 <0.1   :    0
 <0.100 :    0
 (Other):    0
[1] "Basophils, ABS (man diff)"
# A tibble: 1 x 2
# Groups:   base_name [1]
  base_name     n
  <chr>     <int>
1 BASOAB     1182
 ord_num_value                                 reference_unit reference_low
 Min.   : 0.0000   K/uL                               :1182   0.00   :1182
 1st Qu.: 0.0500                                      :   0          :   0
 Median : 0.1000                                      :   0   >60    :   0
 Mean   : 0.3253   /uL                                :   0   >90    :   0
 3rd Qu.: 0.1700   %                                  :   0   0      :   0
 Max.   :65.9200   % (See scan or EMR data for detail):   0   0.0    :   0
                   (Other)                            :   0   (Other):   0
 reference_high
 0.25   :1090
 0.20   :  92
        :   0
 <0.055 :   0
 <0.1   :   0
 <0.100 :   0
 (Other):   0
[1] "BASOS, ABS"
# A tibble: 1 x 2
# Groups:   base_name [1]
  base_name     n
  <chr>     <int>
1 BASOAB     1102
 ord_num_value                                 reference_unit reference_low
 Min.   :0.00000   K/uL                               :1102   0      :1102
 1st Qu.:0.03000                                      :   0          :   0
 Median :0.04000                                      :   0   >60    :   0
 Mean   :0.05212   /uL                                :   0   >90    :   0
 3rd Qu.:0.07000   %                                  :   0   0.0    :   0
 Max.   :0.44000   % (See scan or EMR data for detail):   0   0.00   :   0
                   (Other)                            :   0   (Other):   0
 reference_high
 0.25   :1102
        :   0
 <0.055 :   0
 <0.1   :   0
 <0.100 :   0
 <0.4   :   0
 (Other):   0
[1] "Bicarbonate, Art for POC"
# A tibble: 1 x 2
# Groups:   base_name [1]
  base_name     n
  <chr>     <int>
1 HCO3A        13
 ord_num_value                              reference_unit reference_low
 Min.   : 1.8   mmol/L                             :13     22.0   :13
 1st Qu.:15.0                                      : 0            : 0
 Median :21.8                                      : 0     >60    : 0
 Mean   :21.1   /uL                                : 0     >90    : 0
 3rd Qu.:28.5   %                                  : 0     0      : 0
 Max.   :38.7   % (See scan or EMR data for detail): 0     0.0    : 0
                (Other)                            : 0     (Other): 0
 reference_high
 32.0   :13
        : 0
 <0.055 : 0
 <0.1   : 0
 <0.100 : 0
 <0.4   : 0
 (Other): 0
[1] "BUN, Arterial"
# A tibble: 1 x 2
# Groups:   base_name [1]
  base_name     n
  <chr>     <int>
1 BUN           1
 ord_num_value                             reference_unit reference_low
 Min.   :44    mg/dL                              :1      5      :1
 1st Qu.:44                                       :0             :0
 Median :44                                       :0      >60    :0
 Mean   :44    /uL                                :0      >90    :0
 3rd Qu.:44    %                                  :0      0      :0
 Max.   :44    % (See scan or EMR data for detail):0      0.0    :0
               (Other)                            :0      (Other):0
 reference_high
 25     :1
        :0
 <0.055 :0
 <0.1   :0
 <0.100 :0
 <0.4   :0
 (Other):0
[1] "BUN, ISTAT"
# A tibble: 2 x 2
# Groups:   base_name [2]
  base_name     n
  <chr>     <int>
1 BUN        2543
2 PCBUN       144
 ord_num_value                                reference_unit reference_low
 Min.   :  3.00   mg/dL                              :2687   5      :2687
 1st Qu.: 14.00                                      :   0          :   0
 Median : 20.00                                      :   0   >60    :   0
 Mean   : 26.97   /uL                                :   0   >90    :   0
 3rd Qu.: 31.00   %                                  :   0   0      :   0
 Max.   :139.00   % (See scan or EMR data for detail):   0   0.0    :   0
                  (Other)                            :   0   (Other):   0
 reference_high
 25     :2687
        :   0
 <0.055 :   0
 <0.1   :   0
 <0.100 :   0
 <0.4   :   0
 (Other):   0
[1] "BUN, Peripheral"
# A tibble: 1 x 2
# Groups:   base_name [1]
  base_name     n
  <chr>     <int>
1 BUN           1
 ord_num_value                             reference_unit reference_low
 Min.   :107   mg/dL                              :1      5      :1
 1st Qu.:107                                      :0             :0
 Median :107                                      :0      >60    :0
 Mean   :107   /uL                                :0      >90    :0
 3rd Qu.:107   %                                  :0      0      :0
 Max.   :107   % (See scan or EMR data for detail):0      0.0    :0
               (Other)                            :0      (Other):0
 reference_high
 25     :1
        :0
 <0.055 :0
 <0.1   :0
 <0.100 :0
 <0.4   :0
 (Other):0
[1] "BUN, Ser/Plas"
# A tibble: 1 x 2
# Groups:   base_name [1]
  base_name     n
  <chr>     <int>
1 BUN       56135
 ord_num_value                                reference_unit  reference_low
 Min.   :  1.00   mg/dL                              :56135   5      :34593
 1st Qu.: 12.00                                      :    0   8      :11195
 Median : 17.00                                      :    0   6      :10343
 Mean   : 23.24   /uL                                :    0   7      :    4
 3rd Qu.: 27.00   %                                  :    0          :    0
 Max.   :258.00   % (See scan or EMR data for detail):    0   >60    :    0
                  (Other)                            :    0   (Other):    0
 reference_high
 25     :27110
 23     :18672
 20     :10343
 18     :    6
 21     :    4
        :    0
 (Other):    0
[1] "BUN, Venous"
# A tibble: 1 x 2
# Groups:   base_name [1]
  base_name     n
  <chr>     <int>
1 BUN           1
 ord_num_value                             reference_unit reference_low
 Min.   :8     mg/dL                              :1      5      :1
 1st Qu.:8                                        :0             :0
 Median :8                                        :0      >60    :0
 Mean   :8     /uL                                :0      >90    :0
 3rd Qu.:8     %                                  :0      0      :0
 Max.   :8     % (See scan or EMR data for detail):0      0.0    :0
               (Other)                            :0      (Other):0
 reference_high
 25     :1
        :0
 <0.055 :0
 <0.1   :0
 <0.100 :0
 <0.4   :0
 (Other):0
[1] "Calcium, Ser/Plas"
# A tibble: 1 x 2
# Groups:   base_name [1]
  base_name     n
  <chr>     <int>
1 CA        57832
 ord_num_value                                reference_unit  reference_low
 Min.   : 2.500   mg/dL                              :57832   8.5    :28747
 1st Qu.: 8.600                                      :    0   8.4    :19026
 Median : 9.000                                      :    0   8.2    : 7605
 Mean   : 8.998   /uL                                :    0   8.8    : 1248
 3rd Qu.: 9.400   %                                  :    0   8.6    : 1205
 Max.   :19.600   % (See scan or EMR data for detail):    0   9.0    :    1
                  (Other)                            :    0   (Other):    0
 reference_high
 10.5   :33703
 10.2   :15318
 10.4   : 7484
 10.0   : 1205
 9.6    :  121
 11.0   :    1
 (Other):    0
[1] "Chloride, ISTAT"
# A tibble: 2 x 2
# Groups:   base_name [2]
  base_name     n
  <chr>     <int>
1 CL         2586
2 PCCL        146
 ord_num_value                               reference_unit reference_low
 Min.   : 65.0   mmol/L                             :2732   96     :2732
 1st Qu.: 99.0                                      :   0          :   0
 Median :102.0                                      :   0   >60    :   0
 Mean   :101.4   /uL                                :   0   >90    :   0
 3rd Qu.:105.0   %                                  :   0   0      :   0
 Max.   :134.0   % (See scan or EMR data for detail):   0   0.0    :   0
                 (Other)                            :   0   (Other):   0
 reference_high
 109    :2732
        :   0
 <0.055 :   0
 <0.1   :   0
 <0.100 :   0
 <0.4   :   0
 (Other):   0
[1] "Chloride, Ser/Plas"
# A tibble: 1 x 2
# Groups:   base_name [1]
  base_name     n
  <chr>     <int>
1 CL        57676
 ord_num_value                                reference_unit  reference_low
 Min.   : 61.00   mmol/L                             :57676   96     :28688
 1st Qu.: 97.00                                      :    0   98     :21515
 Median :101.00                                      :    0   99     : 7473

In [12]:
# update lab list, cut some labs - from TRIAGE
# OK to include 1 entry Glucose
# be careful with Lactate has 2 basename whole blood and none

# remove Potassium --> 1 entry, 7.4 weird
# remove Platelets --> all NA
# remove base_name of glucose urine --> all NA
# no longer here to remove: remove Basophils --> unit is %
# no longer here to remove: "pH" , "Ketone, urine", "Leukocyte Esterase, urine" # few, and all NA

lab_list <- c("RBC", "MCH", "MCHC", "MCV", "Calcium, Ser/Plas", "CO2, Ser/Plas",
               "Albumin, Ser/Plas", "ALT (SGPT), Ser/Plas", "AST (SGOT), Ser/Plas", "Alk P'TASE, Total, Ser/Plas",
               "Globulin", "Protein, Total, Ser/Plas",
               "Magnesium, Ser/Plas",  "Phosphorus, Ser/Plas", #14 ind
               
               "WBC", "WBC count", # WBC count is 1000*WBC
               "TROPONIN I", "Troponin I, POCT",
               "Total Bilirubin, Ser/Plas", "Total Bilirubin",
               "Platelet count", # remove Platelets
              
               "Hematocrit", "Hct, ISTAT", "Hct(Calc), ISTAT", "Hct (Est)", "HCT, POC", "Hematocrit (Manual Entry) See EMR for details",
               "Hemoglobin", "Hgb(Calc), ISTAT", "Hgb, calculated, POC", "HgB", 
               "Potassium, Ser/Plas", "Potassium, ISTAT",  "Potassium, Whole Bld", "Potassium, whole blood, ePOC", # remove Potassium
               "Sodium, Ser/Plas", "Sodium, ISTAT",  "Sodium, Whole Blood", 
               "Chloride, Ser/Plas",  "Chloride, ISTAT",  "Chloride, Whole Bld",
               "Creatinine, Ser/Plas", "Creatinine,ISTAT", 
              
               "Anion Gap", "Anion Gap, ISTAT",
               "Glucose, Ser/Plas", "Glucose,ISTAT", "Glucose, Whole Blood", "Glucose by Meter", "Glucose, Non-fasting",
               "BUN, Ser/Plas", "BUN, ISTAT", "Urea Nitrogen,Ser/Plas", 'BUN, Arterial', 'BUN, Peripheral', 'BUN, Venous',
               "Neutrophil, Absolute", "NEUT, ABS", "Neut, ABS (Seg+Band) (man diff)", "Neutrophils, Absolute (Manual Diff)", "Neut, ABS (Seg+Band) (man diff)",
               "Basophil, Absolute", "BASOS, ABS", "Basophils, ABS (man diff)", "Baso, ABS (man diff)", # remove Basophils
               "Eosinophil, Absolute", "EOS, ABS", "Eosinophils, ABS (man diff)", "Eos, ABS (man diff)",
               "Lymphocyte, Absolute", "LYM, ABS", "Lymphocytes, ABS (man diff)", "Lym, ABS (man diff)", "Lymphocytes, Abs.",
                  # Lymphocytes, Abs. = 1000* the rest of lymphocytes
               "Monocyte, Absolute", "MONO, ABS", "Monocytes, ABS (man diff)", "Mono, ABS (man diff)",
               "Lactate, ISTAT", "Lactate, Whole Bld", "Lactic Acid",
               "Base Excess, ISTAT", "Base Excess (vt)", "Base Excess Arterial for POC",
              
                "HCO3", "HCO3 (a), ISTAT", "Bicarbonate, Art for POC", 
                "HCO3 (v), ISTAT", "HCO3, ISTAT", 
                "O2 Saturation (a)", "O2 Saturation, ISTAT", "Oxygen Saturation for POC", 
                "O2 Saturation (v)",  "O2 Saturation, ISTAT (Ven)",
                "pCO2 (a)", "pCO2 (a), ISTAT",  "PCO2, ISTAT", "Arterial pCO2 for POC",
                "pCO2 (v)", "PCO2 (v), ISTAT",
                "pH (a)", "PH (a), ISTAT", "pH by Meter", "Arterial pH for POC",
                "pH (v)", "PH (v), ISTAT", "PH, ISTAT", 
                "pO2 (a)", "PO2 (a), ISTAT",  "PO2, ISTAT", "Arterial pO2 for POC",
                "pO2 (v)", "PO2 (v), ISTAT", 
              
                "tCO2", "TCO2 (a), ISTAT","TCO2, ISTAT", "TCO2, (ISTAT)", "CO2 Arterial Total for POC", 
                "TCO2 (v), ISTAT", # 1 individual
                "INR", "INR, ISTAT", 
                "Prothrombin Time", "PT, ISTAT") # 33 more than 1
#               "pH", "Ketone, urine", "Leukocyte Esterase, urine") #"O2 Saturation, ISTAT (Oth)", "ctO2 (a)"
length(lab_list)

[1] 123

In [13]:
colnames(labs0)

 [1] "anon_id"                 "pat_enc_csn_id_coded"
 [3] "inpatient_data_id_coded" "admit_time"
 [5] "label"                   "DBP"
 [7] "Pulse"                   "RR"
 [9] "SBP"                     "Temp"
[11] "order_id_coded"          "lab_name"
[13] "base_name"               "ord_value"
[15] "ord_num_value"           "reference_low"
[17] "reference_high"          "reference_unit"
[19] "result_in_range_yn"      "result_flag"
[21] "result_time_utc"         "order_time_utc"
[23] "taken_time_utc"

In [14]:
# sodium base_name is NA, so might not pick up. either collect is.na(base_name) or specify these lab_names
labs0 %>% filter(str_detect(lab_name, "Sodium")) %>% group_by(lab_name, base_name) %>% count() %>% distinct()

  lab_name                  base_name n
1 Sodium, ISTAT             NA         4127
2 Sodium, Ser/Plas          NA        57803
3 Sodium, Whole Blood       NA          403
4 Sodium, whole blood, ePOC NA           89

In [15]:
# Only need to remove glucose in urine, 1 potassium, 1 platelets, and base_name of urine glucose
# changed labs0 to labs here
removed_lab_names <- c("Platelets", "Potassium")
labs <- labs0 %>% filter(!lab_name %in% removed_lab_names, base_name != "GLUURN" | is.na(base_name)) %>%
                select(-c(taken_time_utc, order_time_utc)) %>%
#             select(anon_id, pat_enc_csn_id_coded, lab_name, base_name, ord_num_value, 
#                    result_flag, order_time_utc, taken_time_utc, result_time_utc) %>%
                rename(features = lab_name, values = ord_num_value, result_time = result_time_utc) %>% 
#             mutate(feature_type = "labs", result_flag = ifelse(result_flag=="",0,1)) %>% 
                drop_na(values) %>% distinct()
nrow(labs)

[1] 1888109

In [16]:
str_sort(setdiff(labs$lab_name, lab_list)) # NONE
str_sort(setdiff(lab_list, labs$features)) # ok
labs %>% filter(features %in% c('TCO2 (v), ISTAT')) # not there (only 1 person from the old dataset)
str_sort(unique(labs$base_name)) # has NA

character(0)

[1] "Magnesium, Ser/Plas"  "MCHC"                 "MCV"
[4] "Phosphorus, Ser/Plas" "RBC"                  "TCO2 (v), ISTAT"

Warning message in cbind(parts$left, ellip_h, parts$right, deparse.level = 0L):
“number of rows of result is not a multiple of vector length (arg 2)”
Warning message in cbind(parts$left, ellip_h, parts$right, deparse.level = 0L):
“number of rows of result is not a multiple of vector length (arg 2)”
Warning message in cbind(parts$left, ellip_h, parts$right, deparse.level = 0L):
“number of rows of result is not a multiple of vector length (arg 2)”
Warning message in cbind(parts$left, ellip_h, parts$right, deparse.level = 0L):
“number of rows of result is not a multiple of vector length (arg 2)”

     anon_id pat_enc_csn_id_coded inpatient_data_id_coded admit_time label DBP
     Pulse RR SBP Temp ⋯ features base_name ord_value values reference_low
     reference_high reference_unit result_in_range_yn result_flag result_time

 [1] "AG"      "AGAP"    "ALB"     "ALKP"    "ALT"     "AST"     "BASOAB"
 [8] "BE"      "BUN"     "CA"      "CL"      "CO2"     "CR"      "EGFR"
[15] "EOSAB"   "GLOB"    "GLU"     "HCO3"    "HCO3A"   "HCO3V"   "HCT"
[22] "HGB"     "INR"     "K"       "LAC"     "LACWBL"  "LYMAB"   "MCH"
[29] "MONOAB"  "NEUTAB"  "NEUTABS" "O2SATA"  "O2SATV"  "PCAGP"   "PCBUN"
[36] "PCCL"    "PCO2A"   "PCO2V"   "PH"      "PHA"     "PHV"     "PLT"
[43] "PO2A"    "PO2V"    "PT"      "RDW"     "TBIL"    "TCO2A"   "TNI"
[50] "TP"      "WBC"     NA

In [17]:
# convert WBC count to WBC unit and Lymphocytes Abs. before combining
labs <- labs %>% mutate(values = ifelse(features == "WBC count", round(values/1000.0, 1), 
                                          ifelse(features == "Lymphocytes, Abs.", round(values/1000.0, 3), values)))

In [18]:
# in range: Y or blank 
labs %>% count(result_in_range_yn) %>% arrange(desc(result_in_range_yn))
# normal as blanks
labs %>% count(result_flag) %>% arrange(desc(n))
head(labs %>% count(values) %>% arrange())
tail(labs %>% count(values) %>% arrange())

  result_in_range_yn n
1 Y                    23070
2                    1865039

  result_flag n
1             1272903
2 High         301293
3 Low          290268
4 High Panic    12137
5 Low Panic     11491
6 Abnormal         17

  values n
1 -31.2   1
2 -30.0   4
3 -29.8   1
4 -29.0  13
5 -28.0  19
6 -27.7   1

     values  n
6811    6307     1
6812    6589     1
6813    6673     1
6814    6729     1
6815    9655     1
6816 9999999 21945

In [19]:
labs %>% group_by(features, base_name) %>% count() %>% distinct()

    features                                      base_name n
1   Albumin, Ser/Plas                             ALB       53253
2   Alk P'TASE, Total, Ser/Plas                   ALKP      53033
3   ALT (SGPT), Ser/Plas                          ALT       52930
4   Anion Gap                                     AG        57613
5   Anion Gap, ISTAT                              AGAP       2524
6   Anion Gap, ISTAT                              PCAGP       146
7   Arterial pCO2 for POC                         PCO2A        13
8   Arterial pH for POC                           PHA          13
9   Arterial pO2 for POC                          PO2A         13
10  AST (SGOT), Ser/Plas                          AST       52879
11  Base Excess (vt)                              BE         1036
12  Base Excess Arterial for POC                  BE           13
13  Base Excess, ISTAT                            BE        27562
14  Baso, ABS (man diff)                          BASOAB       25
15  Basophil, Absolute                            BASOAB    47831
16  Basophils, ABS (man diff)                     BASOAB     1183
17  BASOS, ABS                                    BASOAB     1128
18  Bicarbonate, Art for POC                      HCO3A        13
19  BUN, Arterial                                 BUN           1
20  BUN, ISTAT                                    BUN        2598
21  BUN, ISTAT                                    PCBUN       146
22  BUN, Peripheral                               BUN           1
23  BUN, Ser/Plas                                 BUN       56196
24  BUN, Venous                                   BUN           1
25  Calcium, Ser/Plas                             CA        57845
26  Chloride, ISTAT                               CL         2587
27  Chloride, ISTAT                               PCCL        146
28  Chloride, Ser/Plas                            CL        57692
29  Chloride, Whole Bld                           CL          402
30  CO2 Arterial Total for POC                    TCO2A        13
31  CO2, Ser/Plas                                 CO2       57686
32  Creatinine, Ser/Plas                          CR        57591
33  Creatinine,ISTAT                              CR         3902
34  eGFR                                          EGFR      55778
35  EOS, ABS                                      EOSAB      1128
36  Eos, ABS (man diff)                           EOSAB        37
37  Eosinophil, Absolute                          EOSAB     47831
38  Eosinophils, ABS (man diff)                   EOSAB      1972
39  Globulin                                      GLOB      52572
40  Glucose                                       GLU           1
41  Glucose by Meter                              GLU        8936
42  Glucose, Non-fasting                          GLU          21
43  Glucose, Ser/Plas                             GLU       57661
44  Glucose, Whole Blood                          GLU         409
45  Glucose,ISTAT                                 GLU        4110
46  HCO3                                          HCO3A      1036
47  HCO3 (a), ISTAT                               HCO3A      1404
48  HCO3 (v), ISTAT                               HCO3V     26326
49  HCO3, ISTAT                                   HCO3        117
50  Hct (Est)                                     HCT         402
51  Hct, ISTAT                                    HCT        3969
52  HCT, POC                                      HCT          74
53  Hct(Calc), ISTAT                              HCT         146
54  Hematocrit                                    HCT       58121
55  Hematocrit (Manual Entry) See EMR for details HCT           1
56  Hemoglobin                                    HGB       58118
57  HgB                                           HGB         379
58  Hgb, calculated, POC                          HGB          73
59  Hgb(Calc), ISTAT                              HGB        4078
60  INR                                           INR       25274
61  INR, ISTAT                                    INR        1432
62  Lactate, ISTAT                                LAC       27495
63  Lactate, Whole Bld                            LACWBL     1911
64  Lactic Acid                                   LAC        2350
65  LYM, ABS                                      LYMAB      1128
66  Lym, ABS (man diff)                           LYMAB        82
67  Lymphocyte, Absolute                          LYMAB     47832
68  Lymphocytes, ABS (man diff)                   LYMAB      4567
69  Lymphocytes, Abs.                             LYMAB         9
70  MCH                                           MCH       57962
71  MONO, ABS                                     MONOAB     1128
72  Mono, ABS (man diff)                          MONOAB       80
73  Monocyte, Absolute                            MONOAB    47831
74  Monocytes, ABS (man diff)                     MONOAB     4411
75  NEUT, ABS                                     NEUTAB     1128
76  Neut, ABS (man diff)                          NEUTAB       81
77  Neut, ABS (Seg+Band) (man diff)               NEUTAB     2291
78  Neut, ABS (Seg+Band) (man diff)               NEUTABS    2177
79  Neutrophil, Absolute                          NEUTAB    47854
80  Neutrophils, Absolute (Manual Diff)           NEUTAB      182
81  O2 Saturation (a)                             O2SATA      396
82  O2 Saturation (v)                             O2SATV      605
83  O2 Saturation, ISTAT                          O2SATA     1400
84  O2 Saturation, ISTAT (Ven)                    O2SATV    26275
85  Oxygen Saturation for POC                     O2SATA       13
86  pCO2 (a)                                      PCO2A       417
87  pCO2 (a), ISTAT                               PCO2A      1405
88  pCO2 (v)                                      PCO2V       619
89  PCO2 (v), ISTAT                               PCO2V     26353
90  PCO2, ISTAT                                   PCO2A       117
91  pH (a)                                        PHA         417
92  PH (a), ISTAT                                 PHA        1405
93  pH (v)                                        PHV         619
94  PH (v), ISTAT                                 PHV       26351
95  pH by Meter                                   PHA          34
96  PH, ISTAT                                     PH          118
97  Platelet count                                PLT       58203
98  pO2 (a)                                       PO2A        417
99  PO2 (a), ISTAT                                PO2A       1409
100 pO2 (v)                                       PO2V        617
101 PO2 (v), ISTAT                                PO2V      26378
102 PO2, ISTAT                                    PO2A        117
103 Potassium, ISTAT                              K          4114
104 Potassium, Ser/Plas                           K         57861
105 Potassium, Whole Bld                          K           413
106 Potassium, whole blood, ePOC                  K           106
107 Protein, Total, Ser/Plas                      TP        53109
108 Prothrombin Time                              PT        25274
109 PT, ISTAT                                     PT         1395
110 RDW                                           RDW       57965
111 Sodium, ISTAT                                 NA         4123
112 Sodium, Ser/Plas                              NA        57789
113 Sodium, Whole Blood                           NA          401
114 Sodium, whole blood, ePOC                     NA           89
115 tCO2                                          TCO2A      1036
116 TCO2 (a), ISTAT                               TCO2A      3938
117 TCO2, (ISTAT)                                 TCO2A        85
118 TCO2, ISTAT                                   TCO2A       232
119 Total Bilirubin                               TBIL       1195
120 Total Bilirubin, Ser/Plas                     TBIL      52229
121 TROPONIN I                                    TNI       17467
122 Troponin I, POCT                              TNI        6124
123 Urea Nitrogen,Ser/Plas                        BUN        1472
124 WBC                                           WBC       58078
125 WBC count                                     WBC           9

In [20]:
###str_sort(unique(labs$features))

In [21]:


# ISTAT seems all A, so put pH in A
# combine same labs and change the lab name in the data
# could use base_name except for LACTATE has 2 different base_names
# Glucose lab_name as base_name as GLU and UGLU. exclude glucose here, only 1 entry anyways
# New: Glucose, Sodium ePOC, 'Neut, ABS (man diff)' and ALB - RDW

ALB = 'Albumin, Ser/Plas'
ALK = 'Alk P\'TASE, Total, Ser/Plas'
ALT = 'ALT (SGPT), Ser/Plas'
AST = 'AST (SGOT), Ser/Plas'

Ca = 'Calcium, Ser/Plas'
CO2 = 'CO2, Ser/Plas'
eGFR = 'eGFR' # as char
Glob = 'Globulin'

MCH = 'MCH' # as char
TProtein = 'Protein, Total, Ser/Plas'
RDW = 'RDW' # as char

Platelet = c("Platelet count") # remove platelets 
TBili = c("Total Bilirubin", "Total Bilirubin, Ser/Plas")
Trop = c("TROPONIN I", "Troponin I, POCT")
WBC = c("WBC", "WBC count") # WBC count /1000 7

Hct = c("Hct (Est)", "Hct, ISTAT", "HCT, POC", "Hct(Calc), ISTAT", "Hematocrit",    
        "Hematocrit (Manual Entry) See EMR for details")
Hgb = c("Hemoglobin", "HgB", "Hgb, calculated, POC", "Hgb(Calc), ISTAT")
K = c("Potassium, ISTAT",  "Potassium, Ser/Plas", "Potassium, Whole Bld", "Potassium, whole blood, ePOC") # remove Potassium
Na = c("Sodium, ISTAT",  "Sodium, Ser/Plas", "Sodium, Whole Blood", 'Sodium, whole blood, ePOC') # ePOC is new
Cl = c("Chloride, ISTAT",  "Chloride, Ser/Plas",  "Chloride, Whole Bld")
Cr = c("Creatinine, Ser/Plas", "Creatinine,ISTAT") #22

AnionGap = c("Anion Gap", "Anion Gap, ISTAT") 
Glucose = c('Glucose', "Glucose by Meter", "Glucose, Non-fasting", "Glucose, Ser/Plas", "Glucose, Whole Blood", "Glucose,ISTAT")
BUN = c("BUN, Ser/Plas", "BUN, ISTAT", "Urea Nitrogen,Ser/Plas", 'BUN, Arterial', 'BUN, Peripheral', 'BUN, Venous') #10
Neut = c("NEUT, ABS", 'Neut, ABS (man diff)', "Neut, ABS (Seg+Band) (man diff)", "Neutrophil, Absolute",  "Neutrophils, Absolute (Manual Diff)")
Basos = c("Basophils, ABS (man diff)", "Basophil, Absolute", "Baso, ABS (man diff)", "BASOS, ABS")
Eos = c("EOS, ABS", "Eosinophils, ABS (man diff)", "Eosinophil, Absolute", "Eos, ABS (man diff)")
Lymp = c("LYM, ABS", "Lymphocytes, ABS (man diff)", "Lymphocyte, Absolute", "Lym, ABS (man diff)", "Lymphocytes, Abs.")
Mono = c("MONO, ABS", "Monocytes, ABS (man diff)", "Monocyte, Absolute", "Mono, ABS (man diff)")
Lactate = c("Lactate, ISTAT", "Lactate, Whole Bld", "Lactic Acid")
Base = c("Base Excess (vt)", "Base Excess Arterial for POC", "Base Excess, ISTAT") #28

HCO3_a = c("HCO3", "HCO3 (a), ISTAT", "Bicarbonate, Art for POC") # HCO3 is A based on base name
HCO3_v = c("HCO3 (v), ISTAT", "HCO3, ISTAT") 
O2sat_a = c("O2 Saturation (a)", "O2 Saturation, ISTAT", "Oxygen Saturation for POC")
O2sat_v = c("O2 Saturation (v)",  "O2 Saturation, ISTAT (Ven)")
pCO2_a = c("pCO2 (a)", "pCO2 (a), ISTAT",  "PCO2, ISTAT", "Arterial pCO2 for POC")
pCO2_v = c("pCO2 (v)", "PCO2 (v), ISTAT") 
pH_a = c("pH (a)", "PH (a), ISTAT", "pH by Meter", "Arterial pH for POC", "PH, ISTAT")
pH_v = c ("pH (v)", "PH (v), ISTAT") # new: move "PH, ISTAT" to arterial
PO2_a = c("pO2 (a)", "PO2 (a), ISTAT",  "PO2, ISTAT", "Arterial pO2 for POC")
PO2_v = c ("pO2 (v)", "PO2 (v), ISTAT") #29

TCO2_a = c("tCO2", "TCO2 (a), ISTAT", "TCO2, (ISTAT)", "TCO2, ISTAT", "CO2 Arterial Total for POC")
INR = c("INR", "INR, ISTAT")
PT = c("Prothrombin Time", "PT, ISTAT") #9

labs <- labs %>% 
        mutate(features = 
            ifelse(features %in% Platelet, "Platelet", ifelse(features %in% TBili, "TBili", 
            ifelse(features %in% Trop, "Trop", ifelse(features %in% WBC, "WBC",
            ifelse(features %in% Hct, "Hct", ifelse(features %in% Hgb, "Hgb", 
            ifelse(features %in% K, "K", ifelse(features %in% Na, "Na",
            ifelse(features %in% Cl, "Cl", ifelse(features %in% Cr, "Cr",
            ifelse(features %in% AnionGap, "AnionGap", ifelse(features %in% Glucose, "Glucose",
            ifelse(features %in% BUN, "BUN", ifelse(features %in% Neut, "Neut",    
            ifelse(features %in% Basos, "Basos", ifelse(features %in% Eos, "Eos",      
            ifelse(features %in% Lymp, "Lymp", ifelse(features %in% Mono, "Mono",    
            ifelse(features %in% Lactate, "Lactate",  ifelse(features %in% Base, "Base", 
            ifelse(features %in% HCO3_a, "HCO3_a", ifelse(features %in% HCO3_v, "HCO3_v", 
            ifelse(features %in% O2sat_a, "O2sat_a", ifelse(features %in% O2sat_v, "O2sat_v",
            ifelse(features %in% pCO2_a, "pCO2_a", ifelse(features %in% pCO2_v, "pCO2_v",
            ifelse(features %in% pH_a, "pH_a", ifelse(features %in% pH_v, "pH_v",      
            ifelse(features %in% PO2_a, "PO2_a", ifelse(features %in% PO2_v, "PO2_v",
            ifelse(features %in% TCO2_a, "TCO2_a", ifelse(features %in% INR, "INR",
            ifelse(features %in% PT, "PT", ifelse(features %in% ALB, "ALB",
            ifelse(features %in% ALK, "ALK", ifelse(features %in% ALT, "ALT",
            ifelse(features %in% AST, "AST", ifelse(features %in% TProtein, "TProtein",                                     
            ifelse(features %in% Ca, "Ca", ifelse(features %in% CO2, "CO2",                                        
            ifelse(features %in% Glob, "Glob", as.character(features))))))))))))))))))))))))))))))))))))))))))) %>%
        distinct()

In [22]:
nrow(labs) # 1367892 vs 1367838
# total 48 lab_name but 56 base_name
nrow(labs %>% select(anon_id, pat_enc_csn_id_coded) %>% distinct()) #41627
# labs %>% select(base_name, features) %>% distinct() %>% arrange(features, base_name) 
labs %>% group_by(features, base_name) %>% count(sort=TRUE) %>% arrange(features, base_name)

[1] 1888109

[1] 57831

   features base_name n
1  ALB      ALB       53253
2  ALK      ALKP      53033
3  ALT      ALT       52930
4  AnionGap AG        57613
5  AnionGap AGAP       2524
6  AnionGap PCAGP       146
7  AST      AST       52879
8  Base     BE        28611
9  Basos    BASOAB    50167
10 BUN      BUN       60269
11 BUN      PCBUN       146
12 Ca       CA        57845
13 Cl       CL        60681
14 Cl       PCCL        146
15 CO2      CO2       57686
16 Cr       CR        61493
17 eGFR     EGFR      55778
18 Eos      EOSAB     50968
19 Glob     GLOB      52572
20 Glucose  GLU       71138
21 HCO3_a   HCO3A      2453
22 HCO3_v   HCO3        117
23 HCO3_v   HCO3V     26326
24 Hct      HCT       62713
25 Hgb      HGB       62648
26 INR      INR       26706
27 K        K         62494
28 Lactate  LAC       29845
29 Lactate  LACWBL     1911
30 Lymp     LYMAB     53618
31 MCH      MCH       57962
32 Mono     MONOAB    53450
33 Na       NA        62402
34 Neut     NEUTAB    51536
35 Neut     NEUTABS    2177
36 O2sat_a  O2SATA     1809
37 O2sat_v  O2SATV    26880
38 pCO2_a   PCO2A      1952
39 pCO2_v   PCO2V     26972
40 pH_a     PH          118
41 pH_a     PHA        1869
42 pH_v     PHV       26970
43 Platelet PLT       58203
44 PO2_a    PO2A       1956
45 PO2_v    PO2V      26995
46 PT       PT        26669
47 RDW      RDW       57965
48 TBili    TBIL      53424
49 TCO2_a   TCO2A      5304
50 TProtein TP        53109
51 Trop     TNI       23591
52 WBC      WBC       58087

### Process the 9999999 values
- check ord_value

In [23]:
# there are no NA, but only 15668 of 9999999 values
value99 <- labs %>% filter(values==9999999) 
nrow(value99)
value99 %>% group_by(ord_value) %>% count() %>% arrange(-n)

[1] 21945

   ord_value                                    n
1  <0.017                                       9051
2  >60                                          5339
3  >90                                          2197
4  <0.1                                         1556
5  <0.2                                          830
6  <10                                           550
7  N/A                                           430
8  <0.30                                         318
9  >500                                          309
10 <5                                            256
11 <2                                            145
12 <15                                           129
13 >600                                           94
14 >700                                           82
15 <2.0                                           67
16 <30.0                                          53
17 >8.0                                           41
18 <3                                             39
19 <1.0                                           36
20 >150                                           36
21 <0.9                                           35
22 >130.0                                         28
23 >30                                            25
24 >140                                           24
25 >45                                            21
26 >50                                            21
27 >9.0                                           21
28 <20                                            17
29 <-30                                           16
30 >20.00                                         15
31 >120                                           10
32 >3500                                          10
33 >300.0                                          9
34 >60.0                                           9
35 <5.0                                            8
36 <60                                             8
37 >15.0                                           8
38 >10.0                                           7
39 >20.0                                           7
40 >40.000                                         7
41 >46                                             7
42 >120.0                                          6
43 <0.06                                           5
44 <1                                              5
45 >50.00                                          5
46 >12.0                                           4
47 >180                                            4
48 CANCELLED: Specimen Clotted.                    4
49 <0.01                                           3
50 <1.5                                            3
51 >110.0                                          3
52 >40.0                                           3
53 <0.02                                           2
54 <0.10                                           2
55 <0.100                                          2
56 <100                                            2
57 >17.6                                           2
58 >170                                            2
59 >18.3                                           2
60 >36.0                                           2
61 <0.00                                           1
62 <0.07                                           1
63 <0.08                                           1
64 <10.0                                           1
65 <65                                             1
66 >17.3                                           1
67 >18.1                                           1
68 >22.0                                           1
69 >50.0                                           1
70 >7000                                           1
71 CANCELLED:  Note:                               1
72 CANCELLED: Inappropriate Specimen/Container.    1
73 hi                                              1

In [24]:
value99 %>% filter(ord_value %in% c("N/A", "hi") | str_detect(ord_value, 'CANCELLED')) %>% count(ord_value, sort=TRUE)
value99 %>% filter(!grepl('>|<', ord_value)) %>% count(ord_value, sort=TRUE)

value99 %>% filter(ord_value %in% c("N/A", "hi") | str_detect(ord_value, 'CANCELLED')) %>% count(features, sort=TRUE)

  ord_value                                    n
1 N/A                                          430
2 CANCELLED: Specimen Clotted.                   4
3 CANCELLED:  Note:                              1
4 CANCELLED: Inappropriate Specimen/Container.   1
5 hi                                             1

  ord_value                                    n
1 N/A                                          430
2 CANCELLED: Specimen Clotted.                   4
3 CANCELLED:  Note:                              1
4 CANCELLED: Inappropriate Specimen/Container.   1
5 hi                                             1

   features n
1  Basos    26
2  Eos      26
3  Lymp     26
4  Mono     26
5  Neut     26
6  Platelet 26
7  Base     21
8  MCH      21
9  Hgb      20
10 RDW      20
11 Hct      18
12 WBC      18
13 ALT      14
14 AnionGap 14
15 AST      12
16 INR      12
17 PT       12
18 Lactate   9
19 ALK       8
20 ALB       6
21 BUN       6
22 Ca        6
23 CO2       6
24 Cr        6
25 Glob      6
26 Glucose   6
27 Cl        5
28 Na        5
29 TBili     5
30 TProtein  5
31 K         4
32 O2sat_v   3
33 PO2_a     3
34 Trop      3
35 PO2_v     2
36 HCO3_v    1
37 O2sat_a   1
38 pCO2_v    1
39 pH_v      1
40 TCO2_a    1

In [25]:
# number of cancelled, NA, or 1 hi observations under ord_value
nrow(labs %>% filter(values==9999999, !grepl('>|<', ord_value)) %>% mutate(ord_value = factor(ord_value))) # %>% group_by(ord_value) %>% count() %>% arrange(-n)

[1] 437

In [26]:
# revmove those without > or < in ord_value (416), work with this set and then do it on the main labs
# take the upper/lower bounds for the 9999999 values and add 1% to it
value99 <- value99 %>% filter(grepl('>|<', ord_value)) %>% #mutate(ord_value = as.character(ord_value)) %>%
            mutate(values = 1.01 * as.double(gsub(paste(c(">", "<"), collapse = "|"),"", ord_value))) #%>%
#             drop_na(values) # %>% distinct() # same

nrow(value99) # 21508
summary(value99$values)

[1] 21508

    Min.  1st Qu.   Median     Mean  3rd Qu.     Max.
 -30.300    0.017    0.202   40.603   60.600 7070.000

In [27]:
head(value99)

  anon_id   pat_enc_csn_id_coded inpatient_data_id_coded
1 JC514732  131245301962         33736992
2 JC628815  131072949142         19611085
3 JC1839951 131090282451         20778663
4 JC577879  131102861750         21400034
5 JC549970  131197131993         26495482
6 JC1767031 131179885980         24058527
  admit_time                label DBP Pulse RR SBP Temp  ⋯ features base_name
1 2018-02-08 23:26:00+00:00 1     57   86   26 128 35.85 ⋯ TCO2_a   TCO2A
2 2015-03-15 05:41:00+00:00 1     79  131   34 137 36.00 ⋯ TCO2_a   TCO2A
3 2015-06-14 22:51:00+00:00 0     46   43   18  96 37.00 ⋯ TCO2_a   TCO2A
4 2015-07-24 18:21:00+00:00 1     46  102   18  80 33.80 ⋯ Lactate  LACWBL
5 2016-09-13 03:20:00+00:00 1     58  119   26 130 37.80 ⋯ TCO2_a   TCO2A
6 2016-03-15 04:39:00+00:00 1     89   92   22 138 36.80 ⋯ TCO2_a   TCO2A
  ord_value values reference_low reference_high reference_unit
1 <5         5.05  23            27             mmol/L
2 <5         5.05  23            27             mmol/L
3 <5         5.05  23            27             mmol/L
4 >15.0     15.15                <2.0           mmol/L
5 >50       50.50  23            27             mmol/L
6 >50       50.50  23            27             mmol/L
  result_in_range_yn result_flag result_time
1                    Low Panic   2018-02-08 23:11:00+00:00
2                    Low Panic   2015-03-15 05:17:00+00:00
3                    Low Panic   2015-06-13 23:49:00+00:00
4                    High        2015-07-24 18:11:00+00:00
5                    High Panic  2016-09-13 02:55:00+00:00
6                    High Panic  2016-03-15 03:03:00+00:00

In [28]:
# remove only the observations (where values = 999999 and do not have < or > in ord_value) from processed labs
# could do 1.01 or 0.99 but more complicated
grepl('>|<', ">60")
labs99 <- labs %>% filter(!(values==9999999 & !grepl('>|<', ord_value))) %>%
            mutate(values = as.double(gsub(paste(c(">", "<"), collapse = "|"),"", ord_value)),
                   feature_type = "labs") 
nrow(labs) - nrow(labs99) # 437
nrow(labs99) # 1887672
summary(labs99$values)
colnames(labs99)

[1] TRUE

[1] 437

[1] 1887672

    Min.  1st Qu.   Median     Mean  3rd Qu.     Max.
  -31.20     3.40    12.80    39.16    38.20 11900.00

 [1] "anon_id"                 "pat_enc_csn_id_coded"
 [3] "inpatient_data_id_coded" "admit_time"
 [5] "label"                   "DBP"
 [7] "Pulse"                   "RR"
 [9] "SBP"                     "Temp"
[11] "order_id_coded"          "features"
[13] "base_name"               "ord_value"
[15] "values"                  "reference_low"
[17] "reference_high"          "reference_unit"
[19] "result_in_range_yn"      "result_flag"
[21] "result_time"             "feature_type"

In [29]:
labs99 <- labs99 %>% select(-c('DBP','Pulse','RR','SBP','Temp', 'order_id_coded'))
colnames(labs99)

 [1] "anon_id"                 "pat_enc_csn_id_coded"
 [3] "inpatient_data_id_coded" "admit_time"
 [5] "label"                   "features"
 [7] "base_name"               "ord_value"
 [9] "values"                  "reference_low"
[11] "reference_high"          "reference_unit"
[13] "result_in_range_yn"      "result_flag"
[15] "result_time"             "feature_type"

In [30]:
# not 9999999 and do not have > < from processed labs
write.csv(labs99, file.path(outdir, "6_coh3_labs.csv"), row.names=FALSE)

### Keep this cohort information:

In [31]:
cohort_with_labs <- labs99 %>% select(anon_id, pat_enc_csn_id_coded, inpatient_data_id_coded, admit_time, label) %>% distinct()
nrow(cohort_with_labs) # 57831

cohort_with_labs %>% group_by(label) %>% summarise(count = n(), percent = round(100*count/nrow(cohort_with_labs),2))

[1] 57831

  label count percent
1 0     49816 86.14
2 1      8015 13.86

In [32]:
write.csv(cohort_with_labs, file.path(outdir, "6_cohort3_withlabs.csv"), row.names=FALSE)