# Personel Count

Counting the number of personel on the treatment team prior to admit.

In [1]:
import pandas as pd
import numpy as np
from datetime import datetime
from datetime import timedelta
import matplotlib.pyplot as plt
import seaborn as sns
from scipy import stats

Queried BQ to get the treatment team for each CSN prior to admit time using the following code:

select distinct anon_id, team.pat_enc_csn_id_coded, name, prov_map_id, team.trtmnt_tm_begin_dt_jittered_utc
    from `som-nero-phi-jonc101.shc_core_2021.treatment_team` as team
    left join 
    (select distinct pat_enc_csn_id_coded, admit_time
       from `som-nero-phi-jonc101.triageTD.7_cohort4_3hr_labels_noOR`
    ) as cohort
    on team.pat_enc_csn_id_coded = cohort.pat_enc_csn_id_coded
    where trtmnt_tm_begin_dt_jittered_utc < admit_time

In [4]:
# read in the file

datadir = "../../DataTD/shc2021"

personel_file = "{}/7_cohort4_3hr_noOR_personel.csv".format(datadir)

personel = pd.read_csv(personel_file)

In [6]:
print(personel.pat_enc_csn_id_coded.nunique()) # missing some csns from our cohort - about 400

personel.head()

52165

,anon_id,pat_enc_csn_id_coded,name,prov_map_id,trtmnt_tm_begin_dt_jittered_utc
0,JC2468368,131272840102,Medical Student,SS0304861,2019-06-27 00:47:00 UTC
1,JC518811,131304771841,Medical Student,SS0288219,2021-02-02 00:38:00 UTC
2,JC2495027,131313718819,Medical Student,SS0291810,2021-06-06 19:08:00 UTC
3,JC2005143,131305074284,Resident,S25750,2021-03-12 03:19:00 UTC
4,JC2905250,131313318544,Resident,SS0329473,2021-06-24 20:39:00 UTC

In [7]:
# get distinct personel for each csn
distinct_personel = personel[['pat_enc_csn_id_coded', 'prov_map_id']].drop_duplicates()

print(personel.shape)
print(distinct_personel.shape) # there were many dupliate personel

(202155, 5)
(196310, 2)

In [9]:
# count the number of distinct personel for each csn
counts = distinct_personel.groupby(['pat_enc_csn_id_coded']).size().reset_index(name='personel_count')
counts.head()

   pat_enc_csn_id_coded  personel_count
0          131062572931               4
1          131062745090               7
2          131062927111               9
3          131063006922               4
4          131063022232               5

In [10]:
# save this file
savefile = "../../OutputTD/shc2021/XX_personel_count.csv"
counts.to_csv(savefile, index=False)