## Descriptions:
- Query other tables on shc to see if we can get any worthy information not included in prediction
- Some bigger queries cannot be done in this notebook. use separate SQL file in python instead
- Check the characteristics of the `diff4` cohort (predicted probability difference >= 0.4), compared to the full cohort

**Inputs**:  
- `1_4_cohort_diff_...`
- `1_4_cohort_all_current_dx`
    
**Outputs**: (did not save anything here)

install.packages('bigrquery')
# Installing package into 'C:/Users/User/Documents/R/win-library/4.0'
# (as 'lib' is unspecified)
# The downloaded binary packages are in
# 	C:\Users\User\AppData\Local\Temp\RtmpaumGcc\downloaded_packages

### Importing R libraries

In [1]:
library(bigrquery)  # to query STARR-OMOP (stored in BigQuery) using SQL
library(tidyverse)
library(lubridate)

# options(repr.matrix.max.rows=250, repr.matrix.max.cols=30)

Warning message:
"package 'bigrquery' was built under R version 4.0.5"
-- Attaching packages --------------------------------------- tidyverse 1.3.0 --

v ggplot2 3.3.5     v purrr   0.3.4
v tibble  3.0.4     v dplyr   1.0.2
v tidyr   1.1.2     v stringr 1.4.0
v readr   1.4.0     v forcats 0.5.0

Warning message:
"package 'ggplot2' was built under R version 4.0.5"
-- Conflicts ------------------------------------------ tidyverse_conflicts() --
x dplyr::filter() masks stats::filter()
x dplyr::lag()    masks stats::lag()


Attaching package: 'lubridate'


The following objects are masked from 'package:base':

    date, intersect, setdiff, union

### Set up and run queries

In [17]:
# CREDENTIALS depending on LOCATIONS:
# credential <- paste0("/home/", "minh084", "/.config/gcloud/application_default_credentials.json")

# local computer
# credential <- "C:/Users/User/AppData/Roaming/gcloud/application_default_credentials.json"

# Nero onprem
# credential <- "/home/minh084/.config/gcloud/application_default_credentials.json"

# Nero gcp notebook
credential <- "/home/jupyter/.config/gcloud/application_default_credentials.json"

project_id <- "som-nero-phi-jonc101"

Sys.setenv(GOOGLE_APPLICATION_CREDENTIALS = credential)
Sys.setenv(GCLOUD_PROJECT = project_id)
gargle::credentials_app_default()

NULL

In [18]:
library(DBI)
con <- dbConnect(
  bigrquery::bigquery(),
  project = project_id,
  dataset = "shc_core" #, billing = project_id
)
con 
dbListTables(con)

<BigQueryConnection>
  Dataset: som-nero-phi-jonc101.shc_core
  Billing: som-nero-phi-jonc101

 [1] "adt"                 "allergy"             "culture_sensitivity"
 [4] "demographic"         "dep_map"             "diagnosis_code"
 [7] "drg_code"            "encounter"           "family_hx"
[10] "flowsheet"           "lab_result"          "lda"
[13] "mapped_meds"         "mar"                 "med_orderset"
[16] "ndc_code"            "order_med"           "order_proc"
[19] "order_quest"         "proc_note"           "proc_orderset"
[22] "procedure_code"      "prov_map"            "social_hx"
[25] "treatment_team"

### ADT, Demographic, and Diagnosis tables

In [19]:
q = "
SELECT c.anon_id, c.pat_enc_csn_id_coded, c.admit_time, c.first_label, c.death_24hr_recent_label,
        c.death_24hr_max_label, c.pred_first, c.pred_death_24hr_recent,
    adt.event_type_c, adt.event_type, adt.pat_class_c, adt.pat_class, adt.base_pat_class_c, adt.base_pat_class,
    adt.pat_service_c, adt.pat_service, adt.pat_lvl_of_care_c, adt.pat_lv_of_care, adt.accommodation_c, adt.accomodation, 
    adt.in_event_type_c, adt.in_event_type, adt.out_event_type_c, adt.out_event_type, adt.from_base_class_c, adt.from_base_class,
    adt.to_base_class_c, adt.to_base_class, adt.seq_num_in_enc, adt.seq_num_in_bed_min
FROM 
    `som-nero-phi-jonc101.triageTD.1_4_cohort_diff_full_features` as c
JOIN 
    `som-nero-phi-jonc101.shc_core.adt` as adt
ON 
    (c.anon_id = adt.anon_id and c.pat_enc_csn_id_coded = adt.pat_enc_csn_id_coded)
"
# submit the query:
update.packages('Rcpp')
df <- dbGetQuery(con, q)
dim(df)
colnames(df)

Warning message in as.integer.integer64(x):
“NAs produced by integer overflow”

[1] 1437248      30

 [1] "anon_id"                 "pat_enc_csn_id_coded"
 [3] "admit_time"              "first_label"
 [5] "death_24hr_recent_label" "death_24hr_max_label"
 [7] "pred_first"              "pred_death_24hr_recent"
 [9] "event_type_c"            "event_type"
[11] "pat_class_c"             "pat_class"
[13] "base_pat_class_c"        "base_pat_class"
[15] "pat_service_c"           "pat_service"
[17] "pat_lvl_of_care_c"       "pat_lv_of_care"
[19] "accommodation_c"         "accomodation"
[21] "in_event_type_c"         "in_event_type"
[23] "out_event_type_c"        "out_event_type"
[25] "from_base_class_c"       "from_base_class"
[27] "to_base_class_c"         "to_base_class"
[29] "seq_num_in_enc"          "seq_num_in_bed_min"

write.csv(df, file.path(tabledir, "4_2_diff_adt.csv"), row.names=FALSE)

In [21]:
q = "
SELECT c.anon_id, c.pat_enc_csn_id_coded, 
    x.INTRPTR_NEEDED_YN, x.CHARLSON_SCORE, x.N_HOSPITALIZATIONS, x.DAYS_IN_HOSPITAL
FROM 
    `som-nero-phi-jonc101.triageTD.1_4_cohort_diff_full_features` as c
JOIN 
    `som-nero-phi-jonc101.shc_core.demographic` as x
ON 
    (c.anon_id = x.anon_id)
"
# submit the query:
update.packages('Rcpp')
x1 <- dbGetQuery(con, q)
dim(x1)
colnames(x1)

Warning message in as.integer.integer64(x):
“NAs produced by integer overflow”

[1] 71107     6

[1] "anon_id"              "pat_enc_csn_id_coded" "INTRPTR_NEEDED_YN"
[4] "CHARLSON_SCORE"       "N_HOSPITALIZATIONS"   "DAYS_IN_HOSPITAL"

write.csv(x1, file.path(tabledir, "4_2_diff_demographic.csv"), row.names=FALSE)

In [11]:
# this doesn't seem right, redo with a separate SQL file as it is too large to be in R notebook
q = "
SELECT distinct c.anon_id, c.pat_enc_csn_id_coded, 
    x.line, x.dx_name, x.primary, x.chronic, x.principal, x.hospital_pl, x.ed, x.present_on_adm
FROM 
    `som-nero-phi-jonc101.triageTD.1_4_cohort_24hrpreadmit_diff_full_features` as c
JOIN 
    `som-nero-phi-jonc101.shc_core.diagnosis_code` as x
ON 
    (c.anon_id = x.anon_id and c.pat_enc_csn_id_coded = x.pat_enc_csn_id_jittered)
"
# submit the query:
update.packages('Rcpp')
x2 <- dbGetQuery(con, q)
dim(x2)
colnames(x2)

Warning message in as.integer.integer64(x):
“NAs produced by integer overflow”

[1] 8922   10

 [1] "anon_id"              "pat_enc_csn_id_coded" "line"
 [4] "dx_name"              "primary"              "chronic"
 [7] "principal"            "hospital_pl"          "ed"
[10] "present_on_adm"

In [12]:
head(x2)

  anon_id  pat_enc_csn_id_coded line
1 JCe5f7b6 NA                    1
2 JCdc571d NA                    6
3 JCe35ee6 NA                   11
4 JCd1f333 NA                    3
5 JCe09f7a NA                    1
6 JCe439dd NA                    7
  dx_name
1 Hyponatremia
2 Cough
3 Dementia without behavioral disturbance, unspecified dementia type (CMS-HCC)
4 Diabetic ketoacidosis without coma associated with type 1 diabetes mellitus (CMS-HCC)
5 Vomiting, unspecified
6 Bipolar 1 disorder (CMS-HCC)
  primary chronic principal hospital_pl ed present_on_adm
1 Y       N       NA        NA          Y  NA
2 N       N       NA        NA          N  NA
3 N       Y       NA        NA          N  NA
4 N       N       NA        NA          N  NA
5 NA      NA      NA        NA          NA NA
6 N       N       NA        NA          N  NA

# this doesn't seem right, redo with a separate SQL file as it is too large to be in R notebook
q = "
SELECT distinct c.anon_id, c.pat_enc_csn_id_coded, 
    x.line, x.dx_name, x.primary, x.chronic, x.principal, x.hospital_pl, x.ed, x.present_on_adm
FROM 
    `som-nero-phi-jonc101.triageTD.1_4_cohort_diff_full_features` as c
JOIN 
    `som-nero-phi-jonc101.shc_core.diagnosis_code` as x
ON 
    (c.anon_id = x.anon_id and c.pat_enc_csn_id_coded = x.pat_enc_csn_id_jittered)

WHERE (x.primary = 'Y')
"
# submit the query:
update.packages('Rcpp')
x2 <- dbGetQuery(con, q)
dim(x2)
colnames(x2)

In [2]:
# directories
datadir = "../../DataTD"
cohortdir = "../../OutputTD/1_cohort"
featuredir = "../../OutputTD/2_features"
modeldir4 = "../../OutputTD/3_models/1_4_cohort"
# modeldir4preadmit = "../../OutputTD/3_models/1_4_cohort_24hrpreadmit"
tabledir = "../../OutputTD/4_tables"

options(repr.matrix.max.rows=200, repr.matrix.max.cols=30)

In [3]:
cohort <- read.csv(file.path(modeldir4, "1_4_cohort_diff_full_features.csv")) %>% distinct()

nrow(cohort) # 71589 vs 69334
nrow(cohort %>% distinct())
nrow(cohort %>% select(anon_id) %>% distinct()) # 301
nrow(cohort %>% select(pat_enc_csn_id_coded) %>% distinct()) # 323

# count anon_id and csn, count unique in each group, but possible to have same ids in different groups
cohort %>%  distinct() %>% group_by(abs_diff0_24) %>% 
            summarise(nrows = n(), count_csn = n_distinct(pat_enc_csn_id_coded), count_mrn = n_distinct(anon_id)) %>% 
            arrange(-abs_diff0_24) %>% mutate(cum_csn = cumsum(count_csn), cum_mrn = cumsum(count_mrn))

[1] 71586

[1] 71586

[1] 301

[1] 323

`summarise()` ungrouping output (override with `.groups` argument)

  abs_diff0_24 nrows count_csn count_mrn cum_csn cum_mrn
1 0.7            560   3         3         3       3
2 0.6           1042   7         7        10      10
3 0.5           6559  27        24        37      34
4 0.4          19690  80        77       117     111
5 0.3          43735 206       204       323     315

# get the top IDs difference more than 0.4 and save them, file given to Morteza, later on added a few more
diff4pre <- read.csv(file.path(modeldir4preadmit, "1_4_cohort_diff_full_features.csv")) 
diff4pre <- diff4 %>% filter(abs_diff0_24 >=0.4) %>% distinct(anon_id)
nrow(diff4pre) #107

diff4 <- cohort %>% filter(abs_diff0_24 >=0.4) %>% distinct(anon_id)
nrow(diff4) #100

both04 <- full_join(diff4, diff4pre)
nrow(both04) # 135
 
inter04 <- inner_join(diff4, diff4pre)
nrow(inter04) #72

write.csv(both04, file.path(datadir, "4_2_diffIDs.csv"), row.names=FALSE)

# when redo using 1_4_cohort from modeldir4
write.csv(both04, file.path(datadir, "4_2_diffIDs_117.csv"), row.names=FALSE)

In [4]:
head(cohort, 1)
colnames(cohort)

  anon_id  pat_enc_csn_id_coded admit_time          first_label
1 JCcd3b9d 131267453587         2019-04-06 23:15:00 1
  death_24hr_recent_label death_24hr_max_label pred_first
1 1                       1                    0.5339708
  pred_death_24hr_recent abs_diff0_24 diff0_True diff24_True feature_type
1 0.2470261              0.3          -0.47      -0.75       Procedures
  features                                       values time hr_before_admit
1 LIMITED ULTRASOUND- CARDIAC TRANSTHORACIC ECHO 1      NA   NA

 [1] "anon_id"                 "pat_enc_csn_id_coded"
 [3] "admit_time"              "first_label"
 [5] "death_24hr_recent_label" "death_24hr_max_label"
 [7] "pred_first"              "pred_death_24hr_recent"
 [9] "abs_diff0_24"            "diff0_True"
[11] "diff24_True"             "feature_type"
[13] "features"                "values"
[15] "time"                    "hr_before_admit"

In [9]:
## check csn=131274348480
cohort %>% filter(pat_enc_csn_id_coded == 131274348480, feature_type=="demo")

   anon_id  pat_enc_csn_id_coded admit_time          first_label
1  JCda4f94 131274348480         2019-08-07 20:38:00 0
2  JCda4f94 131274348480         2019-08-07 20:38:00 0
3  JCda4f94 131274348480         2019-08-07 20:38:00 0
4  JCda4f94 131274348480         2019-08-07 20:38:00 0
5  JCda4f94 131274348480         2019-08-07 20:38:00 0
6  JCda4f94 131274348480         2019-08-07 20:38:00 0
7  JCda4f94 131274348480         2019-08-07 20:38:00 0
8  JCda4f94 131274348480         2019-08-07 20:38:00 0
9  JCda4f94 131274348480         2019-08-07 20:38:00 0
10 JCda4f94 131274348480         2019-08-07 20:38:00 0
11 JCda4f94 131274348480         2019-08-07 20:38:00 0
12 JCda4f94 131274348480         2019-08-07 20:38:00 0
13 JCda4f94 131274348480         2019-08-07 20:38:00 0
14 JCda4f94 131274348480         2019-08-07 20:38:00 0
15 JCda4f94 131274348480         2019-08-07 20:38:00 0
16 JCda4f94 131274348480         2019-08-07 20:38:00 0
17 JCda4f94 131274348480         2019-08-07 20:38:00 0
   death_24hr_recent_label death_24hr_max_label pred_first
1  0                       0                    0.8106468
2  0                       0                    0.8106468
3  0                       0                    0.8106468
4  0                       0                    0.8106468
5  0                       0                    0.8106468
6  0                       0                    0.8106468
7  0                       0                    0.8106468
8  0                       0                    0.8106468
9  0                       0                    0.8106468
10 0                       0                    0.8106468
11 0                       0                    0.8106468
12 0                       0                    0.8106468
13 0                       0                    0.8106468
14 0                       0                    0.8106468
15 0                       0                    0.8106468
16 0                       0                    0.8106468
17 0                       0                    0.8106468
   pred_death_24hr_recent abs_diff0_24 diff0_True diff24_True feature_type
1  0.4368035              0.4          0.81       0.44        demo
2  0.4368035              0.4          0.81       0.44        demo
3  0.4368035              0.4          0.81       0.44        demo
4  0.4368035              0.4          0.81       0.44        demo
5  0.4368035              0.4          0.81       0.44        demo
6  0.4368035              0.4          0.81       0.44        demo
7  0.4368035              0.4          0.81       0.44        demo
8  0.4368035              0.4          0.81       0.44        demo
9  0.4368035              0.4          0.81       0.44        demo
10 0.4368035              0.4          0.81       0.44        demo
11 0.4368035              0.4          0.81       0.44        demo
12 0.4368035              0.4          0.81       0.44        demo
13 0.4368035              0.4          0.81       0.44        demo
14 0.4368035              0.4          0.81       0.44        demo
15 0.4368035              0.4          0.81       0.44        demo
16 0.4368035              0.4          0.81       0.44        demo
17 0.4368035              0.4          0.81       0.44        demo
   features              values time hr_before_admit
1  ESI_i                   3    NA   NA
2  delta_ESI               0    NA   NA
3  gender                  1    NA   NA
4  age                    89    NA   NA
5  insurance               1    NA   NA
6  English                 1    NA   NA
7  Height_i              173    NA   NA
8  delta_H                 0    NA   NA
9  Weight_i               62    NA   NA
10 delta_W                 0    NA   NA
11 race.Asian              0    NA   NA
12 race.Black              0    NA   NA
13 race.Native.American    0    NA   NA
14 race.Other              0    NA   NA
15 race.Pacific.Islander   0    NA   NA
16 race.Unknown            0    NA   NA
17 race.White              1    NA   NA

In [13]:
# check different visits
cohort0 <- read.csv(file.path(cohortdir, "1_4_cohort.csv")) %>% distinct()

# there's on in 2018 but was "Place in Observation" under Other orders/ Description
cohort0 %>% filter(anon_id == 'JCda4f94') %>% distinct(pat_enc_csn_id_coded, .keep_all = TRUE)

  anon_id  pat_enc_csn_id_coded inpatient_data_id_coded
1 JCda4f94 131274348480         40433348
  admit_time                label_max24 label_24hr_recent admit_label
1 2019-08-07 20:38:00+00:00 0           0                 0
  has_admit_label died_within_24hrs death_24hr_max_label
1 1               0                 0
  death_24hr_recent_label first_label first_label_minutes_since_admit
1 0                       0           0
  acute_to_critical_label_recent critical_to_acute_label_recent
1 0                              0
  acute_to_critical_label_max critical_to_acute_label_max
1 0                           0

cohort %>% filter(abs_diff0_24 >= 0.4, first_label == first_label) %>% distinct(anon_id, pat_enc_csn_id_coded)
cohort %>% filter(abs_diff0_24 >= 0.4, first_label == first_label) %>% distinct(anon_id)

# r1 is from previously combined all and 24hrprior from topIDs
# r2 is 2 additional IDs after changing the rounding the absdiff
r1 <- read.csv(file.path(datadir, "topIDre.csv"))
r2 <- read.csv(file.path(datadir, "topIDre5.csv"))
rs <- bind_rows(r1, r2) %>% select(-X, -anon_id)
colnames(rs) <- c('mrn', 'anon_id', 'jitter')

write.csv(rs, file.path(datadir, "top_reIDs.csv"), row.names=FALSE)

# reid was from the old file previously combined all and 24hrprior from topIDs
# after fixing the rounding of absdiff, identified 5 more IDs need to be re-identify

# filter those with diff >= 0.4
diff4 <- cohort %>% filter(abs_diff0_24 >=0.4) %>% distinct(anon_id)
nrow(diff4)
sum(diff4$anon_id %in% reid$anon_id) # missing 5

diff4 %>% filter(!anon_id %in% reid$anon_id) %>% select(anon_id)
setdiff(diff4$anon_id, reid$anon_id)
# setdiff(reid$anon_id, diff4$anon_id)

### Checking diagnosis to compare with total cohort

In [5]:
# all dx from 1_4_cohort, SQL query
dx <- read.csv(file.path(datadir, "1_4_cohort_all_current_dx.csv"))
nrow(dx) #1239918

ndx = length(unique(dx$pat_enc_csn_id_coded)) # full cohort is 43980
ndx

[1] 1239918

[1] 43932

In [32]:
# 47246
dx %>% distinct(pat_enc_csn_id_coded, dx_name) %>% count(dx_name, sort=TRUE) %>% 
    mutate(perc = round(100*n/47246, 2)) %>% head(20)

   dx_name
1  Other long term (current) drug therapy
2  Hyperlipidemia, unspecified
3  Essential (primary) hypertension
4  Personal history of nicotine dependence
5  Long term (current) use of aspirin
6  Gastro-esophageal reflux disease without esophagitis
7  Acute kidney failure, unspecified
8  Major depressive disorder, single episode, unspecified
9  Long term (current) use of anticoagulants
10 Atherosclerotic heart disease of native coronary artery without angina pectoris
11 Shortness of breath
12 Hypo-osmolality and hyponatremia
13 Other chronic pain
14 Hypothyroidism, unspecified
15 Obstructive sleep apnea (adult) (pediatric)
16 Long term (current) use of insulin
17 Anxiety disorder, unspecified
18 Allergy status to other drugs, medicaments and biological substances status
19 Sepsis, unspecified organism
20 Hypokalemia
   n     perc
1  12409 26.26
2  11532 24.41
3  10691 22.63
4   9969 21.10
5   7188 15.21
6   6725 14.23
7   6538 13.84
8   5719 12.10
9   5456 11.55
10  5429 11.49
11  5389 11.41
12  5119 10.83
13  4606  9.75
14  4556  9.64
15  4416  9.35
16  4385  9.28
17  4262  9.02
18  3925  8.31
19  3850  8.15
20  3792  8.03

In [34]:
# dx present in the ED and identified as the primary problems, 4632
dx %>% filter(ed=="Y", primary=="Y") %>% distinct(pat_enc_csn_id_coded, dx_name) %>% 
        count(dx_name, sort=TRUE) %>% 
        mutate(perc = round(100*n/4632, 2)) %>% head(20)

   dx_name                                                             n   perc
1  Suicidal ideation                                                   407 8.79
2  Pneumonia due to organism                                           302 6.52
3  Sepsis, due to unspecified organism                                 277 5.98
4  Hyponatremia                                                        274 5.92
5  Non-ST elevation myocardial infarction (NSTEMI) (CMS-HCC)           227 4.90
6  SBO (small bowel obstruction) (CMS-HCC)                             222 4.79
7  Acute chest pain                                                    211 4.56
8  Small bowel obstruction (CMS-HCC)                                   205 4.43
9  Neutropenic fever (CMS-HCC)                                         194 4.19
10 Acute GI bleeding                                                   190 4.10
11 Shortness of breath                                                 186 4.02
12 Altered mental status, unspecified altered mental status type       172 3.71
13 Acute kidney injury (nontraumatic) (CMS-HCC)                        156 3.37
14 COPD with acute exacerbation (CMS-HCC)                              143 3.09
15 Fever, unspecified fever cause                                      139 3.00
16 Acute renal failure, unspecified acute renal failure type (CMS-HCC) 134 2.89
17 Fever and other physiologic disturbances of temperature regulation  125 2.70
18 Psychosis, unspecified psychosis type (CMS-HCC)                     123 2.66
19 Generalized abdominal pain                                          119 2.57
20 Acute pyelonephritis                                                114 2.46

In [8]:
diff4 <- cohort %>% filter(abs_diff0_24 >=0.4)

In [9]:
diff4 %>% group_by(abs_diff0_24) %>% 
            summarise(nrows = n(), count_csn = n_distinct(pat_enc_csn_id_coded), count_mrn = n_distinct(anon_id)) %>% 
            arrange(-abs_diff0_24) %>% mutate(cum_csn = cumsum(count_csn), cum_mrn = cumsum(count_mrn))

  abs_diff0_24 nrows count_csn count_mrn cum_csn cum_mrn
1 0.7            560  3         3          3       3
2 0.6           1042  7         7         10      10
3 0.5           6559 27        24         37      34
4 0.4          19690 80        77        117     111

In [36]:
# cohort transfers with diagnoses
dx_diff <- left_join(diff4, dx)
nrow(dx_diff)
ndf = length(unique(dx_diff$pat_enc_csn_id_coded))
ndf
length(unique(dx_diff$anon_id))

# 1222
dx_diff %>% distinct(pat_enc_csn_id_coded, dx_name) %>% count(dx_name, sort=TRUE) %>% 
    mutate(perc = round(100*n/1222, 2)) %>% head(20)

Joining, by = c("anon_id", "pat_enc_csn_id_coded")

[1] 849920

[1] 117

[1] 105

   dx_name
1  Other long term (current) drug therapy
2  Hyperlipidemia, unspecified
3  Long term (current) use of insulin
4  Essential (primary) hypertension
5  Long term (current) use of aspirin
6  Major depressive disorder, single episode, unspecified
7  Atherosclerotic heart disease of native coronary artery without angina pectoris
8  Dehydration
9  Personal history of nicotine dependence
10 Gastro-esophageal reflux disease without esophagitis
11 Type 1 diabetes mellitus with ketoacidosis without coma
12 Weakness
13 Acidosis
14 Acute kidney failure, unspecified
15 Family history of diabetes mellitus
16 Hypothyroidism, unspecified
17 Diabetic ketoacidosis without coma associated with type 1 diabetes mellitus (CMS-HCC)
18 Family history of ischemic heart disease and other diseases of the circulatory system
19 Long term (current) use of anticoagulants
20 Hypo-osmolality and hyponatremia
   n  perc
1  50 4.09
2  49 4.01
3  42 3.44
4  40 3.27
5  32 2.62
6  27 2.21
7  26 2.13
8  25 2.05
9  25 2.05
10 20 1.64
11 20 1.64
12 20 1.64
13 19 1.55
14 19 1.55
15 19 1.55
16 19 1.55
17 18 1.47
18 18 1.47
19 18 1.47
20 17 1.39

In [12]:
# only 117 of obs above 0.4
# all visits in diff4 have diagnoses

ndfn = nrow(dx_diff %>% distinct(pat_enc_csn_id_coded, dx_name))
ndfn

length(setdiff(dx_diff$pat_enc_csn_id_coded, dx$pat_enc_csn_id_coded))
length(setdiff(dx$pat_enc_csn_id_coded, dx_diff$pat_enc_csn_id_coded))

colnames(dx_diff)

[1] 2926

[1] 0

[1] 43815

 [1] "anon_id"                 "pat_enc_csn_id_coded"
 [3] "admit_time"              "first_label"
 [5] "death_24hr_recent_label" "death_24hr_max_label"
 [7] "pred_first"              "pred_death_24hr_recent"
 [9] "transfer"                "abs_diff0_24"
[11] "diff0_True"              "diff24_True"
[13] "feature_type"            "features"
[15] "values"                  "time"
[17] "hr_before_admit"         "line"
[19] "dx_name"                 "primary"
[21] "chronic"                 "principal"
[23] "hospital_pl"             "ed"
[25] "present_on_adm"

In [13]:
summary(dx_diff$line)

dx_diff %>% count(primary, sort=TRUE)
dx_diff %>% count(chronic, sort=TRUE)
dx_diff %>% count(hospital_pl,  sort=TRUE)
dx_diff %>% count(principal, sort=TRUE)
dx_diff %>% count(ed, sort=TRUE)
dx_diff %>% count(present_on_adm, sort=TRUE)
# dx_diff %>% count(dx_name, sort=TRUE) %>% head(20)

   Min. 1st Qu.  Median    Mean 3rd Qu.    Max.    NA's
   1.00    4.00    9.00   12.36   19.00   53.00    5718

  primary n
1         709610
2 N       112884
3 Y        27426

  chronic n
1         704997
2 N       140310
3 Y         4613

  hospital_pl n
1             844202
2 Y             5493
3 N              225

  principal n
1           844202
2 N           4675
3 Y           1043

  ed n
1    709610
2 N   90503
3 Y   49807

  present_on_adm            n
1 Yes                       457212
2 Exempt from POA reporting 181645
3                           174002
4 No                         34797
5 Unknown                     2264

#1222
dx_diff %>% distinct(pat_enc_csn_id_coded, dx_name) %>% count(dx_name) %>% 
    mutate(perc = round(100*n/1222, 2)) %>% head(20)

In [51]:
# dx_diff %>% filter(ed == "Y", primary=="Y") %>% count(dx_name, sort=TRUE) %>% head(20)

In [40]:
dx_diff %>% filter(ed=="Y", primary=="Y") %>% distinct(pat_enc_csn_id_coded, dx_name) %>% 
            count(dx_name, sort=TRUE) %>% filter(n>1)

   dx_name
1  Diabetic ketoacidosis without coma associated with type 1 diabetes mellitus (CMS-HCC)
2  Diabetic ketoacidosis without coma associated with other specified diabetes mellitus (CMS-HCC)
3  Diabetic ketoacidosis without coma associated with diabetes mellitus due to underlying condition (CMS-HCC)
4  Diabetic ketoacidosis without coma associated with type 2 diabetes mellitus (CMS-HCC)
5  ST elevation myocardial infarction (STEMI), unspecified artery (CMS-HCC)
6  Diabetic ketoacidosis with coma associated with type 1 diabetes mellitus (CMS-HCC)
7  Hyperglycemic hyperosmolar nonketotic coma (CMS-HCC)
8  Hypertensive emergency
9  Intracranial hemorrhage (CMS-HCC)
10 Subarachnoid hemorrhage (CMS-HCC)
11 Subdural hematoma (CMS-HCC)
   n
1  7
2  6
3  5
4  5
5  3
6  2
7  2
8  2
9  2
10 2
11 2

In [45]:
# from 1 to 0, 533
dx_diff %>% filter(first_label==1, death_24hr_recent_label==0) %>%
            distinct(pat_enc_csn_id_coded, dx_name) %>% count(dx_name, sort=TRUE) %>% 
            mutate(perc = round(100*n/533, 2)) %>% head(10)

   dx_name
1  Hyperlipidemia, unspecified
2  Long term (current) use of insulin
3  Essential (primary) hypertension
4  Long term (current) use of aspirin
5  Other long term (current) drug therapy
6  Dehydration
7  Type 1 diabetes mellitus with ketoacidosis without coma
8  Diabetic ketoacidosis without coma associated with type 1 diabetes mellitus (CMS-HCC)
9  Major depressive disorder, single episode, unspecified
10 Atherosclerotic heart disease of native coronary artery without angina pectoris
   n  perc
1  20 3.75
2  20 3.75
3  18 3.38
4  17 3.19
5  17 3.19
6  15 2.81
7  13 2.44
8  12 2.25
9  11 2.06
10  9 1.69

In [42]:
# from 1 to 0 
dx_diff %>% filter(first_label==1, death_24hr_recent_label==0, ed=="Y", primary=="Y") %>%
            distinct(pat_enc_csn_id_coded, dx_name) %>% count(dx_name, sort=TRUE) #%>%

   dx_name
1  Diabetic ketoacidosis without coma associated with type 1 diabetes mellitus (CMS-HCC)
2  Diabetic ketoacidosis without coma associated with diabetes mellitus due to underlying condition (CMS-HCC)
3  Diabetic ketoacidosis without coma associated with other specified diabetes mellitus (CMS-HCC)
4  Diabetic ketoacidosis without coma associated with type 2 diabetes mellitus (CMS-HCC)
5  Intracranial hemorrhage (CMS-HCC)
6  Subdural hematoma (CMS-HCC)
7  Dehydration
8  Diabetic ketoacidosis with coma associated with type 1 diabetes mellitus (CMS-HCC)
9  Hypertension, unspecified type
10 Mild persistent asthma with acute exacerbation
11 Myocardial infarction, posterior wall, initial episode (CMS-HCC)
12 New onset type 2 diabetes mellitus (CMS-HCC)
13 Opiate overdose, undetermined intent, initial encounter (CMS-HCC)
14 Severe sepsis (CMS-HCC)
15 Subarachnoid hemorrhage (CMS-HCC)
16 Traumatic subdural hemorrhage with loss of consciousness, initial encounter (CMS-HCC)
   n
1  5
2  4
3  4
4  3
5  2
6  2
7  1
8  1
9  1
10 1
11 1
12 1
13 1
14 1
15 1
16 1

In [49]:
# from 0 to 1 (non-ICUs to ICUs), 111
dx_diff %>% filter(first_label==0, death_24hr_recent_label==1) %>%
            distinct(pat_enc_csn_id_coded, dx_name) %>% count(dx_name, sort=TRUE) %>% 
            mutate(perc = round(100*n/111, 2)) %>% filter(n>1)

  dx_name
1 Acute respiratory failure with hypoxia
2 Acidosis
3 Acute on chronic combined systolic (congestive) and diastolic (congestive) heart failure
4 Anemia in neoplastic disease
5 Gastro-esophageal reflux disease without esophagitis
6 Hypo-osmolality and hyponatremia
7 Long term (current) use of anticoagulants
8 Other cirrhosis of liver
  n perc
1 3 2.7
2 2 1.8
3 2 1.8
4 2 1.8
5 2 1.8
6 2 1.8
7 2 1.8
8 2 1.8

In [50]:
# from 0 to 1 (non-ICUs to ICUs)
dx_diff %>% filter(first_label==0, death_24hr_recent_label==1, ed=="Y", primary=="Y") %>%
            distinct(pat_enc_csn_id_coded, dx_name) %>% count(dx_name)

  dx_name                                                                  n
1 Acute upper respiratory infection                                        1
2 Cardiopulmonary arrest with successful resuscitation (CMS-HCC)           1
3 ST elevation myocardial infarction (STEMI), unspecified artery (CMS-HCC) 1

### ADT

In [51]:
adt <- read.csv(file.path(tabledir, "4_2_diff_adt.csv"))
dim(adt) # 1437248
colnames(adt)

[1] 1437248      30

 [1] "anon_id"                 "pat_enc_csn_id_coded"
 [3] "admit_time"              "first_label"
 [5] "death_24hr_recent_label" "death_24hr_max_label"
 [7] "pred_first"              "pred_death_24hr_recent"
 [9] "event_type_c"            "event_type"
[11] "pat_class_c"             "pat_class"
[13] "base_pat_class_c"        "base_pat_class"
[15] "pat_service_c"           "pat_service"
[17] "pat_lvl_of_care_c"       "pat_lv_of_care"
[19] "accommodation_c"         "accomodation"
[21] "in_event_type_c"         "in_event_type"
[23] "out_event_type_c"        "out_event_type"
[25] "from_base_class_c"       "from_base_class"
[27] "to_base_class_c"         "to_base_class"
[29] "seq_num_in_enc"          "seq_num_in_bed_min"

# disable quotes
adt <- read.csv(file.path(datadir, "4_1_diff_adt.csv"), quote = "" )
dim(adt) # should have 1385721
colnames(adt)

In [52]:
cohort %>% distinct(pat_enc_csn_id_coded, first_label, death_24hr_recent_label) %>% count(first_label, death_24hr_recent_label, sort=T)
adt %>% count(event_type, event_type_c, sort=TRUE)
adt %>% count(pat_class, pat_class_c, sort=TRUE)
adt %>% count(base_pat_class, base_pat_class_c, sort=TRUE)
adt %>% count(pat_service, pat_service_c, sort=TRUE)
adt %>% count(pat_lv_of_care, pat_lvl_of_care_c, sort=TRUE)
adt %>% count(accomodation, accommodation_c, sort=TRUE)
adt %>% count(in_event_type, in_event_type_c, sort=TRUE)
adt %>% count(out_event_type, out_event_type_c, sort=TRUE)
adt %>% count(from_base_class, from_base_class_c, sort=TRUE)
adt %>% count(to_base_class, to_base_class_c, sort=TRUE)
adt %>% count(seq_num_in_enc, sort=TRUE)
adt %>% count(seq_num_in_bed_min, sort=TRUE)

  first_label death_24hr_recent_label n
1 1           1                       113
2 0           0                       102
3 1           0                        90
4 0           1                        18

  event_type     event_type_c n
1 Census         6            450404
2 Transfer In    3            308795
3 Transfer Out   4            308795
4 Patient Update 5            228035
5 Admission      1             71107
6 Discharge      2             70112

  pat_class            pat_class_c n
1 Inpatient            126         1232940
2 Emergency Services   112          202329
3 Observation          128            1328
4 OP Surgery/Procedure 122             651

  base_pat_class base_pat_class_c n
1 NA             NA               1294153
2 Emergency       3                 71107
3 Inpatient       1                 71107
4 Outpatient      2                   881

   pat_service                   pat_service_c n
1  Critical Care                  151          241846
2  Medicine                        39          171188
3  Emergency                      100          151907
4  Cardiology                     155          129561
5  Emergency Medicine             187          111861
6  General Medicine (University)  153           96646
7  Trauma                          72           76396
8  General Surgery                 59           72896
9  Cardiac Surgery                 58           54242
10 General Medicine (PAMF)        154           41106
11 Oncology                        47           35751
12 Neurosurgery                    62           32862
13 Neurocritical Care            1567           23729
14 ICU Trauma/GenSurg             152           23033
15 Neurology/Stroke Svc            53           21683
16 Cardiology Transplant          192           15876
17 GI/Liver                       220           13832
18 Liver Transplant                61           13650
19 Neurology                       52           13648
20 Emergency Critical Care       1554           12569
21 Orthopaedic Surgery             64           11274
22 Gyn-Oncology                    36            8600
23 Hematology/Oncology            207            8326
24 Cardiovascular ICU             219            8168
25 Cardiovascular Medicine         31            7401
26 Cardiology Arrhythmia           27            6600
27 Vascular Surgery               189            5316
28 Hematology                      44            4639
29 Plastic Surgery                 67            3942
30 Hepatology                     193            3822
31 Cardiology Interventional      191            3721
32 Pulmonary Transplant           198            2676
33 Urology                         69            2016
34 Pulmonary                      167            1696
35 NA                              NA            1591
36 ENT                             65            1468
37 General Medicine (T)            46             920
38 Sleep Medicine                 185             456
39 Gynecology                      35             334

  pat_lv_of_care                                           pat_lvl_of_care_c
1 Acute Care (Assessment or intervention q4-8)              5
2 Critical Care                                             8
3 IICU/Intermediate Care (Assessment or intervention q2-4)  9
4 NA                                                       NA
  n
1 533155
2 395367
3 306459
4 202267

  accomodation  accommodation_c n
1 Ward          10001           573802
2 Private           1           553868
3 Semi-Private      2           307324
4 NA               NA             2254

  in_event_type  in_event_type_c n
1 Census          6              450404
2 NA             NA              378907
3 Transfer In     3              308634
4 Patient Update  5              156208
5 Admission       1              143095

  out_event_type out_event_type_c n
1 Census          6               450404
2 NA             NA               379902
3 Transfer Out    4               308634
4 Patient Update  5               156208
5 Discharge       2               142100

  from_base_class from_base_class_c n
1 Inpatient       1                 1162497
2 Emergency       3                  202329
3 NA              0                   71107
4 NA              4                     664
5 Outpatient      2                     651

  to_base_class to_base_class_c n
1 Inpatient     1               1163436
2 Emergency     3                202168
3 NA            0                 70112
4 Outpatient    2                   868
5 NA            4                   664

    seq_num_in_enc n
1     1            71107
2     2            71107
3     3            71107
4     4            71107
5     5            71107
6     6            70390
7     7            69868
8     8            69512
9     9            68276
10   10            66616
11   11            62282
12   12            57299
13   13            55283
14   14            50760
15   15            44778
16   16            38670
17   17            33543
18   18            29982
19   19            27261
20   20            25194
21   21            22504
22   22            19851
23   23            18029
24   24            16339
25   25            14873
26   26            13743
27   27            12474
28   28            11438
29   29            10872
30   30             9448
31   31             8938
32   32             8651
33   33             7957
34   34             6069
35   35             5723
36   36             5459
37   37             5365
38   38             5016
39   39             4303
40   40             3153
41   41             2966
42   42             2966
43   43             2966
44   44             2486
45   45             2486
46   46             2486
47   47             2486
48   48             2299
49   49             2299
50   50             2299
51   51             2155
52   52             2155
53   53             2155
54   54             1714
55   55             1396
56   56             1396
57   57             1396
58   58             1396
59   59             1396
60   60             1293
61   61             1293
62   62             1293
63   63             1293
64   64             1293
65   65             1293
66   66             1293
67   67             1293
68   68             1293
69   69             1293
70   70             1150
71   71             1150
72   72             1150
73   73             1150
74   74             1150
75   75             1150
76   76             1150
77   77              659
78   78              659
79   79              659
80   80              659
81   81              659
82   82              659
83   83              659
84   84              659
85   85              659
86   86              659
87   87              659
88   88              659
89   89              659
90   90              659
91   91              659
92   92              659
93   93              659
94   94              659
95   95              659
96   96              659
97   97              659
98   98              659
99   99              659
100 100              659
101 101              659
102 102              659
103 103              659
104 104              659
105 105              659
106 106              659
107 107              659
108 108              659
109 109              659
110 110              659
111 111              659
112 112              659
113 113              659
114 114              659
115 115              659
116 116              659
117 117              659
118 118              659
119 119              659
120 120              659
121 121              182
122 122              182
123 123              182
124 124              182
125 125              182
126 126              182
127 127              182
128 128              182
129 129              182
130 130              182
131 131              182
132 132              182
133 133              182
134 134              182
135 135              182
136 136              182
137 137              182
138 138              182
139 139              182
140 140              182
141 141              182
142 142              182
143 143              182
144 144              182
145 145              182
146 146              182
147 147              182
148 148              182
149 149              182
150 150              182
151 151              182
152 152              182
153 153              182
154 154              182
155 155              182
156 156              182
157 157              182
158 158              182
159 159              182
160 160              182
161 161              182
162 162              182
163 163              182
164 164              182
165 165              182
166 166              182
167 167              182
168 168              182
169 169              182
170 170              182
171 171              182
172 172              182
173 173              182
174 174              182
175 175              182
176 176              182
177 177              182
178 178              182
179 179              182
180 180              182

  seq_num_in_bed_min n
1 1                  1421316
2 2                    15538
3 3                      394