## Descriptions:
Process 2 variables from demograhics table
- Process language --> English: yes/no
- Process insurance (medicare/caid/cal/mcal/mcare/na) --> yes/no

**Inputs**: 
- `6_2_cohort`: updated 6_1_cohort_validation with inc/exc criteria, which also has demographics information

**Outputs**: 
- `6_4_coh2_demo`

### Importing R libraries

In [1]:
library(bigrquery)  # to query STARR-OMOP (stored in BigQuery) using SQL
library(tidyverse)
library(lubridate)
# library(mice)
# library(VIM) # for missing data plot

# library(data.table)
# library(Matrix)
# library(caret) # import this before glmnet to avoid rlang version problem
# library(glmnet)
# library(bit64)

# library(slam)
# library(mtools) for one hot coder, not available on Nero or use caret or tidyr
options(repr.matrix.max.rows=250, repr.matrix.max.cols=30)

── Attaching packages ─────────────────────────────────────── tidyverse 1.3.1 ──

✔ ggplot2 3.3.3     ✔ purrr   0.3.4
✔ tibble  3.1.2     ✔ dplyr   1.0.6
✔ tidyr   1.1.3     ✔ stringr 1.4.0
✔ readr   1.4.0     ✔ forcats 0.5.1

── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()


Attaching package: ‘lubridate’


The following objects are masked from ‘package:base’:

    date, intersect, setdiff, union

### Demographic variables
- Age (only >=18): done in in/ex criteria
- insurance = Medical/care/caid and n/a insurance --> medis =1 otherwise 0
- language --> Engl = 1 for English, otherwise 0
- leave height and weight to be processed with flowsheet age (>=18 only)

In [3]:
# datadir = "../../DataTD"
valdir = "../../OutputTD/6_validation"
# featuredir = "../../OutputTD/2_features"

cohort <- read.csv(file.path(valdir, "6_2_cohort.csv"))
nrow(cohort) #45794
summary(cohort)

[1] 17131

   anon_id          pat_enc_csn_id_coded admit_time_jittered     label
 Length:17131       Min.   :1.313e+11    Length:17131        Min.   :0.0000
 Class :character   1st Qu.:1.313e+11    Class :character    1st Qu.:0.0000
 Mode  :character   Median :1.313e+11    Mode  :character    Median :0.0000
                    Mean   :1.313e+11                        Mean   :0.1388
                    3rd Qu.:1.313e+11                        3rd Qu.:0.0000
                    Max.   :1.313e+11                        Max.   :1.0000

  admit_time           adm_year      adm_month      inpatient_data_id_coded
 Length:17131       Min.   :2020   Min.   : 1.000   Min.   :51823319
 Class :character   1st Qu.:2020   1st Qu.: 4.000   1st Qu.:57106984
 Mode  :character   Median :2021   Median : 7.000   Median :62110309
                    Mean   :2021   Mean   : 6.612   Mean   :62392235
                    3rd Qu.:2021   3rd Qu.: 9.000   3rd Qu.:67737331
                    Max.   :2021   Max.   :12.000   Max.   :73231043

      ESI       hosp_admsn_time      ed_time_hr         gender
 Min.   :1.00   Length:17131       Min.   :  0.000   Length:17131
 1st Qu.:2.00   Class :character   1st Qu.:  2.317   Class :character
 Median :3.00   Mode  :character   Median :  3.417   Mode  :character
 Mean   :2.55                      Mean   :  4.188
 3rd Qu.:3.00                      3rd Qu.:  4.917
 Max.   :5.00                      Max.   :145.067
 NA's   :98
     race             language         recent_height_cm recent_weight_kg
 Length:17131       Length:17131       Min.   :113.0    Min.   : 26.76
 Class :character   Class :character   1st Qu.:160.0    1st Qu.: 61.23
 Mode  :character   Mode  :character   Median :167.6    Median : 74.00
                                       Mean   :168.0    Mean   : 77.21
                                       3rd Qu.:175.3    3rd Qu.: 88.50
                                       Max.   :213.4    Max.   :342.46
                                       NA's   :387      NA's   :30
  insurance              age
 Length:17131       Min.   : 18.00
 Class :character   1st Qu.: 46.00
 Mode  :character   Median : 62.00
                    Mean   : 59.72
                    3rd Qu.: 74.00
                    Max.   :107.00

In [4]:
head(cohort, n=1)

  anon_id   pat_enc_csn_id_coded admit_time_jittered       label
1 JC1000116 131295313275         2020-09-29 22:45:00+00:00 0
  admit_time          adm_year adm_month inpatient_data_id_coded ESI
1 2020-09-29 22:45:00 2020     9         57868578                3
  hosp_admsn_time     ed_time_hr gender race  language recent_height_cm
1 2020-09-29 16:02:00 6.716667   Female Other Spanish  154
  recent_weight_kg insurance age
1 73.05            HPSM      44

In [5]:
cohort <- cohort %>% select(-hosp_admsn_time, -ed_time_hr) %>% # hosp_admsn_time = ymd_hms(hosp_admsn_time)
                mutate(admit_time = ymd_hms(admit_time), # recent_date = ymd(recent_date), 
                       gender = factor(gender), race = factor(race), language = factor(language), insurance = factor(insurance)) 
                
nrow(cohort)
summary(cohort)

[1] 17131

   anon_id          pat_enc_csn_id_coded admit_time_jittered     label
 Length:17131       Min.   :1.313e+11    Length:17131        Min.   :0.0000
 Class :character   1st Qu.:1.313e+11    Class :character    1st Qu.:0.0000
 Mode  :character   Median :1.313e+11    Mode  :character    Median :0.0000
                    Mean   :1.313e+11                        Mean   :0.1388
                    3rd Qu.:1.313e+11                        3rd Qu.:0.0000
                    Max.   :1.313e+11                        Max.   :1.0000

   admit_time                     adm_year      adm_month
 Min.   :2020-04-01 00:45:00   Min.   :2020   Min.   : 1.000
 1st Qu.:2020-09-04 19:37:00   1st Qu.:2020   1st Qu.: 4.000
 Median :2021-01-22 21:46:00   Median :2021   Median : 7.000
 Mean   :2021-01-17 13:46:14   Mean   :2021   Mean   : 6.612
 3rd Qu.:2021-06-07 08:53:30   3rd Qu.:2021   3rd Qu.: 9.000
 Max.   :2021-09-30 07:00:00   Max.   :2021   Max.   :12.000

 inpatient_data_id_coded      ESI          gender                   race
 Min.   :51823319        Min.   :1.00   Female:8058   Asian           :2788
 1st Qu.:57106984        1st Qu.:2.00   Male  :9073   Black           :1109
 Median :62110309        Median :3.00                 Native American :  64
 Mean   :62392235        Mean   :2.55                 Other           :4522
 3rd Qu.:67737331        3rd Qu.:3.00                 Pacific Islander: 366
 Max.   :73231043        Max.   :5.00                 Unknown         :  87
                         NA's   :98                   White           :8195
       language     recent_height_cm recent_weight_kg       insurance
 English   :13964   Min.   :113.0    Min.   : 26.76   MEDICARE   :6059
 Spanish   : 1712   1st Qu.:160.0    1st Qu.: 61.23   HPSM       :1280
 Mandarin  :  264   Median :167.6    Median : 74.00   BLUE CROSS :1239
 Vietnamese:  250   Mean   :168.0    Mean   : 77.21              : 986
 Cantonese :  120   3rd Qu.:175.3    3rd Qu.: 88.50   MEDI-CAL   : 737
 Russian   :   98   Max.   :213.4    Max.   :342.46   BLUE SHIELD: 690
 (Other)   :  723   NA's   :387      NA's   :30       (Other)    :6140
      age
 Min.   : 18.00
 1st Qu.: 46.00
 Median : 62.00
 Mean   : 59.72
 3rd Qu.: 74.00
 Max.   :107.00

In [6]:
# checking duplicates
nrow(cohort %>% select(anon_id) %>% distinct()) # 31511
nrow(cohort %>% select(anon_id, pat_enc_csn_id_coded) %>% distinct()) # 45794
cohort[duplicated(cohort[, c('anon_id','pat_enc_csn_id_coded')]),]

# cohort %>% filter(anon_id == "JCd49287") # pat_enc_csn_id_coded = 131195706986, 
# cohort <- cohort %>% filter (!(anon_id == "JCd49287" & race == "Unknown"))

[1] 12993

[1] 17131

     anon_id pat_enc_csn_id_coded admit_time_jittered label admit_time adm_year
     adm_month inpatient_data_id_coded ESI gender race language
     recent_height_cm recent_weight_kg insurance age

In [7]:
summary(cohort %>% select(ESI, gender, race, recent_height_cm, recent_weight_kg, age))
cohort %>% gather(var, value) %>% distinct() %>% count(var) %>% arrange(n)
cohort %>% summarise_each(funs(n_distinct))

      ESI          gender                   race      recent_height_cm
 Min.   :1.00   Female:8058   Asian           :2788   Min.   :113.0
 1st Qu.:2.00   Male  :9073   Black           :1109   1st Qu.:160.0
 Median :3.00                 Native American :  64   Median :167.6
 Mean   :2.55                 Other           :4522   Mean   :168.0
 3rd Qu.:3.00                 Pacific Islander: 366   3rd Qu.:175.3
 Max.   :5.00                 Unknown         :  87   Max.   :213.4
 NA's   :98                   White           :8195   NA's   :387
 recent_weight_kg      age
 Min.   : 26.76   Min.   : 18.00
 1st Qu.: 61.23   1st Qu.: 46.00
 Median : 74.00   Median : 62.00
 Mean   : 77.21   Mean   : 59.72
 3rd Qu.: 88.50   3rd Qu.: 74.00
 Max.   :342.46   Max.   :107.00
 NA's   :30

Warning message:
“attributes are not identical across measure variables;
they will be dropped”

   var                     n
1  adm_year                    2
2  gender                      2
3  label                       2
4  ESI                         6
5  race                        7
6  adm_month                  12
7  language                   47
8  age                        87
9  insurance                  91
10 recent_height_cm          573
11 recent_weight_kg         2483
12 anon_id                 12993
13 admit_time              16867
14 admit_time_jittered     16867
15 inpatient_data_id_coded 17131
16 pat_enc_csn_id_coded    17131

Warning message:
“`summarise_each_()` was deprecated in dplyr 0.7.0.
Please use `across()` instead.
This warning is displayed once every 8 hours.
Call `lifecycle::last_warnings()` to see where this warning was generated.”
Warning message:
“`funs()` was deprecated in dplyr 0.8.0.
Please use a list of either functions or lambdas:

  # Simple named list:
  list(mean = mean, median = median)

  # Auto named with `tibble::lst()`:
  tibble::lst(mean, median)

  # Using lambdas
  list(~ mean(., trim = .2), ~ median(., na.rm = TRUE))
This warning is displayed once every 8 hours.
Call `lifecycle::last_warnings()` to see where this warning was generated.”

  anon_id pat_enc_csn_id_coded admit_time_jittered label admit_time adm_year
1 12993   17131                16867               2     16867      2
  adm_month inpatient_data_id_coded ESI gender race language recent_height_cm
1 12        17131                   6   2      7    47       573
  recent_weight_kg insurance age
1 2483             91        87

### Insurance:

In [8]:
options(repr.matrix.max.rows=135, repr.matrix.max.cols=20)
cohort %>%                 # filter(!is.na(col)) %>% filter out all rows with NAs in col 
                group_by(insurance) %>% count() %>% arrange(desc(n))

   insurance                                         n
1  MEDICARE                                          6059
2  HPSM                                              1280
3  BLUE CROSS                                        1239
4                                                     986
5  MEDI-CAL                                           737
6  BLUE SHIELD                                        690
7  SANTA CLARA FAMILY HP                              666
8  UNITED HEALTHCARE                                  585
9  AETNA                                              493
10 CIGNA                                              402
11 BLUE CARD (OUT OF STATE)                           363
12 HPSM - MCARE ADV                                   362
13 ALAMEDA ALLIANCE MCAL MGD CARE                     354
14 MCAL HMO - CENTRAL CALIFORNIA ALLIANCE FOR HEALTH  340
15 UHC MEDICARE AARP COMPLETE                         186
16 BLUE CROSS MEDI-CAL                                178
17 UNITED HEALTHCARE SR ADV                           172
18 HEALTHNET                                          165
19 SCFHP - MCARE ADV                                  146
20 BLUE CARD (OUT OF STATE) - BS                      121
21 AETNA CHOICE POS II SHC                            101
22 UMR                                                 92
23 MEDICARE SENIOR ADVANTAGE - OTHER                   90
24 BLUE CROSS SENIOR                                   88
25 MEDI-CAL MANAGED CARE                               83
26 TRICARE HEALTH NET                                  66
27 AETNA SENIOR                                        65
28 MCAL HP OF SAN JOAQUIN                              65
29 HEALTHNET SENIOR ADVANTAGE                          64
30 ALIGNMENT HEALTH PLAN                               61
31 TRIWEST                                             59
32 SNF HOSPICE MEDICARE (HOSP ONLY)                    56
33 VETERANS ADMINISTRATION                             54
34 MCAL HMO-HEALTHNET                                  44
35 PHP OF CA                                           44
36 COMMERCIAL OTHER                                    42
37 MANAGED CARE OTHER                                  42
38 VALLEY HEALTH PLAN                                  41
39 AARP                                                36
40 CAREMORE ANTHEM SR ADV                              36
41 MCAL HMO-SAN FRANCISCO HEALTH PLN                   35
42 UNITEDHEALTHCARE WEST                               32
43 HUMANA GOLD CHOICE                                  29
44 MEDICAID                                            29
45 MCAL CONTRA COSTA HEALTH PLAN                       25
46 SHC ADVANTAGE SUTTER                                24
47 SUTTER HEALTH PLUS                                  24
48 KAISER NORTHERN CA                                  20
49 MCAL CENCAL                                         17
50 BRAND NEW DAY SR ADV                                16
51 KAISER SENIOR                                       13
52 MEDI-CAL CCS                                        11
53 FIRST HEALTH                                         9
54 BLUE CARD SR ADV (OUT OF STATE) - BX                 8
55 HUMANA CHOICE CARE                                   8
56 COVID19 HRSA UNINSURED FUND                          7
57 VISION SERVICES PLAN                                 6
58 GOLDEN STATE MHP                                     5
59 PRIVATE HEALTHCARE SYS (PHCS)                        5
60 ASPIRE HEALTH PLAN SR ADV                            4
61 TRICARE FOR LIFE                                     4
62 COM-OTHER                                            3
63 MEDI-CAL MGD CARE COUNTY                             3
64 UNITED HEALTH CARE                                   3
65 VITALITY HEALTH PLAN SR ADV                          3
66 ALAMEDA ALLIANCE GROUP CARE                          2
67 BLUE CARD SR ADV (OUT OF STATE) - BS                 2
68 HOMETOWN HEALTH PLAN                                 2
69 MCAL HMO-MOLINA                                      2
70 MULTIPLAN                                            2
71 MUTUAL OF OMAHA                                      2
72 NETWORKS BY DESIGN                                   2
73 SCAN HEALTH PLAN                                     2
74 SUTTER HEALTH SYSTEM                                 2
75 BLUE SHIELD SENIOR                                   1
76 BSCA PROMISE HEALTH SR ADV                           1
77 CCS MEDI-CAL                                         1
78 CHAMPVA                                              1
79 DONOR NETWORK WEST                                   1
80 GEHA                                                 1
81 HPSM - CCS                                           1
82 INTERNATIONAL                                        1
83 INTERPLAN                                            1
84 MCAL KAISER                                          1
85 MCAL KAISER SANTA CLARA                              1
86 MEDICAID HMO                                         1
87 OPTUM HEALTH/URN                                     1
88 PARTNERSHIP HEALTH CCS                               1
89 PHYSICIANS FOUNDATION                                1
90 UHC WEST                                             1
91 WELLCARE SENIOR                                      1

In [9]:
# check for medicare/ medical/ no insurance
# cohort %>% filter(str_detect(insurance, "MEDI") | insurance == "") %>% 
#                 group_by(insurance) %>% count() %>% arrange(-n)

# mcal = medical, mcare = medicare
medis <- c("MEDI", "MCAL", "MCARE")
cohort %>% filter(str_detect(insurance, paste(medis, collapse = "|")) | insurance == "") %>% 
                group_by(insurance) %>% count() %>% arrange(-n)

   insurance                                         n
1  MEDICARE                                          6059
2                                                     986
3  MEDI-CAL                                           737
4  HPSM - MCARE ADV                                   362
5  ALAMEDA ALLIANCE MCAL MGD CARE                     354
6  MCAL HMO - CENTRAL CALIFORNIA ALLIANCE FOR HEALTH  340
7  UHC MEDICARE AARP COMPLETE                         186
8  BLUE CROSS MEDI-CAL                                178
9  SCFHP - MCARE ADV                                  146
10 MEDICARE SENIOR ADVANTAGE - OTHER                   90
11 MEDI-CAL MANAGED CARE                               83
12 MCAL HP OF SAN JOAQUIN                              65
13 SNF HOSPICE MEDICARE (HOSP ONLY)                    56
14 MCAL HMO-HEALTHNET                                  44
15 MCAL HMO-SAN FRANCISCO HEALTH PLN                   35
16 MEDICAID                                            29
17 MCAL CONTRA COSTA HEALTH PLAN                       25
18 MCAL CENCAL                                         17
19 MEDI-CAL CCS                                        11
20 MEDI-CAL MGD CARE COUNTY                             3
21 MCAL HMO-MOLINA                                      2
22 CCS MEDI-CAL                                         1
23 MCAL KAISER                                          1
24 MCAL KAISER SANTA CLARA                              1
25 MEDICAID HMO                                         1

In [10]:
# turn insurance into medis which has "MEDI" under insurance
# insurance = 0 if patient has medis or no insurance, 1 for other insurance
medis <- c("MEDI", "MCAL", "MCARE")

nrow(cohort %>% filter(insurance == "")) # 2737
nrow(cohort %>% filter(str_detect(insurance, "MEDI"))) # 20766
nrow(cohort %>% filter(str_detect(insurance, paste(medis, collapse = "|")))) # 23987

cohort_demo <- cohort %>%
                    mutate(insurance = ifelse(str_detect(insurance, paste(medis, collapse = "|")) | insurance == "", 0, 1)) %>%
                    group_by(anon_id, pat_enc_csn_id_coded) %>%
                    mutate(insurance = sum(insurance)) %>% ungroup() %>% # just to make sure if anyone else has more than 1
                    mutate(insurance = ifelse(insurance>0, 1, insurance)) 

cohort_demo %>% count(insurance)

[1] 986

[1] 7434

[1] 8826

  insurance n
1 0         9812
2 1         7319

### Language:

In [11]:
cohort_demo %>% group_by(language) %>% count() %>% arrange(desc(n))

   language               n
1  English                13964
2  Spanish                 1712
3  Mandarin                 264
4  Vietnamese               250
5  Cantonese                120
6  Russian                   98
7  Tongan                    89
8  Farsi                     85
9  Tagalog                   83
10 Dari                      63
11 Hindi                     57
12 Punjabi (Panjabi)         52
13 Korean                    51
14 Other                     36
15 Arabic                    31
16 Gujarati                  17
17 Portuguese                15
18 Urdu                      14
19 Burmese                   13
20 Deaf/Non-Sign Language    13
21 Japanese                  11
22 Cambodian, Mon-Khmer       8
23 French                     8
24 American Sign Language     7
25 Amharic                    6
26 Telugu                     6
27                            5
28 Indonesian                 5
29 Italian                    5
30 Unknown                    5
31 Albanian                   4
32 Polish                     4
33 Armenian                   3
34 Hmong                      3
35 Ilocano                    3
36 Laotian                    3
37 Persian                    3
38 Romanian                   3
39 Nepali                     2
40 Serbian                    2
41 Taiwanese                  2
42 Fijian                     1
43 German                     1
44 Hungarian                  1
45 Samoan                     1
46 Thai                       1
47 Yoruba                     1

In [12]:
cohort_demo <- cohort_demo %>%
                    mutate(English = ifelse(language == "English", 1, 0)) %>% 
                    select(-c(language))

cohort_demo %>% count(English)
nrow(cohort_demo)
length(unique(cohort_demo$anon_id))
summary(cohort_demo %>% select(ESI, gender, race, recent_height_cm, recent_weight_kg, age, insurance, English))

  English n
1 0        3167
2 1       13964

[1] 17131

[1] 12993

      ESI          gender                   race      recent_height_cm
 Min.   :1.00   Female:8058   Asian           :2788   Min.   :113.0
 1st Qu.:2.00   Male  :9073   Black           :1109   1st Qu.:160.0
 Median :3.00                 Native American :  64   Median :167.6
 Mean   :2.55                 Other           :4522   Mean   :168.0
 3rd Qu.:3.00                 Pacific Islander: 366   3rd Qu.:175.3
 Max.   :5.00                 Unknown         :  87   Max.   :213.4
 NA's   :98                   White           :8195   NA's   :387
 recent_weight_kg      age           insurance         English
 Min.   : 26.76   Min.   : 18.00   Min.   :0.0000   Min.   :0.0000
 1st Qu.: 61.23   1st Qu.: 46.00   1st Qu.:0.0000   1st Qu.:1.0000
 Median : 74.00   Median : 62.00   Median :0.0000   Median :1.0000
 Mean   : 77.21   Mean   : 59.72   Mean   :0.4272   Mean   :0.8151
 3rd Qu.: 88.50   3rd Qu.: 74.00   3rd Qu.:1.0000   3rd Qu.:1.0000
 Max.   :342.46   Max.   :107.00   Max.   :1.0000   Max.   :1.0000
 NA's   :30

In [13]:
head(cohort_demo, n=1)
colnames(cohort_demo)

  anon_id   pat_enc_csn_id_coded admit_time_jittered       label
1 JC1000116 131295313275         2020-09-29 22:45:00+00:00 0
  admit_time          adm_year adm_month inpatient_data_id_coded ESI gender
1 2020-09-29 22:45:00 2020     9         57868578                3   Female
  race  recent_height_cm recent_weight_kg insurance age English
1 Other 154              73.05            1         44  0

 [1] "anon_id"                 "pat_enc_csn_id_coded"
 [3] "admit_time_jittered"     "label"
 [5] "admit_time"              "adm_year"
 [7] "adm_month"               "inpatient_data_id_coded"
 [9] "ESI"                     "gender"
[11] "race"                    "recent_height_cm"
[13] "recent_weight_kg"        "insurance"
[15] "age"                     "English"

In [16]:
# save file cohort_demo
write.csv(cohort_demo, file = file.path(valdir, "6_3_coh2_demo.csv"), row.names=FALSE)