### Description:
Explore and clean lab variables

- First grab by lab_names (or base_names), then check their base_names (or lab_names), from all_labs file (labs that we went through to select)
- Then reverse to include lab_names with more than 1 base_names and base_names with more than 1 lab_names.
    - Based off Triage work of selecting lab_names, take those final lab_names and get their base_names
    - Add a few more base_names 
    - Use these base_names to run m6_labs.sql. This makes sure we have everything from Triage selection.
- Check the units and ranges of these labs to keep only valid ones.
- Combine lab_names/base_names and convert to same units as needed --> rename these groups
- Most urine related labs are all NA

It would be shorter to use base_name, but still need to check because some same labs have different base_names
- For example, new shc_core_2021 has lab_name `BUN, Arterial` and `BUN, Peripheral` which has base_name `BUN`. Lab_name wasn't available in old data
- Added 'BUN, Arterial' and 'BUN, Peripheral', 'BUN, Venous' under lab_name list (NEW in 2021)

- For ord_num_value = 9999999 of extreme cases on either end (hi/lo, panic hi/lo):
    - Remove those observations where no < > in ord_value: cancelled or N/A
    - Use ord_value to take bounds values. For example, if ord_value is <0.2 and ord_num_value is 9999999, then replace 9999999 with 0.2

Output file: 
- `6_6_coh3_labs`
- `6_6_cohort3_withlabs`: cohort information only from 2_4_coh3_labs

### Importing R libraries

In [1]:
library(bigrquery)  # to query STARR-OMOP (stored in BigQuery) using SQL
library(tidyverse)
library(lubridate)
# library(mice)
# library(VIM) # for missing data plot

# library(data.table)
# library(Matrix)
# library(caret) # import this before glmnet to avoid rlang version problem
# library(glmnet)
# library(bit64)

# library(slam)
# library(mtools) for one hot coder, not available on Nero or use caret or tidyr
options(repr.matrix.max.rows=250, repr.matrix.max.cols=30)

── Attaching packages ─────────────────────────────────────── tidyverse 1.3.1 ──

✔ ggplot2 3.3.3     ✔ purrr   0.3.4
✔ tibble  3.1.2     ✔ dplyr   1.0.6
✔ tidyr   1.1.3     ✔ stringr 1.4.0
✔ readr   1.4.0     ✔ forcats 0.5.1

── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()


Attaching package: ‘lubridate’


The following objects are masked from ‘package:base’:

    date, intersect, setdiff, union

### Set up and run queries
Do this on Nero GCP as querying from a local computer takes much longer time

In [2]:
# CREDENTIALS depending on LOCATIONS:
# credential <- paste0("/home/", "minh084", "/.config/gcloud/application_default_credentials.json")

# local computer
# credential <- "C:/Users/User/AppData/Roaming/gcloud/application_default_credentials.json"

# Nero onprem
# credential <- "/home/minh084/.config/gcloud/application_default_credentials.json"

# Nero gcp notebook
credential <- "/home/jupyter/.config/gcloud/application_default_credentials.json"

project_id <- "som-nero-phi-jonc101"

Sys.setenv(GOOGLE_APPLICATION_CREDENTIALS = credential)
Sys.setenv(GCLOUD_PROJECT = project_id)
gargle::credentials_app_default()

NULL

In [3]:
library(DBI)
con <- dbConnect(
  bigrquery::bigquery(),
  project = project_id,
  dataset = "shc_core_2021" #, billing = project_id
)
con 
dbListTables(con)

<BigQueryConnection>
  Dataset: som-nero-phi-jonc101.shc_core_2021
  Billing: som-nero-phi-jonc101

 [1] "adt"                 "alert"               "alert_history"
 [4] "alerts_orders"       "allergy"             "alt_com_action"
 [7] "clinical_doc_meta"   "culture_sensitivity" "demographic"
[10] "dep_map"             "diagnosis"           "drg_code"
[13] "encounter"           "f_ip_hsp_admission"  "family_hx"
[16] "flowsheet"           "lab_result"          "lda"
[19] "med_orderset"        "myc_mesg"            "ndc_code"
[22] "order_comment"       "order_med"           "order_proc"
[25] "order_quest"         "pharmacy_mar"        "proc_note"
[28] "proc_orderset"       "procedure"           "prov_map"
[31] "social_hx"           "temp_table"          "treatment_team"
[34] "yn_jon_chen_lpch"

# m6_labs.sql (if use cohort.patcsn --> all NA, need to use labs)

q= "
SELECT labs.anon_id, labs.pat_enc_csn_id_coded, cohort.admit_time, cohort.label,
        order_id_coded, lab_name, base_name, ord_value, ord_num_value, 
        reference_low, reference_high, reference_unit, result_in_range_yn, result_flag, 
        result_time_utc, order_time_utc , taken_time_utc
      
FROM `som-nero-phi-jonc101.shc_core_2021.lab_result` as labs
RIGHT JOIN `som-nero-phi-jonc101.triageTD.6_3_cohort3` as cohort 

ON labs.pat_enc_csn_id_coded = cohort.pat_enc_csn_id_coded
AND labs.anon_id = cohort.anon_id

WHERE admit_time >= result_time_utc  
AND extract(year from admit_time) > 2014  
AND base_name in 
    ('AG', 'AGAP', 'BASOAB', 'BUN', 'CL', 'CR', 'EGFR', 'EOSAB', 'GLU', 'HCO3', 'HCO3A', 'HCO3V', 
 'HCT', 'HGB', 'INR', 'K', 'LAC', 'LACWBL', 'LYMAB', 'MONOAB', 'NEUTAB', 'NEUTABS', 'O2SATA', 
 'O2SATV', 'PCAGP', 'PCBUN', 'PCCL', 'PCO2A', 'PCO2V', 'PH', 'PHA', 'PHV', 'PLT', 'PO2A', 'PO2V',
 'PT', 'TBIL', 'TCO2A', 'TNI', 'WBC', 'NA', 'ALB', 'ALKP', 'ALT', 'AST', 'BE', 'CA', 'CO2', 
 'GLOB', 'GLUURN', 'MCH', 'RDW', 'TP')

"

# submit the query:
update.packages('Rcpp')
df <- dbGetQuery(con, q)
dim(df)
colnames(df)

# (
#     lab_name in 
#     ('Neut, ABS (Seg+Band) (man diff)', 'Basophils, ABS (man diff)', 'Eosinophils, ABS (man diff)', 'Monocytes, ABS (man diff)', 'Lymphocytes, ABS (man diff)', 'Lymphocytes, Abs.', 'Neutrophils, Absolute (Manual Diff)', 'Mono, ABS (man diff)', 'Lym, ABS (man diff)', 'Baso, ABS (man diff)', 'Eos, ABS (man diff)')

#     OR base_name in 
#     ('AG', 'AGAP', 'BASOAB', 'BUN', 'CL', 'CR', 'EGFR', 'EOSAB', 'GLU', 'HCO3', 'HCO3A', 'HCO3V', 'HCT', 'HGB', 'INR', 'K', 'LAC', 'LACWBL', 'LYMAB', 'MONOAB', 'NEUTAB', 'NEUTABS', 'O2SATA', 'O2SATV', 'PCAGP', 'PCBUN', 'PCCL', 'PCO2A', 'PCO2V', 'PH', 'PHA', 'PHV', 'PLT', 'PO2A', 'PO2V', 'PT', 'TBIL', 'TCO2A', 'TNI', 'WBC', 'XLEUKEST', 'NA', 'ALB', 'ALKP', 'BE', 'CA', 'CO2', 'GLOB', 'MG', 'MCH', 'PHOS', 'TP')
# )

write.csv(df, file.path(datadir6, "labs_2021.csv"), row.names=FALSE)

### LABS
1. Use lab results as is. no manually process as with vital signs. 
2. Some notes about labs:
- Cannot trust "result_in_range_yn" --> remove this
- There is 1 incident of Glucose by Meter = hi in ord_value
- ord_value has text, blanks and #
- ord_num_value has NA, 9999999, #. The blanks from ord_value are NA in ord_num_value
- result_flag: "Abnormal" for text in ord_value, usually correct. However, when ord_value is N/A or < or >, the ord_num_value is 9999999.
3. Use ord_num_value and result_flag are good
4. All the urine labs start with X seem to be NA. Remove mag and phos as these are low count 1K

In [4]:
# read inputs
datadir6 = "../../DataTD/validation"
valdir = "../../OutputTD/6_validation"

cohort <- read.csv(file.path(valdir, "6_5_cohort3.csv"))
labs0 <- read.csv(file.path(datadir6, "labs_2021.csv")) # 1386585

# check for unique CSNs and MRNs
nrow(cohort) #44258
nrow(labs0) #depending on which cohort_demo used to query labs 1863768
nrow(labs0 %>% select(pat_enc_csn_id_coded) %>% distinct()) # 41724 vs 41627
colnames(labs0)

[1] 16704

[1] 514511

[1] 15982

 [1] "anon_id"                 "pat_enc_csn_id_coded"
 [3] "inpatient_data_id_coded" "admit_time"
 [5] "label"                   "DBP"
 [7] "Pulse"                   "RR"
 [9] "SBP"                     "Temp"
[11] "order_id_coded"          "lab_name"
[13] "base_name"               "ord_value"
[15] "ord_num_value"           "reference_low"
[17] "reference_high"          "reference_unit"
[19] "result_in_range_yn"      "result_flag"
[21] "result_time_utc"         "order_time_utc"
[23] "taken_time_utc"

In [5]:
labs0 <- labs0 %>% mutate(reference_unit = factor(reference_unit),
                          reference_low = factor(reference_low),
                          reference_high = factor(reference_high),
                          result_in_range_yn = factor(result_in_range_yn),
                          result_flag = factor(result_flag)) #%>%

names %>% group_by(base_name) %>% count(sort=TRUE) %>% arrange(base_name)

In [6]:
options(repr.matrix.max.rows=200, repr.matrix.max.cols=20)
# labs0 %>% group_by(base_name, lab_name) %>% count() %>% arrange(base_name)
labs0 %>% group_by(base_name, lab_name) %>% count() %>% arrange(lab_name)

    base_name lab_name                        n
1   ALB       Albumin, Ser/Plas               14756
2   ALKP      Alk P'TASE, Total, Ser/Plas     14723
3   ALT       ALT (SGPT), Ser/Plas            14724
4   AG        Anion Gap                       15483
5   PCO2A     Arterial pCO2 for POC               1
6   PHA       Arterial pH for POC                 1
7   PO2A      Arterial pO2 for POC                1
8   AST       AST (SGOT), Ser/Plas            14724
9   BE        Base Excess (vt)                  333
10  BE        Base Excess Arterial for POC        1
11  BE        Base Excess, ISTAT               7717
12  BASOAB    Basophil, Absolute              13450
13  BASOAB    Basophils, ABS (man diff)         413
14  HCO3A     Bicarbonate, Art for POC            1
15  BUN       BUN, Arterial                       1
16  BUN       BUN, Peripheral                     1
17  BUN       BUN, Ser/Plas                   15478
18  BUN       BUN, Venous                         1
19  CA        Calcium, Ser/Plas               15503
20  CL        Chloride, Ser/Plas              15484
21  CL        Chloride, Whole Bld                66
22  TCO2A     CO2 Arterial Total for POC          1
23  CO2       CO2, Ser/Plas                   15484
24  CR        Creatinine, Ser/Plas            15477
25  CR        Creatinine,ISTAT                  812
26  EGFR      eGFR                            16286
27  EOSAB     Eosinophil, Absolute            13450
28  EOSAB     Eosinophils, ABS (man diff)       700
29  GLOB      Globulin                        14667
30  GLU       Glucose by Meter                 2333
31  GLU       Glucose, Non-fasting                1
32  GLU       Glucose, Ser/Plas               15476
33  GLU       Glucose, Whole Blood               66
34  GLU       Glucose,ISTAT                     914
35  HCO3A     HCO3                              333
36  HCO3A     HCO3 (a), ISTAT                   107
37  HCO3V     HCO3 (v), ISTAT                  7600
38  HCO3      HCO3, ISTAT                        10
39  HCT       Hct (Est)                          66
40  HCT       Hct, ISTAT                        915
41  HCT       HCT, POC                           22
42  HCT       Hematocrit                      15790
43  HGB       Hemoglobin                      15795
44  HGB       HgB                                66
45  HGB       Hgb, calculated, POC               22
46  HGB       Hgb(Calc), ISTAT                  915
47  INR       INR                              7020
48  INR       INR, ISTAT                        269
49  LAC       Lactate, ISTAT                   7567
50  LACWBL    Lactate, Whole Bld                481
51  LAC       Lactic Acid                      1269
52  LYMAB     Lymphocyte, Absolute            13450
53  LYMAB     Lymphocytes, ABS (man diff)      1589
54  MCH       MCH                             15788
55  MONOAB    Monocyte, Absolute              13450
56  MONOAB    Monocytes, ABS (man diff)        1545
57  NEUTAB    Neut, ABS (Seg+Band) (man diff)    39
58  NEUTABS   Neut, ABS (Seg+Band) (man diff)  1585
59  NEUTAB    Neutrophil, Absolute            13450
60  O2SATA    O2 Saturation (a)                  70
61  O2SATV    O2 Saturation (v)                 263
62  O2SATA    O2 Saturation, ISTAT              107
63  O2SATV    O2 Saturation, ISTAT (Ven)       7600
64  O2SATA    Oxygen Saturation for POC           1
65  PCO2A     pCO2 (a)                           70
66  PCO2A     pCO2 (a), ISTAT                   107
67  PCO2V     pCO2 (v)                          263
68  PCO2V     PCO2 (v), ISTAT                  7600
69  PCO2A     PCO2, ISTAT                        10
70  PHA       pH (a)                             70
71  PHA       PH (a), ISTAT                     107
72  PHV       pH (v)                            263
73  PHV       PH (v), ISTAT                    7600
74  PHA       pH by Meter                         7
75  PH        PH, ISTAT                          10
76  PLT       Platelet count                  15828
77  PO2A      pO2 (a)                            70
78  PO2A      PO2 (a), ISTAT                    107
79  PO2V      pO2 (v)                           263
80  PO2V      PO2 (v), ISTAT                   7600
81  PO2A      PO2, ISTAT                         10
82  K         Potassium, ISTAT                  915
83  K         Potassium, Ser/Plas             15522
84  K         Potassium, Whole Bld               71
85  K         Potassium, whole blood, ePOC       40
86  TP        Protein, Total, Ser/Plas        14724
87  PT        Prothrombin Time                 7020
88  PT        PT, ISTAT                         269
89  RDW       RDW                             15788
90  NA        Sodium, ISTAT                     915
91  NA        Sodium, Ser/Plas                15493
92  NA        Sodium, Whole Blood                66
93  NA        Sodium, whole blood, ePOC          32
94  TCO2A     tCO2                              333
95  TCO2A     TCO2 (a), ISTAT                   107
96  TCO2A     TCO2, ISTAT                        10
97  TBIL      Total Bilirubin, Ser/Plas       14836
98  TNI       TROPONIN I                       6672
99  TNI       Troponin I, POCT                  212
100 WBC       WBC                             15788

In [7]:
labs0 %>% group_by(base_name) %>% count(sort=TRUE)

   base_name n
1  GLU       18790
2  HGB       16798
3  HCT       16793
4  K         16548
5  NA        16506
6  CR        16289
7  EGFR      16286
8  PLT       15828
9  MCH       15788
10 RDW       15788
11 WBC       15788
12 CL        15550
13 CA        15503
14 CO2       15484
15 AG        15483
16 BUN       15481
17 LYMAB     15039
18 MONOAB    14995
19 TBIL      14836
20 ALB       14756
21 ALT       14724
22 AST       14724
23 TP        14724
24 ALKP      14723
25 GLOB      14667
26 EOSAB     14150
27 BASOAB    13863
28 NEUTAB    13489
29 LAC        8836
30 BE         8051
31 O2SATV     7863
32 PCO2V      7863
33 PHV        7863
34 PO2V       7863
35 HCO3V      7600
36 INR        7289
37 PT         7289
38 TNI        6884
39 NEUTABS    1585
40 LACWBL      481
41 TCO2A       451
42 HCO3A       441
43 PCO2A       188
44 PO2A        188
45 PHA         185
46 O2SATA      178
47 HCO3         10
48 PH           10

In [8]:
# from Triage
triage_labs <- c("Platelet count", "Total Bilirubin, Ser/Plas", "Total Bilirubin", 
"TROPONIN I", "Troponin I, POCT", "WBC", "WBC count", 
"Hematocrit", "Hct, ISTAT", "Hct(Calc), ISTAT", 
"Hct (Est)", "HCT, POC", 
"Hematocrit (Manual Entry) See EMR for details", 
"Hemoglobin", "Hgb(Calc), ISTAT", "Hgb, calculated, POC", "HgB", 
"Potassium, Ser/Plas", "Potassium, ISTAT",  "Potassium, Whole Bld", 
"Potassium, whole blood, ePOC", "Sodium, Ser/Plas", "Sodium, ISTAT",  
"Sodium, Whole Blood", "Chloride, Ser/Plas",  "Chloride, ISTAT",  
"Chloride, Whole Bld", "Creatinine, Ser/Plas", "Creatinine,ISTAT", 
"Anion Gap", "Anion Gap, ISTAT", "Glucose, Ser/Plas", "Glucose,ISTAT", 
"Glucose, Whole Blood", "Glucose by Meter", "Glucose, Non-fasting", 
"BUN, Ser/Plas", "BUN, ISTAT", "Urea Nitrogen,Ser/Plas", 'BUN, Arterial', 'BUN, Peripheral', 'BUN, Venous',
"Neutrophil, Absolute", "NEUT, ABS", "Neut, ABS (Seg+Band) (man diff)", 
"Neutrophils, Absolute (Manual Diff)", "Neut, ABS (Seg+Band) (man diff)", 
"Basophil, Absolute", "BASOS, ABS", "Basophils, ABS (man diff)", 
"Baso, ABS (man diff)", "Eosinophil, Absolute", "EOS, ABS", 
"Eosinophils, ABS (man diff)", "Eos, ABS (man diff)", 
"Lymphocyte, Absolute", "LYM, ABS", "Lymphocytes, ABS (man diff)", 
"Lym, ABS (man diff)", "Lymphocytes, Abs.", "Monocyte, Absolute", 
"MONO, ABS", "Monocytes, ABS (man diff)", "Mono, ABS (man diff)", 
"Lactate, ISTAT", "Lactate, Whole Bld", "Lactic Acid", "HCO3", 
"HCO3 (a), ISTAT", "Bicarbonate, Art for POC", "HCO3 (v), ISTAT", 
"HCO3, ISTAT", "O2 Saturation (a)", "O2 Saturation, ISTAT", 
"Oxygen Saturation for POC", "O2 Saturation (v)",  
"O2 Saturation, ISTAT (Ven)", "pCO2 (a)", "pCO2 (a), ISTAT",  
"PCO2, ISTAT", "Arterial pCO2 for POC", "pCO2 (v)", "PCO2 (v), ISTAT", 
"pH (a)", "PH (a), ISTAT", "pH by Meter", "Arterial pH for POC", 
"pH (v)", "PH (v), ISTAT", "PH, ISTAT", "pO2 (a)", "PO2 (a), ISTAT",  
"PO2, ISTAT", "Arterial pO2 for POC", "pO2 (v)", "PO2 (v), ISTAT", 
"tCO2", "TCO2 (a), ISTAT","TCO2, ISTAT", "TCO2, (ISTAT)", 
"CO2 Arterial Total for POC", "INR", "INR, ISTAT", 
"Prothrombin Time", "PT, ISTAT")
str_sort(triage_labs)

  [1] "Anion Gap"
  [2] "Anion Gap, ISTAT"
  [3] "Arterial pCO2 for POC"
  [4] "Arterial pH for POC"
  [5] "Arterial pO2 for POC"
  [6] "Baso, ABS (man diff)"
  [7] "Basophil, Absolute"
  [8] "Basophils, ABS (man diff)"
  [9] "BASOS, ABS"
 [10] "Bicarbonate, Art for POC"
 [11] "BUN, Arterial"
 [12] "BUN, ISTAT"
 [13] "BUN, Peripheral"
 [14] "BUN, Ser/Plas"
 [15] "BUN, Venous"
 [16] "Chloride, ISTAT"
 [17] "Chloride, Ser/Plas"
 [18] "Chloride, Whole Bld"
 [19] "CO2 Arterial Total for POC"
 [20] "Creatinine, Ser/Plas"
 [21] "Creatinine,ISTAT"
 [22] "EOS, ABS"
 [23] "Eos, ABS (man diff)"
 [24] "Eosinophil, Absolute"
 [25] "Eosinophils, ABS (man diff)"
 [26] "Glucose by Meter"
 [27] "Glucose, Non-fasting"
 [28] "Glucose, Ser/Plas"
 [29] "Glucose, Whole Blood"
 [30] "Glucose,ISTAT"
 [31] "HCO3"
 [32] "HCO3 (a), ISTAT"
 [33] "HCO3 (v), ISTAT"
 [34] "HCO3, ISTAT"
 [35] "Hct (Est)"
 [36] "Hct, ISTAT"
 [37] "HCT, POC"
 [38] "Hct(Calc), ISTAT"
 [39] "Hematocrit"
 [40] "Hematocrit (Manual Entry) See EMR for details"
 [41] "Hemoglobin"
 [42] "HgB"
 [43] "Hgb, calculated, POC"
 [44] "Hgb(Calc), ISTAT"
 [45] "INR"
 [46] "INR, ISTAT"
 [47] "Lactate, ISTAT"
 [48] "Lactate, Whole Bld"
 [49] "Lactic Acid"
 [50] "LYM, ABS"
 [51] "Lym, ABS (man diff)"
 [52] "Lymphocyte, Absolute"
 [53] "Lymphocytes, ABS (man diff)"
 [54] "Lymphocytes, Abs."
 [55] "MONO, ABS"
 [56] "Mono, ABS (man diff)"
 [57] "Monocyte, Absolute"
 [58] "Monocytes, ABS (man diff)"
 [59] "NEUT, ABS"
 [60] "Neut, ABS (Seg+Band) (man diff)"
 [61] "Neut, ABS (Seg+Band) (man diff)"
 [62] "Neutrophil, Absolute"
 [63] "Neutrophils, Absolute (Manual Diff)"
 [64] "O2 Saturation (a)"
 [65] "O2 Saturation (v)"
 [66] "O2 Saturation, ISTAT"
 [67] "O2 Saturation, ISTAT (Ven)"
 [68] "Oxygen Saturation for POC"
 [69] "pCO2 (a)"
 [70] "pCO2 (a), ISTAT"
 [71] "pCO2 (v)"
 [72] "PCO2 (v), ISTAT"
 [73] "PCO2, ISTAT"
 [74] "pH (a)"
 [75] "PH (a), ISTAT"
 [76] "pH (v)"
 [77] "PH (v), ISTAT"
 [78] "pH by Meter"
 [79] "PH, ISTAT"
 [80] "Platelet count"
 [81] "pO2 (a)"
 [82] "PO2 (a), ISTAT"
 [83] "pO2 (v)"
 [84] "PO2 (v), ISTAT"
 [85] "PO2, ISTAT"
 [86] "Potassium, ISTAT"
 [87] "Potassium, Ser/Plas"
 [88] "Potassium, Whole Bld"
 [89] "Potassium, whole blood, ePOC"
 [90] "Prothrombin Time"
 [91] "PT, ISTAT"
 [92] "Sodium, ISTAT"
 [93] "Sodium, Ser/Plas"
 [94] "Sodium, Whole Blood"
 [95] "tCO2"
 [96] "TCO2 (a), ISTAT"
 [97] "TCO2, (ISTAT)"
 [98] "TCO2, ISTAT"
 [99] "Total Bilirubin"
[100] "Total Bilirubin, Ser/Plas"
[101] "TROPONIN I"
[102] "Troponin I, POCT"
[103] "Urea Nitrogen,Ser/Plas"
[104] "WBC"
[105] "WBC count"

test <- c('Neut, ABS (Seg+Band) (man diff)', 'Basophils, ABS (man diff)', 'Eosinophils, ABS (man diff)', 'Monocytes, ABS (man diff)', 'Lymphocytes, ABS (man diff)', 'Lymphocytes, Abs.', 'Neutrophils, Absolute (Manual Diff)', 'Mono, ABS (man diff)', 'Lym, ABS (man diff)', 'Baso, ABS (man diff)', 'Eos, ABS (man diff)')
sum(!test %in% labs0$lab_name)
sum(!test %in% labs0$lab_name)

'AG', 'AGAP', 'BASOAB', 'BUN', 'CL', 'CR', 'EGFR', 'EOSAB', 'GLU', 'HCO3', 'HCO3A', 'HCO3V', 
'HCT', 'HGB', 'INR', 'K', 'LAC', 'LACWBL', 'LYMAB', 'MONOAB', 'NEUTAB', 'NEUTABS', 'O2SATA', 'O2SATV', 'PCAGP', 'PCBUN', 'PCCL', 
'PCO2A', 'PCO2V', 'PH', 'PHA', 'PHV', 'PLT', 'PO2A', 'PO2V', 'PT', 'TBIL', 'TCO2A', 'TNI', 'WBC', 'NA',
# added base_names - remove PHOS and MG -- too few
'ALB', 'ALKP', 'ALT', 'AST', 'BE', 'CA', 'CO2', 'EGRF', 'GLOB', 'GLUURN', 'MCH', 'RDW', 'TP'

In [9]:
# labs0[labs0$lab_name == "Platelets", ]$base_name
# labs0[labs0$lab_name %in% lab_names, ]$base_name   
# lapply(lab_names, function(x) labs0[labs0$lab_name == x, ]$basename)

In [10]:
# check overlapping of Triage labs and the new queried labs
# str_sort(unique(labs0$base_name))
# str_sort(intersect(labs0$lab_name, lab_names))

setdiff(triage_labs, labs0$lab_name) # NONE
str_sort(setdiff(labs0$lab_name, triage_labs)) # in A, not B

triage_labs0_names <- labs0 %>% filter(lab_name %in% triage_labs) %>% distinct(lab_name, base_name)
triage_labs0_base_names <- str_sort(unique(triage_labs0_names$base_name))
triage_labs0_lab_names <- str_sort(unique(triage_labs0_names$lab_name))

triage_labs0_base_names; # triage_labs0_lab_names

str_sort(setdiff(labs0$base_name, triage_labs0_base_names))

 [1] "Total Bilirubin"
 [2] "WBC count"
 [3] "Hct(Calc), ISTAT"
 [4] "Hematocrit (Manual Entry) See EMR for details"
 [5] "Chloride, ISTAT"
 [6] "Anion Gap, ISTAT"
 [7] "BUN, ISTAT"
 [8] "Urea Nitrogen,Ser/Plas"
 [9] "NEUT, ABS"
[10] "Neutrophils, Absolute (Manual Diff)"
[11] "BASOS, ABS"
[12] "Baso, ABS (man diff)"
[13] "EOS, ABS"
[14] "Eos, ABS (man diff)"
[15] "LYM, ABS"
[16] "Lym, ABS (man diff)"
[17] "Lymphocytes, Abs."
[18] "MONO, ABS"
[19] "Mono, ABS (man diff)"
[20] "TCO2, (ISTAT)"

 [1] "Albumin, Ser/Plas"            "Alk P'TASE, Total, Ser/Plas"
 [3] "ALT (SGPT), Ser/Plas"         "AST (SGOT), Ser/Plas"
 [5] "Base Excess (vt)"             "Base Excess Arterial for POC"
 [7] "Base Excess, ISTAT"           "Calcium, Ser/Plas"
 [9] "CO2, Ser/Plas"                "eGFR"
[11] "Globulin"                     "MCH"
[13] "Protein, Total, Ser/Plas"     "RDW"
[15] "Sodium, whole blood, ePOC"

 [1] "AG"      "BASOAB"  "BUN"     "CL"      "CR"      "EOSAB"   "GLU"
 [8] "HCO3"    "HCO3A"   "HCO3V"   "HCT"     "HGB"     "INR"     "K"
[15] "LAC"     "LACWBL"  "LYMAB"   "MONOAB"  "NEUTAB"  "NEUTABS" "O2SATA"
[22] "O2SATV"  "PCO2A"   "PCO2V"   "PH"      "PHA"     "PHV"     "PLT"
[29] "PO2A"    "PO2V"    "PT"      "TBIL"    "TCO2A"   "TNI"     "WBC"
[36] NA

 [1] "ALB"  "ALKP" "ALT"  "AST"  "BE"   "CA"   "CO2"  "EGFR" "GLOB" "MCH"
[11] "RDW"  "TP"

In [11]:
# get lab_names and base_names from labs0
labs0_names <- labs0 %>% distinct(lab_name, base_name)
base_names <- str_sort(unique(labs0_names$base_name))
lab_names <- str_sort(unique(labs0_names$lab_name))

lab_names

 [1] "Albumin, Ser/Plas"               "Alk P'TASE, Total, Ser/Plas"
 [3] "ALT (SGPT), Ser/Plas"            "Anion Gap"
 [5] "Arterial pCO2 for POC"           "Arterial pH for POC"
 [7] "Arterial pO2 for POC"            "AST (SGOT), Ser/Plas"
 [9] "Base Excess (vt)"                "Base Excess Arterial for POC"
[11] "Base Excess, ISTAT"              "Basophil, Absolute"
[13] "Basophils, ABS (man diff)"       "Bicarbonate, Art for POC"
[15] "BUN, Arterial"                   "BUN, Peripheral"
[17] "BUN, Ser/Plas"                   "BUN, Venous"
[19] "Calcium, Ser/Plas"               "Chloride, Ser/Plas"
[21] "Chloride, Whole Bld"             "CO2 Arterial Total for POC"
[23] "CO2, Ser/Plas"                   "Creatinine, Ser/Plas"
[25] "Creatinine,ISTAT"                "eGFR"
[27] "Eosinophil, Absolute"            "Eosinophils, ABS (man diff)"
[29] "Globulin"                        "Glucose by Meter"
[31] "Glucose, Non-fasting"            "Glucose, Ser/Plas"
[33] "Glucose, Whole Blood"            "Glucose,ISTAT"
[35] "HCO3"                            "HCO3 (a), ISTAT"
[37] "HCO3 (v), ISTAT"                 "HCO3, ISTAT"
[39] "Hct (Est)"                       "Hct, ISTAT"
[41] "HCT, POC"                        "Hematocrit"
[43] "Hemoglobin"                      "HgB"
[45] "Hgb, calculated, POC"            "Hgb(Calc), ISTAT"
[47] "INR"                             "INR, ISTAT"
[49] "Lactate, ISTAT"                  "Lactate, Whole Bld"
[51] "Lactic Acid"                     "Lymphocyte, Absolute"
[53] "Lymphocytes, ABS (man diff)"     "MCH"
[55] "Monocyte, Absolute"              "Monocytes, ABS (man diff)"
[57] "Neut, ABS (Seg+Band) (man diff)" "Neutrophil, Absolute"
[59] "O2 Saturation (a)"               "O2 Saturation (v)"
[61] "O2 Saturation, ISTAT"            "O2 Saturation, ISTAT (Ven)"
[63] "Oxygen Saturation for POC"       "pCO2 (a)"
[65] "pCO2 (a), ISTAT"                 "pCO2 (v)"
[67] "PCO2 (v), ISTAT"                 "PCO2, ISTAT"
[69] "pH (a)"                          "PH (a), ISTAT"
[71] "pH (v)"                          "PH (v), ISTAT"
[73] "pH by Meter"                     "PH, ISTAT"
[75] "Platelet count"                  "pO2 (a)"
[77] "PO2 (a), ISTAT"                  "pO2 (v)"
[79] "PO2 (v), ISTAT"                  "PO2, ISTAT"
[81] "Potassium, ISTAT"                "Potassium, Ser/Plas"
[83] "Potassium, Whole Bld"            "Potassium, whole blood, ePOC"
[85] "Protein, Total, Ser/Plas"        "Prothrombin Time"
[87] "PT, ISTAT"                       "RDW"
[89] "Sodium, ISTAT"                   "Sodium, Ser/Plas"
[91] "Sodium, Whole Blood"             "Sodium, whole blood, ePOC"
[93] "tCO2"                            "TCO2 (a), ISTAT"
[95] "TCO2, ISTAT"                     "Total Bilirubin, Ser/Plas"
[97] "TROPONIN I"                      "Troponin I, POCT"
[99] "WBC"

In [12]:
# check each lab in the list for reference units, low and high to see if consistent among similar lab names
lab_test <- labs0 %>% select(lab_name, ord_num_value, reference_unit, reference_low, reference_high, base_name)# %>%
#                         mutate(reference_unit = factor(reference_unit),
#                                reference_low = factor(reference_low),
#                                reference_high = factor(reference_high)) #%>% 
#                 drop_na(ord_num_value)
c=0
for (l in lab_names){
    c = c+1
    lab <- lab_test %>% filter(lab_name == l & ord_num_value != 9999999)
    print(l)
    print(lab %>% group_by(base_name) %>% count())
    print(summary(lab %>% select(ord_num_value, reference_unit, reference_low, reference_high)))
}

# options(repr.plot.width=7, repr.plot.height=7)
print(c)

# 'Albumin, Ser/Plas', 'Alk P\'TASE, Total, Ser/Plas', 'ALT (SGPT), Ser/Plas', 'AST (SGOT), Ser/Plas'
# 'Base Excess (vt)', 'Base Excess Arterial for POC', 'Base Excess, ISTAT'
# 'Calcium, Ser/Plas''CO2, Ser/Plas''eGFR''Globulin''Glucose'
# 'Glucose Urine''Glucose, urine''Glucose, Urine'
# 'MCH''Neut, ABS (man diff)''Platelets''Potassium''Protein, Total, Ser/Plas'
# 'RDW''Sodium, whole blood, ePOC'

[1] "Albumin, Ser/Plas"
# A tibble: 1 x 2
# Groups:   base_name [1]
  base_name     n
  <chr>     <int>
1 ALB       14755
 ord_num_value   reference_unit  reference_low   reference_high
 Min.   :1.100   g/dL   :14755   3.5    :14753   5.2    :12325
 1st Qu.:3.400          :    0   3.2    :    2   5.0    : 2428
 Median :3.900   %      :    0          :    0   4.5    :    2
 Mean   :3.828   INR    :    0   >60    :    0          :    0
 3rd Qu.:4.300   K/uL   :    0   >90    :    0   <0.055 :    0
 Max.   :6.500   mEq/L  :    0   0.0    :    0   <0.1   :    0
                 (Other):    0   (Other):    0   (Other):    0
[1] "Alk P'TASE, Total, Ser/Plas"
# A tibble: 1 x 2
# Groups:   base_name [1]
  base_name     n
  <chr>     <int>
1 ALKP      14721
 ord_num_value    reference_unit  reference_low  reference_high
 Min.   :   9.0   U/L    :14721   40     :8906   130    :8906
 1st Qu.:  69.0          :    0   35     :5757   105    :5757
 Median :  90.0   %      :    0   45     :  30   87     :  30
 Mean   : 130.8   g/dL   :    0   55     :  28   149    :  28
 3rd Qu.: 130.0   INR    :    0          :   0          :   0
 Max.   :4316.0   K/uL   :    0   >60    :   0   <0.055 :   0
                  (Other):    0   (Other):   0   (Other):   0
[1] "ALT (SGPT), Ser/Plas"
# A tibble: 1 x 2
# Groups:   base_name [1]
  base_name     n
  <chr>     <int>
1 ALT       14639
 ord_num_value     reference_unit  reference_low   reference_high
 Min.   :   5.00   U/L    :14639   10     :12267   50     :6495
 1st Qu.:  16.00          :    0          : 2372   35     :5772
 Median :  24.00   %      :    0   >60    :    0   <60    :2372
 Mean   :  47.21   g/dL   :    0   >90    :    0          :   0
 3rd Qu.:  41.00   INR    :    0   0.0    :    0   <0.055 :   0
 Max.   :5253.00   K/uL   :    0   0.00   :    0   <0.1   :   0
                   (Other):    0   (Other):    0   (Other):   0
[1] "Anion Gap"
# A tibble: 1 x 2
# Groups:   base_name [1]
  base_name     n
  <chr>     <int>
1 AG        15466
 ord_num_value   reference_unit  reference_low   reference_high
 Min.   : 2.00   mmol/L :15466   5      :15466   15     :15466
 1st Qu.:10.00          :    0          :    0          :    0
 Median :12.00   %      :    0   >60    :    0   <0.055 :    0
 Mean   :12.73   g/dL   :    0   >90    :    0   <0.1   :    0
 3rd Qu.:14.00   INR    :    0   0.0    :    0   <1.0   :    0
 Max.   :44.00   K/uL   :    0   0.00   :    0   <1.2   :    0
                 (Other):    0   (Other):    0   (Other):    0
[1] "Arterial pCO2 for POC"
# A tibble: 1 x 2
# Groups:   base_name [1]
  base_name     n
  <chr>     <int>
1 PCO2A         1
 ord_num_value  reference_unit reference_low reference_high
 Min.   :58.4   mmHg   :1      35.0   :1     45.0   :1
 1st Qu.:58.4          :0             :0            :0
 Median :58.4   %      :0      >60    :0     <0.055 :0
 Mean   :58.4   g/dL   :0      >90    :0     <0.1   :0
 3rd Qu.:58.4   INR    :0      0.0    :0     <1.0   :0
 Max.   :58.4   K/uL   :0      0.00   :0     <1.2   :0
                (Other):0      (Other):0     (Other):0
[1] "Arterial pH for POC"
# A tibble: 1 x 2
# Groups:   base_name [1]
  base_name     n
  <chr>     <int>
1 PHA           1
 ord_num_value   reference_unit reference_low reference_high
 Min.   :7.018          :1      7.350  :1     7.450  :1
 1st Qu.:7.018   %      :0             :0            :0
 Median :7.018   g/dL   :0      >60    :0     <0.055 :0
 Mean   :7.018   INR    :0      >90    :0     <0.1   :0
 3rd Qu.:7.018   K/uL   :0      0.0    :0     <1.0   :0
 Max.   :7.018   mEq/L  :0      0.00   :0     <1.2   :0
                 (Other):0      (Other):0     (Other):0
[1] "Arterial pO2 for POC"
# A tibble: 1 x 2
# Groups:   base_name [1]
  base_name     n
  <chr>     <int>
1 PO2A          1
 ord_num_value   reference_unit reference_low reference_high
 Min.   :392.3   mmHg   :1      70     :1     100    :1
 1st Qu.:392.3          :0             :0            :0
 Median :392.3   %      :0      >60    :0     <0.055 :0
 Mean   :392.3   g/dL   :0      >90    :0     <0.1   :0
 3rd Qu.:392.3   INR    :0      0.0    :0     <1.0   :0
 Max.   :392.3   K/uL   :0      0.00   :0     <1.2   :0
                 (Other):0      (Other):0     (Other):0
[1] "AST (SGOT), Ser/Plas"
# A tibble: 1 x 2
# Groups:   base_name [1]
  base_name     n
  <chr>     <int>
1 AST       14699
 ord_num_value    reference_unit  reference_low   reference_high
 Min.   :   5.0   U/L    :14699   10     :12291   50     :6504
 1st Qu.:  22.0          :    0          : 2408   35     :5787
 Median :  30.0   %      :    0   >60    :    0   <40    :2406
 Mean   :  57.8   g/dL   :    0   >90    :    0   <44    :   2
 3rd Qu.:  49.0   INR    :    0   0.0    :    0          :   0
 Max.   :4859.0   K/uL   :    0   0.00   :    0   <0.055 :   0
                  (Other):    0   (Other):    0   (Other):   0
[1] "Base Excess (vt)"
# A tibble: 1 x 2
# Groups:   base_name [1]
  base_name     n
  <chr>     <int>
1 BE          333
 ord_num_value     reference_unit reference_low reference_high
 Min.   :-31.200   mEq/L  :333    0.0    :333   3.0    :333
 1st Qu.: -6.100          :  0           :  0          :  0
 Median : -1.300   %      :  0    >60    :  0   <0.055 :  0
 Mean   : -2.365   g/dL   :  0    >90    :  0   <0.1   :  0
 3rd Qu.:  2.500   INR    :  0    0.00   :  0   <1.0   :  0
 Max.   : 25.300   K/uL   :  0    0.05   :  0   <1.2   :  0
                   (Other):  0    (Other):  0   (Other):  0
[1] "Base Excess Arterial for POC"
# A tibble: 1 x 2
# Groups:   base_name [1]
  base_name     n
  <chr>     <int>
1 BE            1
 ord_num_value   reference_unit reference_low reference_high
 Min.   :-15.7   mmol/L :1      0.0    :1     3.0    :1
 1st Qu.:-15.7          :0             :0            :0
 Median :-15.7   %      :0      >60    :0     <0.055 :0
 Mean   :-15.7   g/dL   :0      >90    :0     <0.1   :0
 3rd Qu.:-15.7   INR    :0      0.00   :0     <1.0   :0
 Max.   :-15.7   K/uL   :0      0.05   :0     <1.2   :0
                 (Other):0      (Other):0     (Other):0
[1] "Base Excess, ISTAT"
# A tibble: 1 x 2
# Groups:   base_name [1]
  base_name     n
  <chr>     <int>
1 BE         7671
 ord_num_value    reference_unit reference_low  reference_high
 Min.   :-30.00   mmol/L :7671          :7671          :7671
 1st Qu.: -2.00          :   0   >60    :   0   <0.055 :   0
 Median :  1.00   %      :   0   >90    :   0   <0.1   :   0
 Mean   :  0.87   g/dL   :   0   0.0    :   0   <1.0   :   0
 3rd Qu.:  4.00   INR    :   0   0.00   :   0   <1.2   :   0
 Max.   : 30.00   K/uL   :   0   0.05   :   0   <1.4   :   0
                  (Other):   0   (Other):   0   (Other):   0
[1] "Basophil, Absolute"
# A tibble: 1 x 2
# Groups:   base_name [1]
  base_name     n
  <chr>     <int>
1 BASOAB    13362
 ord_num_value     reference_unit  reference_low   reference_high
 Min.   :0.00000   K/uL   :13362   0.00   :13362   0.25   :10989
 1st Qu.:0.02000          :    0          :    0   0.20   : 2373
 Median :0.04000   %      :    0   >60    :    0          :    0
 Mean   :0.04084   g/dL   :    0   >90    :    0   <0.055 :    0
 3rd Qu.:0.05000   INR    :    0   0.0    :    0   <0.1   :    0
 Max.   :0.43000   mEq/L  :    0   0.05   :    0   <1.0   :    0
                   (Other):    0   (Other):    0   (Other):    0
[1] "Basophils, ABS (man diff)"
# A tibble: 1 x 2
# Groups:   base_name [1]
  base_name     n
  <chr>     <int>
1 BASOAB      413
 ord_num_value   reference_unit reference_low reference_high
 Min.   :0.000   K/uL   :413    0.00   :413   0.25   :405
 1st Qu.:0.040          :  0           :  0   0.20   :  8
 Median :0.080   %      :  0    >60    :  0          :  0
 Mean   :0.136   g/dL   :  0    >90    :  0   <0.055 :  0
 3rd Qu.:0.140   INR    :  0    0.0    :  0   <0.1   :  0
 Max.   :5.390   mEq/L  :  0    0.05   :  0   <1.0   :  0
                 (Other):  0    (Other):  0   (Other):  0
[1] "Bicarbonate, Art for POC"
# A tibble: 1 x 2
# Groups:   base_name [1]
  base_name     n
  <chr>     <int>
1 HCO3A         1
 ord_num_value reference_unit reference_low reference_high
 Min.   :15    mmol/L :1      22.0   :1     32.0   :1
 1st Qu.:15           :0             :0            :0
 Median :15    %      :0      >60    :0     <0.055 :0
 Mean   :15    g/dL   :0      >90    :0     <0.1   :0
 3rd Qu.:15    INR    :0      0.0    :0     <1.0   :0
 Max.   :15    K/uL   :0      0.00   :0     <1.2   :0
               (Other):0      (Other):0     (Other):0
[1] "BUN, Arterial"
# A tibble: 1 x 2
# Groups:   base_name [1]
  base_name     n
  <chr>     <int>
1 BUN           1
 ord_num_value reference_unit reference_low reference_high
 Min.   :44    mg/dL  :1      5      :1     25     :1
 1st Qu.:44           :0             :0            :0
 Median :44    %      :0      >60    :0     <0.055 :0
 Mean   :44    g/dL   :0      >90    :0     <0.1   :0
 3rd Qu.:44    INR    :0      0.0    :0     <1.0   :0
 Max.   :44    K/uL   :0      0.00   :0     <1.2   :0
               (Other):0      (Other):0     (Other):0
[1] "BUN, Peripheral"
# A tibble: 1 x 2
# Groups:   base_name [1]
  base_name     n
  <chr>     <int>
1 BUN           1
 ord_num_value reference_unit reference_low reference_high
 Min.   :107   mg/dL  :1      5      :1     25     :1
 1st Qu.:107          :0             :0            :0
 Median :107   %      :0      >60    :0     <0.055 :0
 Mean   :107   g/dL   :0      >90    :0     <0.1   :0
 3rd Qu.:107   INR    :0      0.0    :0     <1.0   :0
 Max.   :107   K/uL   :0      0.00   :0     <1.2   :0
               (Other):0      (Other):0     (Other):0
[1] "BUN, Ser/Plas"
# A tibble: 1 x 2
# Groups:   base_name [1]
  base_name     n
  <chr>     <int>
1 BUN       15472
 ord_num_value    reference_unit  reference_low  reference_high
 Min.   :  2.00   mg/dL  :15472   8      :6481   23     :9354
 1st Qu.: 12.00          :    0   6      :6102   20     :6102
 Median : 17.00   %      :    0   5      :2889   25     :  14
 Mean   : 23.06   g/dL   :    0          :   0   18     :   2
 3rd Qu.: 27.00   INR    :    0   >60    :   0          :   0
 Max.   :258.00   K/uL   :    0   >90    :   0   <0.055 :   0
                  (Other):    0   (Other):   0   (Other):   0
[1] "BUN, Venous"
# A tibble: 1 x 2
# Groups:   base_name [1]
  base_name     n
  <chr>     <int>
1 BUN           1
 ord_num_value reference_unit reference_low reference_high
 Min.   :8     mg/dL  :1      5      :1     25     :1
 1st Qu.:8            :0             :0            :0
 Median :8     %      :0      >60    :0     <0.055 :0
 Mean   :8     g/dL   :0      >90    :0     <0.1   :0
 3rd Qu.:8     INR    :0      0.0    :0     <1.0   :0
 Max.   :8     K/uL   :0      0.00   :0     <1.2   :0
               (Other):0      (Other):0     (Other):0
[1] "Calcium, Ser/Plas"
# A tibble: 1 x 2
# Groups:   base_name [1]
  base_name     n
  <chr>     <int>
1 CA        15501
 ord_num_value    reference_unit  reference_low   reference_high
 Min.   : 2.500   mg/dL  :15501   8.4    :12612   10.2   :7656
 1st Qu.: 8.700          :    0   8.2    : 2875   10.5   :4970
 Median : 9.100   %      :    0   8.5    :   14   10.4   :2875
 Mean   : 9.099   g/dL   :    0          :    0          :   0
 3rd Qu.: 9.500   INR    :    0   >60    :    0   <0.055 :   0
 Max.   :19.300   K/uL   :    0   >90    :    0   <0.1   :   0
                  (Other):    0   (Other):    0   (Other):   0
[1] "Chloride, Ser/Plas"
# A tibble: 1 x 2
# Groups:   base_name [1]
  base_name     n
  <chr>     <int>
1 CL        15479
 ord_num_value    reference_unit  reference_low   reference_high
 Min.   : 63.00   mmol/L :15479   98     :12582   107    :12582
 1st Qu.: 96.00          :    0   99     : 2875   112    : 2875
 Median :100.00   %      :    0   96     :   22   109    :   22
 Mean   : 99.38   g/dL   :    0          :    0          :    0
 3rd Qu.:103.00   INR    :    0   >60    :    0   <0.055 :    0
 Max.   :133.00   K/uL   :    0   >90    :    0   <0.1   :    0
                  (Other):    0   (Other):    0   (Other):    0
[1] "Chloride, Whole Bld"
# A tibble: 1 x 2
# Groups:   base_name [1]
  base_name     n
  <chr>     <int>
1 CL           66
 ord_num_value   reference_unit reference_low reference_high
 Min.   : 84.0   mmol/L :66     95     :66    110    :66
 1st Qu.: 99.0          : 0            : 0           : 0
 Median :105.0   %      : 0     >60    : 0    <0.055 : 0
 Mean   :103.9   g/dL   : 0     >90    : 0    <0.1   : 0
 3rd Qu.:109.0   INR    : 0     0.0    : 0    <1.0   : 0
 Max.   :115.0   K/uL   : 0     0.00   : 0    <1.2   : 0
                 (Other): 0     (Other): 0    (Other): 0
[1] "CO2 Arterial Total for POC"
# A tibble: 1 x 2
# Groups:   base_name [1]
  base_name     n
  <chr>     <int>
1 TCO2A         1
 ord_num_value  reference_unit reference_low reference_high
 Min.   :16.8   mmol/L :1      22     :1     29     :1
 1st Qu.:16.8          :0             :0            :0
 Median :16.8   %      :0      >60    :0     <0.055 :0
 Mean   :16.8   g/dL   :0      >90    :0     <0.1   :0
 3rd Qu.:16.8   INR    :0      0.0    :0     <1.0   :0
 Max.   :16.8   K/uL   :0      0.00   :0     <1.2   :0
                (Other):0      (Other):0     (Other):0
[1] "CO2, Ser/Plas"
# A tibble: 1 x 2
# Groups:   base_name [1]
  base_name     n
  <chr>     <int>
1 CO2       15475
 ord_num_value   reference_unit  reference_low   reference_high
 Min.   : 3.00   mmol/L :15475   22     :15461   29     :12588
 1st Qu.:22.00          :    0   20     :   14   32     : 2873
 Median :24.00   %      :    0          :    0   30     :   14
 Mean   :23.92   g/dL   :    0   >60    :    0          :    0
 3rd Qu.:26.00   INR    :    0   >90    :    0   <0.055 :    0
 Max.   :49.00   K/uL   :    0   0.0    :    0   <0.1   :    0
                 (Other):    0   (Other):    0   (Other):    0
[1] "Creatinine, Ser/Plas"
# A tibble: 1 x 2
# Groups:   base_name [1]
  base_name     n
  <chr>     <int>
1 CR        15468
 ord_num_value    reference_unit  reference_low  reference_high
 Min.   : 0.060   mg/dL  :15468   0.67   :6645   1.17   :6645
 1st Qu.: 0.690          :    0   0.51   :5938   0.95   :5938
 Median : 0.910   %      :    0   0.40   :2875   1.20   :2873
 Mean   : 1.389   g/dL   :    0   0.50   :   6   1.00   :   8
 3rd Qu.: 1.300   INR    :    0          :   4          :   4
 Max.   :36.960   K/uL   :    0   >60    :   0   <0.055 :   0
                  (Other):    0   (Other):   0   (Other):   0
[1] "Creatinine,ISTAT"
# A tibble: 1 x 2
# Groups:   base_name [1]
  base_name     n
  <chr>     <int>
1 CR          808
 ord_num_value    reference_unit reference_low reference_high
 Min.   : 0.200   mg/dL  :808           :808   <1.2   :808
 1st Qu.: 0.800          :  0    >60    :  0          :  0
 Median : 1.000   %      :  0    >90    :  0   <0.055 :  0
 Mean   : 1.339   g/dL   :  0    0.0    :  0   <0.1   :  0
 3rd Qu.: 1.300   INR    :  0    0.00   :  0   <1.0   :  0
 Max.   :18.100   K/uL   :  0    0.05   :  0   <1.4   :  0
                  (Other):  0    (Other):  0   (Other):  0
[1] "eGFR"
# A tibble: 1 x 2
# Groups:   base_name [1]
  base_name     n
  <chr>     <int>
1 EGFR      15275
 ord_num_value           reference_unit  reference_low   reference_high
 Min.   :  1.00   mL/min/1.73 m2:15275   >60    :13215          :15275
 1st Qu.: 48.00                 :    0   >90    : 2060   <0.055 :    0
 Median : 78.00   %             :    0          :    0   <0.1   :    0
 Mean   : 73.96   g/dL          :    0   0.0    :    0   <1.0   :    0
 3rd Qu.:100.00   INR           :    0   0.00   :    0   <1.2   :    0
 Max.   :267.00   K/uL          :    0   0.05   :    0   <1.4   :    0
                  (Other)       :    0   (Other):    0   (Other):    0
[1] "Eosinophil, Absolute"
# A tibble: 1 x 2
# Groups:   base_name [1]
  base_name     n
  <chr>     <int>
1 EOSAB     13362
 ord_num_value    reference_unit  reference_low   reference_high
 Min.   :0.0000   K/uL   :13362   0.05   :10821   0.55   :10821
 1st Qu.:0.0200          :    0   0.00   : 2541   0.70   : 2373
 Median :0.0700   %      :    0          :    0   0.20   :  168
 Mean   :0.1267   g/dL   :    0   >60    :    0          :    0
 3rd Qu.:0.1700   INR    :    0   >90    :    0   <0.055 :    0
 Max.   :4.6900   mEq/L  :    0   0.0    :    0   <0.1   :    0
                  (Other):    0   (Other):    0   (Other):    0
[1] "Eosinophils, ABS (man diff)"
# A tibble: 1 x 2
# Groups:   base_name [1]
  base_name     n
  <chr>     <int>
1 EOSAB       700
 ord_num_value     reference_unit reference_low reference_high
 Min.   : 0.0000   K/uL   :700    0.05   :678   0.55   :679
 1st Qu.: 0.0600          :  0    0.00   : 21   0.70   : 11
 Median : 0.1200   %      :  0    0.50   :  1   0.20   : 10
 Mean   : 0.3039   g/dL   :  0           :  0          :  0
 3rd Qu.: 0.2600   INR    :  0    >60    :  0   <0.055 :  0
 Max.   :14.3700   mEq/L  :  0    >90    :  0   <0.1   :  0
                   (Other):  0    (Other):  0   (Other):  0
[1] "Globulin"
# A tibble: 1 x 2
# Groups:   base_name [1]
  base_name     n
  <chr>     <int>
1 GLOB      14664
 ord_num_value    reference_unit  reference_low   reference_high
 Min.   : 0.900   g/dL   :14664   2.0    :14664   5.0    :14664
 1st Qu.: 2.700          :    0          :    0          :    0
 Median : 3.100   %      :    0   >60    :    0   <0.055 :    0
 Mean   : 3.182   INR    :    0   >90    :    0   <0.1   :    0
 3rd Qu.: 3.600   K/uL   :    0   0.0    :    0   <1.0   :    0
 Max.   :10.800   mEq/L  :    0   0.00   :    0   <1.2   :    0
                  (Other):    0   (Other):    0   (Other):    0
[1] "Glucose by Meter"
# A tibble: 1 x 2
# Groups:   base_name [1]
  base_name     n
  <chr>     <int>
1 GLU        2225
 ord_num_value   reference_unit reference_low  reference_high
 Min.   : 24.0   mg/dL  :2225   70     :2225   200    :1860
 1st Qu.:102.0          :   0          :   0   100    : 365
 Median :135.0   %      :   0   >60    :   0          :   0
 Mean   :174.1   g/dL   :   0   >90    :   0   <0.055 :   0
 3rd Qu.:217.0   INR    :   0   0.0    :   0   <0.1   :   0
 Max.   :595.0   K/uL   :   0   0.00   :   0   <1.0   :   0
                 (Other):   0   (Other):   0   (Other):   0
[1] "Glucose, Non-fasting"
# A tibble: 1 x 2
# Groups:   base_name [1]
  base_name     n
  <chr>     <int>
1 GLU           1
 ord_num_value reference_unit reference_low reference_high
 Min.   :796   mg/dL  :1      70     :1     200    :1
 1st Qu.:796          :0             :0            :0
 Median :796   %      :0      >60    :0     <0.055 :0
 Mean   :796   g/dL   :0      >90    :0     <0.1   :0
 3rd Qu.:796   INR    :0      0.0    :0     <1.0   :0
 Max.   :796   K/uL   :0      0.00   :0     <1.2   :0
               (Other):0      (Other):0     (Other):0
[1] "Glucose, Ser/Plas"
# A tibble: 1 x 2
# Groups:   base_name [1]
  base_name     n
  <chr>     <int>
1 GLU       15474
 ord_num_value    reference_unit  reference_low   reference_high
 Min.   :   8.0   mg/dL  :15474   70     :15474   140    :15454
 1st Qu.: 101.0          :    0          :    0   100    :   15
 Median : 117.0   %      :    0   >60    :    0   99     :    5
 Mean   : 141.3   g/dL   :    0   >90    :    0          :    0
 3rd Qu.: 149.0   INR    :    0   0.0    :    0   <0.055 :    0
 Max.   :1323.0   K/uL   :    0   0.00   :    0   <0.1   :    0
                  (Other):    0   (Other):    0   (Other):    0
[1] "Glucose, Whole Blood"
# A tibble: 1 x 2
# Groups:   base_name [1]
  base_name     n
  <chr>     <int>
1 GLU          66
 ord_num_value   reference_unit reference_low reference_high
 Min.   :  1.0   mg/dL  :66     70     :66    100    :66
 1st Qu.:114.2          : 0            : 0           : 0
 Median :131.0   %      : 0     >60    : 0    <0.055 : 0
 Mean   :197.7   g/dL   : 0     >90    : 0    <0.1   : 0
 3rd Qu.:239.2   INR    : 0     0.0    : 0    <1.0   : 0
 Max.   :609.0   K/uL   : 0     0.00   : 0    <1.2   : 0
                 (Other): 0     (Other): 0    (Other): 0
[1] "Glucose,ISTAT"

In [13]:
# update lab list, cut some labs - from TRIAGE
# OK to include 1 entry Glucose
# be careful with Lactate has 2 basename whole blood and none

# remove Potassium --> 1 entry, 7.4 weird
# remove Platelets --> all NA
# remove base_name of glucose urine --> all NA
# no longer here to remove: remove Basophils --> unit is %
# no longer here to remove: "pH" , "Ketone, urine", "Leukocyte Esterase, urine" # few, and all NA

lab_list <- c("RBC", "MCH", "MCHC", "MCV", "Calcium, Ser/Plas", "CO2, Ser/Plas",
               "Albumin, Ser/Plas", "ALT (SGPT), Ser/Plas", "AST (SGOT), Ser/Plas", "Alk P'TASE, Total, Ser/Plas",
               "Globulin", "Protein, Total, Ser/Plas",
               "Magnesium, Ser/Plas",  "Phosphorus, Ser/Plas", #14 ind
               
               "WBC", "WBC count", # WBC count is 1000*WBC
               "TROPONIN I", "Troponin I, POCT",
               "Total Bilirubin, Ser/Plas", "Total Bilirubin",
               "Platelet count", # remove Platelets
              
               "Hematocrit", "Hct, ISTAT", "Hct(Calc), ISTAT", "Hct (Est)", "HCT, POC", "Hematocrit (Manual Entry) See EMR for details",
               "Hemoglobin", "Hgb(Calc), ISTAT", "Hgb, calculated, POC", "HgB", 
               "Potassium, Ser/Plas", "Potassium, ISTAT",  "Potassium, Whole Bld", "Potassium, whole blood, ePOC", # remove Potassium
               "Sodium, Ser/Plas", "Sodium, ISTAT",  "Sodium, Whole Blood", 
               "Chloride, Ser/Plas",  "Chloride, ISTAT",  "Chloride, Whole Bld",
               "Creatinine, Ser/Plas", "Creatinine,ISTAT", 
              
               "Anion Gap", "Anion Gap, ISTAT",
               "Glucose, Ser/Plas", "Glucose,ISTAT", "Glucose, Whole Blood", "Glucose by Meter", "Glucose, Non-fasting",
               "BUN, Ser/Plas", "BUN, ISTAT", "Urea Nitrogen,Ser/Plas", 'BUN, Arterial', 'BUN, Peripheral', 'BUN, Venous',
               "Neutrophil, Absolute", "NEUT, ABS", "Neut, ABS (Seg+Band) (man diff)", "Neutrophils, Absolute (Manual Diff)", "Neut, ABS (Seg+Band) (man diff)",
               "Basophil, Absolute", "BASOS, ABS", "Basophils, ABS (man diff)", "Baso, ABS (man diff)", # remove Basophils
               "Eosinophil, Absolute", "EOS, ABS", "Eosinophils, ABS (man diff)", "Eos, ABS (man diff)",
               "Lymphocyte, Absolute", "LYM, ABS", "Lymphocytes, ABS (man diff)", "Lym, ABS (man diff)", "Lymphocytes, Abs.",
                  # Lymphocytes, Abs. = 1000* the rest of lymphocytes
               "Monocyte, Absolute", "MONO, ABS", "Monocytes, ABS (man diff)", "Mono, ABS (man diff)",
               "Lactate, ISTAT", "Lactate, Whole Bld", "Lactic Acid",
               "Base Excess, ISTAT", "Base Excess (vt)", "Base Excess Arterial for POC",
              
                "HCO3", "HCO3 (a), ISTAT", "Bicarbonate, Art for POC", 
                "HCO3 (v), ISTAT", "HCO3, ISTAT", 
                "O2 Saturation (a)", "O2 Saturation, ISTAT", "Oxygen Saturation for POC", 
                "O2 Saturation (v)",  "O2 Saturation, ISTAT (Ven)",
                "pCO2 (a)", "pCO2 (a), ISTAT",  "PCO2, ISTAT", "Arterial pCO2 for POC",
                "pCO2 (v)", "PCO2 (v), ISTAT",
                "pH (a)", "PH (a), ISTAT", "pH by Meter", "Arterial pH for POC",
                "pH (v)", "PH (v), ISTAT", "PH, ISTAT", 
                "pO2 (a)", "PO2 (a), ISTAT",  "PO2, ISTAT", "Arterial pO2 for POC",
                "pO2 (v)", "PO2 (v), ISTAT", 
              
                "tCO2", "TCO2 (a), ISTAT","TCO2, ISTAT", "TCO2, (ISTAT)", "CO2 Arterial Total for POC", 
                "TCO2 (v), ISTAT", # 1 individual
                "INR", "INR, ISTAT", 
                "Prothrombin Time", "PT, ISTAT") # 33 more than 1
#               "pH", "Ketone, urine", "Leukocyte Esterase, urine") #"O2 Saturation, ISTAT (Oth)", "ctO2 (a)"
length(lab_list)

[1] 123

In [14]:
colnames(labs0)

 [1] "anon_id"                 "pat_enc_csn_id_coded"
 [3] "inpatient_data_id_coded" "admit_time"
 [5] "label"                   "DBP"
 [7] "Pulse"                   "RR"
 [9] "SBP"                     "Temp"
[11] "order_id_coded"          "lab_name"
[13] "base_name"               "ord_value"
[15] "ord_num_value"           "reference_low"
[17] "reference_high"          "reference_unit"
[19] "result_in_range_yn"      "result_flag"
[21] "result_time_utc"         "order_time_utc"
[23] "taken_time_utc"

In [15]:
# sodium base_name is NA, so might not pick up. either collect is.na(base_name) or specify these lab_names
labs0 %>% filter(str_detect(lab_name, "Sodium")) %>% group_by(lab_name, base_name) %>% count() %>% distinct()

  lab_name                  base_name n
1 Sodium, ISTAT             NA          915
2 Sodium, Ser/Plas          NA        15493
3 Sodium, Whole Blood       NA           66
4 Sodium, whole blood, ePOC NA           32

In [16]:
# Only need to remove glucose in urine, 1 potassium, 1 platelets, and base_name of urine glucose
# changed labs0 to labs here
removed_lab_names <- c("Platelets", "Potassium")
labs <- labs0 %>% filter(!lab_name %in% removed_lab_names, base_name != "GLUURN" | is.na(base_name)) %>%
                select(-c(taken_time_utc, order_time_utc)) %>%
#             select(anon_id, pat_enc_csn_id_coded, lab_name, base_name, ord_num_value, 
#                    result_flag, order_time_utc, taken_time_utc, result_time_utc) %>%
                rename(features = lab_name, values = ord_num_value, result_time = result_time_utc) %>% 
#             mutate(feature_type = "labs", result_flag = ifelse(result_flag=="",0,1)) %>% 
                drop_na(values) %>% distinct()
nrow(labs)

[1] 513368

In [17]:
str_sort(setdiff(labs$lab_name, lab_list)) # NONE
str_sort(setdiff(lab_list, labs$features)) # ok
labs %>% filter(features %in% c('TCO2 (v), ISTAT')) # not there (only 1 person from the old dataset)
str_sort(unique(labs$base_name)) # has NA

character(0)

 [1] "Anion Gap, ISTAT"
 [2] "Baso, ABS (man diff)"
 [3] "BASOS, ABS"
 [4] "BUN, ISTAT"
 [5] "Chloride, ISTAT"
 [6] "EOS, ABS"
 [7] "Eos, ABS (man diff)"
 [8] "Hct(Calc), ISTAT"
 [9] "Hematocrit (Manual Entry) See EMR for details"
[10] "LYM, ABS"
[11] "Lym, ABS (man diff)"
[12] "Lymphocytes, Abs."
[13] "Magnesium, Ser/Plas"
[14] "MCHC"
[15] "MCV"
[16] "MONO, ABS"
[17] "Mono, ABS (man diff)"
[18] "NEUT, ABS"
[19] "Neutrophils, Absolute (Manual Diff)"
[20] "Phosphorus, Ser/Plas"
[21] "RBC"
[22] "TCO2 (v), ISTAT"
[23] "TCO2, (ISTAT)"
[24] "Total Bilirubin"
[25] "Urea Nitrogen,Ser/Plas"
[26] "WBC count"

Warning message in cbind(parts$left, ellip_h, parts$right, deparse.level = 0L):
“number of rows of result is not a multiple of vector length (arg 2)”
Warning message in cbind(parts$left, ellip_h, parts$right, deparse.level = 0L):
“number of rows of result is not a multiple of vector length (arg 2)”
Warning message in cbind(parts$left, ellip_h, parts$right, deparse.level = 0L):
“number of rows of result is not a multiple of vector length (arg 2)”
Warning message in cbind(parts$left, ellip_h, parts$right, deparse.level = 0L):
“number of rows of result is not a multiple of vector length (arg 2)”

     anon_id pat_enc_csn_id_coded inpatient_data_id_coded admit_time label DBP
     Pulse RR SBP Temp ⋯ features base_name ord_value values reference_low
     reference_high reference_unit result_in_range_yn result_flag result_time

 [1] "AG"      "ALB"     "ALKP"    "ALT"     "AST"     "BASOAB"  "BE"
 [8] "BUN"     "CA"      "CL"      "CO2"     "CR"      "EGFR"    "EOSAB"
[15] "GLOB"    "GLU"     "HCO3"    "HCO3A"   "HCO3V"   "HCT"     "HGB"
[22] "INR"     "K"       "LAC"     "LACWBL"  "LYMAB"   "MCH"     "MONOAB"
[29] "NEUTAB"  "NEUTABS" "O2SATA"  "O2SATV"  "PCO2A"   "PCO2V"   "PH"
[36] "PHA"     "PHV"     "PLT"     "PO2A"    "PO2V"    "PT"      "RDW"
[43] "TBIL"    "TCO2A"   "TNI"     "TP"      "WBC"     NA

In [18]:
# convert WBC count to WBC unit and Lymphocytes Abs. before combining
labs <- labs %>% mutate(values = ifelse(features == "WBC count", round(values/1000.0, 1), 
                                          ifelse(features == "Lymphocytes, Abs.", round(values/1000.0, 3), values)))

In [19]:
# in range: Y or blank 
labs %>% count(result_in_range_yn) %>% arrange(desc(result_in_range_yn))
# normal as blanks
labs %>% count(result_flag) %>% arrange(desc(n))
head(labs %>% count(values) %>% arrange())
tail(labs %>% count(values) %>% arrange())

  result_in_range_yn n
1 NA                 513368

  result_flag n
1             347550
2 High         80665
3 Low          78550
4 High Panic    3595
5 Low Panic     3008

  values n
1 -31.2   1
2 -30.0   2
3 -29.0   1
4 -28.0   5
5 -27.0   7
6 -26.0  10

     values  n
4815    3541    1
4816    4155    1
4817    4316    1
4818    4859    1
4819    5253    1
4820 9999999 6144

In [20]:
labs %>% group_by(features, base_name) %>% count() %>% distinct()

    features                        base_name n
1   Albumin, Ser/Plas               ALB       14755
2   Alk P'TASE, Total, Ser/Plas     ALKP      14721
3   ALT (SGPT), Ser/Plas            ALT       14710
4   Anion Gap                       AG        15472
5   Arterial pCO2 for POC           PCO2A         1
6   Arterial pH for POC             PHA           1
7   Arterial pO2 for POC            PO2A          1
8   AST (SGOT), Ser/Plas            AST       14702
9   Base Excess (vt)                BE          333
10  Base Excess Arterial for POC    BE            1
11  Base Excess, ISTAT              BE         7684
12  Basophil, Absolute              BASOAB    13362
13  Basophils, ABS (man diff)       BASOAB      413
14  Bicarbonate, Art for POC        HCO3A         1
15  BUN, Arterial                   BUN           1
16  BUN, Peripheral                 BUN           1
17  BUN, Ser/Plas                   BUN       15477
18  BUN, Venous                     BUN           1
19  Calcium, Ser/Plas               CA        15501
20  Chloride, Ser/Plas              CL        15483
21  Chloride, Whole Bld             CL           66
22  CO2 Arterial Total for POC      TCO2A         1
23  CO2, Ser/Plas                   CO2       15481
24  Creatinine, Ser/Plas            CR        15472
25  Creatinine,ISTAT                CR          809
26  eGFR                            EGFR      16086
27  Eosinophil, Absolute            EOSAB     13362
28  Eosinophils, ABS (man diff)     EOSAB       700
29  Globulin                        GLOB      14664
30  Glucose by Meter                GLU        2333
31  Glucose, Non-fasting            GLU           1
32  Glucose, Ser/Plas               GLU       15474
33  Glucose, Whole Blood            GLU          66
34  Glucose,ISTAT                   GLU         911
35  HCO3                            HCO3A       333
36  HCO3 (a), ISTAT                 HCO3A       107
37  HCO3 (v), ISTAT                 HCO3V      7567
38  HCO3, ISTAT                     HCO3         10
39  Hct (Est)                       HCT          66
40  Hct, ISTAT                      HCT         912
41  HCT, POC                        HCT          22
42  Hematocrit                      HCT       15779
43  Hemoglobin                      HGB       15781
44  HgB                             HGB          66
45  Hgb, calculated, POC            HGB          22
46  Hgb(Calc), ISTAT                HGB         893
47  INR                             INR        7016
48  INR, ISTAT                      INR         265
49  Lactate, ISTAT                  LAC        7528
50  Lactate, Whole Bld              LACWBL      478
51  Lactic Acid                     LAC        1269
52  Lymphocyte, Absolute            LYMAB     13362
53  Lymphocytes, ABS (man diff)     LYMAB      1589
54  MCH                             MCH       15750
55  Monocyte, Absolute              MONOAB    13362
56  Monocytes, ABS (man diff)       MONOAB     1545
57  Neut, ABS (Seg+Band) (man diff) NEUTAB       39
58  Neut, ABS (Seg+Band) (man diff) NEUTABS    1584
59  Neutrophil, Absolute            NEUTAB    13362
60  O2 Saturation (a)               O2SATA       68
61  O2 Saturation (v)               O2SATV      257
62  O2 Saturation, ISTAT            O2SATA      107
63  O2 Saturation, ISTAT (Ven)      O2SATV     7556
64  Oxygen Saturation for POC       O2SATA        1
65  pCO2 (a)                        PCO2A        70
66  pCO2 (a), ISTAT                 PCO2A       107
67  pCO2 (v)                        PCO2V       263
68  PCO2 (v), ISTAT                 PCO2V      7581
69  PCO2, ISTAT                     PCO2A        10
70  pH (a)                          PHA          70
71  PH (a), ISTAT                   PHA         107
72  pH (v)                          PHV         263
73  PH (v), ISTAT                   PHV        7581
74  pH by Meter                     PHA           7
75  PH, ISTAT                       PH           10
76  Platelet count                  PLT       15793
77  pO2 (a)                         PO2A         70
78  PO2 (a), ISTAT                  PO2A        107
79  pO2 (v)                         PO2V        263
80  PO2 (v), ISTAT                  PO2V       7587
81  PO2, ISTAT                      PO2A         10
82  Potassium, ISTAT                K           910
83  Potassium, Ser/Plas             K         15513
84  Potassium, Whole Bld            K            70
85  Potassium, whole blood, ePOC    K            40
86  Protein, Total, Ser/Plas        TP        14722
87  Prothrombin Time                PT         7016
88  PT, ISTAT                       PT          251
89  RDW                             RDW       15748
90  Sodium, ISTAT                   NA          915
91  Sodium, Ser/Plas                NA        15492
92  Sodium, Whole Blood             NA           65
93  Sodium, whole blood, ePOC       NA           32
94  tCO2                            TCO2A       333
95  TCO2 (a), ISTAT                 TCO2A       107
96  TCO2, ISTAT                     TCO2A        10
97  Total Bilirubin, Ser/Plas       TBIL      14835
98  TROPONIN I                      TNI        6671
99  Troponin I, POCT                TNI         211
100 WBC                             WBC       15785

In [21]:
###str_sort(unique(labs$features))

In [22]:


# ISTAT seems all A, so put pH in A
# combine same labs and change the lab name in the data
# could use base_name except for LACTATE has 2 different base_names
# Glucose lab_name as base_name as GLU and UGLU. exclude glucose here, only 1 entry anyways
# New: Glucose, Sodium ePOC, 'Neut, ABS (man diff)' and ALB - RDW

ALB = 'Albumin, Ser/Plas'
ALK = 'Alk P\'TASE, Total, Ser/Plas'
ALT = 'ALT (SGPT), Ser/Plas'
AST = 'AST (SGOT), Ser/Plas'

Ca = 'Calcium, Ser/Plas'
CO2 = 'CO2, Ser/Plas'
eGFR = 'eGFR' # as char
Glob = 'Globulin'

MCH = 'MCH' # as char
TProtein = 'Protein, Total, Ser/Plas'
RDW = 'RDW' # as char

Platelet = c("Platelet count") # remove platelets 
TBili = c("Total Bilirubin", "Total Bilirubin, Ser/Plas")
Trop = c("TROPONIN I", "Troponin I, POCT")
WBC = c("WBC", "WBC count") # WBC count /1000 7

Hct = c("Hct (Est)", "Hct, ISTAT", "HCT, POC", "Hct(Calc), ISTAT", "Hematocrit",    
        "Hematocrit (Manual Entry) See EMR for details")
Hgb = c("Hemoglobin", "HgB", "Hgb, calculated, POC", "Hgb(Calc), ISTAT")
K = c("Potassium, ISTAT",  "Potassium, Ser/Plas", "Potassium, Whole Bld", "Potassium, whole blood, ePOC") # remove Potassium
Na = c("Sodium, ISTAT",  "Sodium, Ser/Plas", "Sodium, Whole Blood", 'Sodium, whole blood, ePOC') # ePOC is new
Cl = c("Chloride, ISTAT",  "Chloride, Ser/Plas",  "Chloride, Whole Bld")
Cr = c("Creatinine, Ser/Plas", "Creatinine,ISTAT") #22

AnionGap = c("Anion Gap", "Anion Gap, ISTAT") 
Glucose = c('Glucose', "Glucose by Meter", "Glucose, Non-fasting", "Glucose, Ser/Plas", "Glucose, Whole Blood", "Glucose,ISTAT")
BUN = c("BUN, Ser/Plas", "BUN, ISTAT", "Urea Nitrogen,Ser/Plas", 'BUN, Arterial', 'BUN, Peripheral', 'BUN, Venous') #10
Neut = c("NEUT, ABS", 'Neut, ABS (man diff)', "Neut, ABS (Seg+Band) (man diff)", "Neutrophil, Absolute",  "Neutrophils, Absolute (Manual Diff)")
Basos = c("Basophils, ABS (man diff)", "Basophil, Absolute", "Baso, ABS (man diff)", "BASOS, ABS")
Eos = c("EOS, ABS", "Eosinophils, ABS (man diff)", "Eosinophil, Absolute", "Eos, ABS (man diff)")
Lymp = c("LYM, ABS", "Lymphocytes, ABS (man diff)", "Lymphocyte, Absolute", "Lym, ABS (man diff)", "Lymphocytes, Abs.")
Mono = c("MONO, ABS", "Monocytes, ABS (man diff)", "Monocyte, Absolute", "Mono, ABS (man diff)")
Lactate = c("Lactate, ISTAT", "Lactate, Whole Bld", "Lactic Acid")
Base = c("Base Excess (vt)", "Base Excess Arterial for POC", "Base Excess, ISTAT") #28

HCO3_a = c("HCO3", "HCO3 (a), ISTAT", "Bicarbonate, Art for POC") # HCO3 is A based on base name
HCO3_v = c("HCO3 (v), ISTAT", "HCO3, ISTAT") 
O2sat_a = c("O2 Saturation (a)", "O2 Saturation, ISTAT", "Oxygen Saturation for POC")
O2sat_v = c("O2 Saturation (v)",  "O2 Saturation, ISTAT (Ven)")
pCO2_a = c("pCO2 (a)", "pCO2 (a), ISTAT",  "PCO2, ISTAT", "Arterial pCO2 for POC")
pCO2_v = c("pCO2 (v)", "PCO2 (v), ISTAT") 
pH_a = c("pH (a)", "PH (a), ISTAT", "pH by Meter", "Arterial pH for POC", "PH, ISTAT")
pH_v = c ("pH (v)", "PH (v), ISTAT") # new: move "PH, ISTAT" to arterial
PO2_a = c("pO2 (a)", "PO2 (a), ISTAT",  "PO2, ISTAT", "Arterial pO2 for POC")
PO2_v = c ("pO2 (v)", "PO2 (v), ISTAT") #29

TCO2_a = c("tCO2", "TCO2 (a), ISTAT", "TCO2, (ISTAT)", "TCO2, ISTAT", "CO2 Arterial Total for POC")
INR = c("INR", "INR, ISTAT")
PT = c("Prothrombin Time", "PT, ISTAT") #9

labs <- labs %>% 
        mutate(features = 
            ifelse(features %in% Platelet, "Platelet", ifelse(features %in% TBili, "TBili", 
            ifelse(features %in% Trop, "Trop", ifelse(features %in% WBC, "WBC",
            ifelse(features %in% Hct, "Hct", ifelse(features %in% Hgb, "Hgb", 
            ifelse(features %in% K, "K", ifelse(features %in% Na, "Na",
            ifelse(features %in% Cl, "Cl", ifelse(features %in% Cr, "Cr",
            ifelse(features %in% AnionGap, "AnionGap", ifelse(features %in% Glucose, "Glucose",
            ifelse(features %in% BUN, "BUN", ifelse(features %in% Neut, "Neut",    
            ifelse(features %in% Basos, "Basos", ifelse(features %in% Eos, "Eos",      
            ifelse(features %in% Lymp, "Lymp", ifelse(features %in% Mono, "Mono",    
            ifelse(features %in% Lactate, "Lactate",  ifelse(features %in% Base, "Base", 
            ifelse(features %in% HCO3_a, "HCO3_a", ifelse(features %in% HCO3_v, "HCO3_v", 
            ifelse(features %in% O2sat_a, "O2sat_a", ifelse(features %in% O2sat_v, "O2sat_v",
            ifelse(features %in% pCO2_a, "pCO2_a", ifelse(features %in% pCO2_v, "pCO2_v",
            ifelse(features %in% pH_a, "pH_a", ifelse(features %in% pH_v, "pH_v",      
            ifelse(features %in% PO2_a, "PO2_a", ifelse(features %in% PO2_v, "PO2_v",
            ifelse(features %in% TCO2_a, "TCO2_a", ifelse(features %in% INR, "INR",
            ifelse(features %in% PT, "PT", ifelse(features %in% ALB, "ALB",
            ifelse(features %in% ALK, "ALK", ifelse(features %in% ALT, "ALT",
            ifelse(features %in% AST, "AST", ifelse(features %in% TProtein, "TProtein",                                     
            ifelse(features %in% Ca, "Ca", ifelse(features %in% CO2, "CO2",                                        
            ifelse(features %in% Glob, "Glob", as.character(features))))))))))))))))))))))))))))))))))))))))))) %>%
        distinct()

In [23]:
nrow(labs) # 1367892 vs 1367838
# total 48 lab_name but 56 base_name
nrow(labs %>% select(anon_id, pat_enc_csn_id_coded) %>% distinct()) #41627
# labs %>% select(base_name, features) %>% distinct() %>% arrange(features, base_name) 
labs %>% group_by(features, base_name) %>% count(sort=TRUE) %>% arrange(features, base_name)

[1] 513368

[1] 15982

   features base_name n
1  ALB      ALB       14755
2  ALK      ALKP      14721
3  ALT      ALT       14710
4  AnionGap AG        15472
5  AST      AST       14702
6  Base     BE         8018
7  Basos    BASOAB    13775
8  BUN      BUN       15480
9  Ca       CA        15501
10 Cl       CL        15549
11 CO2      CO2       15481
12 Cr       CR        16281
13 eGFR     EGFR      16086
14 Eos      EOSAB     14062
15 Glob     GLOB      14664
16 Glucose  GLU       18785
17 HCO3_a   HCO3A       441
18 HCO3_v   HCO3         10
19 HCO3_v   HCO3V      7567
20 Hct      HCT       16779
21 Hgb      HGB       16762
22 INR      INR        7281
23 K        K         16533
24 Lactate  LAC        8797
25 Lactate  LACWBL      478
26 Lymp     LYMAB     14951
27 MCH      MCH       15750
28 Mono     MONOAB    14907
29 Na       NA        16504
30 Neut     NEUTAB    13401
31 Neut     NEUTABS    1584
32 O2sat_a  O2SATA      176
33 O2sat_v  O2SATV     7813
34 pCO2_a   PCO2A       188
35 pCO2_v   PCO2V      7844
36 pH_a     PH           10
37 pH_a     PHA         185
38 pH_v     PHV        7844
39 Platelet PLT       15793
40 PO2_a    PO2A        188
41 PO2_v    PO2V       7850
42 PT       PT         7267
43 RDW      RDW       15748
44 TBili    TBIL      14835
45 TCO2_a   TCO2A       451
46 TProtein TP        14722
47 Trop     TNI        6882
48 WBC      WBC       15785

### Process the 9999999 values
- check ord_value

In [24]:
# there are no NA, but only 15668 of 9999999 values
value99 <- labs %>% filter(values==9999999) 
nrow(value99)
value99 %>% group_by(ord_value) %>% count() %>% arrange(-n)

[1] 6144

   ord_value n
1  <0.017    4442
2  >90        811
3  <0.2       446
4  <0.30       91
5  <5          75
6  >500        69
7  >600        32
8  >700        20
9  <15         19
10 <2          18
11 <30.0       17
12 >130.0      14
13 <0.9        13
14 >30         11
15 <20          6
16 >9.0         5
17 >20.00       4
18 >50          4
19 <0.06        3
20 <0.1         3
21 <1           3
22 <1.5         3
23 <60          3
24 >110.0       3
25 >120.0       3
26 >15.0        3
27 >180         3
28 <-30         2
29 <2.0         2
30 >18.3        2
31 >300.0       2
32 >60.0        2
33 <0.10        1
34 <3           1
35 >12.0        1
36 >140         1
37 >18.1        1
38 >22.0        1
39 >40.000      1
40 >46          1
41 >7000        1
42 >8.0         1

In [25]:
value99 %>% filter(ord_value %in% c("N/A", "hi") | str_detect(ord_value, 'CANCELLED')) %>% count(ord_value, sort=TRUE)
value99 %>% filter(!grepl('>|<', ord_value)) %>% count(ord_value, sort=TRUE)

value99 %>% filter(ord_value %in% c("N/A", "hi") | str_detect(ord_value, 'CANCELLED')) %>% count(features, sort=TRUE)

     ord_value n

     ord_value n

     features n

In [26]:
# number of cancelled, NA, or 1 hi observations under ord_value
nrow(labs %>% filter(values==9999999, !grepl('>|<', ord_value)) %>% mutate(ord_value = factor(ord_value))) # %>% group_by(ord_value) %>% count() %>% arrange(-n)

[1] 0

In [27]:
# revmove those without > or < in ord_value (416), work with this set and then do it on the main labs
# take the upper/lower bounds for the 9999999 values and add 1% to it
value99 <- value99 %>% filter(grepl('>|<', ord_value)) %>% #mutate(ord_value = as.character(ord_value)) %>%
            mutate(values = 1.01 * as.double(gsub(paste(c(">", "<"), collapse = "|"),"", ord_value))) #%>%
#             drop_na(values) # %>% distinct() # same

nrow(value99) #15250
summary(value99$values)

[1] 6144

    Min.  1st Qu.   Median     Mean  3rd Qu.     Max.
 -30.300    0.017    0.017   25.340    0.202 7070.000

In [28]:
head(value99)

  anon_id   pat_enc_csn_id_coded inpatient_data_id_coded
1 JC2948274 131288452994         53606177
2 JC574617  131302008119         61925940
3 JC3035557 131298105782         59568658
4 JC1263713 131290915323         55153388
5 JC574617  131302008119         61925940
6 JC3035557 131298105782         59568658
  admit_time                label DBP Pulse RR SBP Temp  ⋯ features base_name
1 2020-06-05 00:58:00+00:00 1      59 80    18 114 36.15 ⋯ Lactate  LACWBL
2 2021-02-15 07:47:00+00:00 1      42 78    20  91 35.05 ⋯ Lactate  LACWBL
3 2020-10-30 21:00:00+00:00 0      89 89    17 140 37.00 ⋯ pCO2_a   PCO2A
4 2020-08-04 03:40:00+00:00 1     106 82    29 161 35.00 ⋯ TCO2_a   TCO2A
5 2021-02-15 07:47:00+00:00 1      42 78    20  91 35.05 ⋯ Lactate  LACWBL
6 2020-10-30 21:00:00+00:00 0      89 89    17 140 37.00 ⋯ PO2_a    PO2A
  ord_value values reference_low reference_high reference_unit
1 >15.0      15.15               <2.0           mmol/L
2 >15.0      15.15               <2.0           mmol/L
3 >110.0    111.10 35.0          45.0           mm Hg
4 <5          5.05 23            27             mmol/L
5 >15.0      15.15               <2.0           mmol/L
6 <30.0      30.30 80.0          105.0          mm Hg
  result_in_range_yn result_flag result_time
1 NA                 High Panic  2020-06-05 00:15:00+00:00
2 NA                 High Panic  2021-02-15 06:11:00+00:00
3 NA                 High Panic  2020-10-30 20:31:00+00:00
4 NA                 Low Panic   2020-08-04 03:25:00+00:00
5 NA                 High Panic  2021-02-15 07:31:00+00:00
6 NA                 Low Panic   2020-10-30 20:31:00+00:00

In [29]:
# remove only the observations (where values = 999999 and do not have < or > in ord_value) from process labs
# could do 1.01 or 0.99 but more complicated
grepl('>|<', ">60")
labs99 <- labs %>% filter(!(values==9999999 & !grepl('>|<', ord_value))) %>%
            mutate(values = as.double(gsub(paste(c(">", "<"), collapse = "|"),"", ord_value)),
                   feature_type = "labs") 
nrow(labs) - nrow(labs99) # 1367892 - 1367476
nrow(labs99) # 1367476 vs 1367422
summary(labs99$values)
colnames(labs99)

[1] TRUE

[1] 0

[1] 513368

   Min. 1st Qu.  Median    Mean 3rd Qu.    Max.
 -31.20    3.20   12.30   39.01   38.00 7000.00

 [1] "anon_id"                 "pat_enc_csn_id_coded"
 [3] "inpatient_data_id_coded" "admit_time"
 [5] "label"                   "DBP"
 [7] "Pulse"                   "RR"
 [9] "SBP"                     "Temp"
[11] "order_id_coded"          "features"
[13] "base_name"               "ord_value"
[15] "values"                  "reference_low"
[17] "reference_high"          "reference_unit"
[19] "result_in_range_yn"      "result_flag"
[21] "result_time"             "feature_type"

In [30]:
labs99 <- labs99 %>% select(-c('DBP','Pulse','RR','SBP','Temp', 'order_id_coded'))
colnames(labs99)

 [1] "anon_id"                 "pat_enc_csn_id_coded"
 [3] "inpatient_data_id_coded" "admit_time"
 [5] "label"                   "features"
 [7] "base_name"               "ord_value"
 [9] "values"                  "reference_low"
[11] "reference_high"          "reference_unit"
[13] "result_in_range_yn"      "result_flag"
[15] "result_time"             "feature_type"

In [31]:
write.csv(labs99, file.path(valdir, "6_6_coh3_labs.csv"), row.names=FALSE)

### Keep this cohort information:

In [32]:
cohort_with_labs <- labs99 %>% select(anon_id, pat_enc_csn_id_coded, inpatient_data_id_coded, admit_time, label) %>% distinct()
nrow(cohort_with_labs)

cohort_with_labs %>% group_by(label) %>% summarise(count = n(), percent = round(100*count/nrow(cohort_with_labs),2))

[1] 15982

  label count percent
1 0     13760 86.1
2 1      2222 13.9

In [33]:
write.csv(cohort_with_labs, file.path(valdir, "6_6_cohort3_withlabs.csv"), row.names=FALSE)