### Descriptions:

JOIN all features with values together first, in the *long* format, to be merged with feature counts

**Inputs:** 
- `6_5_coh2_vitals`: has all processed vital signs (not the summary stats)
- `6_6_coh3_labs`: has all processed labs
- `6_8_coh4_all_imputedHWESI`: has demographics & imputed HW (cohort4_all) & imputed ESI (cohort3 and finalized w/ cohort4)
- `6_4_cohort4`: cohort3 with labels and not in old cohort

**Outputs:**
- `6_9_coh4_feature_values`: used cohort4, only new cohort, no overlapping!

### Importing R libraries

In [16]:
library(bigrquery)  # to query STARR-OMOP (stored in BigQuery) using SQL
library(tidyverse)
library(lubridate)
# library(mice)
# library(VIM) # for missing data plot

# library(data.table)
# library(Matrix)
# library(caret) # import this before glmnet to avoid rlang version problem
# library(glmnet)
# library(bit64)

# library(slam)
# library(mtools) for one hot coder, not available on Nero or use caret or tidyr
options(repr.matrix.max.rows=250, repr.matrix.max.cols=30)

### Call back all datasets: 
* demographic with imputed HW and ESI
* vitals, cohort with at least a complete set of vs only
* labs, cohort with at least a lab result
* cohort_final

In [17]:
# read inputs
datadir6 = "../../DataTD/validation"
valdir = "../../OutputTD/6_validation"

vitals0 <- read.csv(file.path(valdir, '6_5_coh2_vitals.csv'))
nrow(vitals0)

labs0 <- read.csv(file.path(valdir, '6_6_coh3_labs.csv'))
nrow(labs0)

demos <- read.csv(file.path(valdir, '6_8_coh4_all_imputedHWESI.csv'))
nrow(demos) # all cohort

# only new cohort
cohort4 <- read.csv(file.path(valdir, '6_7_cohort4.csv'))
nrow(cohort4) # 16484

[1] 402453

[1] 513368

[1] 60464

[1] 16484

In [18]:
length(setdiff(vitals0$pat_enc_csn_id_coded, cohort4$pat_enc_csn_id_coded)) # 1633
length(setdiff(cohort4$pat_enc_csn_id_coded, vitals0$pat_enc_csn_id_coded)) # 0

length(setdiff(vitals0$pat_enc_csn_id_coded, labs0$pat_enc_csn_id_coded)) # 3986
length(setdiff(cohort4$pat_enc_csn_id_coded, labs0$pat_enc_csn_id_coded)) # 2614

[1] 627

[1] 0

[1] 1129

[1] 708

In [19]:
nrow(vitals0 %>% select(anon_id, pat_enc_csn_id_coded) %>% distinct())
length(unique(vitals0$pat_enc_csn_id_coded)) # 2nd cohort, larger 45613

nrow(demos %>% select(anon_id, pat_enc_csn_id_coded) %>% distinct())
length(unique(demos$pat_enc_csn_id_coded)) # 3nd cohort, 44258, using only those with a complete set of VS for ESI imputation

nrow(labs0 %>% select(anon_id, pat_enc_csn_id_coded) %>% distinct()) # 41627
length(unique(labs0$pat_enc_csn_id_coded)) # 41627 (similar before, labs have less than cohort)

nrow(cohort4 %>% select(anon_id, pat_enc_csn_id_coded) %>% distinct()) # 43980
length(unique(cohort4$pat_enc_csn_id_coded)) # 41627 (similar before, labs have less than cohort)

length(setdiff(demos$pat_enc_csn_id_coded, cohort4$pat_enc_csn_id_coded)) # 278
length(setdiff(vitals0$pat_enc_csn_id_coded, cohort4$pat_enc_csn_id_coded)) # 1633
length(setdiff(labs0$pat_enc_csn_id_coded, cohort4$pat_enc_csn_id_coded)) # 261

[1] 17111

[1] 17111

[1] 60464

[1] 60464

[1] 15982

[1] 15982

[1] 16484

[1] 16484

[1] 43980

[1] 627

[1] 206

In [20]:
head(cohort4, 1)
head(demos, 1)
head(vitals0, 1)
head(labs0, 1)

  anon_id   pat_enc_csn_id_coded inpatient_data_id_coded
1 JC1000116 131295313275         57868578
  admit_time                label_max24 label_24hr_recent admit_label
1 2020-09-29 22:45:00+00:00 0           0                 0
  has_admit_label died_within_24hrs death_24hr_max_label
1 1               0                 0
  death_24hr_recent_label first_label first_label_minutes_since_admit
1 0                       0           0
  acute_to_critical_label_recent critical_to_acute_label_recent
1 0                              0
  acute_to_critical_label_max critical_to_acute_label_max previous_icu_visit
1 0                           0                           False

  anon_id   pat_enc_csn_id_coded inpatient_data_id_coded admit_time
1 JC29f8ad2 131274729058         40679773                2019-08-31 12:52:00
  label ESI_i delta_ESI gender age insurance English Height_i delta_H Weight_i
1 0     3     0         1      52  1         1       165      0       81
  delta_W race.Asian race.Black race.Native.American race.Other
1 0       0          0          0                    0
  race.Pacific.Islander race.Unknown race.White
1 0                     0            1

  anon_id   pat_enc_csn_id_coded inpatient_data_id_coded
1 JC1000116 131295313275         57868578
  admit_time                label template            features units
1 2020-09-29 22:45:00+00:00 0     Custom Formula Data Temp
  recorded_time             feature_type values
1 2020-09-29 15:55:00+00:00 vitals       36.6

  anon_id   pat_enc_csn_id_coded inpatient_data_id_coded
1 JC2013943 1.31288e+11          53346407
  admit_time                label features base_name ord_value values
1 2020-04-11 22:13:00+00:00 0     O2sat_a  O2SATA    98        98
  reference_low reference_high reference_unit result_in_range_yn result_flag
1 95            98             %              NA
  result_time               feature_type
1 2020-04-11 21:48:00+00:00 labs

In [21]:
colnames(cohort4)
colnames(demos)
colnames(vitals0)
colnames(labs0)

# cohort <- cohort %>% mutate(admit_time = ymd_hms(admit_time))

 [1] "anon_id"                         "pat_enc_csn_id_coded"
 [3] "inpatient_data_id_coded"         "admit_time"
 [5] "label_max24"                     "label_24hr_recent"
 [7] "admit_label"                     "has_admit_label"
 [9] "died_within_24hrs"               "death_24hr_max_label"
[11] "death_24hr_recent_label"         "first_label"
[13] "first_label_minutes_since_admit" "acute_to_critical_label_recent"
[15] "critical_to_acute_label_recent"  "acute_to_critical_label_max"
[17] "critical_to_acute_label_max"     "previous_icu_visit"

 [1] "anon_id"                 "pat_enc_csn_id_coded"
 [3] "inpatient_data_id_coded" "admit_time"
 [5] "label"                   "ESI_i"
 [7] "delta_ESI"               "gender"
 [9] "age"                     "insurance"
[11] "English"                 "Height_i"
[13] "delta_H"                 "Weight_i"
[15] "delta_W"                 "race.Asian"
[17] "race.Black"              "race.Native.American"
[19] "race.Other"              "race.Pacific.Islander"
[21] "race.Unknown"            "race.White"

 [1] "anon_id"                 "pat_enc_csn_id_coded"
 [3] "inpatient_data_id_coded" "admit_time"
 [5] "label"                   "template"
 [7] "features"                "units"
 [9] "recorded_time"           "feature_type"
[11] "values"

 [1] "anon_id"                 "pat_enc_csn_id_coded"
 [3] "inpatient_data_id_coded" "admit_time"
 [5] "label"                   "features"
 [7] "base_name"               "ord_value"
 [9] "values"                  "reference_low"
[11] "reference_high"          "reference_unit"
[13] "result_in_range_yn"      "result_flag"
[15] "result_time"             "feature_type"

In [22]:
cohort <- cohort4 %>% select(anon_id, pat_enc_csn_id_coded, admit_time, first_label, death_24hr_recent_label, death_24hr_max_label)

In [23]:
# turn the wide format to long for demographics
demo_long <- gather(demos, features, values, ESI_i:race.White, factor_key=TRUE) %>%
                mutate(feature_type = "demo") %>% select(-admit_time) %>% #mutate(admit_time = ymd_hms(admit_time)) %>% 
             right_join(cohort)
                
nrow(demo_long) # --> 43980 * 17 = 747660

Joining, by = c("anon_id", "pat_enc_csn_id_coded")

[1] 280228

In [24]:
vitals <- vitals0 %>% select(anon_id, pat_enc_csn_id_coded, inpatient_data_id_coded, admit_time, label, 
                            features, values, feature_type, time = recorded_time) %>% #mutate(admit_time = ymd_hms(admit_time)) %>%
                         right_join(cohort) #%>% drop_na()
labs <- labs0 %>% select(anon_id, pat_enc_csn_id_coded, inpatient_data_id_coded, admit_time, label, 
                        features, values, feature_type, time = result_time) %>% #mutate(admit_time = ymd_hms(admit_time)) %>% 
                    right_join(cohort) %>% drop_na() # due to csn without labs in cohort4

Joining, by = c("anon_id", "pat_enc_csn_id_coded", "admit_time")

Joining, by = c("anon_id", "pat_enc_csn_id_coded", "admit_time")

# JCdcafca and 131187786922, 20015518, 0, 2016-05-15 20:57:00+00:00 
# in the no_labels cohort (and Conor's cohort) but not in the updated cohort
noinco <- cohort[cohort$pat_enc_csn_id_coded %in% no_labels$pat_enc_csn_id_coded,]
head(no_labels[!no_labels$pat_enc_csn_id_coded %in% noinco$pat_enc_csn_id_coded, ])

In [25]:
length(unique(demo_long$pat_enc_csn_id_coded))
length(unique(vitals$pat_enc_csn_id_coded))
length(unique(labs$pat_enc_csn_id_coded)) # 41366 due to drop NA

head(demo_long, n=1)
head(vitals, n=1)
head(labs, n=1)

[1] 16484

[1] 16484

[1] 15775

  anon_id   pat_enc_csn_id_coded inpatient_data_id_coded label features values
1 JC1000116 131295313275         57868578                0     ESI_i    3
  feature_type admit_time                first_label death_24hr_recent_label
1 demo         2020-09-29 22:45:00+00:00 0           0
  death_24hr_max_label
1 0

  anon_id   pat_enc_csn_id_coded inpatient_data_id_coded
1 JC1000116 131295313275         57868578
  admit_time                label features values feature_type
1 2020-09-29 22:45:00+00:00 0     Temp     36.6   vitals
  time                      first_label death_24hr_recent_label
1 2020-09-29 15:55:00+00:00 0           0
  death_24hr_max_label
1 0

  anon_id   pat_enc_csn_id_coded inpatient_data_id_coded
1 JC2013943 1.31288e+11          53346407
  admit_time                label features values feature_type
1 2020-04-11 22:13:00+00:00 0     O2sat_a  98     labs
  time                      first_label death_24hr_recent_label
1 2020-04-11 21:48:00+00:00 0           0
  death_24hr_max_label
1 0

In [26]:
# combine demos, vitals and labs, long format, with "time"
feats <- bind_rows(demo_long, vitals, labs)
feats <- as.data.frame(unclass(feats))

nrow(feats) #3034259
nrow(feats %>% select(anon_id, pat_enc_csn_id_coded) %>% distinct())
nrow(feats %>% select(pat_enc_csn_id_coded) %>% distinct()) # 41627

feats %>% count(feature_type) # shouldn't have NA
summary(feats$values)

[1] 1175680

[1] 16484

[1] 16484

  feature_type n
1 demo         280228
2 labs         506845
3 vitals       388607

   Min. 1st Qu.  Median    Mean 3rd Qu.    Max.
 -31.20    1.00   20.00   45.27   78.00 7000.00

In [27]:
feats %>% group_by(feature_type, features) %>% count()

   feature_type features              n
1  demo         age                   16484
2  demo         delta_ESI             16484
3  demo         delta_H               16484
4  demo         delta_W               16484
5  demo         English               16484
6  demo         ESI_i                 16484
7  demo         gender                16484
8  demo         Height_i              16484
9  demo         insurance             16484
10 demo         race.Asian            16484
11 demo         race.Black            16484
12 demo         race.Native.American  16484
13 demo         race.Other            16484
14 demo         race.Pacific.Islander 16484
15 demo         race.Unknown          16484
16 demo         race.White            16484
17 demo         Weight_i              16484
18 labs         ALB                   14566
19 labs         ALK                   14532
20 labs         ALT                   14521
21 labs         AnionGap              15259
22 labs         AST                   14513
23 labs         Base                   7980
24 labs         Basos                 13589
25 labs         BUN                   15267
26 labs         Ca                    15288
27 labs         Cl                    15332
28 labs         CO2                   15268
29 labs         Cr                    16059
30 labs         eGFR                  15864
31 labs         Eos                   13872
32 labs         Glob                  14477
33 labs         Glucose               18491
34 labs         HCO3_a                  434
35 labs         HCO3_v                 7546
36 labs         Hct                   16532
37 labs         Hgb                   16515
38 labs         INR                    7195
39 labs         K                     16285
40 labs         Lactate                9180
41 labs         Lymp                  14749
42 labs         MCH                   15538
43 labs         Mono                  14705
44 labs         Na                    16255
45 labs         Neut                  14783
46 labs         O2sat_a                 176
47 labs         O2sat_v                7775
48 labs         pCO2_a                  188
49 labs         pCO2_v                 7806
50 labs         pH_a                    195
51 labs         pH_v                   7806
52 labs         Platelet              15580
53 labs         PO2_a                   188
54 labs         PO2_v                  7812
55 labs         PT                     7181
56 labs         RDW                   15536
57 labs         TBili                 14646
58 labs         TCO2_a                  444
59 labs         TProtein              14533
60 labs         Trop                   6811
61 labs         WBC                   15573
62 vitals       DBP                   81905
63 vitals       Pulse                 91209
64 vitals       RR                    86094
65 vitals       SBP                   81915
66 vitals       Temp                  47484

In [28]:
# rearrange columns
cohort4_feats <- feats %>% select(anon_id, pat_enc_csn_id_coded, admit_time, 
                                 first_label, death_24hr_recent_label, death_24hr_max_label,
                                 feature_type, features, values, time)
nrow(cohort4_feats) # 1175680 
length(unique(cohort4_feats$pat_enc_csn_id_coded)) # 16484

[1] 1175680

[1] 16484

In [29]:
head(cohort4_feats, 3)
tail(cohort4_feats, 3)

  anon_id   pat_enc_csn_id_coded admit_time                first_label
1 JC1000116 131295313275         2020-09-29 22:45:00+00:00 0
2 JC1000939 131295018112         2020-08-22 11:41:00+00:00 0
3 JC1001688 131288774622         2020-06-19 21:36:00+00:00 0
  death_24hr_recent_label death_24hr_max_label feature_type features values
1 0                       0                    demo         ESI_i    3
2 1                       1                    demo         ESI_i    2
3 0                       0                    demo         ESI_i    3
  time
1 NA
2 NA
3 NA

        anon_id   pat_enc_csn_id_coded admit_time                first_label
1175678 JC2701145 131311244469         2021-06-03 08:02:00+00:00 1
1175679 JC543041  131314663470         2021-07-07 21:26:00+00:00 1
1175680 JC1804671 131317693203         2021-08-19 11:24:00+00:00 0
        death_24hr_recent_label death_24hr_max_label feature_type features
1175678 0                       1                    labs         O2sat_v
1175679 1                       1                    labs         O2sat_v
1175680 0                       0                    labs         O2sat_v
        values time
1175678 35.0   2021-06-02 23:52:00+00:00
1175679 71.0   2021-07-07 20:01:00+00:00
1175680 58.2   2021-08-19 09:15:00+00:00

In [30]:
# only have new cohort
write.csv(cohort4_feats, file.path(valdir, "6_9_coh4_feature_values.csv"), row.names=FALSE)

In [35]:
featuredir = "../../OutputTD/2_features"
cohort4_0_feats <- read.csv(file.path(featuredir, "2_7_coh4_feature_values.csv"))
nrow(cohort4_0_feats) # 3085046
length(unique(cohort4_0_feats$pat_enc_csn_id_coded))

[1] 3085046

[1] 43980

In [36]:
# NO overlapping! sanity check
length(setdiff(cohort4_feats$pat_enc_csn_id_coded, cohort4_0$pat_enc_csn_id_coded))
length(setdiff(cohort4_0_feats$pat_enc_csn_id_coded, cohort4_feats$pat_enc_csn_id_coded))

[1] 16484

[1] 43980