### Description:
Explore and clean lab variables

- First grab by lab_names (or base_names), then check their base_names (or lab_names), from all_labs file (labs that we went through to select)
- Then reverse to include lab_names with more than 1 base_names and base_names with more than 1 lab_names.
    - Based off Triage work of selecting lab_names, take those final lab_names and get their base_names
    - Add a few more base_names 
    - Use these base_names to run m6_labs.sql. This makes sure we have everything from Triage selection.
- Check the units and ranges of these labs to keep only valid ones.
- Combine lab_names/base_names and convert to same units as needed --> rename these groups
- Most urine related labs are all NA

It would be shorter to use base_name, but still need to check because some same labs have different base_names

- For ord_num_value = 9999999 of extreme cases on either end (hi/lo, panic hi/lo):
    - Remove those observations where no < > in ord_value: cancelled or N/A
    - Use ord_value to take bounds values. For example, if ord_value is <0.2 and ord_num_value is 9999999, then replace 9999999 with 0.2

Output file: 
- `2_4_coh3_labs`
- `cohort3L_withlabs`: cohort information only from 2_4_coh3_labs

### Importing R libraries

In [2]:
library(bigrquery)  # to query STARR-OMOP (stored in BigQuery) using SQL
library(tidyverse)
library(lubridate)
# library(mice)
# library(VIM) # for missing data plot

# library(data.table)
# library(Matrix)
# library(caret) # import this before glmnet to avoid rlang version problem
# library(glmnet)
# library(bit64)

# library(slam)
# library(mtools) for one hot coder, not available on Nero or use caret or tidyr
options(repr.matrix.max.rows=250, repr.matrix.max.cols=30)

### Set up and run queries
Do this on Nero GCP as querying from a local computer takes much longer time

In [3]:
# CREDENTIALS depending on LOCATIONS:
# credential <- paste0("/home/", "minh084", "/.config/gcloud/application_default_credentials.json")

# local computer
# credential <- "C:/Users/User/AppData/Roaming/gcloud/application_default_credentials.json"

# Nero onprem
# credential <- "/home/minh084/.config/gcloud/application_default_credentials.json"

# Nero gcp notebook
credential <- "/home/jupyter/.config/gcloud/application_default_credentials.json"

project_id <- "som-nero-phi-jonc101"

Sys.setenv(GOOGLE_APPLICATION_CREDENTIALS = credential)
Sys.setenv(GCLOUD_PROJECT = project_id)
gargle::credentials_app_default()

NULL

In [4]:
library(DBI)
con <- dbConnect(
  bigrquery::bigquery(),
  project = project_id,
  dataset = "shc_core" #, billing = project_id
)
con 
dbListTables(con)

<BigQueryConnection>
  Dataset: som-nero-phi-jonc101.shc_core
  Billing: som-nero-phi-jonc101

 [1] "adt"                 "allergy"             "culture_sensitivity"
 [4] "demographic"         "dep_map"             "diagnosis_code"
 [7] "drg_code"            "encounter"           "family_hx"
[10] "flowsheet"           "lab_result"          "lda"
[13] "mapped_meds"         "mar"                 "med_orderset"
[16] "ndc_code"            "order_med"           "order_proc"
[19] "order_quest"         "proc_note"           "proc_orderset"
[22] "procedure_code"      "prov_map"            "social_hx"
[25] "treatment_team"

# m6_labs.sql (if use cohort.patcsn --> all NA, need to use labs)

q= "
SELECT labs.anon_id, labs.pat_enc_csn_id_coded, cohort.admit_time, cohort.label,
        order_id_coded, lab_name, base_name, ord_value, ord_num_value, 
        reference_low, reference_high, reference_unit, result_in_range_yn, result_flag, 
        result_time_utc, order_time_utc , taken_time_utc
      
FROM `som-nero-phi-jonc101.shc_core.lab_result` as labs
RIGHT JOIN `som-nero-phi-jonc101.triageTD.1_3_cohort` as cohort 

ON labs.pat_enc_csn_id_coded = cohort.pat_enc_csn_id_coded
AND labs.anon_id = cohort.anon_id

WHERE admit_time >= result_time_utc  
AND extract(year from admit_time) > 2014  
AND base_name in 
    ('AG', 'AGAP', 'BASOAB', 'BUN', 'CL', 'CR', 'EGFR', 'EOSAB', 'GLU', 'HCO3', 'HCO3A', 'HCO3V', 
 'HCT', 'HGB', 'INR', 'K', 'LAC', 'LACWBL', 'LYMAB', 'MONOAB', 'NEUTAB', 'NEUTABS', 'O2SATA', 
 'O2SATV', 'PCAGP', 'PCBUN', 'PCCL', 'PCO2A', 'PCO2V', 'PH', 'PHA', 'PHV', 'PLT', 'PO2A', 'PO2V',
 'PT', 'TBIL', 'TCO2A', 'TNI', 'WBC', 'NA', 'ALB', 'ALKP', 'ALT', 'AST', 'BE', 'CA', 'CO2', 
 'GLOB', 'GLUURN', 'MCH', 'RDW', 'TP')

"

# submit the query:
update.packages('Rcpp')
df <- dbGetQuery(con, q)
dim(df)
colnames(df)

# (
#     lab_name in 
#     ('Neut, ABS (Seg+Band) (man diff)', 'Basophils, ABS (man diff)', 'Eosinophils, ABS (man diff)', 'Monocytes, ABS (man diff)', 'Lymphocytes, ABS (man diff)', 'Lymphocytes, Abs.', 'Neutrophils, Absolute (Manual Diff)', 'Mono, ABS (man diff)', 'Lym, ABS (man diff)', 'Baso, ABS (man diff)', 'Eos, ABS (man diff)')

#     OR base_name in 
#     ('AG', 'AGAP', 'BASOAB', 'BUN', 'CL', 'CR', 'EGFR', 'EOSAB', 'GLU', 'HCO3', 'HCO3A', 'HCO3V', 'HCT', 'HGB', 'INR', 'K', 'LAC', 'LACWBL', 'LYMAB', 'MONOAB', 'NEUTAB', 'NEUTABS', 'O2SATA', 'O2SATV', 'PCAGP', 'PCBUN', 'PCCL', 'PCO2A', 'PCO2V', 'PH', 'PHA', 'PHV', 'PLT', 'PO2A', 'PO2V', 'PT', 'TBIL', 'TCO2A', 'TNI', 'WBC', 'XLEUKEST', 'NA', 'ALB', 'ALKP', 'BE', 'CA', 'CO2', 'GLOB', 'MG', 'MCH', 'PHOS', 'TP')
# )

write.csv(df, file.path(datadir, "labs.csv"), row.names=FALSE)

### LABS
1. Use lab results as is. no manually process as with vital signs. 
2. Some notes about labs:
- Cannot trust "result_in_range_yn" --> remove this
- There is 1 incident of Glucose by Meter = hi in ord_value
- ord_value has text, blanks and #
- ord_num_value has NA, 9999999, #. The blanks from ord_value are NA in ord_num_value
- result_flag: "Abnormal" for text in ord_value, usually correct. However, when ord_value is N/A or < or >, the ord_num_value is 9999999.
3. Use ord_num_value and result_flag are good
4. All the urine labs start with X seem to be NA. Remove mag and phos as these are low count 1K

In [115]:
# read inputs
datadir = "../../DataTD"
cohortdir = "../../OutputTD/1_cohort"
featuredir = "../../OutputTD/2_features"

cohort <- read.csv(file.path(cohortdir, "1_3_cohort.csv"))
labs0 <- read.csv(file.path(datadir, "labs.csv")) # 1386585

# check for unique CSNs and MRNs
nrow(cohort) #44258
nrow(labs0) #depending on which cohort_demo used to query labs 1863768
nrow(labs0 %>% select(pat_enc_csn_id_coded) %>% distinct()) # 41724 vs 41627
colnames(labs0)

[1] 44258

[1] 1372519

[1] 41627

 [1] "anon_id"                 "pat_enc_csn_id_coded"
 [3] "inpatient_data_id_coded" "admit_time"
 [5] "label"                   "DBP"
 [7] "Pulse"                   "RR"
 [9] "SBP"                     "Temp"
[11] "order_id_coded"          "lab_name"
[13] "base_name"               "ord_value"
[15] "ord_num_value"           "reference_low"
[17] "reference_high"          "reference_unit"
[19] "result_in_range_yn"      "result_flag"
[21] "result_time_utc"         "order_time_utc"
[23] "taken_time_utc"

In [116]:
labs0 <- labs0 %>% mutate(reference_unit = factor(reference_unit),
                          reference_low = factor(reference_low),
                          reference_high = factor(reference_high),
                          result_in_range_yn = factor(result_in_range_yn),
                          result_flag = factor(result_flag)) #%>%

names %>% group_by(base_name) %>% count(sort=TRUE) %>% arrange(base_name)

In [118]:
options(repr.matrix.max.rows=200, repr.matrix.max.cols=20)
# labs0 %>% group_by(base_name, lab_name) %>% count() %>% arrange(base_name)
labs0 %>% group_by(base_name, lab_name) %>% count() %>% arrange(lab_name)

    base_name lab_name                                      n
1   ALB       Albumin, Ser/Plas                             38332
2   ALKP      Alk P'TASE, Total, Ser/Plas                   38223
3   ALT       ALT (SGPT), Ser/Plas                          38221
4   AG        Anion Gap                                     42004
5   AGAP      Anion Gap, ISTAT                               2592
6   PCAGP     Anion Gap, ISTAT                                155
7   PCO2A     Arterial pCO2 for POC                            12
8   PHA       Arterial pH for POC                              12
9   PO2A      Arterial pO2 for POC                             12
10  AST       AST (SGOT), Ser/Plas                          38220
11  BE        Base Excess (vt)                                688
12  BE        Base Excess Arterial for POC                     12
13  BE        Base Excess, ISTAT                            19882
14  BASOAB    Baso, ABS (man diff)                             33
15  BASOAB    Basophil, Absolute                            34513
16  BASOAB    Basophils, ABS (man diff)                       767
17  BASOAB    BASOS, ABS                                     1136
18  HCO3A     Bicarbonate, Art for POC                         12
19  BUN       BUN, ISTAT                                     2592
20  PCBUN     BUN, ISTAT                                      155
21  BUN       BUN, Ser/Plas                                 40493
22  CA        Calcium, Ser/Plas                             42145
23  CL        Chloride, ISTAT                                2592
24  PCCL      Chloride, ISTAT                                 155
25  CL        Chloride, Ser/Plas                            42008
26  CL        Chloride, Whole Bld                             330
27  TCO2A     CO2 Arterial Total for POC                       12
28  CO2       CO2, Ser/Plas                                 42007
29  CR        Creatinine, Ser/Plas                          42002
30  CR        Creatinine,ISTAT                               3091
31  EGFR      eGFR                                          40762
32  EOSAB     EOS, ABS                                       1136
33  EOSAB     Eos, ABS (man diff)                              43
34  EOSAB     Eosinophil, Absolute                          34513
35  EOSAB     Eosinophils, ABS (man diff)                    1257
36  GLOB      Globulin                                      37750
37  GLU       Glucose                                           1
38  GLU       Glucose by Meter                               6505
39  GLU       Glucose, Non-fasting                             19
40  GLU       Glucose, Ser/Plas                             41986
41  GLU       Glucose, Whole Blood                            337
42  GLU       Glucose,ISTAT                                  3187
43  HCO3A     HCO3                                            688
44  HCO3A     HCO3 (a), ISTAT                                1304
45  HCO3V     HCO3 (v), ISTAT                               18749
46  HCO3      HCO3, ISTAT                                     100
47  HCT       Hct (Est)                                       330
48  HCT       Hct, ISTAT                                     3033
49  HCT       HCT, POC                                         51
50  HCT       Hct(Calc), ISTAT                                155
51  HCT       Hematocrit                                    42179
52  HCT       Hematocrit (Manual Entry) See EMR for details     1
53  HGB       Hemoglobin                                    42173
54  HGB       HgB                                             307
55  HGB       Hgb, calculated, POC                             51
56  HGB       Hgb(Calc), ISTAT                               3188
57  INR       INR                                           18225
58  INR       INR, ISTAT                                     1178
59  LAC       Lactate, ISTAT                                19972
60  LACWBL    Lactate, Whole Bld                             1408
61  LAC       Lactic Acid                                    1066
62  LYMAB     LYM, ABS                                       1136
63  LYMAB     Lym, ABS (man diff)                             102
64  LYMAB     Lymphocyte, Absolute                          34514
65  LYMAB     Lymphocytes, ABS (man diff)                    2956
66  LYMAB     Lymphocytes, Abs.                                 9
67  MCH       MCH                                           42105
68  MONOAB    MONO, ABS                                      1136
69  MONOAB    Mono, ABS (man diff)                             98
70  MONOAB    Monocyte, Absolute                            34513
71  MONOAB    Monocytes, ABS (man diff)                      2848
72  NEUTAB    NEUT, ABS                                      1136
73  NEUTAB    Neut, ABS (man diff)                            100
74  NEUTAB    Neut, ABS (Seg+Band) (man diff)                2239
75  NEUTABS   Neut, ABS (Seg+Band) (man diff)                 583
76  NEUTAB    Neutrophil, Absolute                          34535
77  NEUTAB    Neutrophils, Absolute (Manual Diff)             182
78  O2SATA    O2 Saturation (a)                               327
79  O2SATV    O2 Saturation (v)                               343
80  O2SATA    O2 Saturation, ISTAT                           1304
81  O2SATV    O2 Saturation, ISTAT (Ven)                    18747
82  O2SATA    Oxygen Saturation for POC                        12
83  PCO2A     pCO2 (a)                                        343
84  PCO2A     pCO2 (a), ISTAT                                1304
85  PCO2V     pCO2 (v)                                        345
86  PCO2V     PCO2 (v), ISTAT                               18749
87  PCO2A     PCO2, ISTAT                                     100
88  PHA       pH (a)                                          343
89  PHA       PH (a), ISTAT                                  1304
90  PHV       pH (v)                                          345
91  PHV       PH (v), ISTAT                                 18748
92  PHA       pH by Meter                                      28
93  PH        PH, ISTAT                                       101
94  PLT       Platelet count                                42299
95  PLT       Platelets                                        19
96  PO2A      pO2 (a)                                         343
97  PO2A      PO2 (a), ISTAT                                 1304
98  PO2V      pO2 (v)                                         345
99  PO2V      PO2 (v), ISTAT                                18747
100 PO2A      PO2, ISTAT                                      100
101 K         Potassium                                         1
102 K         Potassium, ISTAT                               3188
103 K         Potassium, Ser/Plas                           42153
104 K         Potassium, Whole Bld                            336
105 K         Potassium, whole blood, ePOC                     64
106 TP        Protein, Total, Ser/Plas                      38240
107 PT        Prothrombin Time                              18225
108 PT        PT, ISTAT                                      1178
109 RDW       RDW                                           42105
110 NA        Sodium, ISTAT                                  3188
111 NA        Sodium, Ser/Plas                              42093
112 NA        Sodium, Whole Blood                             330
113 NA        Sodium, whole blood, ePOC                        56
114 TCO2A     tCO2                                            688
115 TCO2A     TCO2 (a), ISTAT                                3832
116 TCO2A     TCO2, (ISTAT)                                    78
117 TCO2A     TCO2, ISTAT                                     241
118 TBIL      Total Bilirubin                                1233
119 TBIL      Total Bilirubin, Ser/Plas                     37178
120 TNI       TROPONIN I                                    10713
121 TNI       Troponin I, POCT                               5929
122 BUN       Urea Nitrogen,Ser/Plas                         1499
123 WBC       WBC                                           42108
124 WBC       WBC count                                         9

In [119]:
labs0 %>% group_by(base_name) %>% count(sort=TRUE)

   base_name n
1  GLU       52035
2  HCT       45749
3  K         45742
4  HGB       45719
5  NA        45667
6  CR        45093
7  CL        44930
8  BUN       44584
9  PLT       42318
10 CA        42145
11 WBC       42117
12 MCH       42105
13 RDW       42105
14 CO2       42007
15 AG        42004
16 EGFR      40762
17 LYMAB     38717
18 MONOAB    38595
19 TBIL      38411
20 ALB       38332
21 TP        38240
22 ALKP      38223
23 ALT       38221
24 AST       38220
25 NEUTAB    38192
26 GLOB      37750
27 EOSAB     36949
28 BASOAB    36449
29 LAC       21038
30 BE        20582
31 INR       19403
32 PT        19403
33 PCO2V     19094
34 PHV       19093
35 PO2V      19092
36 O2SATV    19090
37 HCO3V     18749
38 TNI       16642
39 TCO2A      4851
40 AGAP       2592
41 HCO3A      2004
42 PCO2A      1759
43 PO2A       1759
44 PHA        1687
45 O2SATA     1643
46 LACWBL     1408
47 NEUTABS     583
48 PCAGP       155
49 PCBUN       155
50 PCCL        155
51 PH          101
52 HCO3        100

In [120]:
# from Triage
triage_labs <- c("Platelet count", "Total Bilirubin, Ser/Plas", "Total Bilirubin", 
"TROPONIN I", "Troponin I, POCT", "WBC", "WBC count", 
"Hematocrit", "Hct, ISTAT", "Hct(Calc), ISTAT", 
"Hct (Est)", "HCT, POC", 
"Hematocrit (Manual Entry) See EMR for details", 
"Hemoglobin", "Hgb(Calc), ISTAT", "Hgb, calculated, POC", "HgB", 
"Potassium, Ser/Plas", "Potassium, ISTAT",  "Potassium, Whole Bld", 
"Potassium, whole blood, ePOC", "Sodium, Ser/Plas", "Sodium, ISTAT",  
"Sodium, Whole Blood", "Chloride, Ser/Plas",  "Chloride, ISTAT",  
"Chloride, Whole Bld", "Creatinine, Ser/Plas", "Creatinine,ISTAT", 
"Anion Gap", "Anion Gap, ISTAT", "Glucose, Ser/Plas", "Glucose,ISTAT", 
"Glucose, Whole Blood", "Glucose by Meter", "Glucose, Non-fasting", 
"BUN, Ser/Plas", "BUN, ISTAT", "Urea Nitrogen,Ser/Plas", 
"Neutrophil, Absolute", "NEUT, ABS", "Neut, ABS (Seg+Band) (man diff)", 
"Neutrophils, Absolute (Manual Diff)", "Neut, ABS (Seg+Band) (man diff)", 
"Basophil, Absolute", "BASOS, ABS", "Basophils, ABS (man diff)", 
"Baso, ABS (man diff)", "Eosinophil, Absolute", "EOS, ABS", 
"Eosinophils, ABS (man diff)", "Eos, ABS (man diff)", 
"Lymphocyte, Absolute", "LYM, ABS", "Lymphocytes, ABS (man diff)", 
"Lym, ABS (man diff)", "Lymphocytes, Abs.", "Monocyte, Absolute", 
"MONO, ABS", "Monocytes, ABS (man diff)", "Mono, ABS (man diff)", 
"Lactate, ISTAT", "Lactate, Whole Bld", "Lactic Acid", "HCO3", 
"HCO3 (a), ISTAT", "Bicarbonate, Art for POC", "HCO3 (v), ISTAT", 
"HCO3, ISTAT", "O2 Saturation (a)", "O2 Saturation, ISTAT", 
"Oxygen Saturation for POC", "O2 Saturation (v)",  
"O2 Saturation, ISTAT (Ven)", "pCO2 (a)", "pCO2 (a), ISTAT",  
"PCO2, ISTAT", "Arterial pCO2 for POC", "pCO2 (v)", "PCO2 (v), ISTAT", 
"pH (a)", "PH (a), ISTAT", "pH by Meter", "Arterial pH for POC", 
"pH (v)", "PH (v), ISTAT", "PH, ISTAT", "pO2 (a)", "PO2 (a), ISTAT",  
"PO2, ISTAT", "Arterial pO2 for POC", "pO2 (v)", "PO2 (v), ISTAT", 
"tCO2", "TCO2 (a), ISTAT","TCO2, ISTAT", "TCO2, (ISTAT)", 
"CO2 Arterial Total for POC", "INR", "INR, ISTAT", 
"Prothrombin Time", "PT, ISTAT")
str_sort(triage_labs)

  [1] "Anion Gap"
  [2] "Anion Gap, ISTAT"
  [3] "Arterial pCO2 for POC"
  [4] "Arterial pH for POC"
  [5] "Arterial pO2 for POC"
  [6] "Baso, ABS (man diff)"
  [7] "Basophil, Absolute"
  [8] "Basophils, ABS (man diff)"
  [9] "BASOS, ABS"
 [10] "Bicarbonate, Art for POC"
 [11] "BUN, ISTAT"
 [12] "BUN, Ser/Plas"
 [13] "Chloride, ISTAT"
 [14] "Chloride, Ser/Plas"
 [15] "Chloride, Whole Bld"
 [16] "CO2 Arterial Total for POC"
 [17] "Creatinine, Ser/Plas"
 [18] "Creatinine,ISTAT"
 [19] "EOS, ABS"
 [20] "Eos, ABS (man diff)"
 [21] "Eosinophil, Absolute"
 [22] "Eosinophils, ABS (man diff)"
 [23] "Glucose by Meter"
 [24] "Glucose, Non-fasting"
 [25] "Glucose, Ser/Plas"
 [26] "Glucose, Whole Blood"
 [27] "Glucose,ISTAT"
 [28] "HCO3"
 [29] "HCO3 (a), ISTAT"
 [30] "HCO3 (v), ISTAT"
 [31] "HCO3, ISTAT"
 [32] "Hct (Est)"
 [33] "Hct, ISTAT"
 [34] "HCT, POC"
 [35] "Hct(Calc), ISTAT"
 [36] "Hematocrit"
 [37] "Hematocrit (Manual Entry) See EMR for details"
 [38] "Hemoglobin"
 [39] "HgB"
 [40] "Hgb, calculated, POC"
 [41] "Hgb(Calc), ISTAT"
 [42] "INR"
 [43] "INR, ISTAT"
 [44] "Lactate, ISTAT"
 [45] "Lactate, Whole Bld"
 [46] "Lactic Acid"
 [47] "LYM, ABS"
 [48] "Lym, ABS (man diff)"
 [49] "Lymphocyte, Absolute"
 [50] "Lymphocytes, ABS (man diff)"
 [51] "Lymphocytes, Abs."
 [52] "MONO, ABS"
 [53] "Mono, ABS (man diff)"
 [54] "Monocyte, Absolute"
 [55] "Monocytes, ABS (man diff)"
 [56] "NEUT, ABS"
 [57] "Neut, ABS (Seg+Band) (man diff)"
 [58] "Neut, ABS (Seg+Band) (man diff)"
 [59] "Neutrophil, Absolute"
 [60] "Neutrophils, Absolute (Manual Diff)"
 [61] "O2 Saturation (a)"
 [62] "O2 Saturation (v)"
 [63] "O2 Saturation, ISTAT"
 [64] "O2 Saturation, ISTAT (Ven)"
 [65] "Oxygen Saturation for POC"
 [66] "pCO2 (a)"
 [67] "pCO2 (a), ISTAT"
 [68] "pCO2 (v)"
 [69] "PCO2 (v), ISTAT"
 [70] "PCO2, ISTAT"
 [71] "pH (a)"
 [72] "PH (a), ISTAT"
 [73] "pH (v)"
 [74] "PH (v), ISTAT"
 [75] "pH by Meter"
 [76] "PH, ISTAT"
 [77] "Platelet count"
 [78] "pO2 (a)"
 [79] "PO2 (a), ISTAT"
 [80] "pO2 (v)"
 [81] "PO2 (v), ISTAT"
 [82] "PO2, ISTAT"
 [83] "Potassium, ISTAT"
 [84] "Potassium, Ser/Plas"
 [85] "Potassium, Whole Bld"
 [86] "Potassium, whole blood, ePOC"
 [87] "Prothrombin Time"
 [88] "PT, ISTAT"
 [89] "Sodium, ISTAT"
 [90] "Sodium, Ser/Plas"
 [91] "Sodium, Whole Blood"
 [92] "tCO2"
 [93] "TCO2 (a), ISTAT"
 [94] "TCO2, (ISTAT)"
 [95] "TCO2, ISTAT"
 [96] "Total Bilirubin"
 [97] "Total Bilirubin, Ser/Plas"
 [98] "TROPONIN I"
 [99] "Troponin I, POCT"
[100] "Urea Nitrogen,Ser/Plas"
[101] "WBC"
[102] "WBC count"

test <- c('Neut, ABS (Seg+Band) (man diff)', 'Basophils, ABS (man diff)', 'Eosinophils, ABS (man diff)', 'Monocytes, ABS (man diff)', 'Lymphocytes, ABS (man diff)', 'Lymphocytes, Abs.', 'Neutrophils, Absolute (Manual Diff)', 'Mono, ABS (man diff)', 'Lym, ABS (man diff)', 'Baso, ABS (man diff)', 'Eos, ABS (man diff)')
sum(!test %in% labs0$lab_name)
sum(!test %in% labs0$lab_name)

'AG', 'AGAP', 'BASOAB', 'BUN', 'CL', 'CR', 'EGFR', 'EOSAB', 'GLU', 'HCO3', 'HCO3A', 'HCO3V', 
'HCT', 'HGB', 'INR', 'K', 'LAC', 'LACWBL', 'LYMAB', 'MONOAB', 'NEUTAB', 'NEUTABS', 'O2SATA', 'O2SATV', 'PCAGP', 'PCBUN', 'PCCL', 
'PCO2A', 'PCO2V', 'PH', 'PHA', 'PHV', 'PLT', 'PO2A', 'PO2V', 'PT', 'TBIL', 'TCO2A', 'TNI', 'WBC', 'NA',
# added base_names - remove PHOS and MG -- too few
'ALB', 'ALKP', 'ALT', 'AST', 'BE', 'CA', 'CO2', 'EGRF', 'GLOB', 'GLUURN', 'MCH', 'RDW', 'TP'

In [121]:
# labs0[labs0$lab_name == "Platelets", ]$base_name
# labs0[labs0$lab_name %in% lab_names, ]$base_name   
# lapply(lab_names, function(x) labs0[labs0$lab_name == x, ]$basename)

In [122]:
# check overlapping of Triage labs and the new queried labs
# str_sort(unique(labs0$base_name))
# str_sort(intersect(labs0$lab_name, lab_names))

setdiff(triage_labs, labs0$lab_name) # NONE
str_sort(setdiff(labs0$lab_name, triage_labs)) # in A, not B

triage_labs0_names <- labs0 %>% filter(lab_name %in% triage_labs) %>% distinct(lab_name, base_name)
triage_labs0_base_names <- str_sort(unique(triage_labs0_names$base_name))
triage_labs0_lab_names <- str_sort(unique(triage_labs0_names$lab_name))

triage_labs0_base_names; # triage_labs0_lab_names

str_sort(setdiff(labs0$base_name, triage_labs0_base_names))

character(0)

 [1] "Albumin, Ser/Plas"            "Alk P'TASE, Total, Ser/Plas"
 [3] "ALT (SGPT), Ser/Plas"         "AST (SGOT), Ser/Plas"
 [5] "Base Excess (vt)"             "Base Excess Arterial for POC"
 [7] "Base Excess, ISTAT"           "Calcium, Ser/Plas"
 [9] "CO2, Ser/Plas"                "eGFR"
[11] "Globulin"                     "Glucose"
[13] "MCH"                          "Neut, ABS (man diff)"
[15] "Platelets"                    "Potassium"
[17] "Protein, Total, Ser/Plas"     "RDW"
[19] "Sodium, whole blood, ePOC"

 [1] "AG"      "AGAP"    "BASOAB"  "BUN"     "CL"      "CR"      "EOSAB"
 [8] "GLU"     "HCO3"    "HCO3A"   "HCO3V"   "HCT"     "HGB"     "INR"
[15] "K"       "LAC"     "LACWBL"  "LYMAB"   "MONOAB"  "NEUTAB"  "NEUTABS"
[22] "O2SATA"  "O2SATV"  "PCAGP"   "PCBUN"   "PCCL"    "PCO2A"   "PCO2V"
[29] "PH"      "PHA"     "PHV"     "PLT"     "PO2A"    "PO2V"    "PT"
[36] "TBIL"    "TCO2A"   "TNI"     "WBC"     NA

 [1] "ALB"  "ALKP" "ALT"  "AST"  "BE"   "CA"   "CO2"  "EGFR" "GLOB" "MCH"
[11] "RDW"  "TP"

In [123]:
# get lab_names and base_names from labs0
labs0_names <- labs0 %>% distinct(lab_name, base_name)
base_names <- str_sort(unique(labs0_names$base_name))
lab_names <- str_sort(unique(labs0_names$lab_name))

lab_names

  [1] "Albumin, Ser/Plas"
  [2] "Alk P'TASE, Total, Ser/Plas"
  [3] "ALT (SGPT), Ser/Plas"
  [4] "Anion Gap"
  [5] "Anion Gap, ISTAT"
  [6] "Arterial pCO2 for POC"
  [7] "Arterial pH for POC"
  [8] "Arterial pO2 for POC"
  [9] "AST (SGOT), Ser/Plas"
 [10] "Base Excess (vt)"
 [11] "Base Excess Arterial for POC"
 [12] "Base Excess, ISTAT"
 [13] "Baso, ABS (man diff)"
 [14] "Basophil, Absolute"
 [15] "Basophils, ABS (man diff)"
 [16] "BASOS, ABS"
 [17] "Bicarbonate, Art for POC"
 [18] "BUN, ISTAT"
 [19] "BUN, Ser/Plas"
 [20] "Calcium, Ser/Plas"
 [21] "Chloride, ISTAT"
 [22] "Chloride, Ser/Plas"
 [23] "Chloride, Whole Bld"
 [24] "CO2 Arterial Total for POC"
 [25] "CO2, Ser/Plas"
 [26] "Creatinine, Ser/Plas"
 [27] "Creatinine,ISTAT"
 [28] "eGFR"
 [29] "EOS, ABS"
 [30] "Eos, ABS (man diff)"
 [31] "Eosinophil, Absolute"
 [32] "Eosinophils, ABS (man diff)"
 [33] "Globulin"
 [34] "Glucose"
 [35] "Glucose by Meter"
 [36] "Glucose, Non-fasting"
 [37] "Glucose, Ser/Plas"
 [38] "Glucose, Whole Blood"
 [39] "Glucose,ISTAT"
 [40] "HCO3"
 [41] "HCO3 (a), ISTAT"
 [42] "HCO3 (v), ISTAT"
 [43] "HCO3, ISTAT"
 [44] "Hct (Est)"
 [45] "Hct, ISTAT"
 [46] "HCT, POC"
 [47] "Hct(Calc), ISTAT"
 [48] "Hematocrit"
 [49] "Hematocrit (Manual Entry) See EMR for details"
 [50] "Hemoglobin"
 [51] "HgB"
 [52] "Hgb, calculated, POC"
 [53] "Hgb(Calc), ISTAT"
 [54] "INR"
 [55] "INR, ISTAT"
 [56] "Lactate, ISTAT"
 [57] "Lactate, Whole Bld"
 [58] "Lactic Acid"
 [59] "LYM, ABS"
 [60] "Lym, ABS (man diff)"
 [61] "Lymphocyte, Absolute"
 [62] "Lymphocytes, ABS (man diff)"
 [63] "Lymphocytes, Abs."
 [64] "MCH"
 [65] "MONO, ABS"
 [66] "Mono, ABS (man diff)"
 [67] "Monocyte, Absolute"
 [68] "Monocytes, ABS (man diff)"
 [69] "NEUT, ABS"
 [70] "Neut, ABS (man diff)"
 [71] "Neut, ABS (Seg+Band) (man diff)"
 [72] "Neutrophil, Absolute"
 [73] "Neutrophils, Absolute (Manual Diff)"
 [74] "O2 Saturation (a)"
 [75] "O2 Saturation (v)"
 [76] "O2 Saturation, ISTAT"
 [77] "O2 Saturation, ISTAT (Ven)"
 [78] "Oxygen Saturation for POC"
 [79] "pCO2 (a)"
 [80] "pCO2 (a), ISTAT"
 [81] "pCO2 (v)"
 [82] "PCO2 (v), ISTAT"
 [83] "PCO2, ISTAT"
 [84] "pH (a)"
 [85] "PH (a), ISTAT"
 [86] "pH (v)"
 [87] "PH (v), ISTAT"
 [88] "pH by Meter"
 [89] "PH, ISTAT"
 [90] "Platelet count"
 [91] "Platelets"
 [92] "pO2 (a)"
 [93] "PO2 (a), ISTAT"
 [94] "pO2 (v)"
 [95] "PO2 (v), ISTAT"
 [96] "PO2, ISTAT"
 [97] "Potassium"
 [98] "Potassium, ISTAT"
 [99] "Potassium, Ser/Plas"
[100] "Potassium, Whole Bld"
[101] "Potassium, whole blood, ePOC"
[102] "Protein, Total, Ser/Plas"
[103] "Prothrombin Time"
[104] "PT, ISTAT"
[105] "RDW"
[106] "Sodium, ISTAT"
[107] "Sodium, Ser/Plas"
[108] "Sodium, Whole Blood"
[109] "Sodium, whole blood, ePOC"
[110] "tCO2"
[111] "TCO2 (a), ISTAT"
[112] "TCO2, (ISTAT)"
[113] "TCO2, ISTAT"
[114] "Total Bilirubin"
[115] "Total Bilirubin, Ser/Plas"
[116] "TROPONIN I"
[117] "Troponin I, POCT"
[118] "Urea Nitrogen,Ser/Plas"
[119] "WBC"
[120] "WBC count"

In [124]:
# check each lab in the list for reference units, low and high to see if consistent among similar lab names
lab_test <- labs0 %>% select(lab_name, ord_num_value, reference_unit, reference_low, reference_high, base_name)# %>%
#                         mutate(reference_unit = factor(reference_unit),
#                                reference_low = factor(reference_low),
#                                reference_high = factor(reference_high)) #%>% 
#                 drop_na(ord_num_value)
c=0
for (l in lab_names){
    c = c+1
    lab <- lab_test %>% filter(lab_name == l & ord_num_value != 9999999)
    print(l)
    print(lab %>% group_by(base_name) %>% count())
    print(summary(lab %>% select(ord_num_value, reference_unit, reference_low, reference_high)))
}

# options(repr.plot.width=7, repr.plot.height=7)
print(c)

# 'Albumin, Ser/Plas', 'Alk P\'TASE, Total, Ser/Plas', 'ALT (SGPT), Ser/Plas', 'AST (SGOT), Ser/Plas'
# 'Base Excess (vt)', 'Base Excess Arterial for POC', 'Base Excess, ISTAT'
# 'Calcium, Ser/Plas''CO2, Ser/Plas''eGFR''Globulin''Glucose'
# 'Glucose Urine''Glucose, urine''Glucose, Urine'
# 'MCH''Neut, ABS (man diff)''Platelets''Potassium''Protein, Total, Ser/Plas'
# 'RDW''Sodium, whole blood, ePOC'

[1] "Albumin, Ser/Plas"
# A tibble: 1 x 2
# Groups:   base_name [1]
  base_name     n
  <chr>     <int>
1 ALB       38273
 ord_num_value                               reference_unit  reference_low
 Min.   :0.900   g/dL                               :38273   3.5    :38266
 1st Qu.:3.000                                      :    0   3.9    :    4
 Median :3.500                                      :    0   3.2    :    3
 Mean   :3.472   /uL                                :    0          :    0
 3rd Qu.:4.000   %                                  :    0   >60    :    0
 Max.   :6.700   % (See scan or EMR data for detail):    0   >90    :    0
                 (Other)                            :    0   (Other):    0
 reference_high
 5.0    :29710
 5.2    : 8560
 4.5    :    3
        :    0
 <0.055 :    0
 <0.1   :    0
 (Other):    0
[1] "Alk P'TASE, Total, Ser/Plas"
# A tibble: 1 x 2
# Groups:   base_name [1]
  base_name     n
  <chr>     <int>
1 ALKP      38120
 ord_num_value                                reference_unit  reference_low
 Min.   :  14.0   U/L                                :38120   40     :26122
 1st Qu.:  70.0                                      :    0          : 7982
 Median :  91.0                                      :    0   35     : 3970
 Mean   : 126.9   /uL                                :    0   45     :   24
 3rd Qu.: 128.0   %                                  :    0   55     :   22
 Max.   :3102.0   % (See scan or EMR data for detail):    0   >60    :    0
                  (Other)                            :    0   (Other):    0
 reference_high
 130    :26113
 <120   : 6757
 105    : 3970
        : 1224
 87     :   24
 149    :   22
 (Other):   10
[1] "ALT (SGPT), Ser/Plas"
# A tibble: 1 x 2
# Groups:   base_name [1]
  base_name     n
  <chr>     <int>
1 ALT       37541
 ord_num_value                                 reference_unit  reference_low
 Min.   :   5.00   U/L                                :37541          :29096
 1st Qu.:  19.00                                      :    0   10     : 8445
 Median :  28.00                                      :    0   >60    :    0
 Mean   :  50.27   /uL                                :    0   >90    :    0
 3rd Qu.:  45.00   %                                  :    0   0      :    0
 Max.   :4002.00   % (See scan or EMR data for detail):    0   0.0    :    0
                   (Other)                            :    0   (Other):    0
 reference_high
 <60    :27901
 50     : 4497
 35     : 3944
        : 1118
 <33    :   40
 <41    :   37
 (Other):    4
[1] "Anion Gap"
# A tibble: 1 x 2
# Groups:   base_name [1]
  base_name     n
  <chr>     <int>
1 AG        41804
 ord_num_value                              reference_unit  reference_low
 Min.   : 2.0   mmol/L                             :41804   5      :41804
 1st Qu.: 8.0                                      :    0          :    0
 Median :10.0                                      :    0   >60    :    0
 Mean   :10.9   /uL                                :    0   >90    :    0
 3rd Qu.:13.0   %                                  :    0   0      :    0
 Max.   :80.0   % (See scan or EMR data for detail):    0   0.0    :    0
                (Other)                            :    0   (Other):    0
 reference_high
 15     :41804
        :    0
 <0.055 :    0
 <0.1   :    0
 <0.100 :    0
 <0.4   :    0
 (Other):    0
[1] "Anion Gap, ISTAT"
# A tibble: 2 x 2
# Groups:   base_name [2]
  base_name     n
  <chr>     <int>
1 AGAP       2509
2 PCAGP       151
 ord_num_value                               reference_unit reference_low
 Min.   : 1.00   mmol/L                             :2660   5      :2660
 1st Qu.:16.00                                      :   0          :   0
 Median :18.00                                      :   0   >60    :   0
 Mean   :18.37   /uL                                :   0   >90    :   0
 3rd Qu.:20.00   %                                  :   0   0      :   0
 Max.   :47.00   % (See scan or EMR data for detail):   0   0.0    :   0
                 (Other)                            :   0   (Other):   0
 reference_high
 15     :2660
        :   0
 <0.055 :   0
 <0.1   :   0
 <0.100 :   0
 <0.4   :   0
 (Other):   0
[1] "Arterial pCO2 for POC"
# A tibble: 1 x 2
# Groups:   base_name [1]
  base_name     n
  <chr>     <int>
1 PCO2A        12
 ord_num_value                                reference_unit reference_low
 Min.   :  6.00   mmHg                               :12     35.0   :12
 1st Qu.: 37.00                                      : 0            : 0
 Median : 41.80                                      : 0     >60    : 0
 Mean   : 51.03   /uL                                : 0     >90    : 0
 3rd Qu.: 66.75   %                                  : 0     0      : 0
 Max.   :111.20   % (See scan or EMR data for detail): 0     0.0    : 0
                  (Other)                            : 0     (Other): 0
 reference_high
 45.0   :12
        : 0
 <0.055 : 0
 <0.1   : 0
 <0.100 : 0
 <0.4   : 0
 (Other): 0
[1] "Arterial pH for POC"
# A tibble: 1 x 2
# Groups:   base_name [1]
  base_name     n
  <chr>     <int>
1 PHA          12
 ord_num_value                               reference_unit reference_low
 Min.   :6.890                                      :12     7.350  :12
 1st Qu.:7.071                                      : 0            : 0
 Median :7.301   /uL                                : 0     >60    : 0
 Mean   :7.230   %                                  : 0     >90    : 0
 3rd Qu.:7.362   % (See scan or EMR data for detail): 0     0      : 0
 Max.   :7.452   g/dL                               : 0     0.0    : 0
                 (Other)                            : 0     (Other): 0
 reference_high
 7.450  :12
        : 0
 <0.055 : 0
 <0.1   : 0
 <0.100 : 0
 <0.4   : 0
 (Other): 0
[1] "Arterial pO2 for POC"
# A tibble: 1 x 2
# Groups:   base_name [1]
  base_name     n
  <chr>     <int>
1 PO2A         12
 ord_num_value                               reference_unit reference_low
 Min.   : 18.6   mmHg                               :12     70     :12
 1st Qu.: 69.3                                      : 0            : 0
 Median :135.5                                      : 0     >60    : 0
 Mean   :196.1   /uL                                : 0     >90    : 0
 3rd Qu.:292.3   %                                  : 0     0      : 0
 Max.   :554.2   % (See scan or EMR data for detail): 0     0.0    : 0
                 (Other)                            : 0     (Other): 0
 reference_high
 100    :12
        : 0
 <0.055 : 0
 <0.1   : 0
 <0.100 : 0
 <0.4   : 0
 (Other): 0
[1] "AST (SGOT), Ser/Plas"
# A tibble: 1 x 2
# Groups:   base_name [1]
  base_name     n
  <chr>     <int>
1 AST       37741
 ord_num_value                                 reference_unit  reference_low
 Min.   :   6.00   U/L                                :37741          :29292
 1st Qu.:  20.00                                      :    0   10     : 8449
 Median :  28.00                                      :    0   >60    :    0
 Mean   :  55.31   /uL                                :    0   >90    :    0
 3rd Qu.:  45.00   %                                  :    0   0      :    0
 Max.   :9655.00   % (See scan or EMR data for detail):    0   0.0    :    0
                   (Other)                            :    0   (Other):    0
 reference_high
 <40    :28055
 50     : 4493
 35     : 3951
        : 1194
 <32    :   40
 40     :    5
 (Other):    3
[1] "Base Excess (vt)"
# A tibble: 1 x 2
# Groups:   base_name [1]
  base_name     n
  <chr>     <int>
1 BE          667
 ord_num_value     reference_unit reference_low reference_high
 Min.   :-29.800   mmol/L :486    0.0    :664   3.0    :664
 1st Qu.: -6.750   mEq/L  :181    0      :  3   3      :  3
 Median : -2.100          :  0           :  0          :  0
 Mean   : -2.916          :  0    >60    :  0   <0.055 :  0
 3rd Qu.:  1.650   /uL    :  0    >90    :  0   <0.1   :  0
 Max.   : 42.500   %      :  0    0.00   :  0   <0.100 :  0
                   (Other):  0    (Other):  0   (Other):  0
[1] "Base Excess Arterial for POC"
# A tibble: 1 x 2
# Groups:   base_name [1]
  base_name     n
  <chr>     <int>
1 BE           12
 ord_num_value                                 reference_unit reference_low
 Min.   :-24.400   mmol/L                             :12     0.0    :12
 1st Qu.:-14.225                                      : 0            : 0
 Median : -4.150                                      : 0     >60    : 0
 Mean   : -6.408   /uL                                : 0     >90    : 0
 3rd Qu.:  0.675   %                                  : 0     0      : 0
 Max.   : 10.400   % (See scan or EMR data for detail): 0     0.00   : 0
                   (Other)                            : 0     (Other): 0
 reference_high
 3.0    :12
        : 0
 <0.055 : 0
 <0.1   : 0
 <0.100 : 0
 <0.4   : 0
 (Other): 0
[1] "Base Excess, ISTAT"
# A tibble: 1 x 2
# Groups:   base_name [1]
  base_name     n
  <chr>     <int>
1 BE        19769
 ord_num_value                                  reference_unit  reference_low
 Min.   :-30.0000   mmol/L                             :19768          :19769
 1st Qu.: -3.0000                                      :    1   >60    :    0
 Median :  0.0000                                      :    0   >90    :    0
 Mean   : -0.3056   /uL                                :    0   0      :    0
 3rd Qu.:  3.0000   %                                  :    0   0.0    :    0
 Max.   : 29.0000   % (See scan or EMR data for detail):    0   0.00   :    0
                    (Other)                            :    0   (Other):    0
 reference_high
        :19769
 <0.055 :    0
 <0.1   :    0
 <0.100 :    0
 <0.4   :    0
 <1.0   :    0
 (Other):    0
[1] "Baso, ABS (man diff)"
# A tibble: 1 x 2
# Groups:   base_name [1]
  base_name     n
  <chr>     <int>
1 BASOAB       33
 ord_num_value                                 reference_unit reference_low
 Min.   :0.00000   K/uL                               :33     0      :33
 1st Qu.:0.00000                                      : 0            : 0
 Median :0.00000                                      : 0     >60    : 0
 Mean   :0.07879   /uL                                : 0     >90    : 0
 3rd Qu.:0.10000   %                                  : 0     0.0    : 0
 Max.   :0.50000   % (See scan or EMR data for detail): 0     0.00   : 0
                   (Other)                            : 0     (Other): 0
 reference_high
 0.25   :33
        : 0
 <0.055 : 0
 <0.1   : 0
 <0.100 : 0
 <0.4   : 0
 (Other): 0
[1] "Basophil, Absolute"
# A tibble: 1 x 2
# Groups:   base_name [1]
  base_name     n
  <chr>     <int>
1 BASOAB    34265
 ord_num_value                                 reference_unit  reference_low
 Min.   :0.00000   K/uL                               :34265   0.00   :34265
 1st Qu.:0.03000                                      :    0          :    0
 Median :0.04000                                      :    0   >60    :    0
 Mean   :0.04851   /uL                                :    0   >90    :    0
 3rd Qu.:0.06000   %                                  :    0   0      :    0
 Max.   :1.35000   % (See scan or EMR data for detail):    0   0.0    :    0
                   (Other)                            :    0   (Other):    0
 reference_high
 0.25   :30352
 0.20   : 3913
        :    0
 <0.055 :    0
 <0.1   :    0
 <0.100 :    0
 (Other):    0
[1] "Basophils, ABS (man diff)"
# A tibble: 1 x 2
# Groups:   base_name [1]
  base_name     n
  <chr>     <int>
1 BASOAB      766
 ord_num_value                                reference_unit reference_low
 Min.   : 0.000   K/uL                               :766    0.00   :766
 1st Qu.: 0.050                                      :  0           :  0
 Median : 0.110                                      :  0    >60    :  0
 Mean   : 0.428   /uL                                :  0    >90    :  0
 3rd Qu.: 0.180   %                                  :  0    0      :  0
 Max.   :65.920   % (See scan or EMR data for detail):  0    0.0    :  0
                  (Other)                            :  0    (Other):  0
 reference_high
 0.25   :681
 0.20   : 85
        :  0
 <0.055 :  0
 <0.1   :  0
 <0.100 :  0
 (Other):  0
[1] "BASOS, ABS"
# A tibble: 1 x 2
# Groups:   base_name [1]
  base_name     n
  <chr>     <int>
1 BASOAB     1115
 ord_num_value                                 reference_unit reference_low
 Min.   :0.00000   K/uL                               :1115   0      :1115
 1st Qu.:0.03000                                      :   0          :   0
 Median :0.04000                                      :   0   >60    :   0
 Mean   :0.05415   /uL                                :   0   >90    :   0
 3rd Qu.:0.07000   %                                  :   0   0.0    :   0
 Max.   :0.44000   % (See scan or EMR data for detail):   0   0.00   :   0
                   (Other)                            :   0   (Other):   0
 reference_high
 0.25   :1115
        :   0
 <0.055 :   0
 <0.1   :   0
 <0.100 :   0
 <0.4   :   0
 (Other):   0
[1] "Bicarbonate, Art for POC"
# A tibble: 1 x 2
# Groups:   base_name [1]
  base_name     n
  <chr>     <int>
1 HCO3A        12
 ord_num_value                               reference_unit reference_low
 Min.   : 1.80   mmol/L                             :12     22.0   :12
 1st Qu.:15.43                                      : 0            : 0
 Median :22.15                                      : 0     >60    : 0
 Mean   :21.61   /uL                                : 0     >90    : 0
 3rd Qu.:28.75   %                                  : 0     0      : 0
 Max.   :38.70   % (See scan or EMR data for detail): 0     0.0    : 0
                 (Other)                            : 0     (Other): 0
 reference_high
 32.0   :12
        : 0
 <0.055 : 0
 <0.1   : 0
 <0.100 : 0
 <0.4   : 0
 (Other): 0
[1] "BUN, ISTAT"
# A tibble: 2 x 2
# Groups:   base_name [2]
  base_name     n
  <chr>     <int>
1 BUN        2528
2 PCBUN       152
 ord_num_value                                reference_unit reference_low
 Min.   :  3.00   mg/dL                              :2680   5      :2680
 1st Qu.: 14.00                                      :   0          :   0
 Median : 20.00                                      :   0   >60    :   0
 Mean   : 26.86   /uL                                :   0   >90    :   0
 3rd Qu.: 31.00   %                                  :   0   0      :   0
 Max.   :139.00   % (See scan or EMR data for detail):   0   0.0    :   0
                  (Other)                            :   0   (Other):   0
 reference_high
 25     :2680
        :   0
 <0.055 :   0
 <0.1   :   0
 <0.100 :   0
 <0.4   :   0
 (Other):   0
[1] "BUN, Ser/Plas"
# A tibble: 1 x 2
# Groups:   base_name [1]
  base_name     n
  <chr>     <int>
1 BUN       40422
 ord_num_value                                reference_unit  reference_low
 Min.   :  1.00   mg/dL                              :40422   5      :31576
 1st Qu.: 12.00                                      :    0   8      : 4660
 Median : 17.00                                      :    0   6      : 4182
 Mean   : 23.29   /uL                                :    0   7      :    4
 3rd Qu.: 27.00   %                                  :    0          :    0
 Max.   :231.00   % (See scan or EMR data for detail):    0   >60    :    0
                  (Other)                            :    0   (Other):    0
 reference_high
 25     :27013
 23     : 9220
 20     : 4182
 21     :    4
 18     :    3
        :    0
 (Other):    0
[1] "Calcium, Ser/Plas"
# A tibble: 1 x 2
# Groups:   base_name [1]
  base_name     n
  <chr>     <int>
1 CA        42115
 ord_num_value                                reference_unit  reference_low
 Min.   : 3.200   mg/dL                              :42115   8.5    :28676
 1st Qu.: 8.600                                      :    0   8.4    : 6313
 Median : 9.000                                      :    0   8.2    : 4682
 Mean   : 8.961   /uL                                :    0   8.8    : 1242
 3rd Qu.: 9.400   %                                  :    0   8.6    : 1202
 Max.   :19.600   % (See scan or EMR data for detail):    0          :    0
                  (Other)                            :    0   (Other):    0
 reference_high
 10.5   :28676
 10.2   : 7555
 10.4   : 4565
 10.0   : 1202
 9.6    :  117
        :    0
 (Other):    0
[1] "Chloride, ISTAT"
# A tibble: 2 x 2
# Groups:   base_name [2]
  base_name     n
  <chr>     <int>
1 CL         2571
2 PCCL        155
 ord_num_value                               reference_unit reference_low
 Min.   : 65.0   mmol/L                             :2726   96     :2726
 1st Qu.: 98.0                                      :   0          :   0
 Median :102.0                                      :   0   >60    :   0
 Mean   :101.3   /uL                                :   0   >90    :   0
 3rd Qu.:105.0   %                                  :   0   0      :   0
 Max.   :134.0   % (See scan or EMR data for detail):   0   0.0    :   0
                 (Other)                            :   0   (Other):   0
 reference_high
 109    :2726
        :   0
 <0.055 :   0
 <0.1   :   0
 <0.100 :   0
 <0.4   :   0
 (Other):   0
[1] "Chloride, Ser/Plas"
# A tibble: 1 x 2
# Groups:   base_name [1]
  base_name     n
  <chr>     <int>
1 CL        41981
 ord_num_value                                reference_unit  reference_low
 Min.   : 61.00   mmol/L                             :41981   96     :28608
 1st Qu.: 97.00                                      :    0   98     : 8819
 Median :101.00                                      :    0   99     : 4554
 Mean   : 99.92   /uL                                :    0          :    0
 3rd Qu.:104.00   %                                  :    0   >60    :    0
 Max.   :153.00   % (See scan or EMR data for detail):    0   >90    :    0
                  (Other)                            :    0   (Other):    0
 reference_high
 109    :28608
 107    : 8819
 112    : 4554
        :    0
 <0.055 :    0
 <0.1   :    0
 (Other):    0
[1] "Chloride, Whole Bld"
# A tibble: 1 x 2
# Groups:   base_name [1]
  base_name     n
  <chr>     <int>
1 CL          319
 ord_num_value                             reference_unit reference_low
 Min.   : 89   mmol/L                             :319    95     :319
 1st Qu.:102                                      :  0           :  0
 Median :107                                      :  0    >60    :  0
 Mean   :107   /uL                                :  0    >90    :  0
 3rd Qu.:112   %                                  :  0    0      :  0
 Max.   :135   % (See scan or EMR data for detail):  0    0.0    :  0
               (Other)                            :  0    (Other):  0
 reference_high
 110    :319
        :  0
 <0.055 :  0
 <0.1   :  0
 <0.100 :  0
 <0.4   :  0
 (Other):  0
[1] "CO2 Arterial Total for POC"
# A tibble: 1 x 2
# Groups:   base_name [1]
  base_name     n
  <chr>     <int>
1 TCO2A        11
 ord_num_value                               reference_unit reference_low
 Min.   :11.00   mmol/L                             :11     22     :11
 1st Qu.:20.20                                      : 0            : 0
 Median :23.60                                      : 0     >60    : 0
 Mean   :25.11   /uL                                : 0     >90    : 0
 3rd Qu.:30.75   %                                  : 0     0      : 0
 Max.   :40.90   % (See scan or EMR data for detail): 0     0.0    : 0
                 (Other)                            : 0     (Other): 0
 reference_high
 29     :8
 32     :3
        :0
 <0.055 :0
 <0.1   :0
 <0.100 :0
 (Other):0
[1] "CO2, Ser/Plas"
# A tibble: 1 x 2
# Groups:   base_name [1]
  base_name     n
  <chr>     <int>
1 CO2       41922
 ord_num_value                               reference_unit  reference_low
 Min.   : 3.00   mmol/L                             :41922   20     :28622

In [125]:
# update lab list, cut some labs - from TRIAGE
# OK to include 1 entry Glucose
# be careful with Lactate has 2 basename whole blood and none

# remove Potassium --> 1 entry, 7.4 weird
# remove Platelets --> all NA
# remove base_name of glucose urine --> all NA
# no longer here to remove: remove Basophils --> unit is %
# no longer here to remove: "pH" , "Ketone, urine", "Leukocyte Esterase, urine" # few, and all NA

lab_list <- c("RBC", "MCH", "MCHC", "MCV", "Calcium, Ser/Plas", "CO2, Ser/Plas",
               "Albumin, Ser/Plas", "ALT (SGPT), Ser/Plas", "AST (SGOT), Ser/Plas", "Alk P'TASE, Total, Ser/Plas",
               "Globulin", "Protein, Total, Ser/Plas",
               "Magnesium, Ser/Plas",  "Phosphorus, Ser/Plas", #14 ind
               
               "WBC", "WBC count", # WBC count is 1000*WBC
               "TROPONIN I", "Troponin I, POCT",
               "Total Bilirubin, Ser/Plas", "Total Bilirubin",
               "Platelet count", # remove Platelets
              
               "Hematocrit", "Hct, ISTAT", "Hct(Calc), ISTAT", "Hct (Est)", "HCT, POC", "Hematocrit (Manual Entry) See EMR for details",
               "Hemoglobin", "Hgb(Calc), ISTAT", "Hgb, calculated, POC", "HgB", 
               "Potassium, Ser/Plas", "Potassium, ISTAT",  "Potassium, Whole Bld", "Potassium, whole blood, ePOC", # remove Potassium
               "Sodium, Ser/Plas", "Sodium, ISTAT",  "Sodium, Whole Blood", 
               "Chloride, Ser/Plas",  "Chloride, ISTAT",  "Chloride, Whole Bld",
               "Creatinine, Ser/Plas", "Creatinine,ISTAT", 
              
               "Anion Gap", "Anion Gap, ISTAT",
               "Glucose, Ser/Plas", "Glucose,ISTAT", "Glucose, Whole Blood", "Glucose by Meter", "Glucose, Non-fasting",
               "BUN, Ser/Plas", "BUN, ISTAT", "Urea Nitrogen,Ser/Plas",
               "Neutrophil, Absolute", "NEUT, ABS", "Neut, ABS (Seg+Band) (man diff)", "Neutrophils, Absolute (Manual Diff)", "Neut, ABS (Seg+Band) (man diff)",
               "Basophil, Absolute", "BASOS, ABS", "Basophils, ABS (man diff)", "Baso, ABS (man diff)", # remove Basophils
               "Eosinophil, Absolute", "EOS, ABS", "Eosinophils, ABS (man diff)", "Eos, ABS (man diff)",
               "Lymphocyte, Absolute", "LYM, ABS", "Lymphocytes, ABS (man diff)", "Lym, ABS (man diff)", "Lymphocytes, Abs.",
                  # Lymphocytes, Abs. = 1000* the rest of lymphocytes
               "Monocyte, Absolute", "MONO, ABS", "Monocytes, ABS (man diff)", "Mono, ABS (man diff)",
               "Lactate, ISTAT", "Lactate, Whole Bld", "Lactic Acid",
               "Base Excess, ISTAT", "Base Excess (vt)", "Base Excess Arterial for POC",
              
                "HCO3", "HCO3 (a), ISTAT", "Bicarbonate, Art for POC", 
                "HCO3 (v), ISTAT", "HCO3, ISTAT", 
                "O2 Saturation (a)", "O2 Saturation, ISTAT", "Oxygen Saturation for POC", 
                "O2 Saturation (v)",  "O2 Saturation, ISTAT (Ven)",
                "pCO2 (a)", "pCO2 (a), ISTAT",  "PCO2, ISTAT", "Arterial pCO2 for POC",
                "pCO2 (v)", "PCO2 (v), ISTAT",
                "pH (a)", "PH (a), ISTAT", "pH by Meter", "Arterial pH for POC",
                "pH (v)", "PH (v), ISTAT", "PH, ISTAT", 
                "pO2 (a)", "PO2 (a), ISTAT",  "PO2, ISTAT", "Arterial pO2 for POC",
                "pO2 (v)", "PO2 (v), ISTAT", 
              
                "tCO2", "TCO2 (a), ISTAT","TCO2, ISTAT", "TCO2, (ISTAT)", "CO2 Arterial Total for POC", 
                "TCO2 (v), ISTAT", # 1 individual
                "INR", "INR, ISTAT", 
                "Prothrombin Time", "PT, ISTAT") # 33 more than 1
#               "pH", "Ketone, urine", "Leukocyte Esterase, urine") #"O2 Saturation, ISTAT (Oth)", "ctO2 (a)"
length(lab_list)

[1] 120

In [126]:
colnames(labs0)

 [1] "anon_id"                 "pat_enc_csn_id_coded"
 [3] "inpatient_data_id_coded" "admit_time"
 [5] "label"                   "DBP"
 [7] "Pulse"                   "RR"
 [9] "SBP"                     "Temp"
[11] "order_id_coded"          "lab_name"
[13] "base_name"               "ord_value"
[15] "ord_num_value"           "reference_low"
[17] "reference_high"          "reference_unit"
[19] "result_in_range_yn"      "result_flag"
[21] "result_time_utc"         "order_time_utc"
[23] "taken_time_utc"

In [127]:
# sodium base_name is NA, so might not pick up. either collect is.na(base_name) or specify these lab_names
labs0 %>% filter(str_detect(lab_name, "Sodium")) %>% group_by(lab_name, base_name) %>% count() %>% distinct()

  lab_name                  base_name n
1 Sodium, ISTAT             NA         3188
2 Sodium, Ser/Plas          NA        42093
3 Sodium, Whole Blood       NA          330
4 Sodium, whole blood, ePOC NA           56

In [128]:
# Only need to remove glucose in urine, 1 potassium, 1 platelets, and base_name of urine glucose
removed_lab_names <- c("Platelets", "Potassium")
labs0 <- labs0 %>% filter(!lab_name %in% removed_lab_names, base_name != "GLUURN" | is.na(base_name)) %>%
                select(-c(taken_time_utc, order_time_utc)) %>%
#             select(anon_id, pat_enc_csn_id_coded, lab_name, base_name, ord_num_value, 
#                    result_flag, order_time_utc, taken_time_utc, result_time_utc) %>%
                rename(features = lab_name, values = ord_num_value, result_time = result_time_utc) %>% 
#             mutate(feature_type = "labs", result_flag = ifelse(result_flag=="",0,1)) %>% 
                drop_na(values) %>% distinct()
nrow(labs)

[1] 1367892

In [129]:
str_sort(setdiff(labs0$lab_name, lab_list)) # NONE
str_sort(setdiff(lab_list, labs0$features)) # ok
labs0 %>% filter(features %in% c('TCO2 (v), ISTAT')) # not there (only 1 person from the old dataset)
str_sort(unique(labs0$base_name)) # has NA

character(0)

[1] "Magnesium, Ser/Plas"  "MCHC"                 "MCV"
[4] "Phosphorus, Ser/Plas" "RBC"                  "TCO2 (v), ISTAT"

Warning message in cbind(parts$left, ellip_h, parts$right, deparse.level = 0L):
“number of rows of result is not a multiple of vector length (arg 2)”
Warning message in cbind(parts$left, ellip_h, parts$right, deparse.level = 0L):
“number of rows of result is not a multiple of vector length (arg 2)”
Warning message in cbind(parts$left, ellip_h, parts$right, deparse.level = 0L):
“number of rows of result is not a multiple of vector length (arg 2)”
Warning message in cbind(parts$left, ellip_h, parts$right, deparse.level = 0L):
“number of rows of result is not a multiple of vector length (arg 2)”

     anon_id pat_enc_csn_id_coded inpatient_data_id_coded admit_time label DBP
     Pulse RR SBP Temp ⋯ features base_name ord_value values reference_low
     reference_high reference_unit result_in_range_yn result_flag result_time

 [1] "AG"      "AGAP"    "ALB"     "ALKP"    "ALT"     "AST"     "BASOAB"
 [8] "BE"      "BUN"     "CA"      "CL"      "CO2"     "CR"      "EGFR"
[15] "EOSAB"   "GLOB"    "GLU"     "HCO3"    "HCO3A"   "HCO3V"   "HCT"
[22] "HGB"     "INR"     "K"       "LAC"     "LACWBL"  "LYMAB"   "MCH"
[29] "MONOAB"  "NEUTAB"  "NEUTABS" "O2SATA"  "O2SATV"  "PCAGP"   "PCBUN"
[36] "PCCL"    "PCO2A"   "PCO2V"   "PH"      "PHA"     "PHV"     "PLT"
[43] "PO2A"    "PO2V"    "PT"      "RDW"     "TBIL"    "TCO2A"   "TNI"
[50] "TP"      "WBC"     NA

In [130]:
# convert WBC count to WBC unit and Lymphocytes Abs. before combining
labs0 <- labs0 %>% mutate(values = ifelse(features == "WBC count", round(values/1000.0, 1), 
                                          ifelse(features == "Lymphocytes, Abs.", round(values/1000.0, 3), values)))

In [131]:
# in range: Y or blank 
labs0 %>% count(result_in_range_yn) %>% arrange(desc(result_in_range_yn))
# normal as blanks
labs0 %>% count(result_flag) %>% arrange(desc(n))
head(labs0 %>% count(values) %>% arrange())
tail(labs0 %>% count(values) %>% arrange())

  result_in_range_yn n
1 Y                    23524
2                    1344314

  result_flag n
1             920593
2 High        219631
3 Low         210634
4 High Panic    8504
5 Low Panic     8457
6 Abnormal        19

  values n
1 -30.0   2
2 -29.8   1
3 -29.0  12
4 -28.0  14
5 -27.7   1
6 -27.0  22

     values  n
6110    6307     1
6111    6589     1
6112    6673     1
6113    6729     1
6114    9655     1
6115 9999999 15666

In [132]:
labs0 %>% group_by(features, base_name) %>% count() %>% distinct()

    features                                      base_name n
1   Albumin, Ser/Plas                             ALB       38315
2   Alk P'TASE, Total, Ser/Plas                   ALKP      38129
3   ALT (SGPT), Ser/Plas                          ALT       38040
4   Anion Gap                                     AG        41927
5   Anion Gap, ISTAT                              AGAP       2509
6   Anion Gap, ISTAT                              PCAGP       155
7   Arterial pCO2 for POC                         PCO2A        12
8   Arterial pH for POC                           PHA          12
9   Arterial pO2 for POC                          PO2A         12
10  AST (SGOT), Ser/Plas                          AST       37997
11  Base Excess (vt)                              BE          687
12  Base Excess Arterial for POC                  BE           12
13  Base Excess, ISTAT                            BE        19798
14  Baso, ABS (man diff)                          BASOAB       33
15  Basophil, Absolute                            BASOAB    34265
16  Basophils, ABS (man diff)                     BASOAB      767
17  BASOS, ABS                                    BASOAB     1136
18  Bicarbonate, Art for POC                      HCO3A        12
19  BUN, ISTAT                                    BUN        2583
20  BUN, ISTAT                                    PCBUN       155
21  BUN, Ser/Plas                                 BUN       40478
22  Calcium, Ser/Plas                             CA        42129
23  Chloride, ISTAT                               CL         2572
24  Chloride, ISTAT                               PCCL        155
25  Chloride, Ser/Plas                            CL        41995
26  Chloride, Whole Bld                           CL          329
27  CO2 Arterial Total for POC                    TCO2A        12
28  CO2, Ser/Plas                                 CO2       41991
29  Creatinine, Ser/Plas                          CR        41905
30  Creatinine,ISTAT                              CR         3082
31  eGFR                                          EGFR      39460
32  EOS, ABS                                      EOSAB      1136
33  Eos, ABS (man diff)                           EOSAB        43
34  Eosinophil, Absolute                          EOSAB     34265
35  Eosinophils, ABS (man diff)                   EOSAB      1257
36  Globulin                                      GLOB      37727
37  Glucose                                       GLU           1
38  Glucose by Meter                              GLU        6504
39  Glucose, Non-fasting                          GLU          19
40  Glucose, Ser/Plas                             GLU       41973
41  Glucose, Whole Blood                          GLU         336
42  Glucose,ISTAT                                 GLU        3175
43  HCO3                                          HCO3A       687
44  HCO3 (a), ISTAT                               HCO3A      1295
45  HCO3 (v), ISTAT                               HCO3V     18674
46  HCO3, ISTAT                                   HCO3        100
47  Hct (Est)                                     HCT         329
48  Hct, ISTAT                                    HCT        3024
49  HCT, POC                                      HCT          51
50  Hct(Calc), ISTAT                              HCT         155
51  Hematocrit                                    HCT       42143
52  Hematocrit (Manual Entry) See EMR for details HCT           1
53  Hemoglobin                                    HGB       42137
54  HgB                                           HGB         306
55  Hgb, calculated, POC                          HGB          50
56  Hgb(Calc), ISTAT                              HGB        3162
57  INR                                           INR       18203
58  INR, ISTAT                                    INR        1171
59  Lactate, ISTAT                                LAC       19891
60  Lactate, Whole Bld                            LACWBL     1407
61  Lactic Acid                                   LAC        1066
62  LYM, ABS                                      LYMAB      1136
63  Lym, ABS (man diff)                           LYMAB       102
64  Lymphocyte, Absolute                          LYMAB     34266
65  Lymphocytes, ABS (man diff)                   LYMAB      2956
66  Lymphocytes, Abs.                             LYMAB         9
67  MCH                                           MCH       42014
68  MONO, ABS                                     MONOAB     1136
69  Mono, ABS (man diff)                          MONOAB       98
70  Monocyte, Absolute                            MONOAB    34265
71  Monocytes, ABS (man diff)                     MONOAB     2847
72  NEUT, ABS                                     NEUTAB     1136
73  Neut, ABS (man diff)                          NEUTAB      100
74  Neut, ABS (Seg+Band) (man diff)               NEUTAB     2239
75  Neut, ABS (Seg+Band) (man diff)               NEUTABS     583
76  Neutrophil, Absolute                          NEUTAB    34287
77  Neutrophils, Absolute (Manual Diff)           NEUTAB      182
78  O2 Saturation (a)                             O2SATA      324
79  O2 Saturation (v)                             O2SATV      336
80  O2 Saturation, ISTAT                          O2SATA     1291
81  O2 Saturation, ISTAT (Ven)                    O2SATV    18634
82  Oxygen Saturation for POC                     O2SATA       12
83  pCO2 (a)                                      PCO2A       343
84  pCO2 (a), ISTAT                               PCO2A      1296
85  pCO2 (v)                                      PCO2V       344
86  PCO2 (v), ISTAT                               PCO2V     18687
87  PCO2, ISTAT                                   PCO2A       100
88  pH (a)                                        PHA         343
89  PH (a), ISTAT                                 PHA        1296
90  pH (v)                                        PHV         344
91  PH (v), ISTAT                                 PHV       18685
92  pH by Meter                                   PHA          27
93  PH, ISTAT                                     PH          101
94  Platelet count                                PLT       42208
95  pO2 (a)                                       PO2A        343
96  PO2 (a), ISTAT                                PO2A       1300
97  pO2 (v)                                       PO2V        342
98  PO2 (v), ISTAT                                PO2V      18706
99  PO2, ISTAT                                    PO2A        100
100 Potassium, ISTAT                              K          3179
101 Potassium, Ser/Plas                           K         42136
102 Potassium, Whole Bld                          K           335
103 Potassium, whole blood, ePOC                  K            64
104 Protein, Total, Ser/Plas                      TP        38205
105 Prothrombin Time                              PT        18203
106 PT, ISTAT                                     PT         1148
107 RDW                                           RDW       42020
108 Sodium, ISTAT                                 NA         3184
109 Sodium, Ser/Plas                              NA        42080
110 Sodium, Whole Blood                           NA          329
111 Sodium, whole blood, ePOC                     NA           56
112 tCO2                                          TCO2A       687
113 TCO2 (a), ISTAT                               TCO2A      3804
114 TCO2, (ISTAT)                                 TCO2A        78
115 TCO2, ISTAT                                   TCO2A       241
116 Total Bilirubin                               TBIL       1233
117 Total Bilirubin, Ser/Plas                     TBIL      37173
118 TROPONIN I                                    TNI       10705
119 Troponin I, POCT                              TNI        5906
120 Urea Nitrogen,Ser/Plas                        BUN        1499
121 WBC                                           WBC       42094
122 WBC count                                     WBC           9

In [133]:
str_sort(unique(labs0$features))

  [1] "Albumin, Ser/Plas"
  [2] "Alk P'TASE, Total, Ser/Plas"
  [3] "ALT (SGPT), Ser/Plas"
  [4] "Anion Gap"
  [5] "Anion Gap, ISTAT"
  [6] "Arterial pCO2 for POC"
  [7] "Arterial pH for POC"
  [8] "Arterial pO2 for POC"
  [9] "AST (SGOT), Ser/Plas"
 [10] "Base Excess (vt)"
 [11] "Base Excess Arterial for POC"
 [12] "Base Excess, ISTAT"
 [13] "Baso, ABS (man diff)"
 [14] "Basophil, Absolute"
 [15] "Basophils, ABS (man diff)"
 [16] "BASOS, ABS"
 [17] "Bicarbonate, Art for POC"
 [18] "BUN, ISTAT"
 [19] "BUN, Ser/Plas"
 [20] "Calcium, Ser/Plas"
 [21] "Chloride, ISTAT"
 [22] "Chloride, Ser/Plas"
 [23] "Chloride, Whole Bld"
 [24] "CO2 Arterial Total for POC"
 [25] "CO2, Ser/Plas"
 [26] "Creatinine, Ser/Plas"
 [27] "Creatinine,ISTAT"
 [28] "eGFR"
 [29] "EOS, ABS"
 [30] "Eos, ABS (man diff)"
 [31] "Eosinophil, Absolute"
 [32] "Eosinophils, ABS (man diff)"
 [33] "Globulin"
 [34] "Glucose"
 [35] "Glucose by Meter"
 [36] "Glucose, Non-fasting"
 [37] "Glucose, Ser/Plas"
 [38] "Glucose, Whole Blood"
 [39] "Glucose,ISTAT"
 [40] "HCO3"
 [41] "HCO3 (a), ISTAT"
 [42] "HCO3 (v), ISTAT"
 [43] "HCO3, ISTAT"
 [44] "Hct (Est)"
 [45] "Hct, ISTAT"
 [46] "HCT, POC"
 [47] "Hct(Calc), ISTAT"
 [48] "Hematocrit"
 [49] "Hematocrit (Manual Entry) See EMR for details"
 [50] "Hemoglobin"
 [51] "HgB"
 [52] "Hgb, calculated, POC"
 [53] "Hgb(Calc), ISTAT"
 [54] "INR"
 [55] "INR, ISTAT"
 [56] "Lactate, ISTAT"
 [57] "Lactate, Whole Bld"
 [58] "Lactic Acid"
 [59] "LYM, ABS"
 [60] "Lym, ABS (man diff)"
 [61] "Lymphocyte, Absolute"
 [62] "Lymphocytes, ABS (man diff)"
 [63] "Lymphocytes, Abs."
 [64] "MCH"
 [65] "MONO, ABS"
 [66] "Mono, ABS (man diff)"
 [67] "Monocyte, Absolute"
 [68] "Monocytes, ABS (man diff)"
 [69] "NEUT, ABS"
 [70] "Neut, ABS (man diff)"
 [71] "Neut, ABS (Seg+Band) (man diff)"
 [72] "Neutrophil, Absolute"
 [73] "Neutrophils, Absolute (Manual Diff)"
 [74] "O2 Saturation (a)"
 [75] "O2 Saturation (v)"
 [76] "O2 Saturation, ISTAT"
 [77] "O2 Saturation, ISTAT (Ven)"
 [78] "Oxygen Saturation for POC"
 [79] "pCO2 (a)"
 [80] "pCO2 (a), ISTAT"
 [81] "pCO2 (v)"
 [82] "PCO2 (v), ISTAT"
 [83] "PCO2, ISTAT"
 [84] "pH (a)"
 [85] "PH (a), ISTAT"
 [86] "pH (v)"
 [87] "PH (v), ISTAT"
 [88] "pH by Meter"
 [89] "PH, ISTAT"
 [90] "Platelet count"
 [91] "pO2 (a)"
 [92] "PO2 (a), ISTAT"
 [93] "pO2 (v)"
 [94] "PO2 (v), ISTAT"
 [95] "PO2, ISTAT"
 [96] "Potassium, ISTAT"
 [97] "Potassium, Ser/Plas"
 [98] "Potassium, Whole Bld"
 [99] "Potassium, whole blood, ePOC"
[100] "Protein, Total, Ser/Plas"
[101] "Prothrombin Time"
[102] "PT, ISTAT"
[103] "RDW"
[104] "Sodium, ISTAT"
[105] "Sodium, Ser/Plas"
[106] "Sodium, Whole Blood"
[107] "Sodium, whole blood, ePOC"
[108] "tCO2"
[109] "TCO2 (a), ISTAT"
[110] "TCO2, (ISTAT)"
[111] "TCO2, ISTAT"
[112] "Total Bilirubin"
[113] "Total Bilirubin, Ser/Plas"
[114] "TROPONIN I"
[115] "Troponin I, POCT"
[116] "Urea Nitrogen,Ser/Plas"
[117] "WBC"
[118] "WBC count"

In [134]:
# ISTAT seems all A, so put pH in A
# combine same labs and change the lab name in the data
# could use base_name except for LACTATE has 2 different base_names
# Glucose lab_name as base_name as GLU and UGLU. exclude glucose here, only 1 entry anyways
# New: Glucose, Sodium ePOC, 'Neut, ABS (man diff)' and ALB - RDW

ALB = 'Albumin, Ser/Plas'
ALK = 'Alk P\'TASE, Total, Ser/Plas'
ALT = 'ALT (SGPT), Ser/Plas'
AST = 'AST (SGOT), Ser/Plas'

Ca = 'Calcium, Ser/Plas'
CO2 = 'CO2, Ser/Plas'
eGFR = 'eGFR' # as char
Glob = 'Globulin'

MCH = 'MCH' # as char
TProtein = 'Protein, Total, Ser/Plas'
RDW = 'RDW' # as char

Platelet = c("Platelet count") # remove platelets 
TBili = c("Total Bilirubin", "Total Bilirubin, Ser/Plas")
Trop = c("TROPONIN I", "Troponin I, POCT")
WBC = c("WBC", "WBC count") # WBC count /1000 7

Hct = c("Hct (Est)", "Hct, ISTAT", "HCT, POC", "Hct(Calc), ISTAT", "Hematocrit",    
        "Hematocrit (Manual Entry) See EMR for details")
Hgb = c("Hemoglobin", "HgB", "Hgb, calculated, POC", "Hgb(Calc), ISTAT")
K = c("Potassium, ISTAT",  "Potassium, Ser/Plas", "Potassium, Whole Bld", "Potassium, whole blood, ePOC") # remove Potassium
Na = c("Sodium, ISTAT",  "Sodium, Ser/Plas", "Sodium, Whole Blood", 'Sodium, whole blood, ePOC') # ePOC is new
Cl = c("Chloride, ISTAT",  "Chloride, Ser/Plas",  "Chloride, Whole Bld")
Cr = c("Creatinine, Ser/Plas", "Creatinine,ISTAT") #22

AnionGap = c("Anion Gap", "Anion Gap, ISTAT") 
Glucose = c('Glucose', "Glucose by Meter", "Glucose, Non-fasting", "Glucose, Ser/Plas", "Glucose, Whole Blood", "Glucose,ISTAT")
BUN = c("BUN, Ser/Plas", "BUN, ISTAT", "Urea Nitrogen,Ser/Plas") #10
Neut = c("NEUT, ABS", 'Neut, ABS (man diff)', "Neut, ABS (Seg+Band) (man diff)", "Neutrophil, Absolute",  "Neutrophils, Absolute (Manual Diff)")
Basos = c("Basophils, ABS (man diff)", "Basophil, Absolute", "Baso, ABS (man diff)", "BASOS, ABS")
Eos = c("EOS, ABS", "Eosinophils, ABS (man diff)", "Eosinophil, Absolute", "Eos, ABS (man diff)")
Lymp = c("LYM, ABS", "Lymphocytes, ABS (man diff)", "Lymphocyte, Absolute", "Lym, ABS (man diff)", "Lymphocytes, Abs.")
Mono = c("MONO, ABS", "Monocytes, ABS (man diff)", "Monocyte, Absolute", "Mono, ABS (man diff)")
Lactate = c("Lactate, ISTAT", "Lactate, Whole Bld", "Lactic Acid")
Base = c("Base Excess (vt)", "Base Excess Arterial for POC", "Base Excess, ISTAT") #28

HCO3_a = c("HCO3", "HCO3 (a), ISTAT", "Bicarbonate, Art for POC") # HCO3 is A based on base name
HCO3_v = c("HCO3 (v), ISTAT", "HCO3, ISTAT") 
O2sat_a = c("O2 Saturation (a)", "O2 Saturation, ISTAT", "Oxygen Saturation for POC")
O2sat_v = c("O2 Saturation (v)",  "O2 Saturation, ISTAT (Ven)")
pCO2_a = c("pCO2 (a)", "pCO2 (a), ISTAT",  "PCO2, ISTAT", "Arterial pCO2 for POC")
pCO2_v = c("pCO2 (v)", "PCO2 (v), ISTAT") 
pH_a = c("pH (a)", "PH (a), ISTAT", "pH by Meter", "Arterial pH for POC", "PH, ISTAT")
pH_v = c ("pH (v)", "PH (v), ISTAT") # new: move "PH, ISTAT" to arterial
PO2_a = c("pO2 (a)", "PO2 (a), ISTAT",  "PO2, ISTAT", "Arterial pO2 for POC")
PO2_v = c ("pO2 (v)", "PO2 (v), ISTAT") #29

TCO2_a = c("tCO2", "TCO2 (a), ISTAT", "TCO2, (ISTAT)", "TCO2, ISTAT", "CO2 Arterial Total for POC")
INR = c("INR", "INR, ISTAT")
PT = c("Prothrombin Time", "PT, ISTAT") #9

labs <- labs0 %>% 
        mutate(features = 
            ifelse(features %in% Platelet, "Platelet", ifelse(features %in% TBili, "TBili", 
            ifelse(features %in% Trop, "Trop", ifelse(features %in% WBC, "WBC",
            ifelse(features %in% Hct, "Hct", ifelse(features %in% Hgb, "Hgb", 
            ifelse(features %in% K, "K", ifelse(features %in% Na, "Na",
            ifelse(features %in% Cl, "Cl", ifelse(features %in% Cr, "Cr",
            ifelse(features %in% AnionGap, "AnionGap", ifelse(features %in% Glucose, "Glucose",
            ifelse(features %in% BUN, "BUN", ifelse(features %in% Neut, "Neut",    
            ifelse(features %in% Basos, "Basos", ifelse(features %in% Eos, "Eos",      
            ifelse(features %in% Lymp, "Lymp", ifelse(features %in% Mono, "Mono",    
            ifelse(features %in% Lactate, "Lactate",  ifelse(features %in% Base, "Base", 
            ifelse(features %in% HCO3_a, "HCO3_a", ifelse(features %in% HCO3_v, "HCO3_v", 
            ifelse(features %in% O2sat_a, "O2sat_a", ifelse(features %in% O2sat_v, "O2sat_v",
            ifelse(features %in% pCO2_a, "pCO2_a", ifelse(features %in% pCO2_v, "pCO2_v",
            ifelse(features %in% pH_a, "pH_a", ifelse(features %in% pH_v, "pH_v",      
            ifelse(features %in% PO2_a, "PO2_a", ifelse(features %in% PO2_v, "PO2_v",
            ifelse(features %in% TCO2_a, "TCO2_a", ifelse(features %in% INR, "INR",
            ifelse(features %in% PT, "PT", ifelse(features %in% ALB, "ALB",
            ifelse(features %in% ALK, "ALK", ifelse(features %in% ALT, "ALT",
            ifelse(features %in% AST, "AST", ifelse(features %in% TProtein, "TProtein",                                     
            ifelse(features %in% Ca, "Ca", ifelse(features %in% CO2, "CO2",                                        
            ifelse(features %in% Glob, "Glob", as.character(features))))))))))))))))))))))))))))))))))))))))))) %>%
        distinct()

In [135]:
nrow(labs) # 1367892 vs 1367838
# total 48 lab_name but 56 base_name
nrow(labs %>% select(anon_id, pat_enc_csn_id_coded) %>% distinct()) #41627
# labs %>% select(base_name, features) %>% distinct() %>% arrange(features, base_name) 
labs %>% group_by(features, base_name) %>% count(sort=TRUE) %>% arrange(features, base_name)

[1] 1367838

[1] 41627

   features base_name n
1  ALB      ALB       38315
2  ALK      ALKP      38129
3  ALT      ALT       38040
4  AnionGap AG        41927
5  AnionGap AGAP       2509
6  AnionGap PCAGP       155
7  AST      AST       37997
8  Base     BE        20497
9  Basos    BASOAB    36201
10 BUN      BUN       44560
11 BUN      PCBUN       155
12 Ca       CA        42129
13 Cl       CL        44896
14 Cl       PCCL        155
15 CO2      CO2       41991
16 Cr       CR        44987
17 eGFR     EGFR      39460
18 Eos      EOSAB     36701
19 Glob     GLOB      37727
20 Glucose  GLU       52008
21 HCO3_a   HCO3A      1994
22 HCO3_v   HCO3        100
23 HCO3_v   HCO3V     18674
24 Hct      HCT       45703
25 Hgb      HGB       45655
26 INR      INR       19374
27 K        K         45714
28 Lactate  LAC       20957
29 Lactate  LACWBL     1407
30 Lymp     LYMAB     38469
31 MCH      MCH       42014
32 Mono     MONOAB    38346
33 Na       NA        45649
34 Neut     NEUTAB    37944
35 Neut     NEUTABS     583
36 O2sat_a  O2SATA     1627
37 O2sat_v  O2SATV    18970
38 pCO2_a   PCO2A      1751
39 pCO2_v   PCO2V     19031
40 pH_a     PH          101
41 pH_a     PHA        1678
42 pH_v     PHV       19029
43 Platelet PLT       42208
44 PO2_a    PO2A       1755
45 PO2_v    PO2V      19048
46 PT       PT        19351
47 RDW      RDW       42020
48 TBili    TBIL      38406
49 TCO2_a   TCO2A      4822
50 TProtein TP        38205
51 Trop     TNI       16611
52 WBC      WBC       42103

### Process the 9999999 values
- check ord_value

In [136]:
# there are no NA, but only 15668 of 9999999 values
value99 <- labs %>% filter(values==9999999) 
nrow(value99)
value99 %>% group_by(ord_value) %>% count() %>% arrange(-n)

[1] 15666

   ord_value                                    n
1  >60                                          5328
2  <0.017                                       4560
3  <0.1                                         1540
4  >90                                          1366
5  <10                                           552
6  N/A                                           409
7  <0.2                                          375
8  >500                                          242
9  <0.30                                         226
10 <5                                            180
11 <2                                            119
12 <15                                           103
13 <2.0                                           64
14 >700                                           64
15 >600                                           60
16 >8.0                                           40
17 <3                                             39
18 <1.0                                           37
19 >150                                           36
20 <30.0                                          35
21 >140                                           23
22 <0.9                                           22
23 >45                                            21
24 >50                                            17
25 >9.0                                           16
26 <-30                                           14
27 >130.0                                         14
28 >20.00                                         14
29 >30                                            14
30 <20                                            10
31 >120                                           10
32 >3500                                          10
33 <5.0                                            8
34 >20.0                                           7
35 >300.0                                          7
36 >60.0                                           7
37 >10.0                                           6
38 >40.000                                         6
39 >46                                             6
40 <60                                             5
41 >15.0                                           5
42 >50.00                                          5
43 <0.01                                           3
44 >12.0                                           3
45 >120.0                                          3
46 >40.0                                           3
47 <0.02                                           2
48 <0.06                                           2
49 <0.100                                          2
50 <1                                              2
51 <100                                            2
52 >17.6                                           2
53 >170                                            2
54 >36.0                                           2
55 CANCELLED: Specimen Clotted.                    2
56 <0.00                                           1
57 <0.07                                           1
58 <0.08                                           1
59 <0.10                                           1
60 <10.0                                           1
61 <65                                             1
62 >17.3                                           1
63 >180                                            1
64 >50.0                                           1
65 CANCELLED:  Note:                               1
66 CANCELLED: Clerical Error                       1
67 CANCELLED: Duplicate Order                      1
68 CANCELLED: Inappropriate Specimen/Container.    1
69 hi                                              1

In [137]:
value99 %>% filter(ord_value %in% c("N/A", "hi") | str_detect(ord_value, 'CANCELLED')) %>% count(ord_value, sort=TRUE)
value99 %>% filter(!grepl('>|<', ord_value)) %>% count(ord_value, sort=TRUE)

value99 %>% filter(ord_value %in% c("N/A", "hi") | str_detect(ord_value, 'CANCELLED')) %>% count(features, sort=TRUE)

  ord_value                                    n
1 N/A                                          409
2 CANCELLED: Specimen Clotted.                   2
3 CANCELLED:  Note:                              1
4 CANCELLED: Clerical Error                      1
5 CANCELLED: Duplicate Order                     1
6 CANCELLED: Inappropriate Specimen/Container.   1
7 hi                                             1

  ord_value                                    n
1 N/A                                          409
2 CANCELLED: Specimen Clotted.                   2
3 CANCELLED:  Note:                              1
4 CANCELLED: Clerical Error                      1
5 CANCELLED: Duplicate Order                     1
6 CANCELLED: Inappropriate Specimen/Container.   1
7 hi                                             1

   features n
1  Platelet 22
2  Base     21
3  Basos    21
4  Eos      21
5  Lymp     21
6  Mono     21
7  Neut     21
8  MCH      18
9  RDW      18
10 AnionGap 17
11 Hct      17
12 Hgb      17
13 WBC      17
14 INR      14
15 PT       14
16 ALT      13
17 AST      12
18 Lactate   9
19 CO2       8
20 Glucose   8
21 ALK       7
22 BUN       7
23 Ca        7
24 Cl        7
25 Cr        7
26 Glob      7
27 K         7
28 Na        7
29 ALB       5
30 TBili     5
31 TProtein  5
32 PO2_a     3
33 Trop      3
34 O2sat_v   2
35 TCO2_a    2
36 HCO3_v    1
37 O2sat_a   1
38 pCO2_v    1
39 pH_v      1
40 PO2_v     1

In [138]:
# number of cancelled, NA, or 1 hi observations under ord_value
nrow(labs %>% filter(values==9999999, !grepl('>|<', ord_value)) %>% mutate(ord_value = factor(ord_value))) # %>% group_by(ord_value) %>% count() %>% arrange(-n)

[1] 416

In [140]:
# revmove those without > or < in ord_value (416), work with this set and then do it on the main labs
# take the upper/lower bounds for the 9999999 values and add 1% to it
value99 <- value99 %>% filter(grepl('>|<', ord_value)) %>% #mutate(ord_value = as.character(ord_value)) %>%
            mutate(values = 1.01 * as.double(gsub(paste(c(">", "<"), collapse = "|"),"", ord_value))) #%>%
#             drop_na(values) # %>% distinct() # same

nrow(value99) #15250
summary(value99$values)

[1] 15250

    Min.  1st Qu.   Median     Mean  3rd Qu.     Max.
 -30.300    0.017   10.100   46.964   60.600 3535.000

In [141]:
head(value99)

  anon_id  pat_enc_csn_id_coded inpatient_data_id_coded
1 JCdab3d0 131094116026         16013755
2 JCd81b89 131084822387         15250783
3 JCd08ac9 131102861750         16164115
4 JCe9719e 131179594045         18773115
5 JCe21eb0 131120616215         16787756
6 JCce9b8f 131117935744         16717626
  admit_time                label DBP Pulse RR SBP Temp  ⋯ features base_name
1 2015-06-29 01:26:00+00:00 1     52   76   22  76 36.00 ⋯ TCO2_a   TCO2A
2 2015-06-03 22:06:00+00:00 1     73  105   24 146 37.00 ⋯ pCO2_a   PCO2A
3 2015-07-03 18:21:00+00:00 1     46  102   18  80 33.80 ⋯ TCO2_a   TCO2A
4 2016-02-20 00:09:00+00:00 1     96   89   24 157 36.20 ⋯ TCO2_a   TCO2A
5 2015-10-26 03:44:00+00:00 1     75   80   16 116 36.85 ⋯ Lactate  LACWBL
6 2015-09-04 11:45:00+00:00 1     76  132   22 143 36.85 ⋯ TCO2_a   TCO2A
  ord_value values reference_low reference_high reference_unit
1 <5          5.05 23            27             mmol/L
2 >130.0    131.30 35.0          45.0           mmHg
3 <5          5.05 23            27             mmol/L
4 >50        50.50 23            27             mmol/L
5 >15.0      15.15               <2.0           mmol/L
6 <5          5.05 23            27             mmol/L
  result_in_range_yn result_flag result_time
1                    Low Panic   2015-06-28 20:03:00+00:00
2                    High Panic  2015-06-03 20:06:00+00:00
3                    Low Panic   2015-07-03 15:49:00+00:00
4                    High Panic  2016-02-19 19:09:00+00:00
5                    High        2015-10-26 01:41:00+00:00
6                    Low Panic   2015-09-04 07:38:00+00:00

In [165]:
# remove only the observations (where values = 999999 and do not have < or > in ord_value) from process labs
# could do 1.01 or 0.99 but more complicated
grepl('>|<', ">60")
labs99 <- labs %>% filter(!(values==9999999 & !grepl('>|<', ord_value))) %>%
            mutate(values = as.double(gsub(paste(c(">", "<"), collapse = "|"),"", ord_value)),
                   feature_type = "labs") 
nrow(labs) - nrow(labs99) # 1367892 - 1367476
nrow(labs99) # 1367476 vs 1367422
summary(labs99$values)
colnames(labs99)

[1] TRUE

[1] 416

[1] 1367422

   Min. 1st Qu.  Median    Mean 3rd Qu.    Max.
  -30.0     3.4    12.9    39.2    38.3 11900.0

 [1] "anon_id"                 "pat_enc_csn_id_coded"
 [3] "inpatient_data_id_coded" "admit_time"
 [5] "label"                   "DBP"
 [7] "Pulse"                   "RR"
 [9] "SBP"                     "Temp"
[11] "order_id_coded"          "features"
[13] "base_name"               "ord_value"
[15] "values"                  "reference_low"
[17] "reference_high"          "reference_unit"
[19] "result_in_range_yn"      "result_flag"
[21] "result_time"             "feature_type"

In [166]:
labs99 <- labs99 %>% select(-c('DBP','Pulse','RR','SBP','Temp', 'order_id_coded'))
colnames(labs99)

 [1] "anon_id"                 "pat_enc_csn_id_coded"
 [3] "inpatient_data_id_coded" "admit_time"
 [5] "label"                   "features"
 [7] "base_name"               "ord_value"
 [9] "values"                  "reference_low"
[11] "reference_high"          "reference_unit"
[13] "result_in_range_yn"      "result_flag"
[15] "result_time"             "feature_type"

In [167]:
write.csv(labs99, file.path(featuredir, "2_4_coh3_labs.csv"), row.names=FALSE)

### Keep this cohort information:

In [156]:
cohort_with_labs <- labs99 %>% select(anon_id, pat_enc_csn_id_coded, inpatient_data_id_coded, admit_time, label) %>% distinct()
nrow(cohort_with_labs)

cohort_with_labs %>% group_by(label) %>% summarise(count = n(), percent = round(100*count/nrow(cohort_with_labs),2))

[1] 41627

  label count percent
1 0     35868 86.17
2 1      5759 13.83

In [155]:
write.csv(cohort_with_labs, file.path(cohortdir, "cohort3L_withlabs.csv"), row.names=FALSE)