### Description:
- Read in the decile-binned values of labs and vitals `2_8_binned_labs_vitals`
- Read in the data `order_code_counts` from sql order counts, combine Microbiology Culture with Microbiology 
- Combine this featurized data for full complex data modeling
- Create a smaller random sample for testing 

**Notations**:
- train vs val OR train_val vs test:
    - `..._train`: used the training set (2015 - 2017) for value distributions
    - `..._test`: used the training and validation set (2015 - 2018) for value distributions   
- cohorts: 
    - `...coh4...` used 1_4_cohort
    - `...coh5...` used 1_5_cohort_final
    
**Inputs**: 
- `2_8_binned_labs_vitals`: from feature_values, binned into deciles
- `order_code_counts`: from SQL querried counts for different orders
    
**Outputs**: 
- have demo, vitals and labs in binned counts, order counts: long format, with year extracted
- `2_9_cohX_features_all_long_year`: will be input to 3_models, sparse_matrix.py
    - 2015 - 2017 as trained data for value distributions to bin validation data of 2018
        - used for training and select model hyperparameters based on validation data
    - test data > 2018 (2019 and some 2020) left unused
    - after training and selecting hyperparameters, re-do value distributions on 2015 - 2018 (train + val) data
    - test data > 2018 (2019 and some 2020) are now binned on based on these distributions
    - binned test data is used for the final prediction and evaluation of model performance
- `2_9_coh4_24hrpreadmit_features_all_long_year`: updated with labs and vitals only within 24hrs prior to admit_time
    
**Notes**:
- `coh4_order_code_counts` is a superset of `coh5_order_code_counts` including all 1_4_cohort
- but `2_9_coh4_features_all_long_year` is NOT a superset of `2_9_coh5_features_all_long_year` --> run them separately

In [1]:
library(data.table)
library(tidyverse)
library(lubridate)
# library(Matrix)
# library(slam)
# library(bit64)
# library(mtools) for one hot coder, not available on Nero or use caret or tidyr
options(repr.matrix.max.rows=200, repr.matrix.max.cols=30)

── Attaching packages ─────────────────────────────────────── tidyverse 1.3.1 ──

✔ ggplot2 3.3.3     ✔ purrr   0.3.4
✔ tibble  3.1.2     ✔ dplyr   1.0.6
✔ tidyr   1.1.3     ✔ stringr 1.4.0
✔ readr   1.4.0     ✔ forcats 0.5.1

── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::between()   masks data.table::between()
✖ dplyr::filter()    masks stats::filter()
✖ dplyr::first()     masks data.table::first()
✖ dplyr::lag()       masks stats::lag()
✖ dplyr::last()      masks data.table::last()
✖ purrr::transpose() masks data.table::transpose()


Attaching package: ‘lubridate’


The following objects are masked from ‘package:data.table’:

    hour, isoweek, mday, minute, month, quarter, second, wday, week,
    yday, year


The following objects are masked from ‘package:base’:

    date, intersect, setdiff, union

In [1]:
# install.packages(c("dbplyr", "RSQLite"))

Installing packages into ‘/home/jupyter/.R/library’
(as ‘lib’ is unspecified)

also installing the dependency ‘plogr’

In [2]:
datadir = "../../DataTD"
cohortdir = "../../OutputTD/1_cohort"
featuredir = "../../OutputTD/2_features"

In [3]:
cohort5 <- read.csv(file.path(cohortdir,  '1_5_cohort_final.csv'))
nrow(cohort5) #41366
cohort4 <- read.csv(file.path(cohortdir,  '1_4_cohort.csv'))
nrow(cohort4) #43980

nrow(cohort4 %>% filter(year(admit_time) < 2018)) # coh4 vs coh5 22030 vs 20762
nrow(cohort4 %>% filter(year(admit_time) == 2018)) # coh4 vs coh5 9532 vs 8929
nrow(cohort4 %>% filter(year(admit_time)> 2018)) # coh4 vs coh5 12418 vs 11675
nrow(cohort4 %>% filter(year(admit_time) < 2019)) # coh4 vs coh5 31562 vs 29691

[1] 41366

[1] 43980

[1] 22030

[1] 9532

[1] 12418

[1] 31562

# orders5 is only a subset of orders4 excluding obs without labs (1_5_cohort_final)
orders5 <- read.csv(file.path(datadir, 'coh5_order_code_counts.csv'))
nrow(orders5) #5730678

In [4]:
# this one used 1_4_cohort to query orders
orders4 <- read.csv(file.path(datadir, 'coh4_order_code_counts.csv'))
nrow(orders4) #6086852

[1] 6086852

In [5]:
head(orders4)

  anon_id  pat_enc_csn_id_coded admit_time                feature_type
1 JCe78a06 131062667066         2015-01-02 01:01:00+00:00 Diagnosis
2 JCe78a06 131062667066         2015-01-02 01:01:00+00:00 Diagnosis
3 JCe78a06 131062667066         2015-01-02 01:01:00+00:00 Diagnosis
4 JCe78a06 131062667066         2015-01-02 01:01:00+00:00 Meds
5 JCe78a06 131062667066         2015-01-02 01:01:00+00:00 Diagnosis
6 JCe78a06 131062667066         2015-01-02 01:01:00+00:00 Meds
  features                                     values
1 R19.7                                        1
2 R40.4                                        1
3 Z23                                          1
4 EPINEPHRINE 1 MG/ML (1:1,000) (1ML) INJ SOLN 1
5 J81.0                                        1
6 CEFTRIAXONE 1 GRAM/50 ML MINI-BAG PLUS       1

In [6]:
orders4 %>% group_by(feature_type) %>% count(sort=TRUE)

  feature_type         n
1 Diagnosis            2834516
2 Meds                 1868195
3 Lab                   993484
4 Imaging               299944
5 Procedures             51696
6 Microbiology Culture   37374
7 Microbiology            1643

In [7]:
orders4_micro <- orders4 %>% mutate(feature_type = ifelse(str_detect(feature_type, "Microbiology"), "Microbiology", feature_type))
orders4_micro %>% group_by(feature_type) %>% count(sort=TRUE)

  feature_type n
1 Diagnosis    2834516
2 Meds         1868195
3 Lab           993484
4 Imaging       299944
5 Procedures     51696
6 Microbiology   39017

orders5_micro <- orders5 %>% mutate(feature_type = ifelse(str_detect(feature_type, "Microbiology"), "Microbiology", feature_type))
nrow(orders5_micro) #5730678
length(unique(orders5_micro$pat_enc_csn_id_coded)) # 43970 there are 10 people who had no orders

In [8]:
length(unique(orders4_micro$pat_enc_csn_id_coded)) # 43970 there are 10 people who had no orders

[1] 43970

In [9]:
setdiff(orders4_micro$pat_enc_csn_id_coded, cohort4$pat_enc_csn_id_coded) # 0 
setdiff(cohort4$pat_enc_csn_id_coded, orders4_micro$pat_enc_csn_id_coded) # 10

numeric(0)

 [1] 131250899044 131232385768 131143463175 131244907345 131193906942
 [6] 131239369230 131236364892 131179268110 131282120209 131239885415

In [154]:
# orders5 is only a subset of orders4 excluding obs without labs (1_5_cohort_final)
orders5_micro <- orders4_micro %>% filter(pat_enc_csn_id_coded %in% cohort5$pat_enc_csn_id_coded)
nrow(orders5_micro) #5730678
length(unique(orders5_micro$pat_enc_csn_id_coded)) #41366

[1] 5730678

[1] 41366

### Check the featurized binned labs_vitals and combine all features
- Keep them both (`..._train` and `..._test`) in the same dataframe
- Run `2_7_feature_values`, `2_8_binned_labs_vitals_train`, and `2_8_binned_labs_vitals_test` **separately** for coh4 and coh5 when combining

In [32]:
# check all features with values
values <- read.csv(file.path(featuredir, '2_7_coh4_feature_values.csv'))
nrow(values) # coh4 vs coh5: 3085046 vs 3012942
length(unique(values$pat_enc_csn_id_coded)) # 43980 vs 41366
values %>% group_by(feature_type) %>% count()

[1] 3085046

[1] 43980

  feature_type n
1 demo          747660
2 labs         1358669
3 vitals        978717

In [33]:
# get demographics features
demos <- values %>% filter(feature_type == 'demo') %>% select(anon_id, pat_enc_csn_id_coded, admit_time, 
                                                              feature_type, features, values)
nrow(demos) # coh4 747660 vs 703222
length(unique(demos$pat_enc_csn_id_coded)) # 43980 vs 41366

[1] 747660

[1] 43980

In [11]:
head(values)

  anon_id   pat_enc_csn_id_coded admit_time                first_label
1 JC29f8ad2 131274729058         2019-08-31 12:52:00+00:00 0
2 JC29f8ad3 131278291027         2019-10-05 23:48:00+00:00 0
3 JC29f8b9c 131266787806         2019-05-05 01:07:00+00:00 0
4 JC29f8beb 131264387263         2019-03-15 03:35:00+00:00 0
5 JC29f8beb 131279241689         2019-11-27 15:29:00+00:00 0
6 JC29f8bef 131280937356         2019-11-30 10:35:00+00:00 0
  death_24hr_recent_label death_24hr_max_label feature_type features values
1 0                       0                    demo         ESI_i    3
2 0                       0                    demo         ESI_i    3
3 0                       0                    demo         ESI_i    2
4 0                       0                    demo         ESI_i    3
5 0                       0                    demo         ESI_i    3
6 0                       0                    demo         ESI_i    3
  time
1 NA
2 NA
3 NA
4 NA
5 NA
6 NA

### ONLY THOSE within 24 hours prior to admit time!!! UPDATED

In [14]:
values <- values %>% mutate(admit_time = ymd_hms(admit_time), time = ymd_hms(time),
                            hr_before_admit = round(as.numeric(difftime(admit_time, time, unit="hours")), 1)) 
nrow(values)
nrow(values %>% filter(hr_before_admit > 24))
values <- values %>% filter(hr_before_admit <= 24 | is.na(hr_before_admit))
nrow(values)

[1] 3085046

[1] 40070

[1] 3044976

In [15]:
3085046 - 40070

[1] 3044976

In [16]:
# check train set
trainbin <- values %>% filter(year(admit_time) %in% c(2015, 2016, 2017))
testbin <- values %>% filter(year(admit_time) %in% c(2015, 2016, 2017, 2018))

nrow(trainbin %>% filter(feature_type != 'demo')) #coh4 vs coh5 1254522 vs 1240798 (check against 2.8_)
nrow(testbin %>% filter(feature_type != 'demo')) #coh4 vs coh5 1714603 vs 1694667 (check against 2.8_)

[1] 1221016

[1] 1678328

In [17]:
# read in train_binned labs and vitals
trainbinned_labs_vitals <- read.csv(file.path(featuredir, '2_8_coh4_24hrpreadmit_binned_labs_vitals_train.csv'))
nrow(trainbinned_labs_vitals) #coh4 vs coh5: 1846044 vs 1825075
length(unique(trainbinned_labs_vitals$pat_enc_csn_id_coded)) #43980 vs 41366
trainbinned_labs_vitals %>% group_by(feature_type) %>% count()

[1] 1825210

[1] 43980

  feature_type       n
1 labs_results_train 1287050
2 vitals_train        538160

In [18]:
# read in test_binned labs and vitals
testbinned_labs_vitals <- read.csv(file.path(featuredir, '2_8_coh4_24hrpreadmit_binned_labs_vitals_test.csv'))
nrow(testbinned_labs_vitals) #coh4 vs coh5 1849438 vs 1827530
length(unique(testbinned_labs_vitals$pat_enc_csn_id_coded)) # 43980 vs 41366
testbinned_labs_vitals %>% group_by(feature_type) %>% count()

[1] 1826919

[1] 43980

  feature_type            n
1 labs_results_train_test 1287256
2 vitals_train_test        539663

In [19]:
head(trainbinned_labs_vitals)
head(testbinned_labs_vitals)

  anon_id   pat_enc_csn_id_coded admit_time                feature_type
1 JC29f8ad2 131274729058         2019-08-31 12:52:00+00:00 labs_results_train
2 JC29f8ad2 131274729058         2019-08-31 12:52:00+00:00 labs_results_train
3 JC29f8ad2 131274729058         2019-08-31 12:52:00+00:00 labs_results_train
4 JC29f8ad2 131274729058         2019-08-31 12:52:00+00:00 labs_results_train
5 JC29f8ad2 131274729058         2019-08-31 12:52:00+00:00 labs_results_train
6 JC29f8ad2 131274729058         2019-08-31 12:52:00+00:00 labs_results_train
  features   values
1 ALB_4      1
2 ALK_7      1
3 ALT_0      1
4 AST_1      1
5 AnionGap_9 1
6 BUN_8      1

  anon_id   pat_enc_csn_id_coded admit_time
1 JC29f8ad2 131274729058         2019-08-31 12:52:00+00:00
2 JC29f8ad2 131274729058         2019-08-31 12:52:00+00:00
3 JC29f8ad2 131274729058         2019-08-31 12:52:00+00:00
4 JC29f8ad2 131274729058         2019-08-31 12:52:00+00:00
5 JC29f8ad2 131274729058         2019-08-31 12:52:00+00:00
6 JC29f8ad2 131274729058         2019-08-31 12:52:00+00:00
  feature_type            features   values
1 labs_results_train_test ALB_3      1
2 labs_results_train_test ALK_7      1
3 labs_results_train_test ALT_0      1
4 labs_results_train_test AST_1      1
5 labs_results_train_test AnionGap_9 1
6 labs_results_train_test BUN_8      1

In [21]:
# check overlapping cohort in features with values vs with order counts: should be the same, no diff
length(setdiff(trainbinned_labs_vitals$pat_enc_csn_id_coded, orders4_micro$pat_enc_csn_id_coded))
length(setdiff(orders4_micro$pat_enc_csn_id_coded, trainbinned_labs_vitals$pat_enc_csn_id_coded)) # co4 10 vs coh5 2604

length(setdiff(testbinned_labs_vitals$pat_enc_csn_id_coded, orders4_micro$pat_enc_csn_id_coded))
length(setdiff(orders4_micro$pat_enc_csn_id_coded, testbinned_labs_vitals$pat_enc_csn_id_coded)) # coh4 10 vs coh5 2604

[1] 10

[1] 0

[1] 10

[1] 0

In [31]:
head(testbinned_labs_vitals)

  anon_id   pat_enc_csn_id_coded admit_time
1 JC29f8ad2 131274729058         2019-08-31 12:52:00+00:00
2 JC29f8ad2 131274729058         2019-08-31 12:52:00+00:00
3 JC29f8ad2 131274729058         2019-08-31 12:52:00+00:00
4 JC29f8ad2 131274729058         2019-08-31 12:52:00+00:00
5 JC29f8ad2 131274729058         2019-08-31 12:52:00+00:00
6 JC29f8ad2 131274729058         2019-08-31 12:52:00+00:00
  feature_type            features   values
1 labs_results_train_test ALB_3      1
2 labs_results_train_test ALK_7      1
3 labs_results_train_test ALT_0      1
4 labs_results_train_test AST_1      1
5 labs_results_train_test AnionGap_9 1
6 labs_results_train_test BUN_8      1

### Use orders4_micro vs orders5_micro for coh4 vs coh5

In [34]:
# combine all features for the complex data set, remove time column since demo doesn't have it
features_all <- bind_rows(demos, trainbinned_labs_vitals, testbinned_labs_vitals, orders4_micro)
nrow(features_all) #10529994 vs 10086505 (this include both train and test) # updated coh4 10486641
length(unique(features_all$pat_enc_csn_id_coded)) #43980 vs 41366
length(unique(features_all$features)) #42809 vs 42207
features_all %>% group_by(feature_type) %>% count(sort=TRUE)

[1] 10486641

[1] 43980

[1] 42809

   feature_type            n
1  Diagnosis               2834516
2  Meds                    1868195
3  labs_results_train_test 1287256
4  labs_results_train      1287050
5  Lab                      993484
6  demo                     747660
7  vitals_train_test        539663
8  vitals_train             538160
9  Imaging                  299944
10 Procedures                51696
11 Microbiology              39017

In [35]:
head(features_all)

  anon_id   pat_enc_csn_id_coded admit_time                feature_type
1 JC29f8ad2 131274729058         2019-08-31 12:52:00+00:00 demo
2 JC29f8ad3 131278291027         2019-10-05 23:48:00+00:00 demo
3 JC29f8b9c 131266787806         2019-05-05 01:07:00+00:00 demo
4 JC29f8beb 131264387263         2019-03-15 03:35:00+00:00 demo
5 JC29f8beb 131279241689         2019-11-27 15:29:00+00:00 demo
6 JC29f8bef 131280937356         2019-11-30 10:35:00+00:00 demo
  features values
1 ESI_i    3
2 ESI_i    3
3 ESI_i    2
4 ESI_i    3
5 ESI_i    3
6 ESI_i    3

In [36]:
n2 <- features_all %>% select(feature_type, features) %>% distinct() %>% 
        group_by(features) %>% count(sort=TRUE) %>% filter(n==2)
head(n2)
tail(n2)

  features n
1 ALB_0    2
2 ALB_1    2
3 ALB_10   2
4 ALB_2    2
5 ALB_3    2
6 ALB_4    2

  features n
1 WBC_4    2
2 WBC_5    2
3 WBC_6    2
4 WBC_7    2
5 WBC_8    2
6 WBC_9    2

In [37]:
features_all %>% filter(features %in% n2$features) %>% distinct(feature_type)# group_by(features, feature_type) %>% count()

  feature_type
1 labs_results_train
2 vitals_train
3 labs_results_train_test
4 vitals_train_test
5 Lab
6 Microbiology
7 Procedures
8 Imaging

In [38]:
features_all %>% group_by(feature_type, features) %>% count(sort=TRUE) # 43356 vs 42752

      feature_type
1     demo
2     demo
3     demo
4     demo
5     demo
6     demo
7     demo
8     demo
9     demo
10    demo
11    demo
12    demo
13    demo
14    demo
15    demo
16    demo
17    demo
18    Lab
19    Lab
20    vitals_train
21    vitals_train_test
22    Lab
23    Lab
24    Meds
25    vitals_train
26    vitals_train_test
27    Lab
28    Lab
29    Lab
30    Lab
31    Meds
32    Lab
33    Diagnosis
34    Meds
35    Diagnosis
36    vitals_train_test
37    Lab
38    vitals_train
39    vitals_train_test
40    Lab
41    vitals_train
42    Lab
43    Lab
44    vitals_train
45    vitals_train_test
46    Lab
47    Meds
48    Meds
49    Meds
50    Meds
51    Diagnosis
52    vitals_train
53    vitals_train_test
54    Lab
55    vitals_train_test
56    vitals_train_test
57    vitals_train
58    Meds
59    Microbiology
60    Lab
61    Lab
62    vitals_train
63    vitals_train_test
64    Imaging
65    Diagnosis
66    vitals_train_test
67    vitals_train
68    Meds
69    Lab
70    vitals_train
71    vitals_train
72    vitals_train
73    vitals_train_test
74    vitals_train
75    vitals_train
76    vitals_train_test
77    vitals_train_test
78    vitals_train
79    vitals_train
80    vitals_train_test
81    Meds
82    Meds
83    Diagnosis
84    vitals_train_test
85    vitals_train_test
86    vitals_train_test
87    vitals_train_test
88    vitals_train
89    vitals_train_test
90    vitals_train
91    vitals_train_test
92    Diagnosis
93    vitals_train
94    Meds
95    vitals_train
96    vitals_train_test
97    vitals_train
98    vitals_train_test
99    Meds
100   Imaging
⋮     ⋮
43258 Procedures
43259 Procedures
43260 Procedures
43261 Procedures
43262 Procedures
43263 Procedures
43264 Procedures
43265 Procedures
43266 Procedures
43267 Procedures
43268 Procedures
43269 Procedures
43270 Procedures
43271 Procedures
43272 Procedures
43273 Procedures
43274 Procedures
43275 Procedures
43276 Procedures
43277 Procedures
43278 Procedures
43279 Procedures
43280 Procedures
43281 Procedures
43282 Procedures
43283 Procedures
43284 Procedures
43285 Procedures
43286 Procedures
43287 Procedures
43288 Procedures
43289 Procedures
43290 Procedures
43291 Procedures
43292 Procedures
43293 Procedures
43294 Procedures
43295 Procedures
43296 Procedures
43297 Procedures
43298 Procedures
43299 Procedures
43300 Procedures
43301 Procedures
43302 Procedures
43303 Procedures
43304 Procedures
43305 Procedures
43306 Procedures
43307 Procedures
43308 Procedures
43309 Procedures
43310 Procedures
43311 Procedures
43312 Procedures
43313 Procedures
43314 Procedures
43315 Procedures
43316 Procedures
43317 Procedures
43318 Procedures
43319 Procedures
43320 Procedures
43321 Procedures
43322 Procedures
43323 Procedures
43324 Procedures
43325 Procedures
43326 Procedures
43327 Procedures
43328 Procedures
43329 Procedures
43330 Procedures
43331 Procedures
43332 Procedures
43333 Procedures
43334 Procedures
43335 Procedures
43336 Procedures
43337 Procedures
43338 Procedures
43339 Procedures
43340 Procedures
43341 Procedures
43342 Procedures
43343 Procedures
43344 Procedures
43345 Procedures
43346 Procedures
43347 Procedures
43348 Procedures
43349 Procedures
43350 Procedures
43351 Procedures
43352 Procedures
43353 Procedures
43354 Procedures
43355 vitals_train
43356 vitals_train_test
43357 vitals_train_test
      features
1     age
2     delta_ESI
3     delta_H
4     delta_W
5     English
6     ESI_i
7     gender
8     Height_i
9     insurance
10    race.Asian
11    race.Black
12    race.Native.American
13    race.Other
14    race.Pacific.Islander
15    race.Unknown
16    race.White
17    Weight_i
18    METABOLIC PANEL, COMPREHENSIVE
19    CBC WITH DIFFERENTIAL
20    Temp_4
21    Temp_4
22    URINALYSIS SCREEN, CULTURE IF POSITIVE
23    PROTHROMBIN TIME
24    ONDANSETRON HCL (PF) 4 MG/2 ML INJ SOLN
25    RR_3
26    RR_4
27    PTT PARTIAL THROMBOPLASTIN TIME
28    METABOLIC PANEL, BASIC
29    CBC W/O DIFF
30    MAGNESIUM, SERUM/PLASMA
31    ACETAMINOPHEN 325 MG PO TABS
32    RAINBOW DRAW (FOR ED/RRT/CODE BLUE ONLY)
33    Z79.899
34    NS IV BOLUS
35    I10
36    RR_5
37    TYPE AND SCREEN
38    RR_1
39    RR_2
40    ABO/RH (ARI)
41    RR_5
42    AB SCREEN (ASI)
43    TROPONIN I
44    Temp_2
45    Temp_2
46    LIPASE
47    NALOXONE 0.4 MG/ML INJ SOLN
48    POLYETHYLENE GLYCOL 3350 17 GRAM PO PWPK
49    HYDROMORPHONE 1 MG/ML INJ SYRG
50    DOCUSATE SODIUM 100 MG PO CAPS
51    E78.5
52    DBP_6
53    DBP_3
54    PHOSPHORUS, SERUM/PLASMA
55    SBP_6
56    DBP_6
57    SBP_3
58    OXYCODONE 5 MG PO TABS
59    BLOOD CULTURE (AEROBIC & ANAEROBIC BOTTLE)
60    TSH
61    HEMOGLOBIN A1C
62    DBP_5
63    DBP_5
64    XR CHEST 1 VIEW
65    R06.02
66    DBP_4
67    DBP_4
68    NS IV BOLUS - 1000 ML
69    URINALYSIS WITH MICROSCOPIC
70    SBP_7
71    DBP_8
72    SBP_4
73    SBP_4
74    SBP_6
75    Pulse_4
76    Pulse_4
77    SBP_7
78    DBP_7
79    SBP_5
80    SBP_5
81    ONDANSETRON 4 MG PO TBDL
82    MIDAZOLAM 1 MG/ML INJ SOLN
83    Z23
84    SBP_3
85    Pulse_7
86    DBP_8
87    DBP_7
88    DBP_3
89    SBP_2
90    Pulse_5
91    Pulse_5
92    Z01.818
93    DBP_2
94    SODIUM CHLORIDE 0.9 % 0.9 % IV SOLP
95    Temp_0
96    Temp_0
97    RR_6
98    RR_7
99    DEXTROSE 50 % IN WATER (D50W) IV SYRG
100   XR CHEST 2 VIEWS
⋮     ⋮
43258 NORMAL SALINE SOLUTION INFUSION 250 CC
43259 OPHTH BIOMETRY/PART INTERFEROMETRY W/INTRAOC 2ND EYE
43260 OPHTHALMIC ULTRASOUND BIOMICROSCOPY(UBM)
43261 ORTHOTIC MANAGEMENT & TRAINING, EA 15MIN
43262 ORTHOVISC 15MG/2ML
43263 OSCILLATING TRACKING TEST
43264 OTO OTOACOUSTIC EMISSIONS,LIMITED MMC
43265 PENTAMIDINE AEROSOLIZED UHA
43266 PESSARYW/RUBBER
43267 Pigtail Placemen in Left Chest
43268 Pigtail placement
43269 PROCTOSIGMOIDOSCOPY
43270 PROF SERV ALLERGEN IMMUNOTHERAPY 2/MORE INJ
43271 PRP INJECTION
43272 PRP SUPPLIES
43273 PSA SCREENING
43274 PSYCHOLOGICAL TESTING, PER HR-TECH
43275 PSYTX PT&/FAMILY 30 MINUTES
43276 PSYTX PT&/FAMILY 45 MINUTES
43277 PULM FUNCT TST PLETHYSMOGRAP
43278 PULM FUNCTION TEST BY GAS
43279 Pulmonary Artery Catheter Insertion
43280 PULMONARY STRESS TEST SIMPLE
43281 PULSE OX FOR OX SAT, MULTIPLE READINGS
43282 RADIESSE
43283 reduction of R inguinal hernia
43284 REMOVAL OF BENIGN SKIN LESION FCE/EAR/EYELD/NSE/LIP, 2.1-3.0 CM
43285 REMOVAL OF BENIGN SKIN LESION SCLP/NCK/HNDS/FEET/GENIT.,4.0+CM
43286 REMOVAL OF BENIGN SKIN LESION TRNK/ARM/LEG,0.5CM OR LESS
43287 REMOVAL OF HEMORRHOID CLOT
43288 REMOVAL OF INNER EYE FLUID
43289 REMOVAL OF MALIG. SKIN LESION SCLP/NCK/HNDS/FEET/GENIT.,1.1-2.0 CM
43290 REMOVAL OF MALIG. SKIN LESION SCLP/NCK/HNDS/FEET/GENIT.,2.1-3.0 CM
43291 REMOVAL OF MALIG. SKIN LESION SCLP/NCK/HNDS/FEET/GENIT.,3.1-4.0 CM
43292 REMOVAL OF PERMANENT INTRAPERITON
43293 REMOVAL OF SKIN TAGS, EACH ADD'L 10 TAGS, >15
43294 REMOVAL OF SUTURES
43295 REMOVE IMPACTED EAR WAX UNI
43296 REPAIR COMPLEX WOUND FHD/CHN/MTH/NCK/GEN/HND/FT, 1.1-2.5 CM
43297 REPAIR EYELID DEFECT
43298 REPAIR MODIFICATION OF A HEARING AID
43299 REPAIR SUPERFICIAL WOUND(S) SCLP/NCK/GEN/TRNK/EXT., 2.6-7.5 CM
43300 Right IJ HD catheter - US guidance
43301 RMV WOUND TISS;NON-SELEC DEBRID W/O ANES/SESSION
43302 SEMEN ANALYSIS SPERM PRESENCE&/MOTILITY SPR
43303 SHAVE SKIN LESION FCE/EAR/EYELID/NSE/LIP/MM,0.5 CM OR LESS
43304 SHAVE SKIN LESION TRUNK/ARMS/LEGS, 1.1-2.0 CM
43305 SHC TXP EXTERNAL BLOOD GASES (MANUAL ENTRY)
43306 SKIN SUBSTITUTE GRAFIX CORE 5X5 PER 1 SQ CM WASTE
43307 SKIN SUBSTITUTE, DERMAGRAFTR, PER 1 SQ CM
43308 SKIN TISSUE REARRANGE ADD-ON
43309 SKYLA IUD
43310 SLCTV CATH PLMT VEN SYS 1ST ORDER BRANCH
43311 SMOKING AND TOBACCO USE CESSATION COUNSELING VISIT; INTS
43312 SMR PRIM SRC WET MOUNT NFCT AGT
43313 SNIP INC LACRIMAL PUNCTUM
43314 SPEC STAINS HISTOCHEM STAINING FROZEN SCTJ
43315 SPECIAL REPORTS
43316 SPEECH/HEARING EVALUATION
43317 SPIRACUR SNAP DEVICE
43318 SPLINT
43319 STAPLE/SUTURE REMOVAL
43320 STSG, TRUNK/ARMS/LEGS, 1ST 100 CM SQ
43321 SUPRAPUBIC BLADDER ASPIRATION
43322 SURGICAL SUPPLIES, MISC
43323 SURGICAL TRAY
43324 Suture Placement
43325 TAP BLOCK UNIL BY INJECTION
43326 TARSORRPHAPHY W/TRANS TARSAL PLATE
43327 THERAPEUTIC TRANSCRANIAL REPETETIVE MAGNETIC STIM TX PLANNING
43328 Thoracentesis - R
43329 Thoracentesis - Right
43330 Thoracentesis -right
43331 Thoracentesis left
43332 Thoracentesis right
43333 Thoracentesis uncer US guidance
43334 TOBACCO USE CESSATION INTERVENTION, COUNSELING
43335 TRACHEOTOMY TUBE CHANGE PRIOR TO ESTABLISHMENT OF FISTULA TRACT
43336 TRANSCATH OCCLU OR EMBOLIZ, PERCUTANEOUS, ANY METHOD, NON-CENTRAL NERVOUS  SYSTEM
43337 Transvenous pacing
43338 TREATMENT OF CORNEAL LESION
43339 TREATMENT OF MISCARRIAGE 1ST TRIMESTER
43340 Trialysis
43341 TRICHIASIS ONCE PER DAY WHEN CRYOSURGERY OR ELECTROSURGERY IS PERFORMED.
43342 TX 360 BLOCK
43343 TX SPEECH/LANG/VOICE &/OR AUDITORY PROCESS
43344 UHA DEBRIDEMENT OF NAIL(S) BY ANY METHOD(S) 6/>
43345 UNLIS PX NVRS SYS
43346 UNLISTED ALLERGY/CLINICAL IMMUNOLOGIC SERVCE
43347 UPPR GI SCOPE W SUBMUC INJ
43348 USE PANEL ORDER
43349 VERTEPORFIN INJECTION 0.1 MG
43350 WAVEFRONT-GUIDED LIFT SAME FLAP LASER
43351 WEDGE EXCISION SKIN,NAIL FOLD(INGROWN TOENAIL)
43352 WOUND VAC
43353 XIAFLEX 0.1MG
43354 XIAFLEX 0.9MG
43355 SBP_10
43356 Pulse_10
43357 SBP_10
      n
1     43980
2     43980
3     43980
4     43980
5     43980
6     43980
7     43980
8     43980
9     43980
10    43980
11    43980
12    43980
13    43980
14    43980
15    43980
16    43980
17    43980
18    42223
19    41251
20    33392
21    33392
22    29174
23    28681
24    26288
25    26279
26    26279
27    24503
28    23958
29    22879
30    22648
31    21567
32    21392
33    20746
34    20517
35    19785
36    19047
37    18775
38    18341
39    18341
40    17406
41    17372
42    17259
43    16945
44    16215
45    16215
46    15717
47    15518
48    15419
49    15217
50    15060
51    14663
52    14457
53    14384
54    14061
55    14013
56    13922
57    13586
58    13510
59    13478
60    13358
61    13273
62    13184
63    13155
64    13127
65    13085
66    13001
67    12979
68    12970
69    12969
70    12952
71    12925
72    12920
73    12920
74    12857
75    12725
76    12725
77    12557
78    12505
79    12485
80    12485
81    12436
82    12427
83    12285
84    12274
85    12206
86    12172
87    12130
88    12104
89    12075
90    12049
91    12049
92    11942
93    11912
94    11874
95    11824
96    11824
97    11794
98    11794
99    11770
100   11692
⋮     ⋮
43258 1
43259 1
43260 1
43261 1
43262 1
43263 1
43264 1
43265 1
43266 1
43267 1
43268 1
43269 1
43270 1
43271 1
43272 1
43273 1
43274 1
43275 1
43276 1
43277 1
43278 1
43279 1
43280 1
43281 1
43282 1
43283 1
43284 1
43285 1
43286 1
43287 1
43288 1
43289 1
43290 1
43291 1
43292 1
43293 1
43294 1
43295 1
43296 1
43297 1
43298 1
43299 1
43300 1
43301 1
43302 1
43303 1
43304 1
43305 1
43306 1
43307 1
43308 1
43309 1
43310 1
43311 1
43312 1
43313 1
43314 1
43315 1
43316 1
43317 1
43318 1
43319 1
43320 1
43321 1
43322 1
43323 1
43324 1
43325 1
43326 1
43327 1
43328 1
43329 1
43330 1
43331 1
43332 1
43333 1
43334 1
43335 1
43336 1
43337 1
43338 1
43339 1
43340 1
43341 1
43342 1
43343 1
43344 1
43345 1
43346 1
43347 1
43348 1
43349 1
43350 1
43351 1
43352 1
43353 1
43354 1
43355 1
43356 1
43357 1

In [39]:
head(features_all)

  anon_id   pat_enc_csn_id_coded admit_time                feature_type
1 JC29f8ad2 131274729058         2019-08-31 12:52:00+00:00 demo
2 JC29f8ad3 131278291027         2019-10-05 23:48:00+00:00 demo
3 JC29f8b9c 131266787806         2019-05-05 01:07:00+00:00 demo
4 JC29f8beb 131264387263         2019-03-15 03:35:00+00:00 demo
5 JC29f8beb 131279241689         2019-11-27 15:29:00+00:00 demo
6 JC29f8bef 131280937356         2019-11-30 10:35:00+00:00 demo
  features values
1 ESI_i    3
2 ESI_i    3
3 ESI_i    2
4 ESI_i    3
5 ESI_i    3
6 ESI_i    3

In [40]:
nrow(features_all) #10529994 vs 10086505 vs updated coh4 10486641
summary(features_all$values)
# sum(is.na(features_all$first_label))

[1] 10486641

    Min.  1st Qu.   Median     Mean  3rd Qu.     Max.
   0.000    1.000    1.000    3.336    2.000 1078.000

In [41]:
features_all_year <- features_all %>% mutate(year = year(admit_time))

In [42]:
# coh4 updated
features_all_year %>% group_by(year) %>% count()

  year n
1 2015 2017816
2 2016 1658549
3 2017 1634383
4 2018 2181789
5 2019 2417385
6 2020  576719

In [143]:
#coh4
features_all_year %>% group_by(year) %>% count()

  year n
1 2015 2037462
2 2016 1669123
3 2017 1638834
4 2018 2185662
5 2019 2421534
6 2020  577379

In [43]:
# write.csv(features_all_year, file = file.path(featuredir, "2_9_coh4_features_all_long_year.csv"), row.names=FALSE) 
write.csv(features_all_year, file = file.path(featuredir, "2_9_coh4_24hrpreadmit_features_all_long_year.csv"), row.names=FALSE)

# this is not correct
features5 <- features_all_year %>% filter(pat_enc_csn_id_coded %in% cohort5$pat_enc_csn_id_coded)
nrow(features5) #10087257

write.csv(features_all_year, file = file.path(featuredir, "2_9_coh5_features_all_long_year.csv"), row.names=FALSE)

### TEST - OLD 
with 2_9_features_all_long.csv did not contain testbins with Conor's code, in SQL

In [106]:
yr <- read.csv(file.path(featuredir, '2_9_features_all_long_year.csv'))
yr0 <- yr %>% select(-year)
nrow(yr0)
nrow(features_all)
identical(yr0, features_all)
all.equal(yr0,features_all)

[1] 8258975

[1] 8258975

[1] FALSE

[1] "Component “anon_id”: 8257416 string mismatches"
[2] "Component “pat_enc_csn_id_coded”: Mean relative difference: 0.0005188065"
[3] "Component “admit_time”: 8258716 string mismatches"
[4] "Component “feature_type”: 6592107 string mismatches"
[5] "Component “features”: 8250486 string mismatches"
[6] "Component “values”: Mean relative difference: 1.638"

In [108]:
yr0 <- yr0 %>% arrange(anon_id, pat_enc_csn_id_coded, admit_time, feature_type, features, values)
ft <- features_all %>% arrange(anon_id, pat_enc_csn_id_coded, admit_time, feature_type, features, values)

In [109]:
identical(yr0, ft)
all.equal(yr0, ft)

[1] TRUE

[1] TRUE

In [100]:
joined <- inner_join(yr, features_all)

Joining, by = c("anon_id", "pat_enc_csn_id_coded", "admit_time", "feature_type", "features", "values")

In [101]:
summary(joined)

   anon_id          pat_enc_csn_id_coded  admit_time        feature_type
 Length:8258975     Min.   :1.311e+11    Length:8258975     Length:8258975
 Class :character   1st Qu.:1.312e+11    Class :character   Class :character
 Mode  :character   Median :1.312e+11    Mode  :character   Mode  :character
                    Mean   :1.312e+11
                    3rd Qu.:1.313e+11
                    Max.   :1.313e+11
   features             values              year
 Length:8258975     Min.   :   0.000   Min.   :2015
 Class :character   1st Qu.:   1.000   1st Qu.:2016
 Mode  :character   Median :   1.000   Median :2017
                    Mean   :   3.721   Mean   :2017
                    3rd Qu.:   2.000   3rd Qu.:2019
                    Max.   :1078.000   Max.   :2020

In [104]:
summary(yr)

   anon_id          pat_enc_csn_id_coded  admit_time        feature_type
 Length:8258975     Min.   :1.311e+11    Length:8258975     Length:8258975
 Class :character   1st Qu.:1.312e+11    Class :character   Class :character
 Mode  :character   Median :1.312e+11    Mode  :character   Mode  :character
                    Mean   :1.312e+11
                    3rd Qu.:1.313e+11
                    Max.   :1.313e+11
   features             values              year
 Length:8258975     Min.   :   0.000   Min.   :2015
 Class :character   1st Qu.:   1.000   1st Qu.:2016
 Mode  :character   Median :   1.000   Median :2017
                    Mean   :   3.721   Mean   :2017
                    3rd Qu.:   2.000   3rd Qu.:2019
                    Max.   :1078.000   Max.   :2020

In [105]:
summary(features_all)

   anon_id          pat_enc_csn_id_coded  admit_time        feature_type
 Length:8258975     Min.   :1.311e+11    Length:8258975     Length:8258975
 Class :character   1st Qu.:1.312e+11    Class :character   Class :character
 Mode  :character   Median :1.312e+11    Mode  :character   Mode  :character
                    Mean   :1.312e+11
                    3rd Qu.:1.313e+11
                    Max.   :1.313e+11
   features             values
 Length:8258975     Min.   :   0.000
 Class :character   1st Qu.:   1.000
 Mode  :character   Median :   1.000
                    Mean   :   3.721
                    3rd Qu.:   2.000
                    Max.   :1078.000