## Descriptions:
- Query other tables on shc
- Some bigger queries cannot be done in this notebook. use separate SQL file in python instead

**Inputs**:  
- `1_4_cohort_diff_full_features`: contains cohort with most difference pdiff >= 0.3
    - 24hrpreadmit: 324 total
    - all: 318 total
    
**Outputs**:

install.packages('bigrquery')
# Installing package into 'C:/Users/User/Documents/R/win-library/4.0'
# (as 'lib' is unspecified)
# The downloaded binary packages are in
# 	C:\Users\User\AppData\Local\Temp\RtmpaumGcc\downloaded_packages

### Importing R libraries

In [22]:
library(bigrquery)  # to query STARR-OMOP (stored in BigQuery) using SQL
library(tidyverse)
library(lubridate)

# options(repr.matrix.max.rows=250, repr.matrix.max.cols=30)

### Set up and run queries

In [2]:
# CREDENTIALS depending on LOCATIONS:
# credential <- paste0("/home/", "minh084", "/.config/gcloud/application_default_credentials.json")

# local computer
# credential <- "C:/Users/User/AppData/Roaming/gcloud/application_default_credentials.json"

# Nero onprem
# credential <- "/home/minh084/.config/gcloud/application_default_credentials.json"

# Nero gcp notebook
credential <- "/home/jupyter/.config/gcloud/application_default_credentials.json"

project_id <- "som-nero-phi-jonc101"

Sys.setenv(GOOGLE_APPLICATION_CREDENTIALS = credential)
Sys.setenv(GCLOUD_PROJECT = project_id)
gargle::credentials_app_default()

NULL

In [3]:
library(DBI)
con <- dbConnect(
  bigrquery::bigquery(),
  project = project_id,
  dataset = "shc_core" #, billing = project_id
)
con 
dbListTables(con)

<BigQueryConnection>
  Dataset: som-nero-phi-jonc101.shc_core
  Billing: som-nero-phi-jonc101

 [1] "adt"                 "allergy"             "culture_sensitivity"
 [4] "demographic"         "dep_map"             "diagnosis_code"
 [7] "drg_code"            "encounter"           "family_hx"
[10] "flowsheet"           "lab_result"          "lda"
[13] "mapped_meds"         "mar"                 "med_orderset"
[16] "ndc_code"            "order_med"           "order_proc"
[19] "order_quest"         "proc_note"           "proc_orderset"
[22] "procedure_code"      "prov_map"            "social_hx"
[25] "treatment_team"

In [4]:
# directories
datadir = "../../DataTD"
cohortdir = "../../OutputTD/1_cohort"
featuredir = "../../OutputTD/2_features"
# modeldir4 = "../../OutputTD/3_models/1_4_cohort"
modeldir4preadmit = "../../OutputTD/3_models/1_4_cohort_24hrpreadmit"

options(repr.matrix.max.rows=200, repr.matrix.max.cols=30)

In [5]:
cohort <- read.csv(file.path(modeldir4preadmit, "1_4_cohort_diff_full_features.csv"))

nrow(cohort) # 69334
nrow(cohort %>% select(anon_id) %>% distinct()) # 304
nrow(cohort %>% select(pat_enc_csn_id_coded) %>% distinct()) # 324

# count anon_id and csn
cohort %>% group_by(abs_diff0_24) %>% 
            summarise(nrows = n(), count_csn = n_distinct(pat_enc_csn_id_coded), count_mrn = n_distinct(anon_id)) %>% 
            arrange(-abs_diff0_24) %>% mutate(cum_csn = cumsum(count_csn))

[1] 69334

[1] 304

[1] 324

  abs_diff0_24 nrows count_csn count_mrn cum_csn
1 0.7            631   4         4         4
2 0.6           2218  10        10        14
3 0.5           6379  23        21        37
4 0.4          17906  83        82       120
5 0.3          42200 204       203       324

In [6]:
head(cohort, 1)
colnames(cohort)

  anon_id  pat_enc_csn_id_coded admit_time          first_label
1 JCcd3b9d 131267453587         2019-04-06 23:15:00 1
  death_24hr_recent_label death_24hr_max_label pred_first
1 1                       1                    0.5606636
  pred_death_24hr_recent abs_diff0_24 diff0_True diff24_True feature_type
1 0.2180124              0.3          -0.44      -0.78       Procedures
  features                                       values time hr_before_admit
1 LIMITED ULTRASOUND- CARDIAC TRANSTHORACIC ECHO 1      NA   NA

 [1] "anon_id"                 "pat_enc_csn_id_coded"
 [3] "admit_time"              "first_label"
 [5] "death_24hr_recent_label" "death_24hr_max_label"
 [7] "pred_first"              "pred_death_24hr_recent"
 [9] "abs_diff0_24"            "diff0_True"
[11] "diff24_True"             "feature_type"
[13] "features"                "values"
[15] "time"                    "hr_before_admit"

### ADT table

In [20]:
q = "
SELECT c.anon_id, c.pat_enc_csn_id_coded, c.admit_time, c.first_label, c.death_24hr_recent_label,
        c.death_24hr_max_label, c.pred_first, c.pred_death_24hr_recent,
    adt.event_type_c, adt.event_type, adt.pat_class_c, adt.pat_class, adt.base_pat_class_c, adt.base_pat_class,
    adt.pat_service_c, adt.pat_service, adt.pat_lvl_of_care_c, adt.pat_lv_of_care, adt.accommodation_c, adt.accomodation, 
    adt.in_event_type_c, adt.in_event_type, adt.out_event_type_c, adt.out_event_type, adt.from_base_class_c, adt.from_base_class,
    adt.to_base_class_c, adt.to_base_class, adt.seq_num_in_enc, adt.seq_num_in_bed_min
FROM 
    `som-nero-phi-jonc101.triageTD.1_4_cohort_24hrpreadmit_diff_full_features` as c
JOIN 
    `som-nero-phi-jonc101.shc_core.adt` as adt
ON 
    (c.anon_id = adt.anon_id and c.pat_enc_csn_id_coded = adt.pat_enc_csn_id_coded)
"
# submit the query:
update.packages('Rcpp')
df <- dbGetQuery(con, q)
dim(df)
colnames(df)

Warning message in as.integer.integer64(x):
“NAs produced by integer overflow”

[1] 1385721      30

 [1] "anon_id"                 "pat_enc_csn_id_coded"
 [3] "admit_time"              "first_label"
 [5] "death_24hr_recent_label" "death_24hr_max_label"
 [7] "pred_first"              "pred_death_24hr_recent"
 [9] "event_type_c"            "event_type"
[11] "pat_class_c"             "pat_class"
[13] "base_pat_class_c"        "base_pat_class"
[15] "pat_service_c"           "pat_service"
[17] "pat_lvl_of_care_c"       "pat_lv_of_care"
[19] "accommodation_c"         "accomodation"
[21] "in_event_type_c"         "in_event_type"
[23] "out_event_type_c"        "out_event_type"
[25] "from_base_class_c"       "from_base_class"
[27] "to_base_class_c"         "to_base_class"
[29] "seq_num_in_enc"          "seq_num_in_bed_min"

In [21]:
write.csv(df, file.path(datadir, "4_1_diff_adt.csv"), row.names=FALSE)

In [23]:
q = "
SELECT c.anon_id, c.pat_enc_csn_id_coded, 
    x.INTRPTR_NEEDED_YN, x.CHARLSON_SCORE, x.N_HOSPITALIZATIONS, x.DAYS_IN_HOSPITAL
FROM 
    `som-nero-phi-jonc101.triageTD.1_4_cohort_24hrpreadmit_diff_full_features` as c
JOIN 
    `som-nero-phi-jonc101.shc_core.demographic` as x
ON 
    (c.anon_id = x.anon_id)
"
# submit the query:
update.packages('Rcpp')
x1 <- dbGetQuery(con, q)
dim(x1)
colnames(x1)

Warning message in as.integer.integer64(x):
“NAs produced by integer overflow”

[1] 69334     6

[1] "anon_id"              "pat_enc_csn_id_coded" "INTRPTR_NEEDED_YN"
[4] "CHARLSON_SCORE"       "N_HOSPITALIZATIONS"   "DAYS_IN_HOSPITAL"

In [24]:
write.csv(x1, file.path(datadir, "4_1_diff_demographic.csv"), row.names=FALSE)

In [41]:
# this doesn't seem right, redo with a separate SQL file as it is too large to be in R notebook
q = "
SELECT distinct c.anon_id, c.pat_enc_csn_id_coded, 
    x.line, x.dx_name, x.chronic, x.principal, x.hospital_pl, x.ed, x.present_on_adm
FROM 
    `som-nero-phi-jonc101.triageTD.1_4_cohort_24hrpreadmit_diff_full_features` as c
JOIN 
    `som-nero-phi-jonc101.shc_core.diagnosis_code` as x
ON 
    (c.anon_id = x.anon_id and c.pat_enc_csn_id_coded = x.pat_enc_csn_id_jittered)

WHERE (x.primary = 'Y')
"
# submit the query:
update.packages('Rcpp')
x2 <- dbGetQuery(con, q)
dim(x2)
colnames(x2)

Auto-refreshing stale OAuth token.

Warning message in as.integer.integer64(x):
“NAs produced by integer overflow”

[1] 315   9

[1] "anon_id"              "pat_enc_csn_id_coded" "line"
[4] "dx_name"              "chronic"              "principal"
[7] "hospital_pl"          "ed"                   "present_on_adm"

In [42]:
write.csv(x2, file.path(datadir, "4_1_diff_dx_primary.csv"), row.names=FALSE)

### Read the queried file back

In [10]:
adt <- read.csv(file.path(datadir, "4_1_diff_adt.csv"))
dim(adt) # should have 1385721
colnames(adt)

[1] 1385721      30

 [1] "anon_id"                 "pat_enc_csn_id_coded"
 [3] "admit_time"              "first_label"
 [5] "death_24hr_recent_label" "death_24hr_max_label"
 [7] "pred_first"              "pred_death_24hr_recent"
 [9] "event_type_c"            "event_type"
[11] "pat_class_c"             "pat_class"
[13] "base_pat_class_c"        "base_pat_class"
[15] "pat_service_c"           "pat_service"
[17] "pat_lvl_of_care_c"       "pat_lv_of_care"
[19] "accommodation_c"         "accomodation"
[21] "in_event_type_c"         "in_event_type"
[23] "out_event_type_c"        "out_event_type"
[25] "from_base_class_c"       "from_base_class"
[27] "to_base_class_c"         "to_base_class"
[29] "seq_num_in_enc"          "seq_num_in_bed_min"

# disable quotes
adt <- read.csv(file.path(datadir, "4_1_diff_adt.csv"), quote = "" )
dim(adt) # should have 1385721
colnames(adt)

In [12]:
head(adt, 1)

  anon_id   pat_enc_csn_id_coded admit_time          first_label
1 JC2a1bd68 NA                   2019-12-24 23:20:00 1
  death_24hr_recent_label death_24hr_max_label pred_first
1 1                       1                    0.5241561
  pred_death_24hr_recent event_type_c event_type pat_class_c pat_class
1 0.2500841              1            Admission  112         Emergency Services
  base_pat_class_c base_pat_class pat_service_c pat_service pat_lvl_of_care_c
1 3                Emergency      100           Emergency   NA
  pat_lv_of_care accommodation_c accomodation in_event_type_c in_event_type
1 NA             10001           Ward         1               Admission
  out_event_type_c out_event_type from_base_class_c from_base_class
1 NA               NA             0                 NA
  to_base_class_c to_base_class seq_num_in_enc seq_num_in_bed_min
1 3               Emergency     1              1

In [ ]:
cohort %>% distinct(pat_enc_csn_id_coded, first_label, death_24hr_recent_label) %>% count(first_label, death_24hr_recent_label, sort=T)
adt %>% count(event_type, event_type_c, sort=TRUE)
adt %>% count(pat_class, pat_class_c, sort=TRUE)
adt %>% count(base_pat_class, base_pat_class_c, sort=TRUE)
adt %>% count(pat_service, pat_service_c, sort=TRUE)
adt %>% count(pat_lv_of_care, pat_lvl_of_care_c, sort=TRUE)
adt %>% count(accomodation, accommodation_c, sort=TRUE)
adt %>% count(in_event_type, in_event_type_c, sort=TRUE)
adt %>% count(out_event_type, out_event_type_c, sort=TRUE)
adt %>% count(from_base_class, from_base_class_c, sort=TRUE)
adt %>% count(to_base_class, to_base_class_c, sort=TRUE)
adt %>% count(seq_num_in_enc, sort=TRUE)
adt %>% count(seq_num_in_bed_min, sort=TRUE)

  first_label death_24hr_recent_label n
1 1           1                       119
2 1           0                        98
3 0           0                        90
4 0           1                        17

  event_type     event_type_c n
1 Census         6            419221
2 Transfer In    3            305337
3 Transfer Out   4            305337
4 Patient Update 5            218436
5 Admission      1             69334
6 Discharge      2             68056

  pat_class            pat_class_c n
1 Inpatient            126         1182999
2 Emergency Services   112          200344
3 Observation          128            1727
4 OP Surgery/Procedure 122             651

  base_pat_class base_pat_class_c n
1 NA             NA               1246039
2 Emergency       3                 69334
3 Inpatient       1                 69334
4 Outpatient      2                  1014

   pat_service                   pat_service_c n
1  Critical Care                  151          283991
2  Medicine                        39          191213
3  Emergency                      100          141033
4  Emergency Medicine             187          120906
5  General Medicine (University)  153           87235
6  Trauma                          72           86612
7  General Surgery                 59           81189
8  Cardiology                     155           61527
9  General Medicine (PAMF)        154           30827
10 Neurosurgery                    62           30067
11 ICU Trauma/GenSurg             152           24580
12 Cardiac Surgery                 58           23868
13 Plastic Surgery                 67           20756
14 Orthopaedic Surgery             64           20236
15 Oncology                        47           19354
16 Neurology/Stroke Svc            53           18877
17 Neurocritical Care            1567           16382
18 Hematology/Oncology            207           14543
19 GI/Liver                       220           13832
20 Liver Transplant                61           13650
21 Emergency Critical Care       1554           12621
22 Neurology                       52           10603
23 Hematology                      44            8736
24 Cardiovascular Medicine         31            8501
25 Vascular Surgery               189            8286
26 Cardiology Arrhythmia           27            6600
27 Gyn-Oncology                    36            5928
28 Cardiology Interventional      191            4012
29 Hepatology                     193            3822
30 Cardiovascular ICU             219            3758
31 NA                              NA            2704
32 Pulmonary Transplant           198            2676
33 Urology                         69            2016
34 Pulmonary                      167            1696
35 ENT                             65             952
36 General Medicine (T)            46             920
37 Gynecology                      35             756
38 Sleep Medicine                 185             456

  pat_lv_of_care                                           pat_lvl_of_care_c
1 Acute Care (Assessment or intervention q4-8)              5
2 Critical Care                                             8
3 IICU/Intermediate Care (Assessment or intervention q2-4)  9
4 NA                                                       NA
5 Newborn Nursery - VC Only                                68
  n
1 561858
2 404635
3 218827
4 200282
5    119

  accomodation  accommodation_c n
1 Ward          10001           563973
2 Private           1           556328
3 Semi-Private      2           265420

  in_event_type  in_event_type_c n
1 Census          6              419221
2 NA             NA              373393
3 Transfer In     3              305085
4 Patient Update  5              148340
5 Admission       1              139682

  out_event_type out_event_type_c n
1 Census          6               419221
2 NA             NA               374671
3 Transfer Out    4               305085
4 Patient Update  5               148340
5 Discharge       2               138404

  from_base_class from_base_class_c n
1 Inpatient       1                 1114462
2 Emergency       3                  200344
3 NA              0                   69334
4 NA              4                     930
5 Outpatient      2                     651

  to_base_class to_base_class_c n
1 Inpatient     1               1115775
2 Emergency     3                200092
3 NA            0                 68056
4 NA            4                   930
5 Outpatient    2                   868

    seq_num_in_enc n
1     1            69334
2     2            69334
3     3            69334
4     4            69334
5     5            69334
6     6            68365
7     7            67843
8     8            67487
9     9            66696
10   10            64255
11   11            61056
12   12            57298
13   13            54890
14   14            49879
15   15            44282
16   16            38121
17   17            34263
18   18            30843
19   19            28412
20   20            25815
21   21            22736
22   22            20103
23   23            17815
24   24            16148
25   25            14703
26   26            12480
27   27            11036
28   28             9501
29   29             8935
30   30             8108
31   31             7598
32   32             7340
33   33             6549
34   34             5467
35   35             5467
36   36             4983
37   37             4355
38   38             3658
39   39             3386
40   40             2300
41   41             2113
42   42             2113
43   43             2113
44   44             1976
45   45             1976
46   46             1976
47   47             1976
48   48             1976
49   49             1976
50   50             1976
51   51             1976
52   52             1976
53   53             1976
54   54             1976
55   55             1658
56   56             1658
57   57             1658
58   58             1658
59   59             1658
60   60             1555
61   61             1555
62   62             1555
63   63             1555
64   64             1555
65   65             1555
66   66             1217
67   67             1217
68   68             1217
69   69             1217
70   70             1074
71   71             1074
72   72             1074
73   73             1074
74   74             1074
75   75             1074
76   76             1074
77   77              583
78   78              583
79   79              583
80   80              583
81   81              583
82   82              583
83   83              583
84   84              583
85   85              583
86   86              583
87   87              583
88   88              583
89   89              583
90   90              376
91   91              376
92   92              376
93   93              376
94   94              376
95   95              376
96   96              376
97   97              376
98   98              376
99   99              376
100 100              376
101 101              376
102 102              376
103 103              376
104 104              376
105 105              376
106 106              376
107 107              376
108 108              376
109 109              376
110 110              376
111 111              376
112 112              376
113 113              376
114 114              182
115 115              182
116 116              182
117 117              182
118 118              182
119 119              182
120 120              182
121 121              182
122 122              182
123 123              182
124 124              182
125 125              182
126 126              182
127 127              182
128 128              182
129 129              182
130 130              182
131 131              182
132 132              182
133 133              182
134 134              182
135 135              182
136 136              182
137 137              182
138 138              182
139 139              182
140 140              182
141 141              182
142 142              182
143 143              182
144 144              182
145 145              182
146 146              182
147 147              182
148 148              182
149 149              182
150 150              182
151 151              182
152 152              182
153 153              182
154 154              182
155 155              182
156 156              182
157 157              182
158 158              182
159 159              182
160 160              182
161 161              182
162 162              182
163 163              182
164 164              182
165 165              182
166 166              182
167 167              182
168 168              182
169 169              182
170 170              182
171 171              182
172 172              182
173 173              182
174 174              182
175 175              182
176 176              182
177 177              182
178 178              182
179 179              182
180 180              182

  seq_num_in_bed_min n
1 1                  1369116
2 2                    16292
3 3                      313

In [23]:
demo <- read.csv(file.path(datadir, "4_1_diff_demographic.csv"))
dim(demo) # should have 69334
colnames(demo)

[1] 69334     6

[1] "anon_id"              "pat_enc_csn_id_coded" "INTRPTR_NEEDED_YN"
[4] "CHARLSON_SCORE"       "N_HOSPITALIZATIONS"   "DAYS_IN_HOSPITAL"

In [24]:
head(demo,1)

  anon_id  pat_enc_csn_id_coded INTRPTR_NEEDED_YN CHARLSON_SCORE
1 JCd5f913 NA                   FALSE             11
  N_HOSPITALIZATIONS DAYS_IN_HOSPITAL
1 14                 96

In [40]:
dx <- read.csv(file.path(datadir, "4_1_diff_dx_all.csv"))
dim(dx) # should have 67800
colnames(dx)

[1] 8922   10

 [1] "anon_id"              "pat_enc_csn_id_coded" "line"
 [4] "dx_name"              "primary"              "chronic"
 [7] "principal"            "hospital_pl"          "ed"
[10] "present_on_adm"

In [39]:
head(dx_pri)

  anon_id  pat_enc_csn_id_coded line
1 JCd1d133 NA                    2
2 JCe97743 NA                    1
3 JCe4a606 NA                   21
4 JCd6b858 NA                    2
5 JCdb215e NA                    1
6 JCe4cc9a NA                    1
  dx_name
1 Myxedema coma (CMS-HCC)
2 Acute kidney injury (nontraumatic) (CMS-HCC)
3 Acute respiratory failure, unspecified whether with hypoxia or hypercapnia (CMS-HCC)
4 Atrial tachycardia, paroxysmal (CMS-HCC)
5 Diabetic ketoacidosis without coma associated with diabetes mellitus due to underlying condition (CMS-HCC)
6 Fx humeral neck, left, closed, initial encounter
  chronic principal hospital_pl ed present_on_adm
1 N       NA        NA          N  NA
2 N       NA        NA          N  NA
3 N       NA        NA          N  NA
4 N       NA        NA          N  NA
5 N       NA        NA          Y  NA
6 N       NA        NA          Y  NA

In [38]:
coh_dxpri <- cohort %>% filter(abs_diff0_24 >= 0.3) %>% left_join(dx_pri)
nrow(coh_dxpri)
length(unique(coh_dxpri$pat_enc_csn_id_coded))
length(unique(dx_pri$pat_enc_csn_id_coded))
length(setdiff(cohort$pat_enc_csn_id_coded, dx_pri$pat_enc_csn_id_coded))

Joining, by = c("anon_id", "pat_enc_csn_id_coded")

[1] 69334

[1] 324

[1] 1

[1] 324

[1] NA