## Descriptions:
- Query other tables on shc
- Some bigger queries cannot be done in this notebook. use separate SQL file in python instead
- Check the characteristics of the transfer cohort, compared to the full cohort

**Inputs**:  1120 total transfers
    
**Outputs**:

install.packages('bigrquery')
# Installing package into 'C:/Users/User/Documents/R/win-library/4.0'
# (as 'lib' is unspecified)
# The downloaded binary packages are in
# 	C:\Users\User\AppData\Local\Temp\RtmpaumGcc\downloaded_packages

### Importing R libraries

In [3]:
library(bigrquery)  # to query STARR-OMOP (stored in BigQuery) using SQL
library(tidyverse)
library(lubridate)

# options(repr.matrix.max.rows=250, repr.matrix.max.cols=30)

### Set up and run queries

In [2]:
# CREDENTIALS depending on LOCATIONS:
# credential <- paste0("/home/", "minh084", "/.config/gcloud/application_default_credentials.json")

# local computer
# credential <- "C:/Users/User/AppData/Roaming/gcloud/application_default_credentials.json"

# Nero onprem
# credential <- "/home/minh084/.config/gcloud/application_default_credentials.json"

# Nero gcp notebook
credential <- "/home/jupyter/.config/gcloud/application_default_credentials.json"

project_id <- "som-nero-phi-jonc101"

Sys.setenv(GOOGLE_APPLICATION_CREDENTIALS = credential)
Sys.setenv(GCLOUD_PROJECT = project_id)
gargle::credentials_app_default()

NULL

In [3]:
library(DBI)
con <- dbConnect(
  bigrquery::bigquery(),
  project = project_id,
  dataset = "shc_core" #, billing = project_id
)
con 
dbListTables(con)

<BigQueryConnection>
  Dataset: som-nero-phi-jonc101.shc_core
  Billing: som-nero-phi-jonc101

 [1] "adt"                 "allergy"             "culture_sensitivity"
 [4] "demographic"         "dep_map"             "diagnosis_code"
 [7] "drg_code"            "encounter"           "family_hx"
[10] "flowsheet"           "lab_result"          "lda"
[13] "mapped_meds"         "mar"                 "med_orderset"
[16] "ndc_code"            "order_med"           "order_proc"
[19] "order_quest"         "proc_note"           "proc_orderset"
[22] "procedure_code"      "prov_map"            "social_hx"
[25] "treatment_team"

In [4]:
# directories
datadir = "../../DataTD"
cohortdir = "../../OutputTD/1_cohort"
featuredir = "../../OutputTD/2_features"
modeldir4 = "../../OutputTD/3_models/1_4_cohort"
# modeldir4preadmit = "../../OutputTD/3_models/1_4_cohort_24hrpreadmit"

options(repr.matrix.max.rows=200, repr.matrix.max.cols=30)

In [5]:
# cohort transfers
cohort <- read.csv(file.path(cohortdir, "1_4_cohort.csv")) %>% filter(first_label != death_24hr_max_label)

nrow(cohort) # 1120
nrow(cohort %>% select(anon_id) %>% distinct()) # 1085
nrow(cohort %>% select(pat_enc_csn_id_coded) %>% distinct()) # 1123

[1] 1120

[1] 1085

[1] 1120

In [6]:
head(cohort, 1)
colnames(cohort)

  anon_id  pat_enc_csn_id_coded inpatient_data_id_coded
1 JCdf010a 131282861801         45762025
  admit_time                label_max24 label_24hr_recent admit_label
1 2020-03-04 03:38:00+00:00 1           1                 0
  has_admit_label died_within_24hrs death_24hr_max_label
1 1               0                 1
  death_24hr_recent_label first_label first_label_minutes_since_admit
1 1                       0           0
  acute_to_critical_label_recent critical_to_acute_label_recent
1 1                              0
  acute_to_critical_label_max critical_to_acute_label_max
1 1                           0

 [1] "anon_id"                         "pat_enc_csn_id_coded"
 [3] "inpatient_data_id_coded"         "admit_time"
 [5] "label_max24"                     "label_24hr_recent"
 [7] "admit_label"                     "has_admit_label"
 [9] "died_within_24hrs"               "death_24hr_max_label"
[11] "death_24hr_recent_label"         "first_label"
[13] "first_label_minutes_since_admit" "acute_to_critical_label_recent"
[15] "critical_to_acute_label_recent"  "acute_to_critical_label_max"
[17] "critical_to_acute_label_max"

### ADT table

q = "
SELECT c.anon_id, c.pat_enc_csn_id_coded, c.admit_time, c.first_label, c.death_24hr_recent_label, c.death_24hr_max_label,
    adt.event_type_c, adt.event_type, adt.pat_class_c, adt.pat_class, adt.base_pat_class_c, adt.base_pat_class,
    adt.pat_service_c, adt.pat_service, adt.pat_lvl_of_care_c, adt.pat_lv_of_care, adt.accommodation_c, adt.accomodation, 
    adt.in_event_type_c, adt.in_event_type, adt.out_event_type_c, adt.out_event_type, adt.from_base_class_c, adt.from_base_class,
    adt.to_base_class_c, adt.to_base_class, adt.seq_num_in_enc, adt.seq_num_in_bed_min
FROM 
    `som-nero-phi-jonc101.triageTD.1_4_cohort` as c
JOIN 
    `som-nero-phi-jonc101.shc_core.adt` as adt
ON 
    (c.anon_id = adt.anon_id and c.pat_enc_csn_id_coded = adt.pat_enc_csn_id_coded)
WHERE
    c.first_label != c.death_24hr_recent_label
"
# submit the query:
update.packages('Rcpp')
df <- dbGetQuery(con, q)
dim(df)
colnames(df)

write.csv(df, file.path(datadir, "4_1_tx_adt.csv"), row.names=FALSE)

In [25]:
# full cohort
q = "
SELECT distinct c.anon_id, c.pat_enc_csn_id_coded, 
    x.INTRPTR_NEEDED_YN, x.CHARLSON_SCORE, x.N_HOSPITALIZATIONS, x.DAYS_IN_HOSPITAL
FROM 
    `som-nero-phi-jonc101.triageTD.1_4_cohort` as c
JOIN 
    `som-nero-phi-jonc101.shc_core.demographic` as x
ON 
    (c.anon_id = x.anon_id)
"
# submit the query:
update.packages('Rcpp')
x1 <- dbGetQuery(con, q)
dim(x1)
colnames(x1)

Warning message in as.integer.integer64(x):
“NAs produced by integer overflow”

[1] 43980     6

[1] "anon_id"              "pat_enc_csn_id_coded" "INTRPTR_NEEDED_YN"
[4] "CHARLSON_SCORE"       "N_HOSPITALIZATIONS"   "DAYS_IN_HOSPITAL"

In [26]:
x1 %>% count(INTRPTR_NEEDED_YN) %>% mutate(perc = 100* n/nrow(x1))

  INTRPTR_NEEDED_YN n     perc
1 FALSE             37817 85.98681219
2  TRUE              6121 13.91768986
3    NA                42  0.09549795

In [26]:
q = "
SELECT distinct c.anon_id, c.pat_enc_csn_id_coded, 
    x.INTRPTR_NEEDED_YN, x.CHARLSON_SCORE, x.N_HOSPITALIZATIONS, x.DAYS_IN_HOSPITAL
FROM 
    `som-nero-phi-jonc101.triageTD.1_4_cohort` as c
JOIN 
    `som-nero-phi-jonc101.shc_core.demographic` as x
ON 
    (c.anon_id = x.anon_id)
WHERE
    c.first_label != c.death_24hr_recent_label
"
# submit the query:
update.packages('Rcpp')
x1 <- dbGetQuery(con, q)
dim(x1)
colnames(x1)

Warning message in as.integer.integer64(x):
“NAs produced by integer overflow”

[1] 2499    6

[1] "anon_id"              "pat_enc_csn_id_coded" "INTRPTR_NEEDED_YN"
[4] "CHARLSON_SCORE"       "N_HOSPITALIZATIONS"   "DAYS_IN_HOSPITAL"

In [28]:
x1 %>% count(INTRPTR_NEEDED_YN) %>% mutate(perc = 100* n/nrow(x1))

  INTRPTR_NEEDED_YN n    perc
1 FALSE             2166 86.67466987
2  TRUE              332 13.28531413
3    NA                1  0.04001601

write.csv(x1, file.path(datadir, "4_1_tx_demographic.csv"), row.names=FALSE)

In [6]:
# all dx from 1_4_cohort, SQL query
dx <- read.csv(file.path(datadir, "4_1_dx_all.csv"))
nrow(dx)
length(unique(dx$pat_enc_csn_id_coded)) # full cohort is 43980

[1] 1239918

[1] 43932

In [7]:
head(dx)

  anon_id  pat_enc_csn_id_coded line
1 JCd61259 131279859716         35
2 JCd679d9 131064901435         34
3 JCd58338 131243342034         30
4 JCd39c23 131240769940         40
5 JCde0d0a 131190623142         36
6 JCdda759 131219479387         30
  dx_name                                                            primary
1 Presence of prosthetic heart valve
2 Postsurgical percutaneous transluminal coronary angioplasty status
3 Failed kidney transplant                                           N
4 Other disorders of bilirubin metabolism
5 Other artificial openings of urinary tract status
6 Long term (current) use of oral hypoglycemic drugs
  chronic principal hospital_pl ed present_on_adm
1                                  Exempt from POA reporting
2                                  Exempt from POA reporting
3 N                             N
4                                  No
5                                  Exempt from POA reporting
6                                  Exempt from POA reporting

In [8]:
dx %>% distinct(pat_enc_csn_id_coded, dx_name) %>% count(dx_name) %>% 
    mutate(perc = round(100*n/43932, 2)) %>% arrange(-n) %>% head(20)

   dx_name
1  Other long term (current) drug therapy
2  Hyperlipidemia, unspecified
3  Essential (primary) hypertension
4  Personal history of nicotine dependence
5  Long term (current) use of aspirin
6  Gastro-esophageal reflux disease without esophagitis
7  Acute kidney failure, unspecified
8  Major depressive disorder, single episode, unspecified
9  Long term (current) use of anticoagulants
10 Atherosclerotic heart disease of native coronary artery without angina pectoris
11 Shortness of breath
12 Hypo-osmolality and hyponatremia
13 Other chronic pain
14 Hypothyroidism, unspecified
15 Obstructive sleep apnea (adult) (pediatric)
16 Long term (current) use of insulin
17 Anxiety disorder, unspecified
18 Allergy status to other drugs, medicaments and biological substances status
19 Sepsis, unspecified organism
20 Hypokalemia
   n     perc
1  12409 28.25
2  11532 26.25
3  10691 24.34
4   9969 22.69
5   7188 16.36
6   6725 15.31
7   6538 14.88
8   5719 13.02
9   5456 12.42
10  5429 12.36
11  5389 12.27
12  5119 11.65
13  4606 10.48
14  4556 10.37
15  4416 10.05
16  4385  9.98
17  4262  9.70
18  3925  8.93
19  3850  8.76
20  3792  8.63

In [9]:
# dx present in the ED and identified as the primary problems
dx %>% filter(ed=="Y", primary=="Y") %>% distinct(pat_enc_csn_id_coded, dx_name) %>% count(dx_name) %>% 
    mutate(perc = round(100*n/43932, 2)) %>% arrange(-n) %>% head(20)

   dx_name                                                             n   perc
1  Suicidal ideation                                                   407 0.93
2  Pneumonia due to organism                                           302 0.69
3  Sepsis, due to unspecified organism                                 277 0.63
4  Hyponatremia                                                        274 0.62
5  Non-ST elevation myocardial infarction (NSTEMI) (CMS-HCC)           227 0.52
6  SBO (small bowel obstruction) (CMS-HCC)                             222 0.51
7  Acute chest pain                                                    211 0.48
8  Small bowel obstruction (CMS-HCC)                                   205 0.47
9  Neutropenic fever (CMS-HCC)                                         194 0.44
10 Acute GI bleeding                                                   190 0.43
11 Shortness of breath                                                 186 0.42
12 Altered mental status, unspecified altered mental status type       172 0.39
13 Acute kidney injury (nontraumatic) (CMS-HCC)                        156 0.36
14 COPD with acute exacerbation (CMS-HCC)                              143 0.33
15 Fever, unspecified fever cause                                      139 0.32
16 Acute renal failure, unspecified acute renal failure type (CMS-HCC) 134 0.31
17 Fever and other physiologic disturbances of temperature regulation  125 0.28
18 Psychosis, unspecified psychosis type (CMS-HCC)                     123 0.28
19 Generalized abdominal pain                                          119 0.27
20 Acute pyelonephritis                                                114 0.26

In [14]:
1085/1120

[1] 0.96875

In [12]:
# cohort transfers with diagnoses
dx_tx <- left_join(cohort, dx)
nrow(dx_tx)
length(unique(dx_tx$pat_enc_csn_id_coded)) #1120
length(unique(dx_tx$anon_id)) # 1085
dx_tx %>% distinct(pat_enc_csn_id_coded, dx_name) %>% count(dx_name) %>% 
    mutate(perc = round(100*n/1120, 2)) %>% arrange(-n) %>% head(20)

Joining, by = c("anon_id", "pat_enc_csn_id_coded")

[1] 45780

[1] 1120

[1] 1085

   dx_name
1  Hyperlipidemia, unspecified
2  Other long term (current) drug therapy
3  Personal history of nicotine dependence
4  Acidosis
5  Acute kidney failure, unspecified
6  Essential (primary) hypertension
7  Severe sepsis with septic shock
8  Long term (current) use of aspirin
9  Sepsis, unspecified organism
10 Atherosclerotic heart disease of native coronary artery without angina pectoris
11 Shortness of breath
12 Hypo-osmolality and hyponatremia
13 Acute respiratory failure with hypoxia
14 Long term (current) use of anticoagulants
15 Gastro-esophageal reflux disease without esophagitis
16 Hypokalemia
17 Hypotension, unspecified
18 Acute posthemorrhagic anemia
19 Obstructive sleep apnea (adult) (pediatric)
20 Chronic kidney disease, stage 3 (moderate)
   n   perc
1  348 31.07
2  335 29.91
3  306 27.32
4  291 25.98
5  288 25.71
6  284 25.36
7  253 22.59
8  249 22.23
9  233 20.80
10 217 19.38
11 202 18.04
12 196 17.50
13 188 16.79
14 186 16.61
15 185 16.52
16 183 16.34
17 175 15.62
18 174 15.54
19 158 14.11
20 145 12.95

In [11]:
dx_tx %>% filter(ed=="Y", primary=="Y") %>% distinct(pat_enc_csn_id_coded, dx_name) %>% count(dx_name) %>% 
    mutate(perc = round(100*n/1120, 2)) %>% arrange(-n) %>% head(20)

   dx_name                                                                  n
1  Sepsis, due to unspecified organism                                      22
2  Pneumonia due to organism                                                16
3  Hypoxia                                                                  12
4  Non-ST elevation myocardial infarction (NSTEMI) (CMS-HCC)                12
5  ST elevation myocardial infarction (STEMI), unspecified artery (CMS-HCC) 12
6  Severe sepsis (CMS-HCC)                                                  11
7  Acute chest pain                                                          7
8  Acute pyelonephritis                                                      7
9  Hyponatremia                                                              7
10 Acute coronary syndrome (CMS-HCC)                                         6
11 Neutropenic fever (CMS-HCC)                                               6
12 Acute on chronic heart failure, unspecified heart failure type (CMS-HCC)  5
13 Acute on chronic systolic congestive heart failure (CMS-HCC)              5
14 Altered mental status, unspecified altered mental status type             5
15 COPD with acute exacerbation (CMS-HCC)                                    5
16 HCAP (healthcare-associated pneumonia)                                    5
17 Pneumonia, organism unspecified(486)                                      5
18 Shortness of breath                                                       5
19 Small bowel obstruction (CMS-HCC)                                         5
20 Acute blood loss anemia                                                   4
   perc
1  1.96
2  1.43
3  1.07
4  1.07
5  1.07
6  0.98
7  0.62
8  0.62
9  0.62
10 0.54
11 0.54
12 0.45
13 0.45
14 0.45
15 0.45
16 0.45
17 0.45
18 0.45
19 0.45
20 0.36

# full cohort, patcsn all NA
q = "
SELECT x.dx_name, count(x.dx_name) AS n
FROM 
    `som-nero-phi-jonc101.triageTD.1_4_cohort` as c
JOIN 
    `som-nero-phi-jonc101.shc_core.diagnosis_code` as x
ON 
    (c.anon_id = x.anon_id and c.pat_enc_csn_id_coded = x.pat_enc_csn_id_jittered)

GROUP by x.dx_name
"

# submit the query:
update.packages('Rcpp')
x2 <- dbGetQuery(con, q)
dim(x2)
colnames(x2)

# transfer cohort
q = "
SELECT x.dx_name, count(x.dx_name) AS n
FROM 
    `som-nero-phi-jonc101.triageTD.1_4_cohort` as c
JOIN 
    `som-nero-phi-jonc101.shc_core.diagnosis_code` as x
ON 
    (c.anon_id = x.anon_id and c.pat_enc_csn_id_coded = x.pat_enc_csn_id_jittered)

WHERE
    c.first_label != c.death_24hr_recent_label

GROUP by x.dx_name
"

# submit the query:
update.packages('Rcpp')
x2 <- dbGetQuery(con, q)
dim(x2)
colnames(x2)

# full cohort
q = "
SELECT x.dx_name, count(x.dx_name) AS n
FROM 
    `som-nero-phi-jonc101.triageTD.1_4_cohort` as c
JOIN 
    `som-nero-phi-jonc101.shc_core.diagnosis_code` as x
ON 
    (c.anon_id = x.anon_id and c.pat_enc_csn_id_coded = x.pat_enc_csn_id_jittered)

WHERE (x.ed = 'Y')

GROUP by x.dx_name
"

# submit the query:
update.packages('Rcpp')
x3 <- dbGetQuery(con, q)
dim(x3)
colnames(x3)

# transfers cohort testing
q = "
SELECT distinct c.anon_id, c.pat_enc_csn_id_coded, x.dx_name, x.primary, x.ed
FROM 
    `som-nero-phi-jonc101.triageTD.1_4N_cohort` as c
JOIN 
    `som-nero-phi-jonc101.shc_core.diagnosis_code` as x
ON 
    (c.anon_id = x.anon_id and c.pat_enc_csn_id_coded = x.pat_enc_csn_id_jittered)
WHERE (x.ed = 'Y')
"

# submit the query:
update.packages('Rcpp')
x3 <- dbGetQuery(con, q)
dim(x3)
colnames(x3)

# transfer cohort
q = "
SELECT x.dx_name, count(x.dx_name) AS n
FROM 
    `som-nero-phi-jonc101.triageTD.1_4_cohort` as c
JOIN 
    `som-nero-phi-jonc101.shc_core.diagnosis_code` as x
ON 
    (c.anon_id = x.anon_id and c.pat_enc_csn_id_coded = x.pat_enc_csn_id_jittered)

WHERE (c.first_label != c.death_24hr_recent_label and x.ed = 'Y')

GROUP by x.dx_name
"

# submit the query:
update.packages('Rcpp')
x3 <- dbGetQuery(con, q)
dim(x3)
colnames(x3)

# full cohort
q = "
SELECT x.dx_name, count(x.dx_name) AS n
FROM 
    `som-nero-phi-jonc101.triageTD.1_4_cohort` as c
JOIN 
    `som-nero-phi-jonc101.shc_core.diagnosis_code` as x
ON 
    (c.anon_id = x.anon_id and c.pat_enc_csn_id_coded = x.pat_enc_csn_id_jittered)

WHERE (x.ed = 'Y' and primary='Y')

GROUP by x.dx_name
"

# submit the query:
update.packages('Rcpp')
x4 <- dbGetQuery(con, q)
dim(x4)
colnames(x4)

# transfer cohort
q = "
SELECT x.dx_name, count(x.dx_name) AS n
FROM 
    `som-nero-phi-jonc101.triageTD.1_4_cohort` as c
JOIN 
    `som-nero-phi-jonc101.shc_core.diagnosis_code` as x
ON 
    (c.anon_id = x.anon_id and c.pat_enc_csn_id_coded = x.pat_enc_csn_id_jittered)

WHERE (c.first_label != c.death_24hr_recent_label and x.ed = 'Y' and primary='Y')

GROUP by x.dx_name
"

# submit the query:
update.packages('Rcpp')
x4 <- dbGetQuery(con, q)
dim(x4)
colnames(x4)