## Descriptions:
- Query other tables on shc
- Some bigger queries cannot be done in this notebook. use separate SQL file in python instead
- Check the characteristics of the transfer cohort, compared to the full cohort

**Inputs**:  
- `1_4_cohort_diff_full_features`: contains cohort with most difference pdiff >= 0.3
    - 24hrpreadmit: 324 total
    - all: 318 total
    
**Outputs**:

install.packages('bigrquery')
# Installing package into 'C:/Users/User/Documents/R/win-library/4.0'
# (as 'lib' is unspecified)
# The downloaded binary packages are in
# 	C:\Users\User\AppData\Local\Temp\RtmpaumGcc\downloaded_packages

### Importing R libraries

In [1]:
library(bigrquery)  # to query STARR-OMOP (stored in BigQuery) using SQL
library(tidyverse)
library(lubridate)

# options(repr.matrix.max.rows=250, repr.matrix.max.cols=30)

Warning message:
"package 'bigrquery' was built under R version 4.0.5"
-- Attaching packages --------------------------------------- tidyverse 1.3.0 --

v ggplot2 3.3.2     v purrr   0.3.4
v tibble  3.0.4     v dplyr   1.0.2
v tidyr   1.1.2     v stringr 1.4.0
v readr   1.4.0     v forcats 0.5.0

-- Conflicts ------------------------------------------ tidyverse_conflicts() --
x dplyr::filter() masks stats::filter()
x dplyr::lag()    masks stats::lag()


Attaching package: 'lubridate'


The following objects are masked from 'package:base':

    date, intersect, setdiff, union

### Set up and run queries

In [2]:
# CREDENTIALS depending on LOCATIONS:
# credential <- paste0("/home/", "minh084", "/.config/gcloud/application_default_credentials.json")

# local computer
credential <- "C:/Users/User/AppData/Roaming/gcloud/application_default_credentials.json"

# Nero onprem
# credential <- "/home/minh084/.config/gcloud/application_default_credentials.json"

# Nero gcp notebook
# credential <- "/home/jupyter/.config/gcloud/application_default_credentials.json"

project_id <- "som-nero-phi-jonc101"

Sys.setenv(GOOGLE_APPLICATION_CREDENTIALS = credential)
Sys.setenv(GCLOUD_PROJECT = project_id)
gargle::credentials_app_default()

NULL

In [3]:
library(DBI)
con <- dbConnect(
  bigrquery::bigquery(),
  project = project_id,
  dataset = "shc_core" #, billing = project_id
)
con 
dbListTables(con)

<BigQueryConnection>
  Dataset: som-nero-phi-jonc101.shc_core
  Billing: som-nero-phi-jonc101

 [1] "adt"                 "allergy"             "culture_sensitivity"
 [4] "demographic"         "dep_map"             "diagnosis_code"
 [7] "drg_code"            "encounter"           "family_hx"
[10] "flowsheet"           "lab_result"          "lda"
[13] "mapped_meds"         "mar"                 "med_orderset"
[16] "ndc_code"            "order_med"           "order_proc"
[19] "order_quest"         "proc_note"           "proc_orderset"
[22] "procedure_code"      "prov_map"            "social_hx"
[25] "treatment_team"

In [4]:
# directories
datadir = "../../DataTD"
cohortdir = "../../OutputTD/1_cohort"
featuredir = "../../OutputTD/2_features"
modeldir4 = "../../OutputTD/3_models/1_4_cohort"
modeldir4preadmit = "../../OutputTD/3_models/1_4_cohort_24hrpreadmit"

options(repr.matrix.max.rows=200, repr.matrix.max.cols=30)

In [5]:
cohort <- read.csv(file.path(cohortdir, "1_4_cohort.csv")) %>% filter(first_label != death_24hr_max_label)

nrow(cohort) # 1120
nrow(cohort %>% select(anon_id) %>% distinct()) # 1085
nrow(cohort %>% select(pat_enc_csn_id_coded) %>% distinct()) # 1123

[1] 1120

[1] 1085

[1] 1120

In [6]:
head(cohort, 1)
colnames(cohort)

  anon_id  pat_enc_csn_id_coded inpatient_data_id_coded
1 JCdf010a 131282861801         45762025
  admit_time                label_max24 label_24hr_recent admit_label
1 2020-03-04 03:38:00+00:00 1           1                 0
  has_admit_label died_within_24hrs death_24hr_max_label
1 1               0                 1
  death_24hr_recent_label first_label first_label_minutes_since_admit
1 1                       0           0
  acute_to_critical_label_recent critical_to_acute_label_recent
1 1                              0
  acute_to_critical_label_max critical_to_acute_label_max
1 1                           0

 [1] "anon_id"                         "pat_enc_csn_id_coded"
 [3] "inpatient_data_id_coded"         "admit_time"
 [5] "label_max24"                     "label_24hr_recent"
 [7] "admit_label"                     "has_admit_label"
 [9] "died_within_24hrs"               "death_24hr_max_label"
[11] "death_24hr_recent_label"         "first_label"
[13] "first_label_minutes_since_admit" "acute_to_critical_label_recent"
[15] "critical_to_acute_label_recent"  "acute_to_critical_label_max"
[17] "critical_to_acute_label_max"

### ADT table

q = "
SELECT c.anon_id, c.pat_enc_csn_id_coded, c.admit_time, c.first_label, c.death_24hr_recent_label, c.death_24hr_max_label,
    adt.event_type_c, adt.event_type, adt.pat_class_c, adt.pat_class, adt.base_pat_class_c, adt.base_pat_class,
    adt.pat_service_c, adt.pat_service, adt.pat_lvl_of_care_c, adt.pat_lv_of_care, adt.accommodation_c, adt.accomodation, 
    adt.in_event_type_c, adt.in_event_type, adt.out_event_type_c, adt.out_event_type, adt.from_base_class_c, adt.from_base_class,
    adt.to_base_class_c, adt.to_base_class, adt.seq_num_in_enc, adt.seq_num_in_bed_min
FROM 
    `som-nero-phi-jonc101.triageTD.1_4_cohort` as c
JOIN 
    `som-nero-phi-jonc101.shc_core.adt` as adt
ON 
    (c.anon_id = adt.anon_id and c.pat_enc_csn_id_coded = adt.pat_enc_csn_id_coded)
WHERE
    c.first_label != c.death_24hr_recent_label
"
# submit the query:
update.packages('Rcpp')
df <- dbGetQuery(con, q)
dim(df)
colnames(df)

write.csv(df, file.path(datadir, "4_1_tx_adt.csv"), row.names=FALSE)

In [25]:
# full cohort
q = "
SELECT distinct c.anon_id, c.pat_enc_csn_id_coded, 
    x.INTRPTR_NEEDED_YN, x.CHARLSON_SCORE, x.N_HOSPITALIZATIONS, x.DAYS_IN_HOSPITAL
FROM 
    `som-nero-phi-jonc101.triageTD.1_4_cohort` as c
JOIN 
    `som-nero-phi-jonc101.shc_core.demographic` as x
ON 
    (c.anon_id = x.anon_id)
"
# submit the query:
update.packages('Rcpp')
x1 <- dbGetQuery(con, q)
dim(x1)
colnames(x1)

Warning message in as.integer.integer64(x):
“NAs produced by integer overflow”

[1] 43980     6

[1] "anon_id"              "pat_enc_csn_id_coded" "INTRPTR_NEEDED_YN"
[4] "CHARLSON_SCORE"       "N_HOSPITALIZATIONS"   "DAYS_IN_HOSPITAL"

In [26]:
x1 %>% count(INTRPTR_NEEDED_YN) %>% mutate(perc = 100* n/nrow(x1))

  INTRPTR_NEEDED_YN n     perc
1 FALSE             37817 85.98681219
2  TRUE              6121 13.91768986
3    NA                42  0.09549795

In [27]:
q = "
SELECT distinct c.anon_id, c.pat_enc_csn_id_coded, 
    x.INTRPTR_NEEDED_YN, x.CHARLSON_SCORE, x.N_HOSPITALIZATIONS, x.DAYS_IN_HOSPITAL
FROM 
    `som-nero-phi-jonc101.triageTD.1_4_cohort` as c
JOIN 
    `som-nero-phi-jonc101.shc_core.demographic` as x
ON 
    (c.anon_id = x.anon_id)
WHERE
    c.first_label != c.death_24hr_recent_label
"
# submit the query:
update.packages('Rcpp')
x1 <- dbGetQuery(con, q)
dim(x1)
colnames(x1)

Warning message in as.integer.integer64(x):
“NAs produced by integer overflow”

[1] 2499    6

[1] "anon_id"              "pat_enc_csn_id_coded" "INTRPTR_NEEDED_YN"
[4] "CHARLSON_SCORE"       "N_HOSPITALIZATIONS"   "DAYS_IN_HOSPITAL"

In [28]:
x1 %>% count(INTRPTR_NEEDED_YN) %>% mutate(perc = 100* n/nrow(x1))

  INTRPTR_NEEDED_YN n    perc
1 FALSE             2166 86.67466987
2  TRUE              332 13.28531413
3    NA                1  0.04001601

write.csv(x1, file.path(datadir, "4_1_tx_demographic.csv"), row.names=FALSE)

In [39]:
# full cohort
q = "
SELECT x.dx_name, count(x.dx_name) AS n
FROM 
    `som-nero-phi-jonc101.triageTD.1_4_cohort` as c
JOIN 
    `som-nero-phi-jonc101.shc_core.diagnosis_code` as x
ON 
    (c.anon_id = x.anon_id and c.pat_enc_csn_id_coded = x.pat_enc_csn_id_jittered)

GROUP by x.dx_name
"

# submit the query:
update.packages('Rcpp')
x2 <- dbGetQuery(con, q)
dim(x2)
colnames(x2)

[1] 47246     2

[1] "dx_name" "n"

In [40]:
x2 %>% mutate(perc = round(100*n/nrow(x2), 2)) %>% arrange(-n) %>% head(20)

   dx_name
1  Other long term (current) drug therapy
2  Hyperlipidemia, unspecified
3  Essential (primary) hypertension
4  Personal history of nicotine dependence
5  Shortness of breath
6  Long term (current) use of aspirin
7  Acute kidney failure, unspecified
8  Gastro-esophageal reflux disease without esophagitis
9  Major depressive disorder, single episode, unspecified
10 Long term (current) use of anticoagulants
11 Nonspecific abnormal electrocardiogram (ECG) (EKG)
12 Atherosclerotic heart disease of native coronary artery without angina pectoris
13 Hypo-osmolality and hyponatremia
14 Other chronic pain
15 Other nonspecific abnormal finding of lung field
16 Fever, unspecified
17 Hypokalemia
18 Obstructive sleep apnea (adult) (pediatric)
19 Hypothyroidism, unspecified
20 Sepsis, unspecified organism
   n     perc
1  12410 26.27
2  11553 24.45
3  10717 22.68
4   9969 21.10
5   8009 16.95
6   7188 15.21
7   6823 14.44
8   6733 14.25
9   6174 13.07
10  5641 11.94
11  5588 11.83
12  5445 11.52
13  5293 11.20
14  5168 10.94
15  4964 10.51
16  4645  9.83
17  4618  9.77
18  4591  9.72
19  4557  9.65
20  4522  9.57

In [41]:
# transfer cohort
q = "
SELECT x.dx_name, count(x.dx_name) AS n
FROM 
    `som-nero-phi-jonc101.triageTD.1_4_cohort` as c
JOIN 
    `som-nero-phi-jonc101.shc_core.diagnosis_code` as x
ON 
    (c.anon_id = x.anon_id and c.pat_enc_csn_id_coded = x.pat_enc_csn_id_jittered)

WHERE
    c.first_label != c.death_24hr_recent_label

GROUP by x.dx_name
"

# submit the query:
update.packages('Rcpp')
x2 <- dbGetQuery(con, q)
dim(x2)
colnames(x2)

[1] 11691     2

[1] "dx_name" "n"

In [42]:
x2 %>% mutate(perc = round(100*n/nrow(x2), 2)) %>% arrange(-n) %>% head(20)

   dx_name
1  Hyperlipidemia, unspecified
2  Other long term (current) drug therapy
3  Essential (primary) hypertension
4  Personal history of nicotine dependence
5  Acidosis
6  Long term (current) use of aspirin
7  Shortness of breath
8  Other nonspecific abnormal finding of lung field
9  Acute kidney failure, unspecified
10 Atherosclerotic heart disease of native coronary artery without angina pectoris
11 Sepsis, unspecified organism
12 Nonspecific abnormal electrocardiogram (ECG) (EKG)
13 Long term (current) use of anticoagulants
14 Gastro-esophageal reflux disease without esophagitis
15 Hypo-osmolality and hyponatremia
16 Hypotension, unspecified
17 Hypokalemia
18 Acute respiratory failure (CMS-HCC)
19 Acute kidney failure, unspecified (CMS-HCC)
20 Acute posthemorrhagic anemia
   n   perc
1  795 6.80
2  723 6.18
3  690 5.90
4  598 5.12
5  549 4.70
6  528 4.52
7  522 4.46
8  512 4.38
9  501 4.29
10 431 3.69
11 423 3.62
12 402 3.44
13 390 3.34
14 382 3.27
15 373 3.19
16 358 3.06
17 353 3.02
18 352 3.01
19 345 2.95
20 333 2.85

In [43]:
write.csv(x2, file.path(datadir, "4_1_tx_alldx.csv"), row.names=FALSE)

In [45]:
# full cohort
q = "
SELECT x.dx_name, count(x.dx_name) AS n
FROM 
    `som-nero-phi-jonc101.triageTD.1_4_cohort` as c
JOIN 
    `som-nero-phi-jonc101.shc_core.diagnosis_code` as x
ON 
    (c.anon_id = x.anon_id and c.pat_enc_csn_id_coded = x.pat_enc_csn_id_jittered)

WHERE (x.ed = 'Y')

GROUP by x.dx_name
"

# submit the query:
update.packages('Rcpp')
x3 <- dbGetQuery(con, q)
dim(x3)
colnames(x3)

[1] 8410    2

[1] "dx_name" "n"

In [46]:
x3 %>% mutate(perc = round(100*n/nrow(x3), 2)) %>% arrange(-n) %>% head(20)

   dx_name                                                             n   perc
1  Hyponatremia                                                        697 8.29
2  Suicidal ideation                                                   640 7.61
3  Pneumonia due to organism                                           611 7.27
4  Sepsis, due to unspecified organism                                 579 6.88
5  Acute kidney injury (nontraumatic) (CMS-HCC)                        565 6.72
6  Shortness of breath                                                 549 6.53
7  Hypoxia                                                             473 5.62
8  Acute chest pain                                                    438 5.21
9  Altered mental status, unspecified altered mental status type       416 4.95
10 Elevated troponin                                                   390 4.64
11 Non-ST elevation myocardial infarction (NSTEMI) (CMS-HCC)           374 4.45
12 Dehydration                                                         343 4.08
13 Acute renal failure, unspecified acute renal failure type (CMS-HCC) 339 4.03
14 Fever, unspecified fever cause                                      336 4.00
15 Hypokalemia                                                         316 3.76
16 COPD with acute exacerbation (CMS-HCC)                              291 3.46
17 Hyperkalemia                                                        283 3.37
18 SBO (small bowel obstruction) (CMS-HCC)                             281 3.34
19 Generalized abdominal pain                                          276 3.28
20 Severe sepsis (CMS-HCC)                                             269 3.20

In [ ]:
# transfers cohort testing
q = "
SELECT distinct c.pat_enc_csn_id_coded, x.dx_name, x.primary, x.ed
FROM `som-nero-phi-jonc101.triageTD.1_4_cohort` as c
JOIN `som-nero-phi-jonc101.shc_core.diagnosis_code` as x
ON (c.anon_id = x.anon_id and c.pat_enc_csn_id_coded = x.pat_enc_csn_id_jittered)
WHERE (c.first_label != c.death_24hr_recent_label and x.ed = 'Y')
"

# submit the query:
update.packages('Rcpp')
x3 <- dbGetQuery(con, q)
dim(x3)
colnames(x3)

In [ ]:
# transfer cohort
q = "
SELECT x.dx_name, count(x.dx_name) AS n
FROM 
    `som-nero-phi-jonc101.triageTD.1_4_cohort` as c
JOIN 
    `som-nero-phi-jonc101.shc_core.diagnosis_code` as x
ON 
    (c.anon_id = x.anon_id and c.pat_enc_csn_id_coded = x.pat_enc_csn_id_jittered)

WHERE (c.first_label != c.death_24hr_recent_label and x.ed = 'Y')

GROUP by x.dx_name
"

# submit the query:
update.packages('Rcpp')
x3 <- dbGetQuery(con, q)
dim(x3)
colnames(x3)

In [6]:
update.packages('Rcpp')

In [48]:
x3 %>% mutate(perc = round(100*n/nrow(x3), 2)) %>% arrange(-n) %>% head(20)

   dx_name
1  Sepsis, due to unspecified organism
2  Severe sepsis (CMS-HCC)
3  Hyperkalemia
4  Hyponatremia
5  Pneumonia due to organism
6  Diabetic ketoacidosis without coma associated with type 1 diabetes mellitus (CMS-HCC)
7  Septic shock (CMS-HCC)
8  Hypoxia
9  Subdural hematoma (CMS-HCC)
10 Acute kidney injury (nontraumatic) (CMS-HCC)
11 Hypotension, unspecified hypotension type
12 Altered mental status, unspecified altered mental status type
13 Shortness of breath
14 Acute chest pain
15 ST elevation myocardial infarction (STEMI), unspecified artery (CMS-HCC)
16 Non-ST elevation myocardial infarction (NSTEMI) (CMS-HCC)
17 COPD with acute exacerbation (CMS-HCC)
18 Acute renal failure, unspecified acute renal failure type (CMS-HCC)
19 Acute respiratory failure with hypoxia (CMS-HCC)
20 Acute GI bleeding
   n  perc
1  55 4.50
2  50 4.09
3  48 3.93
4  48 3.93
5  47 3.85
6  43 3.52
7  42 3.44
8  39 3.19
9  38 3.11
10 38 3.11
11 37 3.03
12 36 2.95
13 32 2.62
14 32 2.62
15 31 2.54
16 29 2.37
17 28 2.29
18 27 2.21
19 26 2.13
20 24 1.96

In [49]:
# full cohort
q = "
SELECT x.dx_name, count(x.dx_name) AS n
FROM 
    `som-nero-phi-jonc101.triageTD.1_4_cohort` as c
JOIN 
    `som-nero-phi-jonc101.shc_core.diagnosis_code` as x
ON 
    (c.anon_id = x.anon_id and c.pat_enc_csn_id_coded = x.pat_enc_csn_id_jittered)

WHERE (x.ed = 'Y' and primary='Y')

GROUP by x.dx_name
"

# submit the query:
update.packages('Rcpp')
x4 <- dbGetQuery(con, q)
dim(x4)
colnames(x4)

[1] 4632    2

[1] "dx_name" "n"

In [50]:
x4 %>% mutate(perc = round(100*n/nrow(x4), 2)) %>% arrange(-n) %>% head(20)

   dx_name                                                             n   perc
1  Suicidal ideation                                                   407 8.79
2  Pneumonia due to organism                                           302 6.52
3  Sepsis, due to unspecified organism                                 277 5.98
4  Hyponatremia                                                        274 5.92
5  Non-ST elevation myocardial infarction (NSTEMI) (CMS-HCC)           227 4.90
6  SBO (small bowel obstruction) (CMS-HCC)                             222 4.79
7  Acute chest pain                                                    211 4.56
8  Small bowel obstruction (CMS-HCC)                                   205 4.43
9  Neutropenic fever (CMS-HCC)                                         194 4.19
10 Acute GI bleeding                                                   190 4.10
11 Shortness of breath                                                 186 4.02
12 Altered mental status, unspecified altered mental status type       172 3.71
13 Acute kidney injury (nontraumatic) (CMS-HCC)                        156 3.37
14 COPD with acute exacerbation (CMS-HCC)                              143 3.09
15 Fever, unspecified fever cause                                      139 3.00
16 Acute renal failure, unspecified acute renal failure type (CMS-HCC) 134 2.89
17 Fever and other physiologic disturbances of temperature regulation  125 2.70
18 Psychosis, unspecified psychosis type (CMS-HCC)                     123 2.66
19 Generalized abdominal pain                                          119 2.57
20 Acute pyelonephritis                                                114 2.46

In [51]:
# transfer cohort
q = "
SELECT x.dx_name, count(x.dx_name) AS n
FROM 
    `som-nero-phi-jonc101.triageTD.1_4_cohort` as c
JOIN 
    `som-nero-phi-jonc101.shc_core.diagnosis_code` as x
ON 
    (c.anon_id = x.anon_id and c.pat_enc_csn_id_coded = x.pat_enc_csn_id_jittered)

WHERE (c.first_label != c.death_24hr_recent_label and x.ed = 'Y' and primary='Y')

GROUP by x.dx_name
"

# submit the query:
update.packages('Rcpp')
x4 <- dbGetQuery(con, q)
dim(x4)
colnames(x4)

[1] 529   2

[1] "dx_name" "n"

In [52]:
x4 %>% mutate(perc = round(100*n/nrow(x4), 2)) %>% arrange(-n) %>% head(20)

   dx_name
1  Diabetic ketoacidosis without coma associated with type 1 diabetes mellitus (CMS-HCC)
2  Septic shock (CMS-HCC)
3  ST elevation myocardial infarction (STEMI), unspecified artery (CMS-HCC)
4  Sepsis, due to unspecified organism
5  Hyperkalemia
6  Severe sepsis (CMS-HCC)
7  Subdural hematoma (CMS-HCC)
8  Pneumonia due to organism
9  Hyponatremia
10 Acute GI bleeding
11 SAH (subarachnoid hemorrhage) (CMS-HCC)
12 Non-ST elevation myocardial infarction (NSTEMI) (CMS-HCC)
13 Closed fracture of multiple ribs of left side, initial encounter
14 Altered mental status, unspecified altered mental status type
15 Diabetic ketoacidosis without coma associated with type 2 diabetes mellitus (CMS-HCC)
16 Closed fracture of multiple ribs of right side, initial encounter
17 Hypoxia
18 Acute chest pain
19 COPD with acute exacerbation (CMS-HCC)
20 Diabetic ketoacidosis without coma associated with diabetes mellitus due to underlying condition (CMS-HCC)
   n  perc
1  37 6.99
2  27 5.10
3  27 5.10
4  26 4.91
5  25 4.73
6  25 4.73
7  24 4.54
8  24 4.54
9  20 3.78
10 19 3.59
11 16 3.02
12 16 3.02
13 14 2.65
14 14 2.65
15 14 2.65
16 14 2.65
17 14 2.65
18 13 2.46
19 13 2.46
20 12 2.27