## Descriptions:
- Query other tables on shc
- Some bigger queries cannot be done in this notebook. use separate SQL file in python instead

**Inputs**:  
- `1_4_cohort_diff_full_features`: contains cohort with most difference pdiff >= 0.3
  
**Outputs**:

install.packages('bigrquery')
# Installing package into 'C:/Users/User/Documents/R/win-library/4.0'
# (as 'lib' is unspecified)
# The downloaded binary packages are in
# 	C:\Users\User\AppData\Local\Temp\RtmpaumGcc\downloaded_packages

### Importing R libraries

In [1]:
library(bigrquery)  # to query STARR-OMOP (stored in BigQuery) using SQL
library(tidyverse)
library(lubridate)

# options(repr.matrix.max.rows=250, repr.matrix.max.cols=30)

Warning message:
"package 'bigrquery' was built under R version 4.0.5"
-- Attaching packages --------------------------------------- tidyverse 1.3.0 --

v ggplot2 3.3.2     v purrr   0.3.4
v tibble  3.0.4     v dplyr   1.0.2
v tidyr   1.1.2     v stringr 1.4.0
v readr   1.4.0     v forcats 0.5.0

-- Conflicts ------------------------------------------ tidyverse_conflicts() --
x dplyr::filter() masks stats::filter()
x dplyr::lag()    masks stats::lag()


Attaching package: 'lubridate'


The following objects are masked from 'package:base':

    date, intersect, setdiff, union

### Set up and run queries

In [14]:
# CREDENTIALS depending on LOCATIONS:
# credential <- paste0("/home/", "minh084", "/.config/gcloud/application_default_credentials.json")

# local computer
# credential <- "C:/Users/User/AppData/Roaming/gcloud/application_default_credentials.json"

# Nero onprem
# credential <- "/home/minh084/.config/gcloud/application_default_credentials.json"

# Nero gcp notebook
credential <- "/home/jupyter/.config/gcloud/application_default_credentials.json"

project_id <- "som-nero-phi-jonc101"

Sys.setenv(GOOGLE_APPLICATION_CREDENTIALS = credential)
Sys.setenv(GCLOUD_PROJECT = project_id)
gargle::credentials_app_default()

NULL

In [15]:
library(DBI)
con <- dbConnect(
  bigrquery::bigquery(),
  project = project_id,
  dataset = "shc_core" #, billing = project_id
)
con 
dbListTables(con)

<BigQueryConnection>
  Dataset: som-nero-phi-jonc101.shc_core
  Billing: som-nero-phi-jonc101

 [1] "adt"                 "allergy"             "culture_sensitivity"
 [4] "demographic"         "dep_map"             "diagnosis_code"
 [7] "drg_code"            "encounter"           "family_hx"
[10] "flowsheet"           "lab_result"          "lda"
[13] "mapped_meds"         "mar"                 "med_orderset"
[16] "ndc_code"            "order_med"           "order_proc"
[19] "order_quest"         "proc_note"           "proc_orderset"
[22] "procedure_code"      "prov_map"            "social_hx"
[25] "treatment_team"

In [2]:
# directories
datadir = "../../DataTD"
cohortdir = "../../OutputTD/1_cohort"
featuredir = "../../OutputTD/2_features"
modeldir4 = "../../OutputTD/3_models/1_4_cohort"
# modeldir4preadmit = "../../OutputTD/3_models/1_4_cohort_24hrpreadmit"

options(repr.matrix.max.rows=200, repr.matrix.max.cols=30)

In [5]:
cohort <- read.csv(file.path(modeldir4, "1_4_cohort_diff_full_features.csv")) %>% distinct()

nrow(cohort) # 71589 vs 69334
nrow(cohort %>% distinct())
nrow(cohort %>% select(anon_id) %>% distinct()) # 304
nrow(cohort %>% select(pat_enc_csn_id_coded) %>% distinct()) # 324

# count anon_id and csn, count unique in each group, but possible to have same ids in different groups
cohort %>%  distinct() %>% group_by(abs_diff0_24) %>% 
            summarise(nrows = n(), count_csn = n_distinct(pat_enc_csn_id_coded), count_mrn = n_distinct(anon_id)) %>% 
            arrange(-abs_diff0_24) %>% mutate(cum_csn = cumsum(count_csn), cum_mrn = cumsum(count_mrn))

[1] 71586

[1] 71586

[1] 301

[1] 323

`summarise()` ungrouping output (override with `.groups` argument)

  abs_diff0_24 nrows count_csn count_mrn cum_csn cum_mrn
1 0.7            560   3         3         3       3
2 0.6           1042   7         7        10      10
3 0.5           6559  27        24        37      34
4 0.4          19690  80        77       117     111
5 0.3          43735 206       204       323     315

# get the top IDs difference more than 0.4 and save them
diff4pre <- read.csv(file.path(modeldir4preadmit, "1_4_cohort_diff_full_features.csv")) 
diff4pre <- diff4 %>% filter(abs_diff0_24 >=0.4) %>% distinct(anon_id)
nrow(diff4pre) #107

diff4 <- cohort %>% filter(abs_diff0_24 >=0.4) %>% distinct(anon_id)
nrow(diff4) #100

both04 <- full_join(diff4, diff4pre)
nrow(both04) # 135
 
inter04 <- inner_join(diff4, diff4pre)
nrow(inter04) #72

write.csv(both04, file.path(datadir, "topIDs.csv"), row.names=FALSE)
write.csv(inter04, file.path(datadir, "topIDsintersection.csv"), row.names=FALSE)

In [7]:
head(cohort, 1)
colnames(cohort)

  anon_id  pat_enc_csn_id_coded admit_time          first_label
1 JCcd3b9d 131267453587         2019-04-06 23:15:00 1
  death_24hr_recent_label death_24hr_max_label pred_first
1 1                       1                    0.5339708
  pred_death_24hr_recent abs_diff0_24 diff0_True diff24_True feature_type
1 0.2470261              0.3          -0.47      -0.75       Procedures
  features                                       values time hr_before_admit
1 LIMITED ULTRASOUND- CARDIAC TRANSTHORACIC ECHO 1      NA   NA

 [1] "anon_id"                 "pat_enc_csn_id_coded"
 [3] "admit_time"              "first_label"
 [5] "death_24hr_recent_label" "death_24hr_max_label"
 [7] "pred_first"              "pred_death_24hr_recent"
 [9] "abs_diff0_24"            "diff0_True"
[11] "diff24_True"             "feature_type"
[13] "features"                "values"
[15] "time"                    "hr_before_admit"

cohort %>% filter(abs_diff0_24 >= 0.4, first_label == first_label) %>% distinct(anon_id, pat_enc_csn_id_coded)
cohort %>% filter(abs_diff0_24 >= 0.4, first_label == first_label) %>% distinct(anon_id)

In [8]:
# check with previous set sent to Morteza
reid <- read.csv(file.path(datadir, "topIDre.csv"))
nrow(reid)
head(reid)

[1] 135

  X MRN      ANON_ID   JITTER                       anon_id
1 0 30344139 JCe9b234  -24 days +00:00:00.000000000 JCe9b234
2 1 76189257 JC2a12b37 27 days 00:00:00.000000000   JC2a12b37
3 2 35588730 JCe03bac  -12 days +00:00:00.000000000 JCe03bac
4 3 19039593 JCe6f82d  11 days 00:00:00.000000000   JCe6f82d
5 4 19998962 JCe3b5e6  11 days 00:00:00.000000000   JCe3b5e6
6 5 34007724 JCd5f913  -11 days +00:00:00.000000000 JCd5f913

In [13]:
# filter those with diff >= 0.4
diff4 <- cohort %>% filter(abs_diff0_24 >=0.4) %>% distinct(anon_id)
nrow(diff4)
sum(diff4$anon_id %in% reid$anon_id) # missing 5

diff4 %>% filter(!anon_id %in% reid$anon_id) %>% select(anon_id)
setdiff(diff4$anon_id, reid$anon_id)
# setdiff(reid$anon_id, diff4$anon_id)

[1] 105

[1] 100

  anon_id
1 JC2a1185a
2 JC2a04c24
3 JCd25b42
4 JCcf91c6
5 JCe4a797

[1] "JC2a1185a" "JC2a04c24" "JCd25b42"  "JCcf91c6"  "JCe4a797"

### Checking diagnosis to compare with total cohort

In [14]:
# all dx from 1_4_cohort, SQL query
dx <- read.csv(file.path(datadir, "4_1_dx_all.csv"))
nrow(dx)
length(unique(dx$pat_enc_csn_id_coded)) # full cohort is 43980

[1] 1239918

[1] 43932

In [15]:
dx %>% distinct(pat_enc_csn_id_coded, dx_name) %>% count(dx_name) %>% 
    mutate(perc = round(100*n/43932, 2)) %>% arrange(-n) %>% head(20)

   dx_name
1  Other long term (current) drug therapy
2  Hyperlipidemia, unspecified
3  Essential (primary) hypertension
4  Personal history of nicotine dependence
5  Long term (current) use of aspirin
6  Gastro-esophageal reflux disease without esophagitis
7  Acute kidney failure, unspecified
8  Major depressive disorder, single episode, unspecified
9  Long term (current) use of anticoagulants
10 Atherosclerotic heart disease of native coronary artery without angina pectoris
11 Shortness of breath
12 Hypo-osmolality and hyponatremia
13 Other chronic pain
14 Hypothyroidism, unspecified
15 Obstructive sleep apnea (adult) (pediatric)
16 Long term (current) use of insulin
17 Anxiety disorder, unspecified
18 Allergy status to other drugs, medicaments and biological substances status
19 Sepsis, unspecified organism
20 Hypokalemia
   n     perc
1  12409 28.25
2  11532 26.25
3  10691 24.34
4   9969 22.69
5   7188 16.36
6   6725 15.31
7   6538 14.88
8   5719 13.02
9   5456 12.42
10  5429 12.36
11  5389 12.27
12  5119 11.65
13  4606 10.48
14  4556 10.37
15  4416 10.05
16  4385  9.98
17  4262  9.70
18  3925  8.93
19  3850  8.76
20  3792  8.63

In [16]:
# dx present in the ED and identified as the primary problems
dx %>% filter(ed=="Y", primary=="Y") %>% distinct(pat_enc_csn_id_coded, dx_name) %>% count(dx_name) %>% 
    mutate(perc = round(100*n/43932, 2)) %>% arrange(-n) %>% head(20)

   dx_name                                                             n   perc
1  Suicidal ideation                                                   407 0.93
2  Pneumonia due to organism                                           302 0.69
3  Sepsis, due to unspecified organism                                 277 0.63
4  Hyponatremia                                                        274 0.62
5  Non-ST elevation myocardial infarction (NSTEMI) (CMS-HCC)           227 0.52
6  SBO (small bowel obstruction) (CMS-HCC)                             222 0.51
7  Acute chest pain                                                    211 0.48
8  Small bowel obstruction (CMS-HCC)                                   205 0.47
9  Neutropenic fever (CMS-HCC)                                         194 0.44
10 Acute GI bleeding                                                   190 0.43
11 Shortness of breath                                                 186 0.42
12 Altered mental status, unspecified altered mental status type       172 0.39
13 Acute kidney injury (nontraumatic) (CMS-HCC)                        156 0.36
14 COPD with acute exacerbation (CMS-HCC)                              143 0.33
15 Fever, unspecified fever cause                                      139 0.32
16 Acute renal failure, unspecified acute renal failure type (CMS-HCC) 134 0.31
17 Fever and other physiologic disturbances of temperature regulation  125 0.28
18 Psychosis, unspecified psychosis type (CMS-HCC)                     123 0.28
19 Generalized abdominal pain                                          119 0.27
20 Acute pyelonephritis                                                114 0.26

In [18]:
105/252

[1] 0.4166667

In [17]:
# cohort transfers with diagnoses
dx_diff4 <- left_join(diff4, dx)
nrow(dx_diff4)
length(unique(dx_diff4$pat_enc_csn_id_coded))
length(unique(dx_diff4$anon_id))
dx_diff4 %>% distinct(pat_enc_csn_id_coded, dx_name) %>% count(dx_name) %>% 
    mutate(perc = round(100*n/1120, 2)) %>% arrange(-n) %>% head(20)

Joining, by = "anon_id"

[1] 6746

[1] 252

[1] 105

   dx_name
1  Long term (current) use of insulin
2  Other long term (current) drug therapy
3  Hyperlipidemia, unspecified
4  Long term (current) use of aspirin
5  Essential (primary) hypertension
6  Major depressive disorder, single episode, unspecified
7  Personal history of nicotine dependence
8  Atherosclerotic heart disease of native coronary artery without angina pectoris
9  Type 1 diabetes mellitus with ketoacidosis without coma
10 Acidosis
11 Patient's other noncompliance with medication regimen
12 Allergy status to penicillin
13 Diabetic ketoacidosis without coma associated with type 1 diabetes mellitus (CMS-HCC)
14 Weakness
15 Acute kidney failure, unspecified
16 Dehydration
17 Long term (current) use of anticoagulants
18 Family history of diabetes mellitus
19 Shortness of breath
20 Family history of ischemic heart disease and other diseases of the circulatory system
   n   perc
1  114 10.18
2  100  8.93
3   95  8.48
4   66  5.89
5   65  5.80
6   56  5.00
7   56  5.00
8   55  4.91
9   54  4.82
10  47  4.20
11  47  4.20
12  46  4.11
13  44  3.93
14  44  3.93
15  43  3.84
16  43  3.84
17  39  3.48
18  38  3.39
19  35  3.12
20  34  3.04

### ADT table

In [20]:
q = "
SELECT c.anon_id, c.pat_enc_csn_id_coded, c.admit_time, c.first_label, c.death_24hr_recent_label,
        c.death_24hr_max_label, c.pred_first, c.pred_death_24hr_recent,
    adt.event_type_c, adt.event_type, adt.pat_class_c, adt.pat_class, adt.base_pat_class_c, adt.base_pat_class,
    adt.pat_service_c, adt.pat_service, adt.pat_lvl_of_care_c, adt.pat_lv_of_care, adt.accommodation_c, adt.accomodation, 
    adt.in_event_type_c, adt.in_event_type, adt.out_event_type_c, adt.out_event_type, adt.from_base_class_c, adt.from_base_class,
    adt.to_base_class_c, adt.to_base_class, adt.seq_num_in_enc, adt.seq_num_in_bed_min
FROM 
    `som-nero-phi-jonc101.triageTD.1_4_cohort_24hrpreadmit_diff_full_features` as c
JOIN 
    `som-nero-phi-jonc101.shc_core.adt` as adt
ON 
    (c.anon_id = adt.anon_id and c.pat_enc_csn_id_coded = adt.pat_enc_csn_id_coded)
"
# submit the query:
update.packages('Rcpp')
df <- dbGetQuery(con, q)
dim(df)
colnames(df)

Warning message in as.integer.integer64(x):
“NAs produced by integer overflow”

[1] 1385721      30

 [1] "anon_id"                 "pat_enc_csn_id_coded"
 [3] "admit_time"              "first_label"
 [5] "death_24hr_recent_label" "death_24hr_max_label"
 [7] "pred_first"              "pred_death_24hr_recent"
 [9] "event_type_c"            "event_type"
[11] "pat_class_c"             "pat_class"
[13] "base_pat_class_c"        "base_pat_class"
[15] "pat_service_c"           "pat_service"
[17] "pat_lvl_of_care_c"       "pat_lv_of_care"
[19] "accommodation_c"         "accomodation"
[21] "in_event_type_c"         "in_event_type"
[23] "out_event_type_c"        "out_event_type"
[25] "from_base_class_c"       "from_base_class"
[27] "to_base_class_c"         "to_base_class"
[29] "seq_num_in_enc"          "seq_num_in_bed_min"

In [21]:
write.csv(df, file.path(datadir, "4_1_diff_adt.csv"), row.names=FALSE)

In [23]:
q = "
SELECT c.anon_id, c.pat_enc_csn_id_coded, 
    x.INTRPTR_NEEDED_YN, x.CHARLSON_SCORE, x.N_HOSPITALIZATIONS, x.DAYS_IN_HOSPITAL
FROM 
    `som-nero-phi-jonc101.triageTD.1_4_cohort_24hrpreadmit_diff_full_features` as c
JOIN 
    `som-nero-phi-jonc101.shc_core.demographic` as x
ON 
    (c.anon_id = x.anon_id)
"
# submit the query:
update.packages('Rcpp')
x1 <- dbGetQuery(con, q)
dim(x1)
colnames(x1)

Warning message in as.integer.integer64(x):
“NAs produced by integer overflow”

[1] 69334     6

[1] "anon_id"              "pat_enc_csn_id_coded" "INTRPTR_NEEDED_YN"
[4] "CHARLSON_SCORE"       "N_HOSPITALIZATIONS"   "DAYS_IN_HOSPITAL"

In [24]:
write.csv(x1, file.path(datadir, "4_2_diff_demographic.csv"), row.names=FALSE)

In [11]:
# this doesn't seem right, redo with a separate SQL file as it is too large to be in R notebook
q = "
SELECT distinct c.anon_id, c.pat_enc_csn_id_coded, 
    x.line, x.dx_name, x.primary, x.chronic, x.principal, x.hospital_pl, x.ed, x.present_on_adm
FROM 
    `som-nero-phi-jonc101.triageTD.1_4_cohort_24hrpreadmit_diff_full_features` as c
JOIN 
    `som-nero-phi-jonc101.shc_core.diagnosis_code` as x
ON 
    (c.anon_id = x.anon_id and c.pat_enc_csn_id_coded = x.pat_enc_csn_id_jittered)
"
# submit the query:
update.packages('Rcpp')
x2 <- dbGetQuery(con, q)
dim(x2)
colnames(x2)

Warning message in as.integer.integer64(x):
“NAs produced by integer overflow”

[1] 8922   10

 [1] "anon_id"              "pat_enc_csn_id_coded" "line"
 [4] "dx_name"              "primary"              "chronic"
 [7] "principal"            "hospital_pl"          "ed"
[10] "present_on_adm"

In [12]:
head(x2)

  anon_id  pat_enc_csn_id_coded line
1 JCe5f7b6 NA                    1
2 JCdc571d NA                    6
3 JCe35ee6 NA                   11
4 JCd1f333 NA                    3
5 JCe09f7a NA                    1
6 JCe439dd NA                    7
  dx_name
1 Hyponatremia
2 Cough
3 Dementia without behavioral disturbance, unspecified dementia type (CMS-HCC)
4 Diabetic ketoacidosis without coma associated with type 1 diabetes mellitus (CMS-HCC)
5 Vomiting, unspecified
6 Bipolar 1 disorder (CMS-HCC)
  primary chronic principal hospital_pl ed present_on_adm
1 Y       N       NA        NA          Y  NA
2 N       N       NA        NA          N  NA
3 N       Y       NA        NA          N  NA
4 N       N       NA        NA          N  NA
5 NA      NA      NA        NA          NA NA
6 N       N       NA        NA          N  NA

In [9]:
# this doesn't seem right, redo with a separate SQL file as it is too large to be in R notebook
q = "
SELECT distinct c.anon_id, c.pat_enc_csn_id_coded, 
    x.line, x.dx_name, x.primary, x.chronic, x.principal, x.hospital_pl, x.ed, x.present_on_adm
FROM 
    `som-nero-phi-jonc101.triageTD.1_4_cohort_24hrpreadmit_diff_full_features` as c
JOIN 
    `som-nero-phi-jonc101.shc_core.diagnosis_code` as x
ON 
    (c.anon_id = x.anon_id and c.pat_enc_csn_id_coded = x.pat_enc_csn_id_jittered)

WHERE (x.primary = 'Y')
"
# submit the query:
update.packages('Rcpp')
x2 <- dbGetQuery(con, q)
dim(x2)
colnames(x2)

Warning message in as.integer.integer64(x):
“NAs produced by integer overflow”

[1] 315  10

 [1] "anon_id"              "pat_enc_csn_id_coded" "line"
 [4] "dx_name"              "primary"              "chronic"
 [7] "principal"            "hospital_pl"          "ed"
[10] "present_on_adm"

In [10]:
head(x2)

  anon_id  pat_enc_csn_id_coded line
1 JCe5f7b6 NA                   1
2 JCda6b3f NA                   1
3 JCd1ef38 NA                   1
4 JCeb2df6 NA                   3
5 JCd5f913 NA                   1
6 JCd69bf6 NA                   2
  dx_name
1 Hyponatremia
2 MVC (motor vehicle collision), initial encounter
3 Atherosclerosis of native coronary artery of native heart, angina presence unspecified
4 Malignant neoplasm of ovary, unspecified laterality (CMS-HCC)
5 Acute respiratory failure with hypoxia and hypercarbia (CMS-HCC)
6 ALS (amyotrophic lateral sclerosis) (CMS-HCC)
  primary chronic principal hospital_pl ed present_on_adm
1 Y       N       NA        NA          Y  NA
2 Y       N       NA        NA          Y  NA
3 Y       N       NA        NA          N  NA
4 Y       N       NA        NA          N  NA
5 Y       N       NA        NA          Y  NA
6 Y       N       NA        NA          N  NA

In [42]:
write.csv(x2, file.path(datadir, "4_2_diff_dx_primary.csv"), row.names=FALSE)

### Read the queried file back

In [10]:
adt <- read.csv(file.path(datadir, "4_2_diff_adt.csv"))
dim(adt) # should have 1385721
colnames(adt)

[1] 1385721      30

 [1] "anon_id"                 "pat_enc_csn_id_coded"
 [3] "admit_time"              "first_label"
 [5] "death_24hr_recent_label" "death_24hr_max_label"
 [7] "pred_first"              "pred_death_24hr_recent"
 [9] "event_type_c"            "event_type"
[11] "pat_class_c"             "pat_class"
[13] "base_pat_class_c"        "base_pat_class"
[15] "pat_service_c"           "pat_service"
[17] "pat_lvl_of_care_c"       "pat_lv_of_care"
[19] "accommodation_c"         "accomodation"
[21] "in_event_type_c"         "in_event_type"
[23] "out_event_type_c"        "out_event_type"
[25] "from_base_class_c"       "from_base_class"
[27] "to_base_class_c"         "to_base_class"
[29] "seq_num_in_enc"          "seq_num_in_bed_min"

# disable quotes
adt <- read.csv(file.path(datadir, "4_1_diff_adt.csv"), quote = "" )
dim(adt) # should have 1385721
colnames(adt)

In [12]:
head(adt, 1)

  anon_id   pat_enc_csn_id_coded admit_time          first_label
1 JC2a1bd68 NA                   2019-12-24 23:20:00 1
  death_24hr_recent_label death_24hr_max_label pred_first
1 1                       1                    0.5241561
  pred_death_24hr_recent event_type_c event_type pat_class_c pat_class
1 0.2500841              1            Admission  112         Emergency Services
  base_pat_class_c base_pat_class pat_service_c pat_service pat_lvl_of_care_c
1 3                Emergency      100           Emergency   NA
  pat_lv_of_care accommodation_c accomodation in_event_type_c in_event_type
1 NA             10001           Ward         1               Admission
  out_event_type_c out_event_type from_base_class_c from_base_class
1 NA               NA             0                 NA
  to_base_class_c to_base_class seq_num_in_enc seq_num_in_bed_min
1 3               Emergency     1              1

In [ ]:
cohort %>% distinct(pat_enc_csn_id_coded, first_label, death_24hr_recent_label) %>% count(first_label, death_24hr_recent_label, sort=T)
adt %>% count(event_type, event_type_c, sort=TRUE)
adt %>% count(pat_class, pat_class_c, sort=TRUE)
adt %>% count(base_pat_class, base_pat_class_c, sort=TRUE)
adt %>% count(pat_service, pat_service_c, sort=TRUE)
adt %>% count(pat_lv_of_care, pat_lvl_of_care_c, sort=TRUE)
adt %>% count(accomodation, accommodation_c, sort=TRUE)
adt %>% count(in_event_type, in_event_type_c, sort=TRUE)
adt %>% count(out_event_type, out_event_type_c, sort=TRUE)
adt %>% count(from_base_class, from_base_class_c, sort=TRUE)
adt %>% count(to_base_class, to_base_class_c, sort=TRUE)
adt %>% count(seq_num_in_enc, sort=TRUE)
adt %>% count(seq_num_in_bed_min, sort=TRUE)

  first_label death_24hr_recent_label n
1 1           1                       119
2 1           0                        98
3 0           0                        90
4 0           1                        17

  event_type     event_type_c n
1 Census         6            419221
2 Transfer In    3            305337
3 Transfer Out   4            305337
4 Patient Update 5            218436
5 Admission      1             69334
6 Discharge      2             68056

  pat_class            pat_class_c n
1 Inpatient            126         1182999
2 Emergency Services   112          200344
3 Observation          128            1727
4 OP Surgery/Procedure 122             651

  base_pat_class base_pat_class_c n
1 NA             NA               1246039
2 Emergency       3                 69334
3 Inpatient       1                 69334
4 Outpatient      2                  1014

   pat_service                   pat_service_c n
1  Critical Care                  151          283991
2  Medicine                        39          191213
3  Emergency                      100          141033
4  Emergency Medicine             187          120906
5  General Medicine (University)  153           87235
6  Trauma                          72           86612
7  General Surgery                 59           81189
8  Cardiology                     155           61527
9  General Medicine (PAMF)        154           30827
10 Neurosurgery                    62           30067
11 ICU Trauma/GenSurg             152           24580
12 Cardiac Surgery                 58           23868
13 Plastic Surgery                 67           20756
14 Orthopaedic Surgery             64           20236
15 Oncology                        47           19354
16 Neurology/Stroke Svc            53           18877
17 Neurocritical Care            1567           16382
18 Hematology/Oncology            207           14543
19 GI/Liver                       220           13832
20 Liver Transplant                61           13650
21 Emergency Critical Care       1554           12621
22 Neurology                       52           10603
23 Hematology                      44            8736
24 Cardiovascular Medicine         31            8501
25 Vascular Surgery               189            8286
26 Cardiology Arrhythmia           27            6600
27 Gyn-Oncology                    36            5928
28 Cardiology Interventional      191            4012
29 Hepatology                     193            3822
30 Cardiovascular ICU             219            3758
31 NA                              NA            2704
32 Pulmonary Transplant           198            2676
33 Urology                         69            2016
34 Pulmonary                      167            1696
35 ENT                             65             952
36 General Medicine (T)            46             920
37 Gynecology                      35             756
38 Sleep Medicine                 185             456

  pat_lv_of_care                                           pat_lvl_of_care_c
1 Acute Care (Assessment or intervention q4-8)              5
2 Critical Care                                             8
3 IICU/Intermediate Care (Assessment or intervention q2-4)  9
4 NA                                                       NA
5 Newborn Nursery - VC Only                                68
  n
1 561858
2 404635
3 218827
4 200282
5    119

  accomodation  accommodation_c n
1 Ward          10001           563973
2 Private           1           556328
3 Semi-Private      2           265420

  in_event_type  in_event_type_c n
1 Census          6              419221
2 NA             NA              373393
3 Transfer In     3              305085
4 Patient Update  5              148340
5 Admission       1              139682

  out_event_type out_event_type_c n
1 Census          6               419221
2 NA             NA               374671
3 Transfer Out    4               305085
4 Patient Update  5               148340
5 Discharge       2               138404

  from_base_class from_base_class_c n
1 Inpatient       1                 1114462
2 Emergency       3                  200344
3 NA              0                   69334
4 NA              4                     930
5 Outpatient      2                     651

  to_base_class to_base_class_c n
1 Inpatient     1               1115775
2 Emergency     3                200092
3 NA            0                 68056
4 NA            4                   930
5 Outpatient    2                   868

    seq_num_in_enc n
1     1            69334
2     2            69334
3     3            69334
4     4            69334
5     5            69334
6     6            68365
7     7            67843
8     8            67487
9     9            66696
10   10            64255
11   11            61056
12   12            57298
13   13            54890
14   14            49879
15   15            44282
16   16            38121
17   17            34263
18   18            30843
19   19            28412
20   20            25815
21   21            22736
22   22            20103
23   23            17815
24   24            16148
25   25            14703
26   26            12480
27   27            11036
28   28             9501
29   29             8935
30   30             8108
31   31             7598
32   32             7340
33   33             6549
34   34             5467
35   35             5467
36   36             4983
37   37             4355
38   38             3658
39   39             3386
40   40             2300
41   41             2113
42   42             2113
43   43             2113
44   44             1976
45   45             1976
46   46             1976
47   47             1976
48   48             1976
49   49             1976
50   50             1976
51   51             1976
52   52             1976
53   53             1976
54   54             1976
55   55             1658
56   56             1658
57   57             1658
58   58             1658
59   59             1658
60   60             1555
61   61             1555
62   62             1555
63   63             1555
64   64             1555
65   65             1555
66   66             1217
67   67             1217
68   68             1217
69   69             1217
70   70             1074
71   71             1074
72   72             1074
73   73             1074
74   74             1074
75   75             1074
76   76             1074
77   77              583
78   78              583
79   79              583
80   80              583
81   81              583
82   82              583
83   83              583
84   84              583
85   85              583
86   86              583
87   87              583
88   88              583
89   89              583
90   90              376
91   91              376
92   92              376
93   93              376
94   94              376
95   95              376
96   96              376
97   97              376
98   98              376
99   99              376
100 100              376
101 101              376
102 102              376
103 103              376
104 104              376
105 105              376
106 106              376
107 107              376
108 108              376
109 109              376
110 110              376
111 111              376
112 112              376
113 113              376
114 114              182
115 115              182
116 116              182
117 117              182
118 118              182
119 119              182
120 120              182
121 121              182
122 122              182
123 123              182
124 124              182
125 125              182
126 126              182
127 127              182
128 128              182
129 129              182
130 130              182
131 131              182
132 132              182
133 133              182
134 134              182
135 135              182
136 136              182
137 137              182
138 138              182
139 139              182
140 140              182
141 141              182
142 142              182
143 143              182
144 144              182
145 145              182
146 146              182
147 147              182
148 148              182
149 149              182
150 150              182
151 151              182
152 152              182
153 153              182
154 154              182
155 155              182
156 156              182
157 157              182
158 158              182
159 159              182
160 160              182
161 161              182
162 162              182
163 163              182
164 164              182
165 165              182
166 166              182
167 167              182
168 168              182
169 169              182
170 170              182
171 171              182
172 172              182
173 173              182
174 174              182
175 175              182
176 176              182
177 177              182
178 178              182
179 179              182
180 180              182

  seq_num_in_bed_min n
1 1                  1369116
2 2                    16292
3 3                      313

In [23]:
demo <- read.csv(file.path(datadir, "4_1_diff_demographic.csv"))
dim(demo) # should have 69334
colnames(demo)

[1] 69334     6

[1] "anon_id"              "pat_enc_csn_id_coded" "INTRPTR_NEEDED_YN"
[4] "CHARLSON_SCORE"       "N_HOSPITALIZATIONS"   "DAYS_IN_HOSPITAL"

In [24]:
head(demo,1)

  anon_id  pat_enc_csn_id_coded INTRPTR_NEEDED_YN CHARLSON_SCORE
1 JCd5f913 NA                   FALSE             11
  N_HOSPITALIZATIONS DAYS_IN_HOSPITAL
1 14                 96

In [20]:
# current diagnosis only, which we did not use for prediction
dx <- read.csv(file.path(datadir, "4_2_diff_dx_all.csv"))
dim(dx) # 8922
colnames(dx)

[1] 8922   10

 [1] "anon_id"              "pat_enc_csn_id_coded" "line"
 [4] "dx_name"              "primary"              "chronic"
 [7] "principal"            "hospital_pl"          "ed"
[10] "present_on_adm"

In [21]:
head(dx)

  anon_id   pat_enc_csn_id_coded line
1 JCe340e5  131265564938         4
2 JC2a28037 131272375066         2
3 JCd4a563  131281681345         6
4 JC2a2f2d2 131277062634         5
5 JCd530d7  131284122975         1
6 JCcf7ee2  131277092263         5
  dx_name
1 Closed fracture of multiple ribs of right side, initial encounter
2 Seizure disorder (CMS-HCC)
3 Chronic atrial fibrillation
4 Acute pain
5 Chest pain, unspecified
6 Intraparenchymal hematoma of brain with loss of consciousness of 30 minutes or less, unspecified laterality, initial encounter (CMS-HCC)
  primary chronic principal hospital_pl ed present_on_adm
1 N       N                             N
2 N       N                             Y
3 N       N                             N
4 N       N                             N
5
6 N       N                             Y

In [22]:
# only 120 of obs above 0.4

coh_dx <- cohort %>% distinct() %>% filter(abs_diff0_24 >= 0.4) %>% inner_join(dx) # %>% distinct()
nrow(coh_dx) #2152159 same as inner_join for threshold at 0.3 --> distinct 2148938, duplicates comes from cohort
length(unique(coh_dx$pat_enc_csn_id_coded))
length(unique(dx$pat_enc_csn_id_coded))
length(setdiff(coh_dx$pat_enc_csn_id_coded, dx$pat_enc_csn_id_coded))
length(setdiff(dx$pat_enc_csn_id_coded, coh_dx$pat_enc_csn_id_coded))

Joining, by = c("anon_id", "pat_enc_csn_id_coded")

[1] 845097

[1] 120

[1] 324

[1] 0

[1] 204

In [23]:
summary(coh_dx$line)

coh_dx %>% count(primary, sort=TRUE)
coh_dx %>% count(chronic, sort=TRUE)
coh_dx %>% count(hospital_pl,  sort=TRUE)
coh_dx %>% count(principal, sort=TRUE)
coh_dx %>% count(ed, sort=TRUE)
coh_dx %>% count(present_on_adm, sort=TRUE)
coh_dx %>% count(dx_name, sort=TRUE) %>% head(20)

   Min. 1st Qu.  Median    Mean 3rd Qu.    Max.    NA's
   1.00    4.00   10.00   13.01   19.00   68.00    7961

  primary n
1         704027
2 N       114155
3 Y        26915

  chronic n
1         696946
2 N       145296
3 Y         2855

  hospital_pl n
1             837136
2 Y             6830
3 N             1131

  principal n
1           837136
2 N           6940
3 Y           1021

  ed n
1    704027
2 N   93512
3 Y   47558

  present_on_adm            n
1 Yes                       443982
2 Exempt from POA reporting 172122
3                           169246
4 No                         57782
5 Unknown                     1965

   dx_name
1  Hyperlipidemia, unspecified
2  Other long term (current) drug therapy
3  Long term (current) use of insulin
4  Atherosclerotic heart disease of native coronary artery without angina pectoris
5  Type 1 diabetes mellitus with ketoacidosis without coma
6  Major depressive disorder, single episode, unspecified
7  Essential (primary) hypertension
8  Weakness
9  Acidosis
10 Hypertensive emergency
11 Old myocardial infarction
12 Personal history of nicotine dependence
13 Long term (current) use of aspirin
14 Other chest pain
15 Dehydration
16 Family history of diabetes mellitus
17 Acquired absence of other specified parts of digestive tract
18 Acute kidney failure, unspecified
19 Allergy status to other drugs, medicaments and biological substances status
20 Shortness of breath
   n
1  12290
2  11556
3  10728
4   9241
5   9107
6   7726
7   7445
8   7238
9   7057
10  7055
11  6486
12  6430
13  6371
14  6065
15  5907
16  5369
17  5274
18  5155
19  4976
20  4718

In [24]:
coh_dx %>% distinct(pat_enc_csn_id_coded, dx_name) %>% count(dx_name) %>% 
    mutate(perc = round(100*n/120, 2)) %>% arrange(-n) %>% head(20)

   dx_name
1  Hyperlipidemia, unspecified
2  Essential (primary) hypertension
3  Other long term (current) drug therapy
4  Long term (current) use of insulin
5  Weakness
6  Atherosclerotic heart disease of native coronary artery without angina pectoris
7  Personal history of nicotine dependence
8  Long term (current) use of aspirin
9  Acidosis
10 Dehydration
11 Major depressive disorder, single episode, unspecified
12 Type 1 diabetes mellitus with ketoacidosis without coma
13 Acute kidney failure, unspecified
14 Diabetic ketoacidosis without coma associated with type 1 diabetes mellitus (CMS-HCC)
15 Allergy status to penicillin
16 Gastro-esophageal reflux disease without esophagitis
17 Family history of diabetes mellitus
18 Hypokalemia
19 Hypothyroidism, unspecified
20 Obstructive sleep apnea (adult) (pediatric)
   n  perc
1  48 40.00
2  44 36.67
3  43 35.83
4  40 33.33
5  28 23.33
6  26 21.67
7  26 21.67
8  25 20.83
9  24 20.00
10 24 20.00
11 23 19.17
12 23 19.17
13 22 18.33
14 19 15.83
15 18 15.00
16 17 14.17
17 16 13.33
18 16 13.33
19 16 13.33
20 16 13.33

In [25]:
coh_dx %>% filter(ed=="Y", primary=="Y") %>% distinct(pat_enc_csn_id_coded, dx_name) %>% count(dx_name) %>% 
    mutate(perc = round(100*n/120, 2)) %>% arrange(-n) %>% head(20)

   dx_name
1  Diabetic ketoacidosis without coma associated with type 1 diabetes mellitus (CMS-HCC)
2  Diabetic ketoacidosis without coma associated with diabetes mellitus due to underlying condition (CMS-HCC)
3  Diabetic ketoacidosis without coma associated with other specified diabetes mellitus (CMS-HCC)
4  Diabetic ketoacidosis without coma associated with type 2 diabetes mellitus (CMS-HCC)
5  Hypertensive emergency
6  Hyponatremia
7  ST elevation myocardial infarction (STEMI), unspecified artery (CMS-HCC)
8  Acute upper GI bleeding
9  Cerebrovascular accident (CVA), unspecified mechanism (CMS-HCC)
10 Diabetic ketoacidosis with coma associated with type 1 diabetes mellitus (CMS-HCC)
11 Hyperglycemic hyperosmolar nonketotic coma (CMS-HCC)
12 Intracranial hemorrhage (CMS-HCC)
13 Septic shock (CMS-HCC)
14 Subarachnoid hemorrhage (CMS-HCC)
15 Acidemia
16 Acute respiratory failure with hypercapnia (CMS-HCC)
17 Acute respiratory failure with hypoxia (CMS-HCC)
18 Acute respiratory failure with hypoxia and hypercapnia (CMS-HCC)
19 Acute respiratory failure, unspecified whether with hypoxia or hypercapnia (CMS-HCC)
20 Adrenal crisis syndrome (CMS-HCC)
   n perc
1  6 5.00
2  5 4.17
3  5 4.17
4  5 4.17
5  3 2.50
6  3 2.50
7  3 2.50
8  2 1.67
9  2 1.67
10 2 1.67
11 2 1.67
12 2 1.67
13 2 1.67
14 2 1.67
15 1 0.83
16 1 0.83
17 1 0.83
18 1 0.83
19 1 0.83
20 1 0.83

In [69]:
cohed %>% filter(ed == "Y", primary=="Y") %>% count(dx_name, sort=TRUE) %>% head(20)

   dx_name
1  Septic shock (CMS-HCC)
2  Diabetic ketoacidosis without coma associated with type 1 diabetes mellitus (CMS-HCC)
3  Diabetic ketoacidosis without coma associated with diabetes mellitus due to underlying condition (CMS-HCC)
4  Hypertensive emergency
5  Flash pulmonary edema (CMS-HCC)
6  Diabetic ketoacidosis without coma associated with other specified diabetes mellitus (CMS-HCC)
7  Diabetic ketoacidosis without coma associated with type 2 diabetes mellitus (CMS-HCC)
8  Subdural hematoma (CMS-HCC)
9  Acute respiratory failure with hypoxia and hypercapnia (CMS-HCC)
10 ST elevation myocardial infarction (STEMI), unspecified artery (CMS-HCC)
11 Chest pain, unspecified type
12 Acute respiratory failure with hypoxia and hypercarbia (CMS-HCC)
13 Sepsis, due to unspecified organism
14 Hypoxia
15 Hyponatremia
16 Sepsis without acute organ dysfunction, due to unspecified organism (CMS-HCC)
17 Hypertension, unspecified type
18 Diabetic ketoacidosis with coma associated with type 1 diabetes mellitus (CMS-HCC)
19 Gastrointestinal hemorrhage, unspecified gastrointestinal hemorrhage type
20 Acute respiratory failure with hypercapnia (CMS-HCC)
   n
1  2358
2  1985
3  1697
4  1320
5  1243
6  1129
7   930
8   892
9   802
10  730
11  717
12  666
13  642
14  634
15  623
16  616
17  602
18  598
19  598
20  573